<div class="wraper">
  <div *ngIf="showLoader" class="loader"><img src="/assets/img/loader.svg"></div>
  <!-- <section>
    <div class="container">
      <div class="crasoule_heading_txt">
        <div class="crasoule_heading_txt_left">
          <h2>My Stories</h2>
          <p>The stories shared with the world</p>
        </div>
      </div>
    </div>  
  </section> -->
  <!-- <section class="hero_section_craousel_mr" *ngIf="getstoriesdata?.length > 0">
    <div class="container">
      <!-- <div class="heading_cover my_stories_txt">
                <h2>My Stories</h2>
            </div> 
      <div class="row border_card">
        <div class="col-md-12 col-lg-6 col-xl-6 mb-5" *ngFor="let stories of getstoriesdata">
          <div class="carousel_slides carousel_slides_card">
            <div class="carousel_slides_img_outside over_flow">
              <div *ngIf="stories.is_blocked;" class="carousel_slides_img block_img_txt">
                <a   *ngIf="stories.cover_image !== '';" data-toggle="modal" data-target="#forgot"><img
                  src="{{_baseURL}}{{stories.cover_image}}" alt="" />
                <div class="block_txt">
                  <h3>Blocked</h3>
                </div>
                </a>
                <a *ngIf="stories.cover_image == '';" data-toggle="modal" data-target="#forgot">
                  <div class="patahani-cover">
                    <h2 class="patahani-h2">{{stories.title}}</h2>
                  </div>
                </a>
                <div class="plus_18" *ngIf="stories.not_for_below_eighteen">
                  <h4 class="eighteen_plus">18+</h4>
                </div>
                <div class="block_txt">
                  <h3>Blocked</h3>
                </div>
              </div>
              <div *ngIf="!stories.is_blocked;" class="carousel_slides_img ">
                <a *ngIf="stories.cover_image !== '';" routerLink="/mybookdetails/{{ stories._id }}"><img
                    src="{{_baseURL}}{{stories.cover_image}}" alt="" /></a>
                <a *ngIf="stories.cover_image == '';" routerLink="/mybookdetails/{{ stories._id }}">
                  <div class="patahani-cover">
                    <h2 class="patahani-h2">{{stories.title}}</h2>
                  </div>
                </a>
                <div class="plus_18" *ngIf="stories.not_for_below_eighteen">
                  <h4 class="eighteen_plus">18+</h4>
                </div>
              </div>
            </div>
            <div class="carousel_slides_txt">
              <h2>{{ stories.title }}
                <span>
                  <div class="dots">
                    <div class="dropdown dropleft">
                      <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <img src="assets/img/dots.svg" alt="" />
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a *ngIf="!stories.is_blocked;" class="dropdown-item"
                          href="/editstories/{{ stories._id }}">Edit</a>
                        <a class="dropdown-item" href="javascript:void(0);" (click)="deleteBook(stories._id)">Delete</a>
                      </div>
                    </div>
                  </div>
                </span>
              </h2>
              <div class="carousel_slides_txt_profile">
                <div *ngIf="stories.chapter_updated_at" class="txt_silde_profile">
                  <p *ngIf="stories.is_chapter_drafted">Last Drafted On : {{ stories.chapter_updated_at | date }}</p>
                  <p *ngIf="!stories.is_chapter_drafted">Last Published On : {{ stories.chapter_updated_at | date }}</p>
                </div>
                <div *ngIf="!stories.chapter_updated_at" class="txt_silde_profile">
                  <p >Last Drafted On : {{ stories.created_at | date }}</p>
                 </div>
              </div>
              <div class="read_more">
                <p>
                  {{ stories.description | slice: 0:120 }}{{(stories.description.length > 120)?'...':' '}}
                  <span>
                    <a *ngIf="!stories.is_blocked;" routerLink="/mybookdetails/{{ stories._id }}">Read More 
                      <!-- <svg _ngcontent-apc-c6="" aria-hidden="true" class="" fill="none" height="24" stroke="#222222" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24"><g _ngcontent-apc-c6=""><polyline _ngcontent-apc-c6="" points="9 18 15 12 9 6"></polyline></g></svg> 
                    </a>
                    <a *ngIf="stories.is_blocked;" data-toggle="modal" data-target="#forgot">Read More 
                      <!-- <svg _ngcontent-apc-c6="" aria-hidden="true" class="" fill="none" height="24" stroke="#222222" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24"><g _ngcontent-apc-c6=""><polyline _ngcontent-apc-c6="" points="9 18 15 12 9 6"></polyline></g></svg> 
                    </a>
                  </span>
                </p>
              </div>
              <div class="card_btn_list">
                <ul *ngIf="stories.tags">
                  <template *ngFor="let storiestag of stories.tags; let i = index">
                    <li  *ngIf="i < 3">     
                      <a *ngIf="i < 3" (click)="searchTag(storiestag)">{{ storiestag }}</a>
                    </li>
                  </template>
                  <li class="more_btns" *ngIf="stories.tags.length > 3">
                    <a [routerLink]="['/mybookdetails', stories._id]">+ {{ stories.tags.length - 3 }} more</a>
                  </li>
                </ul>
              </div>
              <div class="card_btn_list2">
                <a><img src="assets/img/eye.svg" alt="" />{{ stories.views }}</a>
                <a><img src="assets/img/favorite.svg" alt="" />{{
                    stories.likes
                  }}</a>
                <a><img src="assets/img/share.svg" alt="" />{{
                    stories.no_of_shares
                  }}</a>
                <a><img src="assets/img/open_book.svg" alt="" />{{
                    stories.no_of_chapter
                  }}</a>
              </div>
             </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center" *ngIf="pagenumber">
      <ul class="pagnumber" *ngIf="pagenumber > 1">
        <li *ngFor='let in of counter(pagenumber) ;let i = index'>
          <a class="item-list {{(i == activepage)? 'active' :'' }}" href="javascript:void(0);"
            (click)="pageChange(i)">{{i+1}}</a>
        </li>
      </ul>
    </div>
  </section> -->
  <!--Avtar-->
  <section class="flip_crasoule flip_crasoule_custom" *ngIf="publishedStories.length">
    <div class="main_carousel slider_top also_like_slider" *ngIf="publishedStories">
      <div class="container-fluid container_fluid2">
        <div class="crasoule_heading_txt">
          <div class="crasoule_heading_txt_left">
            <h2>My Published Stories</h2>
            <p>{{publishCount}} Books Published</p>
          </div>
          <div class="crasoule_heading_txt_right">
            <a [routerLink]="['/view-all','mystories','published']" class="d-flex align-items-center">View All<svg _ngcontent-lws-c6=""
                aria-hidden="true" class="" fill="none" height="24" stroke="#222222" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24">
                <g _ngcontent-lws-c6="">
                  <polyline _ngcontent-lws-c6="" points="9 18 15 12 9 6"></polyline>
                </g>
              </svg></a>
          </div>
        </div>
      </div>
         <div id="alsolike">
            <ul class="flip-items">
                <li *ngFor="let alsoLike of publishedStories; let i = index">
                    <div class="item">
                            <div class="carousel_slides over_flow">
                                    <div class="carousel_slides_img">
                                        <!-- {{alsoLike.cover_image}} -->
                                        <a *ngIf="alsoLike.cover_image !== '';"
                                        [routerLink]="['/mybookdetails',  alsoLike._id]">
                                        <img *ngIf="alsoLike.cover_image !== '';"src="{{_baseURL}}{{alsoLike.cover_image}}" alt="" />
                                        <div *ngIf="alsoLike.is_blocked" class="block_txt">
                                          <h3>Blocked</h3>
                                        </div>
                                        </a>
                                        <a *ngIf="alsoLike.cover_image !== '';"
                                        [routerLink]="['/mybookdetails',  alsoLike._id]">
                                        <div *ngIf="alsoLike.cover_image == '';"class="patahani-cover">
                                        <h2 class="patahani-h2">{{alsoLike.title}}</h2>
                                        </div></a>
                                        <a *ngIf="!alsoLike.cover_image"
                                        [routerLink]="['/mybookdetails',  alsoLike._id]">
                                        <div *ngIf="alsoLike.cover_image == '';"class="patahani-cover">
                                        <h2 class="patahani-h2">{{alsoLike.title}}</h2>
                                        </div></a>
                                        
            
                                        <div *ngIf="alsoLike.not_for_below_eighteen" class="plus_18">
                                            <h4 class="eighteen_plus">18+</h4>
                                        </div>
                                        <div *ngIf="alsoLike.is_blocked" class="block_txt">
                                          <h3>Blocked</h3>
                                        </div>
                                    </div>
                                    <div class="carousel_slides_txt">
                                        <h2>{{alsoLike.title}}</h2>
                                        <div class="carousel_slides_txt_profile">
                                        <span>
                                          <div class="dots">
                                            <div class="dropdown dropleft">
                                              <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                                <img src="assets/img/dots.svg" alt="" />
                                              </button>
                                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a  class="dropdown-item"
                                                  href="/editstories/{{ alsoLike._id }}">Edit</a>
                                                <a class="dropdown-item" href="javascript:void(0);" (click)="deleteBook(alsoLike._id)">Delete</a>
                                              </div>
                                            </div>
                                          </div>
                                        </span>
                                            <!-- <div class="carousel_slides_txt_profile_img">
                                                <img  *ngIf="alsoLike.author_image !== '';" src="{{_baseURL}}{{alsoLike.author_image}}" alt="" />
                                                <img *ngIf="alsoLike.author_image == '';" src="assets/images/img_user1.svg" alt="" />
                                                </div> -->
                                            <div class="txt_silde_profile">
                                                <!-- <a
                                                    [routerLink]="['/authorprofile', alsoLike.author_id]"><span>By</span> {{alsoLike.author_name}}</a>-->
                                                    <p >Last Updated On : {{ alsoLike.chapter_updated_at | date }}</p> 
                                                </div>
                                        </div>
                                        <div class="read_more">
                                            <p>{{alsoLike.description | slice: 0:200}}{{(alsoLike.description.length > 200)?'...':''}}
                                            <a [routerLink]="['/mybookdetails',  alsoLike._id]"> Read More
                                              <!-- <svg _ngcontent-uku-c6="" aria-hidden="true" class="" fill="none" height="24" stroke="#222222" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24"><g _ngcontent-uku-c6=""><polyline _ngcontent-uku-c6="" points="9 18 15 12 9 6"></polyline></g></svg> -->
                                            </a></p>
                                            </div>
                                 
                                        <div class="card_btn_list2">
                                            <a><img src="assets/img/eye.svg" alt="">{{alsoLike.views}}</a>
                                            <a><img src="assets/img/favorite.svg" alt="">{{alsoLike.likes}}</a>
                                            <a><img src="assets/img/share.svg" alt="">{{alsoLike.no_of_shares}}</a>
                                            <a><img src="assets/img/open_book.svg" alt="">{{alsoLike.no_of_chapter}}</a>
                     
                                        </div>
                                    </div>
                                </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="flip_crasoule flip_crasoule_custom" *ngIf="draftStories.length">
  <div class="main_carousel slider_top also_like_slider" *ngIf="draftStories">
    <div class="container-fluid container_fluid2">
      <div class="crasoule_heading_txt">
        <div class="crasoule_heading_txt_left">
          <h2>My Drafted Stories</h2>
          <p>{{draftCount}} Books Drafted</p>
        </div>
        <div class="crasoule_heading_txt_right">
          <a [routerLink]="['/view-all','mystories','drafted']" class="d-flex align-items-center">View All<svg _ngcontent-lws-c6=""
              aria-hidden="true" class="" fill="none" height="24" stroke="#222222" stroke-linecap="round"
              stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24">
              <g _ngcontent-lws-c6="">
                <polyline _ngcontent-lws-c6="" points="9 18 15 12 9 6"></polyline>
              </g>
            </svg></a>
        </div>
      </div>
    </div>
       <div id="alsolike1">
          <ul class="flip-items">
              <li *ngFor="let alsoLike of draftStories; let i = index">
                  <div class="item">
                          <div class="carousel_slides over_flow">
                                  <div class="carousel_slides_img">
                                      <!-- {{alsoLike.cover_image}} -->
                                      <a *ngIf="alsoLike.cover_image !== '';"
                                      [routerLink]="['/mybookdetails',  alsoLike._id]">
                                      <img *ngIf="alsoLike.cover_image !== '';"src="{{_baseURL}}{{alsoLike.cover_image}}" alt="" />
                                      </a>
                                      <a *ngIf="alsoLike.cover_image !== '';"
                                      [routerLink]="['/mybookdetails',  alsoLike._id]">
                                      <div *ngIf="alsoLike.cover_image == '';"class="patahani-cover">
                                      <h2 class="patahani-h2">{{alsoLike.title}}</h2>
                                      </div></a>
                                      <a *ngIf="!alsoLike.cover_image"
                                      [routerLink]="['/mybookdetails',  alsoLike._id]">
                                      <div *ngIf="alsoLike.cover_image == '';"class="patahani-cover">
                                      <h2 class="patahani-h2">{{alsoLike.title}}</h2>
                                      </div></a>
                                      
          
                                      <div *ngIf="alsoLike.not_for_below_eighteen" class="plus_18">
                                          <h4 class="eighteen_plus">18+</h4>
                                      </div>
                                  </div>
                                  <div class="carousel_slides_txt">
                                      <h2>{{alsoLike.title}}</h2>
                                      <div class="carousel_slides_txt_profile">
                                        <span>
                                          <div class="dots">
                                            <div class="dropdown dropleft">
                                              <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                                <img src="assets/img/dots.svg" alt="" />
                                              </button>
                                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a *ngIf="!alsoLike.is_blocked;" class="dropdown-item"
                                                  href="/editstories/{{ alsoLike._id }}">Edit</a>
                                                <a class="dropdown-item" href="javascript:void(0);" (click)="deleteBook(alsoLike._id)">Delete</a>
                                              </div>
                                            </div>
                                          </div>
                                        </span>
                                          <!-- <div class="carousel_slides_txt_profile_img">
                                              <img  *ngIf="alsoLike.author_image !== '';" src="{{_baseURL}}{{alsoLike.author_image}}" alt="" />
                                              <img *ngIf="alsoLike.author_image == '';" src="assets/images/img_user1.svg" alt="" />
                                              </div> -->
                                          <div class="txt_silde_profile">
                                              <!-- <a
                                                  [routerLink]="['/authorprofile', alsoLike.author_id]"><span>By</span> {{alsoLike.author_name}}</a>-->
                                                  <p >Last Updated On : {{ alsoLike.chapter_updated_at | date }}</p> 
                                              </div>
                                      </div>
                                      <div class="read_more">
                                          <p>{{alsoLike.description | slice: 0:100}}{{(alsoLike.description.length > 100)?'...':''}}
                                          <a [routerLink]="['/mybookdetails',  alsoLike._id]"> Read <svg _ngcontent-uku-c6="" aria-hidden="true" class="" fill="none" height="24" stroke="#222222" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24"><g _ngcontent-uku-c6=""><polyline _ngcontent-uku-c6="" points="9 18 15 12 9 6"></polyline></g></svg></a></p>
                                          </div>
                               
                                      <div class="card_btn_list2">
                                          <a><img src="assets/img/eye.svg" alt="">{{alsoLike.views}}</a>
                                          <a><img src="assets/img/favorite.svg" alt="">{{alsoLike.likes}}</a>
                                          <a><img src="assets/img/share.svg" alt="">{{alsoLike.no_of_shares}}</a>
                                          <a><img src="assets/img/open_book.svg" alt="">{{alsoLike.no_of_chapter}}</a>
                   
                                      </div>
                                  </div>
                              </div>
                  </div>
              </li>
          </ul>
      </div>
  </div>
</section>
  <!--Avtar-->
  <!-- <section class="hero_section_craousel_mr" *ngIf="getstoriesdata.length && !(getstoriesdata.length > 0)"> -->
  <section class="hero_section_craousel_mr" *ngIf="!publishCount && !draftCount">
    <div class="container">
      <!-- <div class="heading_cover my_stories_txt empty_stories pt-0"> -->
      <div class="text-center">
        <!-- <h1>My Stories</h1> -->
        <img src="assets/img/no_stories.svg" alt="" />
        <div class="norecord_txt">
          <h2 class="mt-4">No stories created yet!</h2>
        </div>
        <a class="btn btn-success mb-3 add_chapter pr-6" href="/addstories">Start Writing</a>
          </div>
    </div>
  </section>
  <div class="modal fade custom_forgot_popup show" id="forgot">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <img src="assets/img/close.svg" alt="" />
          </button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
          <h3>Your book has been blocked by admin, please contact at Email: support@librums.com</h3>
        </div>
        <!-- Modal footer -->
        <button type="button" class="site_btn2" data-dismiss="modal">
          OK
        </button>
     </div>
    </div>
  </div>
</div> 