.heading_cover.my_stories_txt.empty_stories {
  text-align: center;
  padding-top: 100px;
}
.heading_cover.my_stories_txt.empty_stories h1 {
  font-size: 28px;
  color: #222;
  font-family: "baskervillebold";
  margin-bottom: 50px;
}
.heading_cover.my_stories_txt.empty_stories h2 {
  font-size: 28px;
  color: rgba(0, 0, 0, 0.5);
  font-family: "baskervillebold";
  margin-bottom: 18px;
}
.carousel_slides.carousel_slides_card {
  position: relative;
}
.main_carousel.slider_top .carousel_slides_txt_profile{
  margin: 0;
}
.dots {
  position: absolute;
  top: 50px;
  right: 30px;
}
.carousel_slides.over_flow .carousel_slides_img .plus_18 {
  right: 0px;
  bottom: 0;
  max-width: 120px;
  width: 100%;
}
.dots #show_dots {
  left: -188px !important;
  top: 2px !important;
}
#show_dots a.dropdown-item {
  color: #222;
  transition: 0.3s;
  font-size: 14px;
  padding: 4px 20px;
  font-family: "baskervillebold";
}
#show_dots a.dropdown-item:hover {
  background: linear-gradient(481deg, #e65124, #9c9400, #27953e, #53479e);
  background-clip: text;
  -webkit-backgound-clip: text;
  transition: 0.3s;
}
.read_more p {
  color: #222;
  font-family: "baskerville";
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 27px;
  word-break: normal;
}
li.more_btns a {
  padding: 0 !important;
  text-transform: lowercase !important;
}
.read_more a {
  color: #222;
  font-size: 18px;
  font-weight: 600;
  background-clip: text;
  -webkit-background-clip: text;
  padding-left: 10px;
  font-family: "baskervillebold";
}
.read_more a:hover{
  text-decoration: underline !important
}
.txt_silde_profile p {
  margin-bottom: 5px;
  font-family: "baskervillebold";
}
.carousel_slides_txt {
  white-space: inherit;
  height: 240px;

}
.block_img_txt {
  position: relative;
  overflow: hidden;
}
.block_txt {
  position: absolute;
  top: 17px;
  left: -118px;
  right: 0;
  margin: auto;
  text-align: center;
}

.block_txt h3 {
  background: #bf1b1b;
  transform: rotate(-45deg);
  margin-bottom: 0;
  font-size: 14px;
  color: #fff;
  font-family: "baskervillebold";
  margin-bottom: 10px;
}
.card_btn_list2 a {
  cursor: unset;
}
.dots > a {
  width: 28px;
  line-height: 31px;
  margin: auto;
  display: block;
  text-align: center;
}
.carousel_slides_txt h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px;
  font-size: 24px;
}
.carousel_slides.carousel_slides_card .card_btn_list ul li a {
  font-size: 16px;
  padding: 2px 12px;
  color: #fff;
  display: inline-block;
}
#forgot .modal-dialog {
  margin: 8.75rem auto;
}
#forgot button.close {
  outline: none;
}
.form-control:focus {
  box-shadow: none;
  border-color: #222;
}
.read_more p {
  -webkit-line-clamp: unset !important;
  margin-bottom: 20px !important;
}
.label_input input {
  border-radius: inherit !important;
}
#forgot button.site_btn2 {
  border-bottom: none;
}
#forgot .modal-dialog {
  margin-top: 14.75rem;
}
#forgot .modal-dialog button.site_btn2 {
  width: 100%;
  padding: 0;
  font-family: "baskervillebold";
  outline: none;
}
#forgot .modal-body h3 {
  font-size: 16px;
  color: #222;
  font-family: "baskervillebold";
  text-align: center;
}
button#dropdownMenuButton {
  background: #fff;
  border: none;
  width: 36px;
  line-height: 30px;
  transition: 0.3s;
  outline: none;
}
button#dropdownMenuButton:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  transition: 0.3s;
}
.dropdown-toggle::after,
.dropleft .dropdown-toggle::before {
  display: none;
}
.dropdown.dropleft .dropdown-menu {
  top: 39px !important;
  left: 27px !important;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 0px 10px hsla(0, 0%, 0%, 0.22);
}
.dropdown-menu a {
  font-size: 14px;
  font-family: "baskervillebold";
  padding: 5px 17px;
  color: #222;
}
.carousel_slides_txt .card_btn_list2 a {
  color: #222;
}
.carousel_slides.carousel_slides_card .carousel_slides_img {
  position: relative;
  overflow: hidden;
}
h4.eighteen_plus::before {
  position: absolute;
  content: "";
  min-width: 130px;
  height: 119px;
  background: #bf1b1b;
  right: -14px;
  transform: rotateZ(-39deg);
  right: -52px;
  z-index: -1;
}
h4.eighteen_plus {
  position: absolute;
  z-index: 9999;
  top: -33px;
  right: 0px;
  background: none;
  transform: unset !important;
  padding: 0;
  padding-right: 7px;
}
.card_btn_list ul li {
  margin-bottom: 4px;
}

ul.pagnumber {
  display: -webkit-inline-box;
  margin: 30px;
}
ul.pagnumber li a.item-list {
  padding: 10px;
  border: 1px solid darkgreen;
}
li a.item-list {
  color: darkgreen;
}
a.item-list.active {
  background-image: linear-gradient(481deg, #e65124, #9c9400, #27953e, #53479e);
  color: #fff !important;
}
a.item-list.active {
  pointer-events: none;
}
.more_btns a {
  background: transparent;
  background-image: linear-gradient(481deg, #e65124, #9c9400, #27953e, #53479e);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent !important;
  font-size: 16px;
  text-transform: capitalize;
}
.col-md-12.col-lg-6.col-xl-6.mb-5 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.23);
  padding-bottom: 23px;
}
.heading_cover.my_stories_txt h2 {
  padding-bottom: 22px;
}

.carousel_slides.carousel_slides_card .carousel_slides_img img {
  transition: 0.3s;
}
.carousel_slides.carousel_slides_card .carousel_slides_img:hover img {
  transition: 0.3s;
  transform: scale(1.2);
}
.carousel_slides.carousel_slides_card .carousel_slides_img:hover div {
  transform: scale(1.2);
  transition: 0.3s;
}
.crasoule_heading_txt_left {
  padding-top: 50px;
  padding-bottom: 40px;
}
.crasoule_heading_txt{
  margin-bottom: 0;
}
.hero_section_craousel_mr{
  margin-top: 0;
}
.text-center img {
  width: 800px;
}
.norecord_txt h2 {
  font-size: 40px;
}
.btn.btn-success.mb-3.add_chapter{font-size: 25px;}
.norecord_txt {
  margin-top: 30px;
}
.btn.btn-success.mb-3.add_chapter{
  margin-top: 20px;
  margin-bottom:20px !important; 
}

li.more_btns a {
  margin-left: 2px;
}
.patahani-cover{
  position: unset;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carousel_slides.over_flow .carousel_slides_img{
  width: 200px;
    height: 280px;
    
}