.txt_silde_profile a {
    font-size: 18px;
    color: #414141;
    font-family: 'baskervillebold';
    margin-bottom: 4px;
}
.txt_silde_profile a span {
    font-family: 'baskerville';
}
.txt_silde_profile a:hover{
    text-decoration: underline !important
}
.owl-item {
    position: relative;
}

.owl-item.active {
    position: relative;
}

.owl-item.active .owl-nav {
    position: absolute;
}
.hero_txt p{
    font-size: 18px;
}
.owl-nav {
    position: absolute;
    top: 46%;
    z-index: 9999;
    width: 100%;
    margin: 0;
}

.owl-nav button {
    outline: none;
}

.owl-nav button.owl-prev {
    position: absolute;
    left: 7px;
}

.owl-nav button.owl-prev span {
    content: url(/assets/img/slider_arrow_left.svg);
    position: absolute;
    left: -30px;
    z-index: 999;
    top: calc(100% - 55%);
    background: transparent;
    margin: 0;
    padding: 0;
}

.owl-nav button.owl-next {
    position: absolute;
    right: 21px;
}

.owl-nav button.owl-next span {
    content: url(/assets/img/slider_arrow_right.svg);
    position: absolute;
    right: -43px;
    z-index: 999;
    top: calc(100% - 55%);
    background: transparent;
    margin: 0;
    padding: 0;
    outline: none;
}

.genric_btn ul li a.site_btn2 {
    cursor: pointer;
}

.genric_btn ul li a.site_btn2:hover {
    color: #fff;
}

.read_more p {
    font-family: 'baskerville';
    font-size: 18px;
    color: #222;
    line-height: 26px;
    text-align: justify;
}
li.more_btns {
    margin-top: 3px;
}
.read_more a {
    background-clip: text;
    -webkit-background-clip: text;
    color: #222;
    font-size: 18px;
    font-family: 'baskerville';
    font-weight: 600;
    display: inline-block;
    margin-bottom: 10px;
}
.read_more a svg {
    height: 24px;
    margin-bottom: 3px;
    margin-left: -6px;
}

.top_heading_txt h2 {
    color: #222;
}
.read_more {
    margin-top: 8px;
}

.genric_btn a.site_btn2 {
    font-family: 'baskervillebold';
    color: #222;
}

ul.nav.nav-tabs.custom_tabs_pills li.nav-item a.nav-link {
    background: #F6F6F6;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.11);
    transition: 0.3s;
    font-size: 14px;
    font-family: 'baskervillebold';
    max-width: 130px;
    width: 100%;
    text-align: center;
    padding: 0;
    line-height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #222;
    margin: 0px 10px;
}

ul.nav.nav-tabs.custom_tabs_pills li.nav-item a.nav-link.active {
    background-image: linear-gradient(481deg, #E65124, #9C9400, #27953E, #53479E);
    color: #fff;
}

ul.nav.nav-tabs.custom_tabs_pills.br-0 {
    border: none !important;
    margin-bottom: 36px;
    justify-content: center;
}

.over_flow_tab ul.nav.nav-tabs .nav-item {
    width: unset;
}

.over_flow_tab ul.nav.nav-tabs {
    flex-wrap: wrap;
    scrollbar-width: none;
}

.hero_txt {
    padding: 143px 39px;
}
/* Vertival*/
.vertical .carousel-inner {
    height: 100%;
  }
  
  .carousel.vertical .item {
    -webkit-transition: 0.6s ease-in-out top;
       -moz-transition: 0.6s ease-in-out top;
        -ms-transition: 0.6s ease-in-out top;
         -o-transition: 0.6s ease-in-out top;
            transition: 0.6s ease-in-out top;
  }
  
  .carousel.vertical .active {
    top: 0;
  }
  
  .carousel.vertical .next {
    top: 400px;
  }
  
  .carousel.vertical .prev {
    top: -400px;
  }
  
  .carousel.vertical .next.left,
  .carousel.vertical .prev.right {
    top: 0;
  }
  
  .carousel.vertical .active.left {
    top: -400px;
  }
  
  .carousel.vertical .active.right {
    top: 400px;
  }
  
  .carousel.vertical .item {
      left: 0;
  }
  .carousel.slide.hero_carousel .carousel-inner .carousel-item{
      height: unset;
  }
  .slider_img {
    width: 100%;
    height: 500px;
}
.slider_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero_txt{
    padding: 0;
    background: unset;
    padding-top: 100px;
    margin-left: 30px
}
.crasoule_heading_txt_right a:hover {
    text-decoration: underline !important;
    color: #222 !important;
}
.col-md-4.left_side_bg{
    background: rgba(216, 216, 216, 0.22);
    position: relative;
}
a.carousel-control-prev,a.carousel-control-next{
    opacity: 1;
}
.card_btn_list ul li a{
    color: #fff;
    font-size: 16px;
}
.carousel_slides_txt .card_btn_list2 a{
    /* color: #222; */
        font-size: 15px;
        font-weight: 600;
        font-family: "baskervillebold";
        color: #414141;
}
.carousel_slides_txt{
    white-space: unset;
    overflow: unset;
    text-overflow: unset;
}
.carousel_slides_txt .read_more p{
    word-break: inherit;
    line-height: 27px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-bottom: 6px;
}
h4.eighteen_plus::before {
    position: absolute;
    content: '';
    min-width: 130px;
    height: 119px;
    background: #bf1b1b;
    right: -14px;
    transform: rotateZ(-39deg);
    right: -52px;
    z-index: -1;
}
h4.eighteen_plus{
    position: absolute;
    z-index: 9999;
    top: -37px;
    right: 42px;
    background: none;
    transform: unset !important;
    padding: 0 !important;
    padding-right: 7px !important;
}
/* Vertival*/
.genric_btn_bg .genric_btn ul li a.site_btn2 {
    border: none;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.11);
    font-size: 14px;
}

li.more_btns a {
    margin: 0;
    padding: 0 !important;
}

.crasoule_heading_txt_right.float-right.pr-6 a {
    margin-bottom: 25px;
}
.over_flow_tab{
    position: relative;
}
.over_flow_tab .crasoule_heading_txt_right.float-right{
    position: absolute;
    right: 0;
}
.over_flow_tab ul.nav.nav-tabs{
    max-width: unset;
    padding-right: 99px;
}

/* .owl-carousel.owl-theme.custom_owl_carousel .owl-item .item .carousel_slides.over_flow{
    -webkit-transition: all 850ms cubic-bezier(0.51, 0.4, 0.35, 0.9) 70ms !important;
    -moz-transition: all 850ms cubic-bezier(0.51, 0.4, 0.35, 0.9) 70ms !important;
    transition: all 850ms cubic-bezier(0.51, 0.4, 0.35, 0.9) 70ms !important;
} */

