<div class="wraper">

    <div *ngIf="showLoader" class="loader"><img src="/assets/img/loader.svg"></div>

    <section class="hero_section_craousel hero_section_craousel_mr">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 left_side_bg">

                    <div id="myCarousel1" class="carousel slide vertical">
                        <div class="carousel-inner ">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="hero_txt">
                                            <h2>Read</h2>
                                            <p>Handpicked recommendations from people they trust, and real-time updates
                                                from their favourite authors.</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="hero_txt">
                                            <h2>Write</h2>
                                            <p>Marketing tools let you connect with millions of power readers to find
                                                new fans and sell more books. People from around the world are picking
                                                up their phones and laptops, and creating their own narratives. And tens
                                                of millions of them are doing it on LIBRUMS.</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="hero_txt">
                                            <h2>Share</h2>
                                            <p>Helps millions of readers discover books they'll love while providing
                                                publishers and authors with a way to drive sales and find new fans.</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="hero_txt">
                                            <h2>Explore</h2>
                                            <p>Librums works with all major ebook retailers and devices, and partners
                                                with thousands of the industry’s leading publishers and authors to
                                                promote their books.</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="hero_txt">
                                            <h2>Inspire</h2>
                                            <p>Powering the largest social storytelling platform in nearly every market
                                                under the sun. By empowering diverse voices, we’ve opened up a whole
                                                world of stories just waiting to be turned into movies, TV shows, and
                                                audio books.</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- <div class="carousel-item">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="hero_txt">
                                            <h2>Explore</h2>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="hero_txt">
                                            <h2>Competition Slider</h2>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                                        </div>
                                    </div>
                               </div>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-8 pr-0 pl-0">
                    <div id="myCarousel" class="carousel slide hero_carousel" data-ride="carousel">
                        <!-- Indicators -->
                        <!-- The slideshow -->
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">

                                    <div class="col-md-12">
                                        <div class="slider_img">
                                            <img src="assets/img/banner11.png" alt="Los Angeles" width="1100"
                                                height="500">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="slider_img">
                                            <img src="assets/img/banner2.png" alt="Chicago" width="1100" height="500">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">

                                    <div class="col-md-12">
                                        <div class="slider_img">
                                            <img src="assets/img/banner3.png" alt="New York" width="1100" height="500">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">

                                    <div class="col-md-12">
                                        <div class="slider_img">
                                            <img src="assets/img/banner4.png" alt="New York" width="1100" height="500">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">

                                    <div class="col-md-12">
                                        <div class="slider_img">
                                            <img src="assets/img/banner5.png" alt="New York" width="1100" height="500">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngFor="let slides of slider; let i = index" class="carousel-item ">
                                <div class="row">

                                    <div class="col-md-12">
                                        <div class="slider_img">
                                            <img src="{{baseimage}}{{slides.image}}" alt="New York" width="1100"
                                                height="500">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="carousel-item">
                                <div class="row">
                                  
                                    <div class="col-md-12">
                                        <div class="slider_img">
                                            <img src="assets/img/setting_book.png" alt="New York" width="1100" height="500">
                                           
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                        <!-- Left and right controls -->
                        <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a>
                    </div>
                </div>


            </div>

        </div>
        <div class="circle_point">
            <ul class="carousel-indicators">

                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
                <template *ngFor="let slides of slider; let i = index">
                    <li *ngIf="i == 0" data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li *ngIf="i > 0" data-target="#myCarousel" data-slide-to="i"></li>
                </template>
                <!-- <li data-target="#myCarousel" data-slide-to="5"></li>
        <li data-target="#myCarousel" data-slide-to="6"></li> -->
            </ul>
        </div>
    </section>


    <section *ngFor="let NewStories of gethomedata; let i = index" class="alls_gen_slider">

        <template *ngIf="NewStories.value.isGenric">
            <div class="container-fluid container_fluid2">

                <div class="over_flow_tab">
                    <div class=" crasoule_heading_txt_right float-right">
                        <a [routerLink]="['/view-all/explore']" class="d-flex align-items-center">View All<svg
                                _ngcontent-lws-c6="" aria-hidden="true" class="" fill="none" height="24"
                                stroke="#222222" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                viewBox="0 0 24 24" width="24">
                                <g _ngcontent-lws-c6="">
                                    <polyline _ngcontent-lws-c6="" points="9 18 15 12 9 6"></polyline>
                                </g>
                            </svg></a>
                    </div>
                    <ul class="nav nav-tabs custom_tabs_pills br-0" role="tablist">
                        <li *ngFor="let tabs of NewStories.value.tags; let i = index" class="nav-item">
                            <a class="nav-link {{(i ==0)? 'active' :'' }} " data-toggle="tab"
                                href="#drama_{{i}}">{{tabs.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="container-fluid p-0">
                <!-- Nav tabs -->
                <div class="row2">


                    <!-- Tab panes -->
                    <div *ngIf="NewStories.value.tagData" class="tab-content">
                        <div *ngFor="let data of NewStories.value.tagData; let i = index" id="drama_{{i}}"
                            class="tab-pane {{(i ==0)? 'active' :'' }}">
                            <owl-carousel *ngIf="data.data" [options]="SlideOptions"
                                [carouselClasses]="['owl-carousel','owl-theme','custom_owl_carousel', 'sliding']">
                                <!-- animate__animated animate__zoomIn -->
                                <div class="item {{(i ==0)? 'wow' :'' " *ngFor="let NewStoriesSlider of data.data; let i = index">
                                    <a 
                                [routerLink]="['/bookdetail','explore',  NewStoriesSlider._id, NewStoriesSlider.genre]">
                                    <div class="carousel_slides over_flow">
                                        <!-- <div class="carousel_slides_img">
                                            <img src="{{baseimage}}{{NewStoriesSlider.cover_image}}" alt="" />
                        </div> -->

                        <div class="carousel_slides_img">
                            <a *ngIf="NewStoriesSlider.cover_image !== '';"
                                [routerLink]="['/bookdetail','explore',  NewStoriesSlider._id, NewStoriesSlider.genre]">
                                <!-- <a *ngIf="NewStoriesSlider.cover_image !== '';"
        [routerLink]="['/bookdetail', NewStories.value.tab, NewStoriesSlider._id]"> -->
                                <img src="{{baseimage}}{{NewStoriesSlider.cover_image}}" alt="" /></a>
                            <a *ngIf="NewStoriesSlider.cover_image == '';"
                                [routerLink]="['/bookdetail','explore',  NewStoriesSlider._id, NewStoriesSlider.genre]">
                                <div class="patahani-cover">
                                    <h2 class="patahani-h2">{{NewStoriesSlider.title}}</h2>
                                </div>
                            </a>
                            <div *ngIf="NewStoriesSlider.not_for_below_eighteen" class="plus_18">
                                <h4 class="eighteen_plus">18+</h4>
                            </div>
                        </div>

                        <div class="carousel_slides_txt">
                            <!-- <h2>{{NewStoriesSlider.title}}</h2> -->
                            <div class="carousel_slides_txt_profile">
                                <div class="carousel_slides_txt_profile_img">
                                    <img *ngIf="NewStoriesSlider.author_image !== '';"
                                        src="{{baseimage}}{{NewStoriesSlider.author_image}}" alt="" />
                                    <img *ngIf="NewStoriesSlider.author_image == '';" src="assets/images/img_user1.svg"
                                        alt="" />
                                </div>
                                <div class="txt_silde_profile">
                                    <a [routerLink]="['/authorprofile', NewStoriesSlider.author_id]"><span>By</span>
                                        {{NewStoriesSlider.author_name}}</a>
                                    <!-- <h4 (click)="authorProfile(NewStoriesSlider.author_id)">{{NewStoriesSlider.author_name}}</h4> -->
                                    <p>Last Updated On : {{NewStoriesSlider.updated_at | date }}</p>
                                </div>
                            </div>
                            <div class="read_more">
                                <p>{{ NewStoriesSlider.description | slice: 0:250 }}{{(NewStoriesSlider.description.length > 250)?'...':''}}
                                </p>
                                <a
                                    [routerLink]="['/bookdetail','explore',  NewStoriesSlider._id, NewStoriesSlider.genre]">Read
                                    More
                                    <!-- <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#222222" stroke-width="2" aria-hidden="true" stroke-linecap="round" stroke-linejoin="round" class=""><g><polyline points="9 18 15 12 9 6"></polyline></g></svg> -->
                                </a>
                            </div>
                            <div class="card_btn_list">
                                <ul *ngIf="NewStoriesSlider.tags">
                                    <template *ngFor="let NewStoriesTags of NewStoriesSlider.tags; let i = index">
                                        <li *ngIf="i < 3">
                                            <a *ngIf="i < 3" (click)="searchTag(NewStoriesTags)">{{NewStoriesTags}}</a>

                                        </li>
                                    </template>
                                    <li class="more_btns" *ngIf=" NewStoriesSlider.tags.length > 3">
                                        <a
                                            [routerLink]="['/bookdetail','explore',  NewStoriesSlider._id, NewStoriesSlider.genre]">+
                                            {{NewStoriesSlider.tags.length - 3}} more</a>

                                    </li>

                                </ul>
                            </div>
                            <div class="card_btn_list2">
                                <a><img src="assets/img/eye.svg" alt="">{{NewStoriesSlider.views}}</a>
                                <a><img src="assets/img/favorite.svg" alt="">{{NewStoriesSlider.likes}}</a>
                                <a><img src="assets/img/share.svg" alt="">{{NewStoriesSlider.no_of_shares}}</a>
                                <a><img src="assets/img/open_book.svg" alt="">{{NewStoriesSlider.no_of_chapter}}</a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="top_heading_txt">
                        <h2>{{NewStoriesSlider.title}}</h2>
                    </div></a>
                    <div class="owl-nav" *ngIf="data.data.length > 1">
                        <button *ngIf="i > 0" type="button" role="presentation" class=" owl-prev"><span
                                class="custom-owl-prev" aria-label="Previous">‹</span></button>
                        <button *ngIf="(i +1) < data.data.length" type="button" role="presentation"
                            class=" owl-next"><span class="custom-owl-next" aria-label="Next">›</span></button></div>
                </div>
                </owl-carousel>
            </div>
</div>
</div>
</div>
</template>
<template *ngIf="!NewStories.value.isGenric">
    <div class="genric_btn_bg">
        <div class="container" *ngIf="i === 0">
            <div class="genric_btn">
                <ul *ngIf="gethomedata">
                    <li *ngFor="let homedata of gethomedata; let i = index">
                        <a *ngIf="homedata.value.isGenric==false" [ngx-scroll-to]="'#destination'+i"
                            class="site_btn2">{{homedata.value.tab_name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div *ngIf="gethomedata" id="destination{{i}}">
        <div class="main_carousel">
            <div class="container-fluid container_fluid2">
                <div class="crasoule_heading_txt">
                    <div class="crasoule_heading_txt_left">
                        <h2>{{NewStories.value.main_title}}</h2>
                        <p>{{NewStories.value.sub_title}}</p>
                    </div>
                    <div class="crasoule_heading_txt_right">
                        <a [routerLink]="[NewStories.value.tab]" class="d-flex align-items-center">View All<svg
                                _ngcontent-lws-c6="" aria-hidden="true" class="" fill="none" height="24"
                                stroke="#222222" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                viewBox="0 0 24 24" width="24">
                                <g _ngcontent-lws-c6="">
                                    <polyline _ngcontent-lws-c6="" points="9 18 15 12 9 6"></polyline>
                                </g>
                            </svg></a>
                    </div>
                </div>
            </div>
            <owl-carousel *ngIf="NewStories.value.data" [options]="SlideOptions"
                [carouselClasses]="['owl-carousel','owl-theme','custom_owl_carousel', 'sliding']">

                <div *ngFor="let NewStoriesSlider of NewStories.value.data; let i = index"
                    class="item {{(i ==0)? 'wow' :''}} ">
                    <a 
                    [routerLink]="['/bookdetail',NewStories.value.tab,  NewStoriesSlider._id, NewStoriesSlider.genre]">
                    <div class="carousel_slides over_flow">
                        <div class="carousel_slides_img">
                            <a *ngIf="NewStoriesSlider.cover_image !== '';"
                                [routerLink]="['/bookdetail',NewStories.value.tab,  NewStoriesSlider._id, NewStoriesSlider.genre]"><img
                                    src="{{baseimage}}{{NewStoriesSlider.cover_image}}" alt="" /></a>
                            <a *ngIf="NewStoriesSlider.cover_image == '';"
                                [routerLink]="['/bookdetail',NewStories.value.tab,  NewStoriesSlider._id, NewStoriesSlider.genre]">
                                <div class="patahani-cover">
                                    <h2 class="patahani-h2">{{NewStoriesSlider.title}}</h2>
                                </div>
                            </a>
                            <div *ngIf="NewStoriesSlider.not_for_below_eighteen" class="plus_18">
                                <h4 class="eighteen_plus">18+</h4>
                            </div>
                        </div>
                        <div class="carousel_slides_txt">
                            <!-- <h2>{{NewStoriesSlider.title}}</h2> -->
                            <div class="carousel_slides_txt_profile">
                                <div class="carousel_slides_txt_profile_img">
                                    <img *ngIf="NewStoriesSlider.author_image !== '';"
                                        src="{{baseimage}}{{NewStoriesSlider.author_image}}" alt="" />
                                    <img *ngIf="NewStoriesSlider.author_image == '';" src="assets/images/img_user1.svg"
                                        alt="" />
                                </div>
                                <div class="txt_silde_profile">
                                    <a [routerLink]="['/authorprofile', NewStoriesSlider.author_id]"><span>By</span>
                                        {{NewStoriesSlider.author_name}}</a>
                                    <!-- <h4 (click)="authorProfile(NewStoriesSlider.author_id)">{{NewStoriesSlider.author_name}}</h4> -->
                                    <p>Last Updated On : {{NewStoriesSlider.updated_at | date }}</p>
                                </div>
                            </div>
                            <div class="read_more">
                                <p>{{NewStoriesSlider.description | slice: 0:250}}{{(NewStoriesSlider.description.length > 250)?'...':''}}
                                </p>
                                <a
                                    [routerLink]="['/bookdetail',NewStories.value.tab,  NewStoriesSlider._id, NewStoriesSlider.genre]">
                                    Read More
                                    <!-- <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#222222" stroke-width="2" aria-hidden="true" stroke-linecap="round" stroke-linejoin="round" class=""><g><polyline points="9 18 15 12 9 6"></polyline></g></svg> -->
                                </a>
                            </div>
                            <div class="card_btn_list">
                                <ul *ngIf="NewStoriesSlider.tags">
                                    <template *ngFor="let NewStoriesTags of NewStoriesSlider.tags; let i = index">
                                        <li *ngIf="i < 3">
                                            <a (click)="searchTag(NewStoriesTags)">{{NewStoriesTags}}</a>
                                        </li>
                                    </template>
                                    <li class="more_btns" *ngIf=" NewStoriesSlider.tags.length > 3">
                                        <a class="mb-2 pl-0 d-inline-block"
                                            [routerLink]="['/bookdetail',NewStories.value.tab,  NewStoriesSlider._id, NewStoriesSlider.genre]">+
                                            {{NewStoriesSlider.tags.length - 3}}
                                            more</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card_btn_list2">
                                <a><img src="assets/img/eye.svg" alt="">{{NewStoriesSlider.views}}</a>
                                <a><img src="assets/img/favorite.svg" alt="">{{NewStoriesSlider.likes}}</a>
                                <a><img src="assets/img/share.svg" alt="">{{NewStoriesSlider.no_of_shares}}</a>
                                <a><img src="assets/img/open_book.svg" alt="">{{NewStoriesSlider.no_of_chapter}}</a>
                            </div>
                        </div>
                    </div>
                   
                    <div class="top_heading_txt">
                        <h2>{{NewStoriesSlider.title}}</h2>
                    </div> </a>
                    <div class="owl-nav" *ngIf="NewStories.value.data.length > 1">
                        <button type="button" *ngIf="i > 0" role="presentation" class=" owl-prev"><span
                                class="custom-owl-prev" aria-label="Previous">‹</span></button>
                        <button type="button" *ngIf="(i+1) < NewStories.value.data.length" role="presentation"
                            class=" owl-next"><span class="custom-owl-next" aria-label="Next">›</span></button>
                    </div>

                </div>
            </owl-carousel>
        </div>
    </div>
</template>
</section>
<!-- <section>
        <div class="container"> -->
<!-- <div class="add add_index" *ngIf="!is_subscribed"> -->
<!-- <ng-adsense
            [adClient]="'ca-app-pub-1736805667008439'"
            [adSlot]="2934735716"
            [display]="'inline-block'"
            [width]="320"
            [height]="108"
            ></ng-adsense> -->
<!-- <ng-adsense [adClient]="'ca-pub-1736805667008439'" [pageLevelAds]="true"></ng-adsense>
            </div> -->
<!-- </div>
    </section> -->
</div>
<div class="modal fade custom_forgot_popup show" id="wlcm_back">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <img src="assets/img/close.svg" alt="" />
                </button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="wlcm_back_img">
                    <img src="assets/img/wlcm_back.svg" alt="">
                </div>
                <div class="forgot_txt">
                    <h2 *ngIf="!firstTime">Welcome Back</h2>
                    <h2 *ngIf="firstTime">Welcome to our Library</h2>
                    <p>Never stop reading again.<br /> Explore from thousands of books.</p>
                </div>
            </div>
            <!-- Modal footer -->
            <button class="site_btn2" data-dismiss="modal">Let's Get Started!</button>
        </div>
    </div>
</div>