.modal.fade.custom_forgot_popup .label_input{
    margin: 0px 0px 0px 0px;
} 
.modal-content {
    margin-top: 40% !important;
}

.modal-dialog.modal-sm, .modal-content {
    margin-top: 11% !important;
}

.modal-content {
    margin-top: 30%;
}
