.user_card h2 {
    font-size: 18px;
    font-weight: 700;
    color: #222;
    margin-top: 0px;
    margin-bottom: 0px;
} 
.user_card p {
    font-size: 57px;
    font-weight: 700;
    color: #222;
    margin-bottom: 12px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.card-body{
    padding: 1.0rem 1.5rem;
}