.cover_img_upload2 label {
    width: 100%;
    height: 300px;
  }
  
  .cover_img_upload2 label img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .cover_img2 {
    position: relative;
  }
  
  .cover_img2 .user_pic_edit {
    position: absolute;
    bottom: 24px;
    left: 0;
    right: 0;
    top: calc(50% - 60px);
  }
  
  .user_pic_edit label {
    width: 160px;
    height: 160px;
    margin: auto;
    border-radius: 50%;
  }
  
  .user_pic_edit label img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #fff;
  }
  
  .form-group.input_txt input {
    font-size: 16px;
    color: #222;
    background: #fff;
    border: 1px solid #ababab;
  }
  
  .form-group.input_txt input::placeholder {
    font-size: 16px;
  
    color: rgba(0, 0, 0, 0.5);
  }
  
  button:focus {
    outline: none;
  }
  
  button {
    border: none;
  }
  
  .cover_img_upload2,
  .cover_img_upload2 label,
  .cover_img_upload2 label template {
    width: 100%;
    height: 320px;
  }
  
  .cover_img_upload2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* .cover_img_upload2 {
      width: 100%;
      height: 300px;
  } */
  .user_pic_edit label template,
  .user_pic_edit label {
    width: 120px;
    height: 120px;
  }
  .cover_img2 .user_pic_edit {
    bottom: 34px;
  }
  label.cam_edit_dp_bg .cam_edit_dp {
    background: #fff;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
  }
  .user_pic_edit .cam_rel .cam_edit_dp img {
    width: 100%;
    border-radius: 0;
    border: none;
  }
  label.cam_edit_dp_bg .cam_edit_dp img {
    width: 25px !important;
    margin-bottom: 4px;
  }
  .input_txt select {
    cursor: pointer;
    color: #222;
    background: #fff;
    border: 1px solid #ababab;
    text-indent: 11px;
  }
  
  .form-group.input_txt.bod_place input {
    text-transform: capitalize !important;
    background: #f1f3f6 !important;
  }
  .form-group.input_txt.bod_place input,
  .mydp .selection {
    width: 100%;
    padding: 14px 18px;
    background: #f1f3f6 !important;
    border: none;
    border-radius: 6px;
    outline: none;
  }
  
  h6.upload {
    background: #e2e2e2;
    padding: 6px;
    width: 150px;
    border-radius: 15px;
    font-size: 14px;
    right: -7px;
    margin-left: -13px;
  }
  input.selection.ng-pristine.ng-valid.ng-touched {
    pointer-events: none !important;
  }
  
  .form-group.label_input.dobirth button.btnpicker.btnpickerenabled {
    width: 800px !important;
  }
  
  .form-group.label_input.dobirth input {
    border-radius: 0px;
    font-size: 16px !important;
    color: #5a5a5a !important;
    outline: none;
    font-family: "baskervillenormal";
    width: 100%;
    background: #fff;
    border-radius: 3px;
    padding: 18px;
    padding-left: 31px;
    border: 1px solid #222;
  }
  .mydp {
    width: 100%;
    padding: 14px 18px;
    background: #fff;
    border: none;
    border-radius: 6px;
    outline: none;
    border: 1px solid #222;
  }
  .form-group.input_txt.bod_place input {
    background: #fff !important;
    border: 1px solid #ababab !important;
    color: #222 !important;
  }
  .form-group.input_txt.bod_place input::placeholder {
    color: rgba(0, 0, 0, 0.5);
  }
  .mydp .selectiongroup button.btnpicker.btnpickerenabled {
    padding-right: 37px;
    padding-top: 11px;
    background: transparent;
  }
  .mydp .selectiongroup button.btnpicker.btnpickerenabled:hover {
    background: transparent;
  }
  .mydp .selbtngroup {
    right: 13px !important;
    top: 1px !important;
  }
  .mydp input.selection.ng-pristine.ng-valid.ng-star-inserted.ng-touched {
    pointer-events: none !important;
  }