select#font-drop {
    cursor: pointer;
    padding: 10px;
    font-family: baskervillenormal;
}
li.color .active {
    box-shadow: 2px 2px 2px 2px #888888;
}
.fonts_inrs span {
    color: #222;
    font-size: 20px;
}
.from_inside .label_input label, .reading_setting .fliter_font h3{font-size: 20px;}
.reading_setting .input_range{
    margin: 20px auto;
}
.setting{
    margin: 56px auto;
}
.fliter_font ul li.cover span{
    color: #222;
}
li.color:hover ,li.color.active span{
    background-image: linear-gradient(481deg, #E65124, #9C9400, #27953E, #53479E);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transform: scale(1.03);
    transition: 0.3s;
}
li.color .active{
    box-shadow: unset;
}
.select_font_size{
    padding-right: 0;
}
.select_font_size .label_input select{
    
    background-image: url(/assets/img/a2.svg);
    background-repeat: no-repeat;
    background-position: 50% 96%;
    background-position: 98% 50%;
}

.demo-back{
    line-height: 1.5;
    padding: 15px;
    min-height: 506px;
    max-height: 506px;
    overflow: scroll;
    border:1px solid #d1d1d1;
}