button.site_btn {
  width: 100%;
  line-height: 50px;
  font-size: 19px;
  font-family: "baskervillebold";
  outline: none;
}
.sign_up a:hover,
.sign_up a span:hover,
.forgot a:hover {
  background-image: linear-gradient(481deg, #e65124, #9c9400, #27953e, #53479e);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: 0.3s;
}
#forgot .modal-dialog {
  margin: 8.75rem auto;
}
#forgot button.close {
  outline: none;
}
.form-control:focus {
  box-shadow: none;
  border-color: #222;
}
.label_input input {
  border-radius: inherit !important;
}
#forgot button.site_btn2 {
  border-bottom: none;
}
button {
  padding: 0;
}
button.site_btn2 {
  background: #f6f6f6;
  font-family: "baskervillebold";
  font-size: 14px;
}
#forgot button.site_btn2:hover {
  box-shadow: unset;
}
#forgot button.site_btn2:hover span {
  background-image: linear-gradient(481deg, #e65124, #9c9400, #27953e, #53479e);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#forgot button.site_btn2 {
  border: 1px solid rgba(0, 0, 0, 0.11);
}
#forgot button.site_btn2:nth-of-type(1) {
  border-bottom-left-radius: 5px;
}
#forgot button.site_btn2:nth-of-type(2) {
  border-bottom-right-radius: 5px;
}
.modal.fade.custom_forgot_popup .label_input {
  margin: 40px 0px 60px 0px;
 
}
.modal.fade.custom_forgot_popup .label_input input,
.modal.fade.custom_forgot_popup .label_input input::placeholder {
  font-family: "baskervillebold";
}
.label_input input::placeholder {
  text-indent: -5px;
}
.wraper {
  margin-top: 107px;
}
.forgot_txt input::placeholder {
  text-indent: 0px;
}
div#forgot {
  padding: 0px 10px;
}
div#forgot button {
  outline: none;
}
section.top_login {
  padding-top: 42px;
}
#forgot.modal.fade.custom_forgot_popup .label_input input {
  color: #222;
}
.flex_fb button {
  outline: none;
  background: unset;
}

@media only screen and (max-width: 992px) {
  .main_header {
    padding: 0px 0;
  }
}
.form-control.is-invalid,
.was-validated .form-control:invalid {
  background-image: none;
}
