<div class="wraper">
  <div *ngIf="showLoader" class="loader"><img src="/assets/img/loader.svg"></div>
  <section>
    <div *ngFor="let NewStories of gethomedata; let i = index" class="container">
      <div *ngIf="NewStories.type == 'type'" class="crasoule_heading_txt">
        <div class="crasoule_heading_txt_left">
          <h2>{{NewStories.value}}</h2>
          <p>{{textUnder}}</p>
        </div>
        <div class="crasoule_heading_txt_right">
          <a [routerLink]="['/view-all',type]" class="d-flex align-items-center">View All<svg _ngcontent-lws-c6=""
              aria-hidden="true" class="" fill="none" height="24" stroke="#222222" stroke-linecap="round"
              stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24">
              <g _ngcontent-lws-c6="">
                <polyline _ngcontent-lws-c6="" points="9 18 15 12 9 6"></polyline>
              </g>
            </svg></a>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <!-- Nav tabs -->
      <div *ngFor="let NewStories of gethomedata; let i = index" class="row2">
        <div class="container">
          <div *ngIf="NewStories.type == 'tags'" class="over_flow_tab over_flow_tab2">
            <ul *ngIf="NewStories.type == 'tags'" class="nav nav-tabs custom_tabs_pills br-0" role="tablist">
              <li *ngFor="let tabs of NewStories.value; let i = index" class="nav-item" (click)="onExploreHome(i)">
                <a class="nav-link {{(i ==0)? 'active' :'' }} " id="{{i}}" data-toggle="tab"
                  attr.data-sectionvalue="{{tabs._id}}" attr.data-tabename="{{tabs.name}}"
                  href="#list_{{i}}">{{tabs.name}}</a>
              </li>
            </ul>
            <div class="paddles">
              <button *ngIf="NewStories.type == 'tags'" class="left-paddle paddle hidden">
                <img src="assets/img/arrow.svg">
              </button>
              <button *ngIf="NewStories.type == 'tags'" class="right-paddle paddle">
                <img src="assets/img/arrow_right.svg">
              </button>
            </div>
          </div>
        </div>
        <!-- Tab panes -->
        <div *ngIf="NewStories.type == 'data'" class=" tab-content ">
          <div *ngFor="let data of NewStories.value; let i = index; let k = index;" id="list_{{i}}"
            class="row flipster exp_crsl tab-pane {{(i ==0)? 'active' :'' }}">
            <div class="">
              <!--Expore-->
              <owl-carousel id="caro_{{k}}" *ngIf="data.data" [options]="SlideOptions"
                [carouselClasses]="['owl-carousel','owl-theme','custom_owl_carousel', 'sliding']">
                <div *ngFor="let NewStoriesSlider of  data.data; let i = index" class="item {{(i ==1)? 'next1' :'' }}">
                  <div class="carousel_slides over_flow">
                    <div *ngIf="NewStoriesSlider.is_blocked;" class="carousel_slides_img block_img_txt">
                      <a *ngIf="NewStoriesSlider.cover_image !== '';"
                        [routerLink]="['/bookdetail',type,  NewStoriesSlider._id, NewStoriesSlider.genre]"><img
                          src="{{baseURL}}{{NewStoriesSlider.cover_image}}" alt="" />
                        <div class="block_txt">
                          <h3>Blocked</h3>
                        </div>
                      </a>
                      <a *ngIf="NewStoriesSlider.cover_image == '';"
                        [routerLink]="['/bookdetail',type,  NewStoriesSlider._id, NewStoriesSlider.genre]">
                        <div class="patahani-cover">
                          <h2 class="patahani-h2">{{NewStoriesSlider.title}}</h2>
                        </div>
                      </a>
                      <div *ngIf="NewStoriesSlider.not_for_below_eighteen" class="plus_18">
                        <h4 class="eighteen_plus">18+</h4>
                      </div>
                      <div class="block_txt">
                        <h3>Blocked</h3>
                      </div>
                    </div>
                    <div *ngIf="!NewStoriesSlider.is_blocked;" class="carousel_slides_img">
                      <a *ngIf="NewStoriesSlider.cover_image !== '';"
                        [routerLink]="['/bookdetail',type,  NewStoriesSlider._id, NewStoriesSlider.genre]"><img
                          src="{{baseURL}}{{NewStoriesSlider.cover_image}}" alt="" />
                      </a>
                      <a *ngIf="NewStoriesSlider.cover_image == '';"
                        [routerLink]="['/bookdetail',type,  NewStoriesSlider._id, NewStoriesSlider.genre]">
                        <div class="patahani-cover">
                          <h2 class="patahani-h2">{{NewStoriesSlider.title}}</h2>
                        </div>
                      </a>
                      <div *ngIf="NewStoriesSlider.not_for_below_eighteen" class="plus_18">
                        <h4 class="eighteen_plus">18+</h4>
                      </div>
                    </div>
                    <div class="carousel_slides_txt">
                      <h2>{{NewStoriesSlider.title}}</h2>
                      <div class="carousel_slides_txt_profile">
                        <div class="carousel_slides_txt_profile_img">
                          <a [routerLink]="['/bookdetail',type,  NewStoriesSlider._id, NewStoriesSlider.genre]">
                            <img *ngIf="NewStoriesSlider.author_image !== '';"
                              src="{{baseURL}}{{NewStoriesSlider.author_image}}" alt="" />
                            <img *ngIf="NewStoriesSlider.author_image == '';" src="assets/images/img_user1.svg"
                              alt="" />
                          </a>
                        </div>
                        <div class="txt_silde_profile">
                          <a routerLink="/authorProfile/{{ NewStoriesSlider.author_id }}"><span>By</span>
                            {{NewStoriesSlider.author_name}}</a>
                          <!-- <h4  (click)="authorProfile(NewStoriesSlider.author_id)">{{NewStoriesSlider.author_name}}</h4> -->
                          <p>Last Updated On : {{NewStoriesSlider.updated_at | date }}</p>
                        </div>
                      </div>
                      <div class="read_more mt-1">
                        <p>
                          {{ NewStoriesSlider.description | slice: 0:100 }}{{(NewStoriesSlider.description.length > 100)?'...':''}}
                        </p>
                        <a [routerLink]="['/bookdetail',type,  NewStoriesSlider._id, NewStoriesSlider.genre]">Read
                          More
                          <!-- <svg _ngcontent-apc-c6="" aria-hidden="true" class="" fill="none" height="24" stroke="#222222" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24"><g _ngcontent-apc-c6=""><polyline _ngcontent-apc-c6="" points="9 18 15 12 9 6"></polyline></g></svg> -->
                        </a>
                        <!-- <p>{{NewStoriesSlider.description}}<span>Read More</span></p> -->
                      </div>
                      <div class="card_btn_list">
                        <ul *ngIf="NewStoriesSlider.tags">
                          <template *ngFor="let NewStoriesTags of NewStoriesSlider.tags; let i = index">
                            <li *ngIf="i < 3">
                              <a (click)="searchTag(NewStoriesTags)">{{NewStoriesTags}}</a>
                            </li>
                          </template>
                          <li class="more_btns" *ngIf=" NewStoriesSlider.tags.length > 3">
                            <a href="javascript:void(0);">+ {{NewStoriesSlider.tags.length - 3}} more</a>
                          </li>
                        </ul>
                      </div>
                      <div class="card_btn_list2">
                        <a><img src="assets/img/eye.svg" alt="">{{NewStoriesSlider.views}}</a>
                        <a><img src="assets/img/favorite.svg" alt="">{{NewStoriesSlider.likes}}</a>
                        <a><img src="assets/img/share.svg" alt="">{{NewStoriesSlider.no_of_shares}}</a>
                        <a><img src="assets/img/open_book.svg" alt="">{{NewStoriesSlider.no_of_chapter}}</a>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="top_heading_txt">
                  <h2>{{NewStoriesSlider.title}}</h2>
                </div> -->
                  <div class="owl-nav" *ngIf="data.data.length > 1">
                    <button type="button" *ngIf="i > 0" role="presentation" class=" owl-prev"><span data-id={{k}}
                        class="custom-owl-prev custom-owl-prev-explore" aria-label="Previous">‹</span></button>
                    <button type="button" *ngIf="(i+1) < data.data.length" role="presentation" class=" owl-next"><span
                        data-id={{k}} class="custom-owl-next custom-owl-next-explore"
                        aria-label="Next">›</span></button>
                  </div>
                </div>
              </owl-carousel>
              <!--Expore-->
            </div>
            <!-- <div class="paganumber mt-4 text-center" *ngIf="data.data.length>pageNumber || data.data.length==pageNumber">
            <a href="javascript:void(0);" (click)="onScrollDown()" class="site_btn load_more">Load More</a>
          </div> -->
            <div class="you_may">
              <h2 *ngIf="alsoLikes.length > 0">You may Also like</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="flip_crasoule flip_crasoule_custom" *ngIf="alsoLikes">
    <div class="main_carousel slider_top also_like_slider" *ngIf="alsoLikes">
      <div id="alsolike">
        <ul class="flip-items">
          <li *ngFor="let alsoLike of alsoLikes; let i = index">
            <div class="item">
              <div class="carousel_slides over_flow">
                <div class="carousel_slides_img">
                  <!-- {{alsoLike.cover_image}} -->
                  <a *ngIf="alsoLike.cover_image !== '';" [routerLink]="['/single-book',  alsoLike._id]">
                    <img *ngIf="alsoLike.cover_image !== '';" src="{{baseURL}}{{alsoLike.cover_image}}" alt="" />
                  </a>
                  <a *ngIf="alsoLike.cover_image !== '';" [routerLink]="['/single-book',  alsoLike._id]">
                    <div *ngIf="alsoLike.cover_image == '';" class="patahani-cover">
                      <h2 class="patahani-h2">{{alsoLike.title}}</h2>
                    </div>
                  </a>
                  <a *ngIf="!alsoLike.cover_image" [routerLink]="['/single-book',  alsoLike._id]">
                    <div *ngIf="alsoLike.cover_image == '';" class="patahani-cover">
                      <h2 class="patahani-h2">{{alsoLike.title}}</h2>
                    </div>
                  </a>


                  <div *ngIf="alsoLike.not_for_below_eighteen" class="plus_18">
                    <h4 class="eighteen_plus">18+</h4>
                  </div>
                </div>
                <div class="carousel_slides_txt">
                  <h2>{{alsoLike.title}}</h2>
                  <div class="carousel_slides_txt_profile">
                    <div class="carousel_slides_txt_profile_img">
                      <img *ngIf="alsoLike.author_image !== '';" src="{{baseURL}}{{alsoLike.author_image}}" alt="" />
                      <img *ngIf="alsoLike.author_image == '';" src="assets/images/img_user1.svg" alt="" />
                    </div>
                    <div class="txt_silde_profile">
                      <a [routerLink]="['/authorprofile', alsoLike.author_id]"><span>By</span>
                        {{alsoLike.author_name}}</a>
                      <p>Last Updated On : {{ alsoLike.chapter_updated_at | date }}</p>
                    </div>
                  </div>
                  <div class="read_more">
                    <p>{{alsoLike.description | slice: 0:100}}{{(alsoLike.description.length > 100)?'...':''}}
                    </p>
                    <a class="mb-2 pl-0 d-inline-block" [routerLink]="['/single-book',  alsoLike._id]">Read More</a>
                  </div>

                  <div class="card_btn_list2">
                    <a><img src="assets/img/eye.svg" alt="">{{alsoLike.views}}</a>
                    <a><img src="assets/img/favorite.svg" alt="">{{alsoLike.likes}}</a>
                    <a><img src="assets/img/share.svg" alt="">{{alsoLike.no_of_shares}}</a>
                    <a><img src="assets/img/open_book.svg" alt="">{{alsoLike.no_of_chapter}}</a>

                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <!-- <div class="add add_index"><img alt="" src="assets/img/add.png"></div> -->
</div>
<!--<div class="">
        <div class="" id="coverflow{{i}}">
            <ul class="flip-items">
                <li *ngFor="let alsoLike of data.data; let i = index">
                    <div class="item">
                            <div class="carousel_slides over_flow">
                                    <div class="carousel_slides_img">
                                        <a *ngIf="alsoLike.cover_image !== '';"
                                        [routerLink]="['/bookdetail',type,  alsoLike._id, alsoLike.genre]">
                                        <img *ngIf="alsoLike.cover_image !== '';"src="{{baseURL}}{{alsoLike.cover_image}}" alt="" />
                                        </a>
                                        <a *ngIf="alsoLike.cover_image !== '';"
                                        [routerLink]="['/bookdetail',type,  alsoLike._id, alsoLike.genre]">
                                        <div *ngIf="alsoLike.cover_image == '';"class="patahani-cover">
                                        <h2 class="patahani-h2">{{alsoLike.title}}</h2>
                                        </div></a>
                                        <a *ngIf="!alsoLike.cover_image"
                                        [routerLink]="['/bookdetail',type,  alsoLike._id, alsoLike.genre]">
                                        <div *ngIf="alsoLike.cover_image == '';"class="patahani-cover">
                                        <h2 class="patahani-h2">{{alsoLike.title}}</h2>
                                        </div></a>
                                        
            
                                        <div *ngIf="alsoLike.not_for_below_eighteen" class="plus_18">
                                            <h4 class="eighteen_plus">18+</h4>
                                        </div>
                                    </div>
                                    <div class="carousel_slides_txt">
                                        <h2>{{alsoLike.title}}</h2>
                                        <div class="carousel_slides_txt_profile">
                                            <div class="carousel_slides_txt_profile_img">
                                                <img  *ngIf="alsoLike.author_image !== '';" src="{{baseURL}}{{alsoLike.author_image}}" alt="" />
                                                <img *ngIf="alsoLike.author_image == '';" src="assets/images/img_user1.svg" alt="" />
                                                </div>
                                            <div class="txt_silde_profile">
                                                <a
                                                    [routerLink]="['/authorprofile', alsoLike.author_id]"><span>By</span> {{alsoLike.author_name}}</a>
                                                    <p >Last Updated On : {{ alsoLike.chapter_updated_at | date }}</p>
                                                </div>
                                        </div>
                                        <div class="read_more">
                                            <p>{{alsoLike.description | slice: 0:200}}{{(alsoLike.description.length > 200)?'...':''}}
                                            <a [routerLink]="['/singlebook',  alsoLike._id]"> Read More
                                            </a></p>
                                            </div>
                                 
                                        <div class="card_btn_list2">
                                            <a><img src="assets/img/eye.svg" alt="">{{alsoLike.views}}</a>
                                            <a><img src="assets/img/favorite.svg" alt="">{{alsoLike.likes}}</a>
                                            <a><img src="assets/img/share.svg" alt="">{{alsoLike.no_of_shares}}</a>
                                            <a><img src="assets/img/open_book.svg" alt="">{{alsoLike.no_of_chapter}}</a>
                     
                                        </div>
                                    </div>
                                </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>-->