     <owl-carousel *ngIf="data.data" [options]="SlideOptions" [carouselClasses]="['owl-carousel','owl-theme','custom_owl_carousel', 'sliding']">

                            <div class="item" *ngFor="let NewStoriesSlider of data.data; let i = index">
                                <div class="carousel_slides over_flow">
                                    <div class="carousel_slides_img">
                                        <a *ngIf="NewStoriesSlider.cover_image !== '';" [routerLink]="['/bookdetail', NewStories.value.tab, NewStoriesSlider._id]"><img
                                            src="{{baseURL}}{{NewStoriesSlider.cover_image}}" alt="" /></a>
                                            <a *ngIf="NewStoriesSlider.cover_image == '';"
                                              [routerLink]="['/bookdetail', NewStories.value.tab, NewStoriesSlider._id]"><div class="patahani-cover">
                                                <h2 class="patahani-h2">{{NewStoriesSlider.title}}</h2>
                                              </div></a>
                                              <div *ngIf="NewStoriesSlider.not_for_below_eighteen" class="plus_18">
                                                <h4 class="eighteen_plus">18+</h4>
                                            </div>
                                    </div>
                                    <div class="carousel_slides_txt">
                                        <div class="carousel_slides_txt_profile">
                                            <div class="carousel_slides_txt_profile_img">
                                                <img  *ngIf="NewStoriesSlider.author_image !== '';" src="{{baseURL}}{{NewStoriesSlider.author_image}}" alt="" />
        <img *ngIf="NewStoriesSlider.author_image === '';" src="assets/images/img_user1.svg" alt="" />
                                            </div>
                                            <div class="txt_silde_profile">
                                                <a [routerLink]="['/authorprofile', NewStoriesSlider.author_id]">{{NewStoriesSlider.author_name}}</a>
                                                <!-- <h4  (click)="authorProfile(NewStoriesSlider.author_id)">{{NewStoriesSlider.author_name}}</h4> -->
                                                <p>Last Updated On : {{NewStoriesSlider.updated_at | date }}</p>
                                            </div>
                                        </div>
                                        <div class="read_more">
                                            <p>{{NewStoriesSlider.description}}...<span><a [routerLink]="['/bookdetail', NewStories.value.tab, NewStoriesSlider._id]">Read More</a></span></p>
                                        </div>
                                        <div class="card_btn_list">
                                            <ul *ngIf="NewStoriesSlider.tags">

                                                <li *ngFor="let NewStoriesTags of NewStoriesSlider.tags; let i = index">
                                                    <a *ngIf="i < 3" (click)="searchTag(NewStoriesTags)">{{NewStoriesTags}}</a>
                                                </li>
                                                <li *ngIf=" NewStoriesSlider.tags.length > 3">
                                                    <a href="#">+ {{NewStoriesSlider.tags.length - 3}} more</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="card_btn_list2">
                                            <a><img src="assets/img/eye.svg" alt="">{{NewStoriesSlider.views}}</a>
                                            <a><img src="assets/img/favorite.svg" alt="">{{NewStoriesSlider.likes}}</a>
                                            <a><img src="assets/img/share.svg" alt="">{{NewStoriesSlider.no_of_shares}}</a>
                                            <a><img src="assets/img/open_book.svg" alt="">{{NewStoriesSlider.no_of_chapter}}</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="top_heading_txt">
                                    <h2>{{NewStoriesSlider.title}}</h2>
                                </div>
                                <div class="owl-nav">
                                    <button type="button" role="presentation" class=" owl-prev"><span class="custom-owl-prev" aria-label="Previous">‹</span></button>
                                    <button type="button" role="presentation" class=" owl-next"><span class="custom-owl-next" aria-label="Next">›</span></button>
                                </div>
                            </div>
                        </owl-carousel>