<div class="page">
        <div *ngIf="showLoader" class="loader"><img src="/assets/img/loader.svg"></div>
    <div class="page-main">
        <!-- Sidebar menu-->
        <div class="app-content  my-3 my-md-5" *ngIf="usersUpdate">
            <div class="side-app">
                <div class="page-header">
                    <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Dashboard</a></li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Profile
                            </li>
                        </ol>
                </div>
                <div class="mt_mb">
                    <div class="form_edit_book">
                        <form [formGroup]="adminForm" class="issue_report" (ngSubmit)="onSubmit()">
                            <div class="heading_form">
                                <!-- <h2> Profile</h2> -->
                                <div class="text-center mb-3">
                                   
                                      <img src="assets/img/librum_logo_dashborad.png" class="" alt="" />
                                  
                                  </div>
                                <!-- <p><img src="" alt="" /></p> -->
                            </div>
                            <input type="hidden" placeholder="Username" [ngModel]="usersUpdate._id" formControlName="user_id" class="form-control" id="user_id" />
                            <div class="form-group input_txt">
                                <label for="fullname"> Name</label>
                                <input type="text" placeholder="Enter name" [ngModel]="usersUpdate.fullname" formControlName="fullname" class="form-control" id="fullname" required [ngClass]="{ 'is-invalid': submitted && f.fullname.errors }" />
                                <div *ngIf="submitted && f.fullname.errors" class="invalid-feedback">
                                    <div *ngIf="f.fullname.errors.required">
                                         Name is required.
                                    </div>
                                </div>
                            </div>
                            <div class="form-group input_txt">
                                <label for="email">Email</label>
                                <input readonly disabled="true" type="email" placeholder="Enter email" [ngModel]="usersUpdate.email" formControlName="email" class="form-control" id="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required">
                                        Email is required.
                                    </div>
                                </div>
                            </div>
                            <div class="container">
                                <div class="row mt-5">
                                   
                                    <div class="col-md-12">
                                        <div class="save text-center">
                                            <button  class="site_btn">
                                            Update
                                        </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>