.input_txt input {
  background: #fff;
  border: 1px solid #ababab;
  color: #222;
  font-size: 16px;
}
.input_txt input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.input_txt input:focus {
  background: #fff;
}
input#email{
  background-color: #efefef;
}
.site_btn {
  min-width: 140px;
  background: #28a745;
  border: none;
}