.owl-nav {
    display: none !important;
}
.genric_btn.transgressive_group_btn ul li a.site_btn{
    line-height: 30px;
    color: #fff;
}

h4.eighteen_plus{
    position: absolute;
    z-index: 9999;
    top: -33px;
    right: 0px;
    background: none;
    -webkit-transform: unset !important;
    transform: unset !important;
    padding: 0;
    padding-right: 7px;
}
h4.eighteen_plus::before {
    position: absolute;
    content: '';
    min-width: 130px;
    height: 119px;
    background: #bf1b1b;
    right: -14px;
    -webkit-transform: rotateZ(-39deg);
    transform: rotateZ(-39deg);
    right: -52px;
    z-index: -1;
}
.plus_18{
    right: 0 !important;
    bottom: 0 !important;
}
.carousel_slides.over_flow .carousel_slides_img .plus_18 h4.eighteen_plus{
    padding-right: 5px;
}
section.flip_crasoule .carousel_slides{
    padding: 32px 36px;
}
section.flip_crasoule .carousel_slides_img {
    position: relative;
    width: 220px;
    height: 300px;
}
section.flip_crasoule .carousel_slides_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section.flip_crasoule .carousel_slides_txt_profile{
    margin-top: 14px;
    margin-bottom: 14px;
}
section.flip_crasoule .txt_silde_profile p{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 0;
    font-family: 'baskervillebold';
}
section.flip_crasoule .flipster{
    overflow-y: hidden;
}

section.hero_section_craousel_mr.half_slider.half_slider2.single_book_details .owl-carousel .owl-item{
    float: unset!important;
}
button.flipster__button svg{
    display: none;
}
.card_btn_list .custom_slide_s span{
    display: inline-block;
    margin-right: 5px;
}
.card_btn_list .custom_slide_s span a{
    max-width: 300px; 
    padding: 2px 10px;
    background-image: linear-gradient(481deg, #E65124, #9C9400, #27953E, #53479E);
    color: #fff;
    border-radius: 51px;
    font-size: 14px;
    font-family: 'baskervillenormal';
    display: inline-block;
}
.card_btn_list2 a{
    color: #222;
    font-size: 15px;
    font-weight: 600;
    font-family: "baskervillebold";
}
.owl-carousel.owl-theme.custom_owl_carousel .owl-stage-outer{
    padding-bottom: 0;
}

section.flip_crasoule.flip_crasoule_custom{
    position: relative;
    padding-bottom: 72px;
}
section.flip_crasoule.flip_crasoule_custom::before {
    content: '';
    position: absolute;
    background-image: url(/assets/img/mask1.svg);
    width: 100%;
    bottom: 0;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
section.hero_section_craousel_mr.half_slider.half_slider2.single_book_details .main_carousel.slider_top .owl-carousel .owl-stage-outer{
    top:50px;
}
span a.more_btns{
    background: none;
    background-image: linear-gradient(481deg, #E65124, #9C9400, #27953E, #53479E);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent !important;
}
section.flip_crasoule.flip_crasoule_custom .carousel_slides_txt h2{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 310px;
}
.start_reading ul li a.site_btn{
    box-shadow : unset;
}
.follower_list .follower_pic,.follower_list .follower_pic .follower_pic_name{
    width: 100%;
}
.follower_list .follower_pic .follower_pic_name {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section.flip_crasoule.flip_crasoule_custom
  .carousel_slides_txt
  .custom_slide_s {
  display: flex;
  flex-wrap: wrap;
}
section.flip_crasoule.flip_crasoule_custom
  .carousel_slides_txt
  .custom_slide_s
  span {
  margin-bottom: 3px;
}
li.flipster__item {
    width: 700px;
  }
  li.flipster__item .flipster__item__content {
    border: 2px solid #9e9e9e52 !important;
    border-radius: 10px !important;
}
  section.flip_crasoule.flip_crasoule_custom .carousel_slides_txt .read_more p {
    word-break: unset;
    white-space: initial;
    font-size: 20px;
    line-height: 24px
  }
  section.flip_crasoule.flip_crasoule_custom button.flipster__button.flipster__button--prev {
    left: calc(50% - 365px) !important;
}
section.flip_crasoule.flip_crasoule_custom button.flipster__button.flipster__button--next {
    right: calc(50% - 365px) !important;
}
.read_more a{
    color: #222;
    font-size: 18px;
    font-family: baskerville;
    font-weight: 600;
}
.read_more a:hover{
    text-decoration: underline !important
}

  .txt_silde_profile.txt_silde_profile_top a:hover {
    text-decoration: underline !important;
}

li a.addbtn.tooltip-custom.site_btn, li a.rmbtn.tooltip-custom.site_btn {
    min-width: 63px !important;
    color: #fff;
    font-size: 14;
    font-size: 24px !important;
    background-image: none;
    background: #3e3e3e85;
}
li a.rmbtn.tooltip-custom.site_btn{
    background-image: linear-gradient(481deg, #e65124, #9c9400, #27953e, #53479e)
}
.title-site {
    display: flex;
}

.bookshelf-btn{
    float: left;
    margin-top: 4px;
}

.slide_botton_txt {
    overflow: scroll;
    height: 236px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.carousel_slides{
    border: 2px solid rgba(151, 151, 151, 0.17);
    border-radius: 13px;
    background: #fff;
    margin-bottom: 20px;
    /* margin-top: 100px; */
}
.start_reading ul li a {
    font-size: 18px;
    font-family: "baskervillebold";
}
.start_reading ul li a svg {
    margin-left: -6px;
}
.start_reading ul li a:hover {
   text-decoration: underline
}
.genric_btn {
    margin-top: 35px;
}
.txt_silde_profile p{
    font-family: "baskervillebold";
}
.start_reading {
    display: flex;
}

.carousel_slides_txt_profile_img a {
    font-size: 22px;
    color: #222;
    font-family: "baskervillebold";
    margin-left: 14px;
}
.carousel_slides_txt_profile_img a:hover{
    text-decoration: underline !important
}
.carousel_slides_txt_profile_img a span {
    font-size: 22px;
    color: #222;
    font-family: "baskerville";
}
.carousel_slides[_ngcontent-php-c6] {
    padding: 42px 35px 0px 0px;
}
.listing_chapter.collapse.show.open_chapter {
    width: 825px;
}

.start_reading ul li a:hover {
    text-decoration: underline !important;
}
.txt_silde_profile a{
font-size: 18px;
    color: #414141;
    font-family: 'baskervillebold';
    margin-bottom: 4px;
}
section.hero_section_craousel_mr.half_slider.half_slider2.single_book_details{
    position: relative;
}
section.hero_section_craousel_mr.half_slider.half_slider2.single_book_details::before{
    content: "";
    position: absolute;
    background-image: url(/assets/img/slider_top1.svg);
    width: 100%;
    top: 0;
    height: 330px;
    background-repeat: no-repeat;
    background-size: cover;
}
.carousel_slides_img{
    width: 240px;
    height: 270px;
}
.carousel_slides_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}