<div class="page">
        <div *ngIf="showLoader" class="loader"><img src="/assets/img/loader.svg"></div>
    <div class="page-main">
        <!-- Sidebar menu-->
        <div class="app-content  my-3 my-md-5" *ngIf="getReport">
            <div class="side-app">
                <div class="page-header">
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a [routerLink]="['/dashboard']" >Dashboard</a></li>
                    <li class="breadcrumb-item"><a [routerLink]="['/reported-issues']" > Reported Issues</a></li>
                    <li class="breadcrumb-item active" aria-current="page"> Message </li>
                </ol></div>
                <div class="form_edit_book promocode_txt_label pl-5 pr-5">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="promocode_txt">
                                <p> <strong>Reported By: </strong> <a [routerLink]="[
                                    '/edit-users',
                                    getReport.created_by
                                ]">{{getReport.user_name}}</a></p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="promocode_txt text-center">
                                <p><strong> Type:</strong> {{ (getReport.type == 'look_and_feel')?'Look and Feel':getReport.type }}</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                                <div class="promocode_txt pull-right">
                                    <p><strong>{{ getReport.created_at | date: "MMM d, y"}}</strong></p>
                                </div>
                            </div>
                      
                        <!-- </form> -->
                    </div>
                </div>

                <div class="form_edit_book promocode_txt_label pl-5 pr-5 mt-4">
                        <div class="row">
                           
                            <div class="col-md-12">
                                <div class="promocode_txt">
                                    <p><strong>Message:</strong> <span>{{getReport.content}}</span></p>
                                </div>
                            </div>
                            <!-- </form> -->
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>