<div class="wraper">
    <div class="container-fluid container_fluid2">
        <div class="prev_back_arrow_btns">
            <a routerLink="{{previousUrl}}">
                <img src="assets/img/back_arrow_btn.svg" alt="">Back</a>
        </div>
    </div>
    <div *ngIf="showLoader" class="loader"><img src="/assets/img/loader.svg"></div>
    <section class="hero_section_craousel_mr half_slider half_slider2 book-half-slid">
        <div class="main_carousel slider_top">
            <owl-carousel *ngIf="bookData" [options]="SlideOptions"
                [carouselClasses]="['owl-carousel','owl-theme','custom_owl_carousel', 'sliding']">
                <div *ngFor="let NewStoriesSlider of bookData; let i = index"
                    class="item {{(NewStoriesSlider.active)? 'active' :'non' }}">
                    <div class="carousel_slides over_flow">
                        <div class="carousel_slides_img">
                            <img *ngIf="NewStoriesSlider.cover_image !== '';"
                                src="{{baseurl}}{{NewStoriesSlider.cover_image}}" alt="" />
                            <div *ngIf="NewStoriesSlider.cover_image == '';" class="patahani-cover">
                                <h2 class="patahani-h2">{{NewStoriesSlider.title}}</h2>
                            </div>

                            <div *ngIf="NewStoriesSlider.not_for_below_eighteen" class="plus_18">
                                <h4 class="eighteen_plus">18+</h4>
                            </div>


                        </div>
                        <div class="carousel_slides_txt">
                            <h2>{{NewStoriesSlider.title}}</h2>

                            <div class="carousel_slides_txt_profile">
                                <div class="carousel_slides_txt_profile_img">

                                    <img *ngIf="NewStoriesSlider.author_image !== '';"
                                        src="{{baseurl}}{{NewStoriesSlider.author_image}}" alt="" />
                                    <img *ngIf="NewStoriesSlider.author_image == '';" src="assets/images/img_user1.svg"
                                        alt="" />
                                </div>
                                <div class="txt_silde_profile txt_silde_profile_top">
                                    <a
                                        [routerLink]="['/authorprofile', NewStoriesSlider.author_id]">{{NewStoriesSlider.author_name}}</a>
                                    <p>Last Updated On : {{NewStoriesSlider.updated_at | date }}</p>
                                </div>
                            </div>
                            <div class="card_btn_list2">
                                <a><img src="assets/img/eye.svg" alt="">{{NewStoriesSlider.views}}</a>
                                <a><img src="assets/img/favorite.svg" alt="">{{NewStoriesSlider.likes}}</a>
                                <a><img src="assets/img/share.svg" alt="">{{NewStoriesSlider.no_of_shares}}</a>
                                <a><img src="assets/img/open_book.svg" alt="">{{NewStoriesSlider.no_of_chapter}}</a>
                            </div>
                            <div class="start_reading">
                                <ul>
                                    <li>
                                        <a [routerLink]="['/readchapter', NewStoriesSlider._id, NewStoriesSlider.chapters[0]._id]"
                                            class="site_btn shadow-none">Start Reading</a>
                                    </li>
                                    <template *ngIf="addbtn">
                                        <li  class="fav_btn">
                                            <a (click)="addBookShelf({book_id: NewStoriesSlider._id})"
                                                class="addbtn"><img style="width: 62px;" src="assets/img/add_plus1.svg"
                                                    alt=""></a>
                                        </li>
                                        <!-- <li *ngIf="!NewStoriesSlider.is_in_bookshelf" class="fav_btn">
                                            <a (click)="removeBookShelf({book_id: NewStoriesSlider._id})"
                                                class="rmbtn"><img style="width: 62px;" src="assets/img/minus_btn.svg"
                                                    alt=""></a>
                                        </li> -->
                                    </template>
                                    <template *ngIf="rmbtn">
                                        <li  class="fav_btn">
                                            <a (click)="removeBookShelf({book_id: NewStoriesSlider._id})"
                                                class="rmbtn"><img src="assets/img/minus_btn.svg" alt=""></a>
                                        </li>
                                        <!-- <li *ngIf="!NewStoriesSlider.is_in_bookshelf" class="fav_btn">
                                            <a (click)="addBookShelf({book_id: NewStoriesSlider._id})"><img
                                                    style="width: 62px;" src="assets/img/add_plus1.svg" alt=""></a>
                                        </li> -->
                                    </template>
                                    <template *ngIf="!addbtn && !rmbtn">
                                        <li *ngIf="NewStoriesSlider.is_in_bookshelf" class="fav_btn">
                                            <a (click)="removeBookShelf({book_id: NewStoriesSlider._id})"><img
                                                    style="width: 62px;" src="assets/img/minus_btn.svg" alt=""></a>
                                        </li>
                                        <li *ngIf="!NewStoriesSlider.is_in_bookshelf" class="fav_btn">
                                            <a (click)="addBookShelf({book_id: NewStoriesSlider._id})"><img
                                                    style="width: 62px;" src="assets/img/add_plus1.svg" alt=""></a>
                                        </li>
                                    </template>
                                </ul>
                            </div>
                        </div>
                        <div class="owl-nav">
                            <button type="button" role="presentation" class=" owl-prev"><span class="custom-owl-prev"
                                    aria-label="Previous">‹</span></button>
                            <button type="button" role="presentation" class=" owl-next"><span class="custom-owl-next"
                                    aria-label="Next">›</span></button>
                        </div>
                    </div>
                    <section>
                        <div class="container">
                            <div class="slide_botton_txt">
                                <p>{{NewStoriesSlider.description}}</p>
                            </div>
                            <div class="genric_btn transgressive_group_btn">
                                <ul *ngIf="NewStoriesSlider.tags">
                                    <li *ngFor="let NewStoriesTags of NewStoriesSlider.tags; let i = index">
                                        <a class="site_btn" (click)="searchTag(NewStoriesTags)">{{NewStoriesTags}}</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="listing_chapter collapse show open_chapter">
                                <div class="about_heading follower all_chapter scroll_chapter">
                                    <h2 class="d-flex justify-content-between align-items-center">Chapters <img
                                            src="assets/img/book.svg" alt="" class="pr-4" style="width: 50px;"></h2>
                                    <div *ngFor="let chapter of NewStoriesSlider.chapters; let i = index"
                                        class="follower_list">
                                        <div class="follower_pic">
                                            <div class="follower_pic_name">
                                                <h2>Chapter {{i +1}} : <span>{{chapter.chapter_name}}</span></h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- <section class="">
                        <div class="main_carousel slider_top also_like_slider" *ngIf="NewStoriesSlider.also_like">
                             <div id="alsolike">
                                <ul class="flip-items">
                                    <li *ngFor="let alsoLike of NewStoriesSlider.also_like; let i = index">
                                        <div class="item">
                                            <!-- <div class="carousel_slides">
                                                <div class="carousel_slides_img" *ngIf="alsoLike.cover_image == ''">
                                                        <div class="patahani-cover"><h2 class="patahani-h2">{{alsoLike.title}}</h2></div>
                                                </div>
                                                <div class="carousel_slides_img kd" *ngIf="alsoLike.cover_image != ''">
                                                    <img src="{{baseurl}}{{alsoLike.cover_image}}" alt="">
                                                </div>
                                            </div> -->
                    <!-- <div class="carousel_slides">
                                                <div class="carousel_slides_img">
                                                    <img src="assets/img/slide1.png" alt="">
                                                </div> -->
                    <!-- <div class="carousel_slides_txt"> -->
                    <!-- <h2>The Little Wizards</h2> -->
                    <!-- <div class="carousel_slides_txt_profile">
                                                        <div class="carousel_slides_txt_profile_img">
                                                            <img src="assets/img/profile pic copy.png" alt="">
                                                        </div>
                                                        <div class="txt_silde_profile">
                                                            <h4>Bret Easton Ellis</h4>
                                                            <p>Last Updated On : 20 July 2019</p>
                                                        </div>
                                                    </div>
                                                    <div class="read_more">
                                                        <p>So, Less Than Zero: 200 pages in the company of the overprivileged, morally vacuous  daughters of neglectful Hollywood have details….cocaine-addled 1988 war case.<span>Read More</span></p>
                                                    </div> -->
                    <!-- <div class="card_btn_list">
                                                        <ul>
                                                            <li><a href="#">Transgressive</a></li>
                                                            <li><a href="#">Fiction</a></li>
                                                            <li><a href="#">Horror</a></li>
                                                            <li><a href="#">+10 More</a></li>
                                                        </ul>
                                                    </div> -->
                    <!-- <div class="card_btn_list2">
                                                        <a><img src="assets/img/eye.svg" alt="">2.47 K</a>
                                                        <a><img src="assets/img/favorite.svg" alt="">522</a>
                                                        <a><img src="assets/img/share.svg" alt="">122</a>
                                                        <a><img src="assets/img/open_book.svg" alt="">20</a>
                                                    </div> -->
                    <!-- </div> -->
                    <!-- </div>


                                        </div>
                                    </li>
                                    <li *ngFor="let alsoLike of NewStoriesSlider.also_like; let i = index">
                                        <div class="item"> -->
                    <!-- <div class="carousel_slides">
                                                <div class="carousel_slides_img" *ngIf="alsoLike.cover_image == ''">
                                                        <div class="patahani-cover"><h2 class="patahani-h2">{{alsoLike.title}}</h2></div>
                                                </div>
                                                <div class="carousel_slides_img kd" *ngIf="alsoLike.cover_image != ''">
                                                    <img src="{{baseurl}}{{alsoLike.cover_image}}" alt="">
                                                </div>
                                            </div> -->
                    <!-- <div class="carousel_slides">
                                                <div class="carousel_slides_img">
                                                    <img src="assets/img/slide1.png" alt="">
                                                </div> -->
                    <!-- <div class="carousel_slides_txt"> -->
                    <!-- <h2>The Little Wizards</h2> -->
                    <!-- <div class="carousel_slides_txt_profile">
                                                        <div class="carousel_slides_txt_profile_img">
                                                            <img src="assets/img/profile pic copy.png" alt="">
                                                        </div>
                                                        <div class="txt_silde_profile">
                                                            <h4>Bret Easton Ellis</h4>
                                                            <p>Last Updated On : 20 July 2019</p>
                                                        </div>
                                                    </div> -->
                    <!-- <div class="read_more">
                                                        <p>So, Less Than Zero: 200 pages in the company of the overprivileged, morally vacuous  daughters of neglectful Hollywood have details….cocaine-addled 1988 war case.<span>Read More</span></p>
                                                    </div> -->
                    <!-- <div class="card_btn_list">
                                                        <ul>
                                                            <li><a href="#">Transgressive</a></li>
                                                            <li><a href="#">Fiction</a></li>
                                                            <li><a href="#">Horror</a></li>
                                                            <li><a href="#">+10 More</a></li>
                                                        </ul>
                                                    </div> -->
                    <!-- <div class="card_btn_list2">
                                                        <a><img src="assets/img/eye.svg" alt="">2.47 K</a>
                                                        <a><img src="assets/img/favorite.svg" alt="">522</a>
                                                        <a><img src="assets/img/share.svg" alt="">122</a>
                                                        <a><img src="assets/img/open_book.svg" alt="">20</a>
                                                    </div> -->
                    <!-- </div> -->
                    <!-- </div>


                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div> 
                    </section> -->
                </div>
            </owl-carousel>
        </div>
        <div class="you_may">
            <h2 *ngIf="alsoLikes.length > 0">You may Also like</h2>
        </div>
    </section>

    <section class="flip_crasoule flip_crasoule_custom" *ngIf="alsoLikes">
        <div class="main_carousel slider_top also_like_slider" *ngIf="alsoLikes">
            <div id="alsolike">
                <ul class="flip-items">
                    <li *ngFor="let alsoLike of alsoLikes; let i = index">
                        <div class="item">
                            <div class="carousel_slides over_flow">
                                <div class="carousel_slides_img">
                                    <!-- {{alsoLike.cover_image}} -->
                                    <a *ngIf="alsoLike.cover_image !== '';"
                                        [routerLink]="['/single-book',  alsoLike._id]">
                                        <img *ngIf="alsoLike.cover_image !== '';"
                                            src="{{baseurl}}{{alsoLike.cover_image}}" alt="" />
                                    </a>
                                    <a *ngIf="alsoLike.cover_image !== '';"
                                        [routerLink]="['/single-book',  alsoLike._id]">
                                        <div *ngIf="alsoLike.cover_image == '';" class="patahani-cover">
                                            <h2 class="patahani-h2">{{alsoLike.title}}</h2>
                                        </div>
                                    </a>
                                    <a *ngIf="!alsoLike.cover_image" [routerLink]="['/single-book',  alsoLike._id]">
                                        <div *ngIf="alsoLike.cover_image == '';" class="patahani-cover">
                                            <h2 class="patahani-h2">{{alsoLike.title}}</h2>
                                        </div>
                                    </a>


                                    <div *ngIf="alsoLike.not_for_below_eighteen" class="plus_18">
                                        <h4 class="eighteen_plus">18+</h4>
                                    </div>
                                </div>
                                <div class="carousel_slides_txt">
                                    <h2>{{alsoLike.title}}</h2>
                                    <div class="carousel_slides_txt_profile">
                                        <div class="carousel_slides_txt_profile_img">
                                            <img *ngIf="alsoLike.author_image !== '';"
                                                src="{{baseurl}}{{alsoLike.author_image}}" alt="" />
                                            <img *ngIf="alsoLike.author_image == '';" src="assets/images/img_user1.svg"
                                                alt="" />
                                        </div>
                                        <div class="txt_silde_profile">
                                            <a [routerLink]="['/authorprofile', alsoLike.author_id]"><span>By</span>
                                                {{alsoLike.author_name}}</a>
                                            <p>Last Updated On : {{ alsoLike.chapter_updated_at | date }}</p>
                                        </div>
                                    </div>
                                    <div class="read_more">
                                        <p>{{alsoLike.description | slice: 0:100}}{{(alsoLike.description.length > 100)?'...':''}}
                                        </p>
                                        <a [routerLink]="['/single-book',  alsoLike._id]"> Read More
                                            <!--
                                                <svg
                                                    _ngcontent-uku-c6="" aria-hidden="true" class="" fill="none"
                                                    height="24" stroke="#222222" stroke-linecap="round"
                                                    stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"
                                                    width="24">
                                                    <g _ngcontent-uku-c6="">
                                                        <polyline _ngcontent-uku-c6="" points="9 18 15 12 9 6">
                                                        </polyline>
                                                    </g>
                                                </svg>
                                            -->
                                        </a>
                                    </div>

                                    <div class="card_btn_list2">
                                        <a><img src="assets/img/eye.svg" alt="">{{alsoLike.views}}</a>
                                        <a><img src="assets/img/favorite.svg" alt="">{{alsoLike.likes}}</a>
                                        <a><img src="assets/img/share.svg" alt="">{{alsoLike.no_of_shares}}</a>
                                        <a><img src="assets/img/open_book.svg" alt="">{{alsoLike.no_of_chapter}}</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>