.page_slider .main_carousel.slider_top .owl-carousel .owl-stage-outer{
    position: relative !important;
    top: 0 !important;
}
.main_carousel.slider_top .owl-carousel.owl-theme.custom_owl_carousel::before{
    height: 17%;
}



  .txt_silde_profile.txt_silde_profile_top a{
    font-size: 18px;
    color: #414141;
    font-family: 'baskervillebold';
    margin-bottom: 4px;
    position: relative;
    text-decoration: underline !important;
  }
  .main_carousel.slider_top .owl-carousel.owl-theme.custom_owl_carousel::before{
    height: 32% !important;
  }
  .owl-nav button.owl-prev span{
    content: url(/assets/img/slider_arrow_left.svg);
    position: absolute;
    left: -30px;
    z-index: 999;
    top: calc(100% - 55%);
    background: transparent;
    margin: 0;
    padding: 0;
}
.owl-nav button.owl-next span{
  content: url(/assets/img/slider_arrow_right.svg);
  position: absolute;
  right: -43px;
  z-index: 999;
  top: calc(100% - 55%);
  background: transparent;
  margin: 0;
  padding: 0;
  outline: none;
}
.genric_btn ul li a{
  color: #fff;
}

h4.eighteen_plus::before {
  position: absolute;
  content: '';
  min-width: 130px;
  height: 119px;
  background: #bf1b1b;
  right: -14px;
  transform: rotateZ(-39deg);
  right: -52px;
  z-index: -1;
}
h4.eighteen_plus{
  position: absolute;
  z-index: 9999;
  top: -37px;
  right: 42px;
  background: none;
  transform: unset !important;
  padding: 0 !important;
  padding-right: 7px !important;
}
.carousel_slides_txt_profile{
  margin: 10px 0px !important;
}
.card_btn_list2{
  margin-bottom: 16px !important;
}
.card_btn_list2 a{
  color: #222 !important;
}
.txt_silde_profile p {
  font-family: 'baskervillebold';
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 0;
}



.loader {
  position: fixed;
  /* top: 25%; */
  text-align: center;
  left: 0;
  right: 0;
  z-index: 999999999999;
  background: rgba(0, 0, 0, 0.22);
  width: 100%;
  height: 100%;
  top: 0;
}
.loader img {
  padding-top: 200px;
}

.about_heading.follower.all_chapter .follower_pic_name h2{
  font-size: 16px;
}
.main_carousel.slider_top .start_reading li a.site_btn {
  line-height: 36px;
  min-width: 170px;
  font-size: 18px;
}
.slide_botton_txt p {
  font-size: 20px;
  line-height: 27px;
}
.rmbtn img, .addbtn img {
  width: 62px;
}

