.thumb_img,.thumb_img img{
    width:100%;
}
.add_videos a.site_btn2{
    border: none;
    background: #efebef;
}
.add_videos a.site_btn2:hover{
    color: #222;
}
.youtube_title h4{
    font-size: 14px;
    color: #222;
    font-family: 'baskervillebold';
    margin: 10px 0px;
}
.youtube_title h4 span{
    margin-left: 10px;
}
.youtube_title a{
    background: #F6F6F6;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.11);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    font-size: 14px;
    font-family: 'baskervillebold';
    max-width: 130px;
    width: 100%;
    text-align: center;
    padding: 0;
    line-height: 35px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: #fff;
    border-radius: 30px;
    background-image: linear-gradient(481deg, #E65124, #9C9400, #27953E, #53479E);
    margin-bottom: 10px;
}
