<div class="wraper">
    <div *ngIf="showLoader" class="loader"><img src="/assets/img/loader.svg"></div>
    <section class="hero_section_craousel_mr" *ngIf="usersUpdate">
        <div class="upload_bg">
            <label for="edit_bg_user_pic">
                <input type="file" id="edit_bg_user_pic" class="d-none" (change)="onSelectImage($event)">
                <div class="edit_upload_img">
                    <img id="edit-cover-pic" src={{usersUpdate.coverimage}} alt="">
                </div>
            </label>
            <div class="inside_pic">

                <img id="edit-profile-pic" *ngIf="usersUpdate.image !== '' ;" src={{baseimage}}{{usersUpdate.image}}
                    alt="">
                <img class="hide-o" *ngIf="usersUpdate.image === '' ;" src="assets/images/img_user1.svg" alt="">
                <!-- <img class="hide-o" *ngIf="!usersUpdate.image" src="assets/images/img_user1.svg" alt=""> -->
                <div class="edit_pic">
                    <label for="user_pic_circle">
                        <input type="file" id="user_pic_circle" class="d-none" (change)="onSelectImage($event)">
                        <img alt="" src="assets/img/white_pen.svg ">
                    </label>
                </div>
            </div>
            <div class="cam_btn">
                <label for="edit_cover_img_upload">
                    <input type="file" id="edit_cover_img_upload" class="d-none" (change)="onSelectCoverImage($event)">
                    <img alt="" src="assets/img/cam_bg.svg">
                </label>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-8 m-auto">
                    <form [formGroup]="updateForm" class="edit_profile_form all_custom_placeholders"
                        (ngSubmit)="onSubmit()" enctype="multipart/form-data">
                        <input type="hidden" [ngModel]="usersUpdate.image" formControlName="user_image">
                        <input type="hidden" [ngModel]="usersUpdate.cover_image" formControlName="cover_image">
                        <div class="from_inside">
                            <!-- <div class="input_form_filled"> -->
                           
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="label_input">
                                        <label for="">Name<em class="text-danger">*</em></label>
                                        <input type="text" placeholder="Enter your name" [ngModel]="usersUpdate.fullname"
                                        formControlName="fullname"
                                        [ngClass]="{ 'is-invalid': submitted && f.fullname.errors }">
                                        <div *ngIf="submitted && f.fullname.errors" class="invalid-feedback">
                                            <div *ngIf="f.fullname.errors.required">
                                                Name is required.
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                    </div>
                            <div class="row">
<div class="col-md-6">

    <div class="label_input">
        <label for="">Username<em class="text-danger">*</em></label>
        <input type="text" *ngIf="usersUpdate.username == ''" [ngModel]="usersUpdate.username"
        formControlName="username" placeholder="Enter your username"
        [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
        <input type="text" *ngIf="usersUpdate.username != ''" readonly
        [ngModel]="usersUpdate.username" formControlName="username"
        placeholder="Enter your username"
        [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">
                Username is required.
            </div>
        </div>
    </div>
</div>
<div class="col-md-6">

    <div class="label_input">
        <label for="">Email<em class="text-danger">*</em></label>
        <input type="email" readonly [ngModel]="usersUpdate.email" formControlName="email"
        placeholder="Email">
    </div>
</div>

                            </div>
                            <div class="row">
                                
                           
                                <div class="col-md-4">
                            <div class="form-group label_input dobirth my_bod edit_bod">
                                <label for="">Date of Birth<em class="text-danger">*</em></label>
                                <my-date-picker placeholder="Date of Birth" formControlName="dob"
                                    [options]="myDatePickerOptions" [(ngModel)]="modal" required></my-date-picker>
                                <div class="user_icon">
                                    <img src="assets/img/calendar.svg" alt="">
                                </div>
                                <div *ngIf="submitted && f.dob.errors" class="alert" style="color:red">
                                    <div *ngIf="f.dob.errors.required">
                                        Date of birth is required.
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="col-md-4">
                                <div class="label_input select_gen">
                                    <label for="">Select Gender</label>
                                    <select placeholder="Gender(Optional)" [ngModel]="usersUpdate.gender"
                                        formControlName="gender">
                                        <option value="male" selected="selected">Male</option>
                                        <option value="female">Female</option>
                                        <option value="other">Other</option>
                                    </select>
                                </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="label_input">
                                        <label for="">Location</label>
                                        <input type="text" placeholder="Location" [ngModel]="usersUpdate.location"
                                            formControlName="location">
                                    </div>
                                </div>
                            </div>

                              
                           
                            <div class="label_input">
                                <label for="">Bio</label>
                                <textarea type="text" placeholder="Bio"  rows="10" [ngModel]="usersUpdate.bio"
                                    formControlName="bio"></textarea>
                            </div>
                            <div class="login_btn ">
                                <a routerLink="/myprofile" class="btn btn-light">Cancel</a>
                                <button class="site_btn save_it float-right">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>