.pro_img label {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}
.pro_img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin: auto;
  position: relative;
}
.pro_img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.user_pic_edit h2 {
  margin-top: 40px;
}
.user_pic_edit {
  padding-top: 100px;
}
.cover_img_upload {
  width: 320px;
  height: 146px;
  padding-top: 0px;
  position: relative;
}
.cover_img_upload label {
  width: 320px;
  height: 146px;
}
.cover_img_upload img {
  width: 100%;
  height: 100%;
}
.hover_icon img {
  width: unset;
  height: unset;
  border-radius: unset;
  position: absolute;
  top: calc(50% - 15px);
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.pro_img:hover .hover_icon img,
.cover_img_upload:hover .hover_icon img {
  opacity: 1;
  visibility: visible;
  transition: 0.3s;
}
label {
  cursor: pointer;
}
.upload_bg label {
  width: 100%;
}
.upload_bg {
  width: 100%;
  height: 100%;
  position: relative;
}
.upload_bg .edit_upload_img img {
  width: 100%;
  height: 445px;
  object-fit: cover;
}
.upload_bg .inside_pic {
  width: 156px;
  height: 156px;
  border-radius: 50%;
  position: relative;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: calc(50% - 78px);
  border-radius: 50%;
}
.upload_bg .inside_pic {
  width: 156px;
  height: 156px;
  border-radius: 50%;
  position: absolute;
}
.upload_bg .inside_pic > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.upload_bg .inside_pic::before {
  content: "";
  position: absolute;
  width: 176px;
  height: 176px;
  display: block;
  margin: auto;
  bottom: -10px;
  left: -10px;
  border-radius: 50%;
  padding: 6px;
  background: transparent;
  border: 4px solid #fff;
}
.edit_pic {
  position: absolute;
  right: 0;
  bottom: 0px;
}
.cam_btn {
  position: absolute;
  right: 20px;
  top: 20px;
}
.site_btn.save_it {
  font-family: "baskervillebold";
}
.form-group.label_input.dobirth.my_bod {
  position: relative;
}
.form-group.label_input.dobirth.my_bod .user_icon {
  position: absolute;
  right: 0;
  top: 9px;
}
.form-group.label_input.dobirth.my_bod .user_icon img {
  width: 14px;
  position: absolute;
  top: 34px;
  right: 12px;
}
.form-group.label_input.dobirth
  my-date-picker
  button.btnpicker.btnpickerenabled {
  width: 637px;
}
.input_form_filled .label_input select {
  background-position: 100% 52%;
}
button.site_btn.save_it {
  outline: none;
}
.label_input label {
  margin-bottom: 10px;
}
.label_input input {
  padding-bottom: 8px;
}

.label_input.select_gen label {
  margin-bottom: 4px;
}
.input_form_filled .label_input select {
  height: 34px;
}
input.ng-pristine.ng-valid.ng-touched {
  color: #8a8a8a !important;
}
form.edit_profile_form input
 {
  font-size: 16px;
  padding:10px; 
}
form.edit_profile_form input::placeholder{
  padding:0px; 
}
.from_inside .label_input select {
  background: url(/assets/img/a2.svg);
  background-repeat: no-repeat;
  background-position: 94% 60%;
  border: none;
  -webkit-appearance: none;
  height: 43px;
  outline: none;
  color: #222;
  font-size: 14px;
  font-family: "baskervillebold";
  border: 1px solid #d1d1d1;
  border-radius: 6px;
  padding: 10px;
  margin-top: 6px;
}
.from_inside .label_input textarea {
  color: #222;
  font-size: 16px;
  font-family: baskervillenormal;
  padding: 10px;
}
a.btn.btn-light {
  min-width: 213px;
  /* line-height: 36px; */
  display: inline-block;
  /* text-align: center; */
  outline: none;
  font-size: 16px;
 height:40px;
  font-family: "baskervillebold";
  border-radius: 30px;
  /* -webkit-transition: 0.3s; */
  /* transition: 0.3s; */
}
.form-group.label_input.dobirth.my_bod.edit_bod input::placeholder {
  color: #838383;
}
.alert{    width: 100%;
  margin-top: 0.25rem;
  font-size: 87.5%;
  color: #ec2d38;
padding: 0px;
}