<!-- header -->
<header class="top_header_mr" *ngIf="headerShow == false">
  <div class="main_header main_header_login">
    <div class="container">
      <div class="flex_header justify-content-center">
        <div class="logo3 text-center">
          <a routerLink="/"><img src="assets/img/logo.png" alt="" /></a>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- header end -->

<!-- header -->
<header *ngIf="headerShow == true">
  <div class="main_header">
    <div class="container-fluid container_fluid2">
      <div class="logo2">
        <a routerLink="/"><img src="assets/img/logo.png" alt="" /></a>
      </div>
      <div class="logo">
        <a routerLink="/"><img src="assets/img/logo.png" alt="" /></a>
      </div>
      <div class="flex_header">
        <div class="toggle111">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="header_icon_left">
          <ul>
            <li>
              <a routerLink="/"><img src="assets/img/home.svg " alt=" " style="width: 20px;" /><span>Home</span></a>
            </li>
            <li>
              <a routerLink="/view-all/explore"><img src="assets/img/explore3.svg " alt=" "
                  style="width: 20px;" /><span>Explore</span></a>
            </li>
            <li>
              <a routerLink="/bookshelf"><img src="assets/img/bookshelf.svg " alt=" " style="width: 13px;" /><span>My
                  Bookshelf</span></a>
            </li>
          </ul>
        </div>
        <div class="header_icon_right ">
          <ul>
            <li>
              <a href="/addstories"><img src="assets/img/write.svg " alt=" "
                  style="width: 20px;" /><span>Write</span></a>
            </li>
            <li>
              <a routerLink="/search"><img src="assets/img/search.svg " alt=" "
                  style="width: 21px;" /><span>Search</span></a>
            </li>
            <li>
              <a routerLink="/notification" class="notifi "><img src="assets/img/notifications.svg "
                  alt=" " /><span>Notifications</span></a>
            </li>
            <li class="menu_links">
              <a data-toggle="dropdown" class="d-flex align-items-center justify-content-between">

                <div class="profile_pic ">
                  <img class="header-user-pic" *ngIf="usersUpdate.data.image !== '' ;"
                    src={{baseimage}}{{usersUpdate.data.image}} alt="">
                  <img class="header-user-pic" *ngIf="usersUpdate.data.image == ''" src="assets/images/img_user1.svg"
                    alt="">
                </div>
                <!-- <span>My Account</span> -->
              </a>
              <div class="dropdown-menu drop first_drop_down">
                <span class="dropdown-item">Welcome {{usersUpdate.data.fullname.split(' ')[0] }} ! </span>
                <a class="dropdown-item" [routerLink]="['/myprofile']">Profile</a>
                <!-- <a class="dropdown-item" routerLink="/mywall">Wall Post</a> -->
                <a class="dropdown-item" [routerLink]="['/mystories']">My Stories</a>
                <!-- <a class="dropdown-item" [routerLink]="['/followers']">Followers</a> -->
                <!-- <a class="dropdown-item" [routerLink]="['/following']">Followings</a> -->
                <!-- <a class="dropdown-item" [routerLink]="['/user-annoucement']">Annoucement</a> -->
            <li class="open_setting">
              <a class="dropdown-item" id="setting">Settings<img src="assets/img/plus.svg" alt="" class="change_img" />
                <img src="assets/img/plus2.svg" alt="" class="change_img" />
              </a>
              <div class="setting_drop" id="close_setting">
                <a *ngIf="usersUpdate.data.login_type === 1" class="dropdown-item"
                  [routerLink]="['/myprofile/changepassword']">Change Password</a>
                <!-- <a class="dropdown-item" [routerLink]="['/subscription']">Subscriptions</a> -->
                <!-- <a class="dropdown-item" [routerLink]="['/']'">Payment Methods</a> -->
                <!-- <a class="dropdown-item" [routerLink]="['/payment']">Withdrawal Methods</a> -->
                <a class="dropdown-item" [routerLink]="['/withdrawal']">Withdrawal</a>
                <a class="dropdown-item" [routerLink]="['/reading-setting']">Reading Settings</a>
                <!-- <a class="dropdown-item" [routerLink]="['/invite-friends']">Invite Friends</a> -->
                <a class="dropdown-item" data-toggle="modal" data-target="#header-invite"
                  href="javascript:void(0);">Invite Friends</a>
                <!-- <a class="dropdown-item" routerLink="/ ">Rate Librums on app store</a> -->
                <a class="dropdown-item" [routerLink]="['/feedback']">Feedback and Suggestions</a>
                <!-- <a class="dropdown-item" [routerLink]="['/about']">About Librums</a> -->
                <a class="dropdown-item" [routerLink]="['/report-an-issue']">Report an Issue</a>

                <!-- <a class="dropdown-item" [routerLink]="['/terms-condition']">Terms and Conditions</a> -->
                <!-- <a class="dropdown-item" [routerLink]="['/logout']">Logout</a> -->
              </div>
            </li>

            <a routerLink="/logout" class="dropdown-item">Logout</a>


        </div>
        </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- mobile menu -->
  <div class="mobile_menu ">
    <div class="header_icon_left ">
      <ul>
        <li>
          <a routerLink="/"><img src="assets/img/home.svg " alt=" " /><span>Home</span></a>
        </li>
        <li>
          <a routerLink="/view-all/explore"><img src="assets/img/explore3.svg " alt=" " /><span>Explore</span></a>
        </li>
        <li>
          <a routerLink="/bookshelf"><img src="assets/img/bookshelf.svg " alt=" " /><span>My Bookshelf </span></a>
        </li>
      </ul>
    </div>
    <div class="header_icon_right ">
      <ul>
        <li>
          <a href="/addstories"><img src="assets/img/write.svg " alt=" " /><span>Write</span></a>
        </li>
        <li>
          <a href="#"><img src="assets/img/search.svg " alt=" " /><span>Search</span></a>
        </li>
        <li>
          <a routerLink="/notification" class="notifi "><img src="assets/img/notifications.svg "
              alt=" " /><span>Notifications</span></a>
        </li>
        <li class="mobile_dropdown" data-toggle="collapse" data-target="#menu1">
          <a href="#">
            <div class="profile_pic">
              <img src="assets/images/img_user1.svg" alt=" " />
            </div>
            <span>My Account</span>
          </a>
          <div id="menu1" class="collapse sub_menu">
            <!-- <div class=""> -->
            <a class="dropdown-item" [routerLink]="['/myprofile/changepassword']">Change Password</a>
            <!-- <a class="dropdown-item" [routerLink]="['/subscription']">Subscriptions</a> -->
            <a class="dropdown-item" href="#">Payment Methods</a>
            <a class="dropdown-item" [routerLink]="['/withdrawal']">Withdrawal</a>
            <!-- <a class="dropdown-item" routerLink="/ ">Payment</a> -->
            <a class="dropdown-item" [routerLink]="['/reading-setting']">Reading Settings</a>
            <!-- <a class="dropdown-item" [routerLink]="['/invite-friends']">Invite Friends</a> -->
            <a class="dropdown-item" data-toggle="modal" data-target="#header-invite" href="javascript:void(0);">Invite
              Friends</a>

            <a class="dropdown-item" routerLink="/ ">Rate Librums on app store</a>
            <a class="dropdown-item" [routerLink]="['/feedback']">Feedback and suggestions</a>
            <a class="dropdown-item" href="#">About Librums</a>
            <a class="dropdown-item" [routerLink]="['/report-an-issue']">Report an Issue</a>
            <a class="dropdown-item" [routerLink]="['/privacy']">Privacy Policy</a>
            <a class="dropdown-item" href="#">Payment</a>
            <a class="dropdown-item" [routerLink]="['/terms']">Terms and Conditions</a>
            <a class="dropdown-item" [routerLink]="['/logout']">Logout</a>
            <!-- </div> -->
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- mobile menu end-->
  </div>
</header>
<!-- header end-->
<div class="container block_user_popup add_story_popup">
  <div class="modal fade" id="log_out">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h2>LIBRUMS</h2>
        </div>
        <div class="modal-body">
          <div class="block_user">
            <p>Are you sure logout</p>
          </div>
        </div>
        <div class="modal-footer">
          <a id="cancelall" class="back_btn add_content" data-dismiss="modal">
            Yes
          </a>
          <a class="back_btn add_content" data-dismiss="modal">
            No
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade custom_forgot_popup show share_icons_popup" id="header-invite">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <img src="assets/img/close.svg" alt="" />
        </button>
      </div>
      <!-- Modal body -->
      <div class="modal-body" style="font-family:baskervillebold">
        <h1><img class="share-it" src="assets/img/share.svg" alt="" />Share</h1>
        <p>
          We have a great range of books for people of all age groups. If you wish to for example, you may want to share
          an interesting article, either by emailing it to friends or tweeting it to the world. If you have a family of
          avid readers, good news: Librums makes it pretty easy to share books with every member of your family.
        </p>
        <!-- <p>
          On a mobile device, sharing should be as simple as clicking the Share button, choosing an app, and choosing
          who to share with. For example, you may want to share an interesting article, either by emailing it to friends
          or tweeting it to the world.
        </p> -->
        <div class="">
          <div class="share_icons_flex">
            <a href="https://www.facebook.com/sharer/sharer.php?u=https://testing.librums.com&quote=I want to share the love of reading books with Librums. Go to https://testing.librums.com or download from App store/Google Play store directly."
              target="_blank" rel="noopener">
              <i class="fa fa-facebook-official" aria-hidden="true"></i>
            </a>
            <a href="https://twitter.com/share?url=https://testing.librums.com&text=I want to share the love of reading books with Librums. Go to https://testing.librums.com or download from App store/Google Play store directly."
              onclick="window.open(this.href);return false;">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="https://www.linkedin.com/shareArticle?mini=true&url=https://testing.librums.com&title=Librums&summary=I want to share the love of reading books with Librums. Go to https://testing.librums.com or download from App store/Google Play store directly.&source=LinkedIn"
              onclick="window.open(this.href);return false;">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
            <a href="http://pinterest.com/pin/create/button/?url=https://testing.librums.com/&description=I want to share the love of reading books with Librums. Go to https://testing.librums.com or download from App store/Google Play store directly."
              onclick="window.open(this.href);return false;">
              <i class="fa fa-pinterest-p" aria-hidden="true"></i>
            </a>
            <a href="mailto:?Subject=Librums:: Share book with your family&amp;Body=I want to share the love of reading books with Librums. Go to https://testing.librums.com or download from App store/Google Play store directly. https://testing.librums.com"
              onclick="window.open(this.href);return false;">
              <i class="fa fa-envelope" aria-hidden="true"></i>
            </a>
            <a href="https://web.whatsapp.com/send?text=I want to share the love of reading books with Librums. Go to https://testing.librums.com or download from App store/Google Play store directly. https://testing.librums.com"
              data-action="share/whatsapp/share" onclick="window.open(this.href);return false;"><i
                class="fa fa-whatsapp" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <!-- Modal footer -->
      <!-- <button type="button" class="site_btn2" data-dismiss="modal">
    CANCEL
  </button> -->

    </div>
  </div>
</div>
<!-- <div class="follow_instruction">
  <div class="container-fluid container_fluid2">
      <div class="follow_info">
          <a routerLink=""><h2>Back</h2></a>
         
      </div>
  </div>
</div> -->