.main_header.login_header{
    padding: 10px 0px;
}
.main_header.login_header,.main_header.login_header .logo3{
    position: relative;
    text-align: center;
}
.logo{
    text-align: center;
}
li.menu_links .dropdown-menu a{
   color: #222;
   transition: 0.3s;
   font-size: 16px;
}
li.menu_links .dropdown-menu a:hover{
    background-image: linear-gradient(481deg, #E65124, #9C9400, #27953E, #53479E);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: 0.3s;
}
.dropdown-menu.drop.first_drop_down{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
    border: none;
    border-radius: 6px;
    transition: 0.3;
    top: 23px !important;
    left: -135px !important;
}
.dropdown-menu.drop.first_drop_down::before{
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    background: #ffffff;
    top: -6px;
    transform: rotate(45deg);
    right: 32px;
    border: 1px solid rgb(255, 255, 255);
    border-right: none;
    border-bottom: none;
    box-shadow: -4px -5px 16px rgba(0, 0, 0, 0.11);
}
#setting {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
li.menu_links{
    position: relative;
}
li.menu_links .dropdown-menu.drop.first_drop_down{
    position: absolute !important;
    top: 53px !important;
    transform: unset !important;
    min-width: 230px;
    width: 100%;
    background: #fff;
    left: -186px !important;
}
li.menu_links a{ 
    white-space: normal;
}
.open_setting{
    margin-right: 0px;
}   
.open_setting ,.open_setting #setting{
    width: 100%;
}
.setting_drop{
    display: none;
    transition: 0.3s;
}
.open_setting:hover .setting_drop{
    transition: 0.3s;
    display: block;
}
#close_setting {
    max-height: 200px;
    overflow-y: scroll;
}
/* width */
#close_setting::-webkit-scrollbar {
    width: 2px;
    border-radius: 30px;
}
  
/* Track */
#close_setting::-webkit-scrollbar-track {
    background: #f3f3f3; 
}
   
/* Handle */
#close_setting::-webkit-scrollbar-thumb {
    background: #888; 
}
  
/* Handle on hover */
#close_setting::-webkit-scrollbar-thumb:hover {
    background: #f4f4f4; 
}
a#setting{
    padding: 0.5rem 1.5rem;
}
li.mobile_dropdown{
    position: relative;
}
li.mobile_dropdown .sub_menu a{
    color: #222;
    transition: 0.3s;
    padding-left: 60px;
}
li.mobile_dropdown .sub_menu a:hover{
    color: #222;
    background-image: linear-gradient(481deg, #E65124, #9C9400, #27953E, #53479E);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: 0.3s;
}
.sub_menu{
    overflow-y: scroll;
    max-height: 162px;
}
.mobile_menu ul li a span {
    color: #222;
}
.mobile_menu ul li a:hover span{
    background-image: linear-gradient(481deg, #E65124, #9C9400, #27953E, #53479E);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: 0.3s;
}
li.menu_links a span{
    color: #1F2F34;
}
li.menu_links a:hover span{
    background-image: linear-gradient(481deg, #E65124, #9C9400, #27953E, #53479E);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: 0.3s;
}
h1 {
    font-family: baskervillenormal !important;
}
.share-it{width: 24px;
    margin-right: 9px;
    vertical-align: text-bottom;}