<!-- footer -->
<footer >
    <div class="container">
        <div class="footer_link">
            <ul>
                <!-- <li><a href="#">Subscribe</a></li> -->
                <li><a target="_blank" routerLink="/terms-conditions">Terms and Conditions</a></li>
                <li><a target="_blank" routerLink="/privacy-policy">Privacy Policy</a></li>
                <!-- <li><a href="#">Report</a></li> -->
                <li><a target="_blank" routerLink="/contact-us">Contact Us</a></li>
                <li><a target="_blank" routerLink="/about-us">About Us</a></li>
            </ul>
        </div>
    </div>
    <div class="copy_right">
        <p>Copyright © 2020 Librums™. All Rights Reserved.</p>
    </div>
</footer>



<!-- forgot popup -->
<div class="container">
    <!-- The Modal -->
    <div class="modal fade custom_forgot_popup" id="forgot">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><img src="assets/img/close.svg" alt=""></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="forgot_txt">
                        <h3>Forgot Password?</h3>
                        <p>Type your username or email below and we’ll send you instructions on how to reset it.</p>
                        <div class="label_input">
                            <input type="text" placeholder="Username or email">
                        </div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="site_btn2" data-dismiss="modal">CANCEL</button>
                    <button type="button" class="site_btn2">SEND INSTRUCTIONS</button>
                </div>

            </div>
        </div>
    </div>

</div>
