<!-- header end-->
<div class="wraper">
  <div *ngIf="showLoader" class="loader">
    <img src="/assets/img/loader.svg" />
  </div>
  <section>
    <div class="container">
      <div class="crasoule_heading_txt m-0">
        <div class="crasoule_heading_txt_left pb-0">
          <h2>Notifications</h2>
          <!-- <p>Your personal book collection</p> -->
        </div>
      </div>
    </div>
    <!-- <div class="notification_screw">
      <div class="d-flex align-items-center justify-content-center">
        <h2>Lorem ipsum dolor sit.</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus, omnis!</p>
        <a href="#" class="site_btn2">Learn More</a>
      </div>
      <span>X</span>
    </div> -->

  </section>

  <section class="hero_section_craousel_mr pt_row">
    <div class="container-fluid container_fluid2">
      <div class="row">
        <div class="col-md-10 m-auto">
          <div class="about_heading follower notification_list" *ngIf="getnotification != ''">
            <!-- <h2>Notifications</h2> -->
            <!-- {{ getnotification | json}} -->
            <div *ngFor="let Notification of getnotification; let i = index">
              <h3 class="date_txt">
                {{ Notification.date | date: "d MMM y" }}
              </h3>

              <div *ngIf="Notification.data" class="notification_viewall">
                <!-- <div class="notification">
                  <div class="txt_notifi">
                    <h2><img src="assets/img/clock2.svg" alt="">4:45 PM</h2>
                    <p>Jasmes Huffman liked less than zero book</p>
                  </div>
                  <div class="follower_pic_img">
                    <img src="assets/img/dp.png" alt="">
                  </div>
                </div> -->

                <div class="notification" *ngFor="let notify of Notification.data">
                  <template *ngIf="notify.type == 'chapter'">
                    <a [routerLink]="['/bookdetail', notify.book_id]">
                      <div class="txt_notifi ">
                        <h2><img src="assets/img/clock2.svg" alt="">{{
                        notify.created_at 
                      }}</h2>
                        <p>{{ notify.message }}</p>

                      </div>
                      <div class="follower_pic_img">
                        <img *ngIf="notify.user_image !== ''" src="{{ baseimage }}{{ notify.user_image }}" alt="" />
                        <img *ngIf="notify.user_image == ''" src="assets/images/img_user1.svg" alt="" />
                      </div>
                    </a>
                  </template>
                  <!-- <template *ngIf="notify.type == 'chapter'">
                    <a [routerLink]="['/bookdetail', notify.book_id]">
                     <div class="txt_notifi d-flex align-items-center">
                      <div class="follower_pic_img">
                        <img *ngIf="notify.user_image !== ''" src="{{ baseimage }}{{ notify.user_image }}" alt="" />
                        <img *ngIf="notify.user_image == ''" src="assets/images/img_user1.svg" alt="" />
                      </div>
                      <div class="txt_notifi_details">
                        <p>{{ notify.message }}</p>
                        <h2 class="mb-0">
                          <img src="assets/img/clock2.svg" alt="" />{{
                          notify.created_at 
                        }}
                        </h2>
                        <hr>
                      </div>
                    </div>
                    </a>
                  </template> -->
                  <template *ngIf="notify.type == 'notification'">
                    <!-- <div class="txt_notifi d-flex align-items-center">
                      <div class="follower_pic_img">
                       <img class="notification_logo" src="assets/img/notification_logo.svg" alt="" />
                      </div>
                      <div class="txt_notifi_details">
                        <p>{{ notify.message }}</p>
                        <h2 class="mb-0">
                          <img src="assets/img/clock2.svg" alt="" />{{
                          notify.created_at 
                        }}
                        </h2>
                        <hr>
                      </div>
                    </div> -->
                    <div class="txt_notifi ">
                      <h2><img src="assets/img/clock2.svg" alt="">{{
                        notify.created_at 
                      }}</h2>
                      <p>{{ notify.message }}</p>

                    </div>
                    <div class="follower_pic_img">
                      <img class="notification_logo" src="assets/img/notification_logo.svg" alt="" />
                    </div>

                  </template>
                  <template *ngIf="notify.type == 'like'">
                    <a [routerLink]="['/authorprofile', notify.created_by]">

                      <div class="txt_notifi ">
                        <h2><img src="assets/img/clock2.svg" alt="">{{
                          notify.created_at 
                        }}</h2>
                        <p>{{ notify.message }}</p>

                      </div>
                      <div class="follower_pic_img">
                        <img *ngIf="notify.user_image !== ''" src="{{ baseimage }}{{ notify.user_image }}" alt="" />
                        <img *ngIf="notify.user_image == ''" src="assets/images/img_user1.svg" alt="" />
                      </div>


                    </a>
                  </template>
                  <template *ngIf="notify.type == 'other_wall'">
                    <a [routerLink]="['/myprofile']">
                      <div class="txt_notifi ">
                        <h2><img src="assets/img/clock2.svg" alt="">{{
                          notify.created_at 
                        }}</h2>
                        <p>{{ notify.message }}</p>

                      </div>
                      <div class="follower_pic_img">
                        <img *ngIf="notify.user_image !== ''" src="{{ baseimage }}{{ notify.user_image }}" alt="" />
                        <img *ngIf="notify.user_image == ''" src="assets/images/img_user1.svg" alt="" />
                      </div>
                    </a>
                  </template>
                  <template *ngIf="notify.type == 'my_wall'">
                    <a [routerLink]="['/authorprofile', notify.created_by]">
                      <div class="txt_notifi ">
                        <h2><img src="assets/img/clock2.svg" alt="">{{
                          notify.created_at 
                        }}</h2>
                        <p>{{ notify.message }}</p>

                      </div>
                      <div class="follower_pic_img">
                        <img *ngIf="notify.user_image !== ''" src="{{ baseimage }}{{ notify.user_image }}" alt="" />
                        <img *ngIf="notify.user_image == ''" src="assets/images/img_user1.svg" alt="" />
                      </div>
                    </a>
                  </template>
                  <template *ngIf="notify.type == 'follow'">
                    <a [routerLink]="['/authorprofile', notify.created_by]">
                      <div class="txt_notifi ">
                        <h2><img src="assets/img/clock2.svg" alt="">{{
                          notify.created_at 
                        }}</h2>
                        <p>{{ notify.message }}</p>

                      </div>
                      <div class="follower_pic_img">
                        <img *ngIf="notify.user_image !== ''" src="{{ baseimage }}{{ notify.user_image }}" alt="" />
                        <img *ngIf="notify.user_image == ''" src="assets/images/img_user1.svg" alt="" />
                      </div>
                    </a>
                  </template>
                  <template *ngIf="notify.type == 'comment'">
                    <a [routerLink]="[
                        '/readchapter',
                        notify.book_id,
                        notify.chapter_id
                      ]">
                      <div class="txt_notifi ">
                        <h2><img src="assets/img/clock2.svg" alt="">{{
                          notify.created_at 
                        }}</h2>
                        <p>{{ notify.message }}</p>

                      </div>
                      <div class="follower_pic_img">
                        <img *ngIf="notify.user_image !== ''" src="{{ baseimage }}{{ notify.user_image }}" alt="" />
                        <img *ngIf="notify.user_image == ''" src="assets/images/img_user1.svg" alt="" />
                      </div>
                    </a>
                  </template>
                </div>
              </div>
            </div>
          </div>
          <div class="container-fluid" *ngIf="getnotification == ''">
            <!-- <div class="crasoule_heading_txt_left">
              <h2>Notifications</h2>
            </div> -->
            <div class="searching_book text-center">
              <img src="assets/img/image_noti.svg" alt="" />
              <h2 class="mt-4">
                Please maintain silence! There is no notification till now!
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>