.about_heading.follower.notification_list {
    max-width: 1250px;
}
h3.date_txt {
    font-size: 16px;
    font-family: 'baskervillebold';
    color: #222;
}
.notification template{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.notification template a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.follower_pic_img img{
    border-radius: 50%;
}
.crasoule_heading_txt_left{
    padding-top: 50px;
    padding-bottom: 40px;
}
.searching_book.text-center {
    padding-top: 33px;
}

.hero_section_craousel_mr {
    margin-top: 0px;
}
.searching_book.text-center h2.mt-4 {
    font-size: 34px;
}
.text-center img {
    width: 700px;
}