.row.border_card.hover_ef {
    position: relative;
  }
  .row.border_card.hover_ef .rectangle {
    position: absolute;
    top: -17px;
    left: -27px;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
  }
  .row.border_card.hover_ef:hover .rectangle {
    opacity: 1;
    visibility: visible;
    transition: 0.3s;
  }
  .explore_txt h2 {
    padding-top: 32px;
  }
  .dots img {
    width: inherit;
  }
  .item.row.border_card.hover_ef .rectangle {
    width: 156px;
    top: -20px;
    left: -20px;
  }
  .dots {
    position: absolute;
    top: 0;
    right: 0;
  }
  .dots #show_dots {
    left: -188px !important;
    top: 2px !important;
  }
  #show_dots a.dropdown-item {
    color: #222;
    transition: 0.3s;
    font-size: 14px;
    padding: 4px 20px;
    font-family: "baskervillebold";
  }
  #show_dots a.dropdown-item:hover {
    background: linear-gradient(481deg, #e65124, #9c9400, #27953e, #53479e);
    color: #fff;
    transition: 0.3s;
  }
  .txt_silde_profile a {
    font-size: 18px;
    color: #414141;
    font-family: "baskervillebold";
    margin-bottom: 4px;
  }
  .txt_silde_profile a:hover{
    text-decoration: underline !important;
  }
  .txt_silde_profile a span{
    font-family: "baskerville";
  }
  li.more_btns {
    margin-top: 3px;
}
.txt_silde_profile p{
  font-family: "baskervillebold";
}
li.more_btns a {
  margin: 0;
  padding: 0 !important;
}
  .read_more p {
    font-family: "baskerville";
    margin-bottom: 10px;
    font-size: 18px;
    text-align: justify;
  }
  .carousel_slides.carousel_slides_card {
    width: 100%;
  }
  .carousel_slides {
    background: none;
  }
  
  .read_more a {
    background-image: linear-gradient(481deg, #e65124, #9c9400, #27953e, #53479e);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 15px;
    padding-left: 10px;
    font-family: "baskervillebold";
  }
  button.owl-next.disabled,
  button.owl-prev.disabled {
    display: none !important;
  }
  
  button.owl-prev span,
  button.owl-next span {
    border: 1px solid;
    padding: 20px;
    border-radius: 50%;
    width: 52px;
  }
  
  .dots img {
    margin: auto;
  }
  .modal.fade.custom_forgot_popup.show.share_icons_popup .modal-dialog {
    margin-top: 200px;
  }
  .modal.fade.custom_forgot_popup button.close {
    outline: none;
  }
  .carousel_slides.carousel_slides_card .carousel_slides_img {
    position: relative;
  }
  .card_btn_list ul {
    margin-right: 50px;
  }
  .card_btn_list ul li a {
    color: #fff;
    margin-bottom: 4px;
  }
  
  button#dropdownMenuButton:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    transition: 0.3s;
  }
  .dropdown-toggle::after,
  .dropleft .dropdown-toggle::before {
    display: none;
  }
  .dropdown.dropleft .dropdown-menu {
    top: 30px !important;
    left: 33px !important;
  }
  .dropdown-menu a {
    font-size: 14px;
    font-family: "baskervillebold";
    padding: 5px 17px;
    color: #222;
  }
  .card_btn_list2 a {
    display: flex;
    color: #222;
  }
  .carousel_slides_txt {
    white-space: inherit;
  }
  .carousel_slides_txt .read_more p {
    word-break: inherit;
    line-height: 24px;
  }
  h4.eighteen_plus::before {
    position: absolute;
    content: "";
    min-width: 130px;
    height: 119px;
    background: #bf1b1b;
    right: -14px;
    transform: rotateZ(-39deg);
    right: -52px;
    z-index: -1;
  }
  h4.eighteen_plus {
    position: absolute;
    z-index: 9999;
    top: -33px;
    right: 0px;
    background: none;
    transform: unset !important;
    padding: 0;
    padding-right: 7px;
  }
  .carousel_slides_img {
    overflow: hidden;
  }
  .read_more p {
    margin-right: 50px;
  }
  .dropdown-menu a {
    font-size: 14px;
    font-family: "baskervillebold";
    padding: 5px 17px;
    color: #222;
  }
  .dropdown.dropleft .dropdown-menu {
    top: 50px;
    left: 27px;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 0px 10px hsla(0, 0%, 0%, 0.22);
  }
  .col-md-12.col-lg-6.col-xl-6.mb-5 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.23);
    padding-bottom: 23px;
  }
  .dots {
    position: absolute;
    top: 0;
    right: 20px;
  }
  button#dropdownMenuButton {
    background: #fff;
    border: none;
    line-height: 30px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    outline: none;
    padding: 0px 14px;
  }
  .txt_silde_profile a {
    font-size: 22px;
    color: #222;
    font-family: "baskervillebold";
    margin-bottom: 4px;
    text-decoration: underline !important;
  }
  
  .crasoule_heading_txt_left {
    padding-top: 50px;
    padding-bottom: 40px;
  }
  .crasoule_heading_txt {
    margin-bottom: 0;
  }
  .crasoule_heading_txt_left h2 {
    font-size: 30px;
  }
  .hero_section_craousel_mr {
    margin-top: 0;
  }
  .rectangle {
    position: absolute;
  }
  
  
  .carousel_slides.carousel_slides_card .carousel_slides_img img {
    transition: 0.3s;
  }
  .carousel_slides.carousel_slides_card .carousel_slides_img:hover img {
    transform: scale(1.2);
    transition: 0.3s;
  }
  .carousel_slides.carousel_slides_card .carousel_slides_img:hover div {
    transform: scale(1.2);
    transition: 0.3s;
  }
  
  .crasoule_heading_txt_left {
    padding-top: 68px;
    padding-bottom: 39px;
    text-transform: capitalize;
}

.read_more a {
  background-clip: text;
  -webkit-background-clip: text;
  color: #222;
  font-size: 18px;
  font-family: baskerville;
  font-weight: 600;
  /* float: right; */
}
.crasoule_heading_txt_right a:hover {
  text-decoration: underline !important;
}