<div class="wraper">
        <div *ngIf="showLoader" class="loader"><img src="/assets/img/loader.svg"></div>

    <section>
        <div class="container">
            <div class="crasoule_heading_txt">
              <div class="crasoule_heading_txt_left" *ngFor="let stories of bookshelfdata; let i = index">
                <h2 *ngIf="i == 0">Stories <span *ngIf="type == 'like'">Liked</span> by {{userName}}</h2>
              </div>
            </div>
        </div>
    </section>
    <section class="hero_section_craousel_mr hide_img book_shlf book_pd all_size">
        <div class="container" *ngIf="bookshelfdata != ''" >
            <div class="row">
                 <div class="col-md-12 col-lg-6 col-xl-6 mb-5" *ngFor="let stories of bookshelfdata; let i = index">
                    <div class="carousel_slides carousel_slides_card">
            <div class="carousel_slides_img_outside over_flow">
                <div *ngIf="stories.is_blocked;" class="carousel_slides_img block_img_txt" >
                 <a *ngIf="stories.cover_image !== '';" data-toggle="modal" data-target="#forgot"><img
                    src="{{baseurl}}{{stories.cover_image}}" alt="" />
                    <div class="block_txt">
                      <h3>Blocked</h3>
                    </div>
                  </a>
                    <a *ngIf="stories.cover_image == '';"
                    data-toggle="modal" data-target="#forgot">
                      <div class="patahani-cover">
                        <h2 class="patahani-h2">{{stories.title}}

                           
                        </h2>
                        
                      </div>
                    </a>
                    <div class="block_txt">
                      <h3>Blocked</h3>
                    </div>

                    <!-- <div class="rectangle">
                        <img src="assets/img/Rectangle.svg" alt="">
                    </div> -->
                    
                </div>
                <div *ngIf="!stories.is_blocked;" class="carousel_slides_img " >
                  <a *ngIf="stories.cover_image !== '';" [routerLink]="['/singlebook', stories._id]"><img
                    src="{{baseurl}}{{stories.cover_image}}" alt="" /></a>
                    <a *ngIf="stories.cover_image == '';"
                    [routerLink]="['/singlebook', stories._id]">
                      <div class="patahani-cover">
                        <h2 class="patahani-h2">{{stories.title}}</h2>
                      </div>
                      
                    </a>

                    <div class="plus_18" *ngIf="stories.not_for_below_eighteen">
                        <h4 class="eighteen_plus">18+</h4>
                    </div>
                </div>
               
            </div>
            
            <div class="carousel_slides_txt">
                
                <h2>{{ stories.title }}  <span>
                  </span></h2>
                <div class="carousel_slides_txt_profile ">
                
                    <div class="txt_silde_profile">
                        <p *ngIf="stories.is_chapter_drafted">Last Drafted On : {{ stories.chapter_updated_at | date }}</p>
                        <p *ngIf="!stories.is_chapter_drafted">Last Updated On : {{ stories.chapter_updated_at | date }}</p>
                    </div>
                </div>
                <div class="read_more mt-3">
                    <p>
                        {{ stories.description | slice: 0:150 }}{{(stories.description.length > 150)?'...':''}}
                        <span>
                          <a  *ngIf="!stories.is_blocked;" [routerLink]="['/singlebook', stories._id]"
          >Read More
          <!-- <svg _ngcontent-apc-c6="" aria-hidden="true" class="" fill="none" height="24" stroke="#222222" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24"><g _ngcontent-apc-c6=""><polyline _ngcontent-apc-c6="" points="9 18 15 12 9 6"></polyline></g></svg> -->
          </a>
          </span
      >
    </p>
  </div>
  <div class="card_btn_list">
    <ul *ngIf="stories.tags">
      <template *ngFor="let storiestag of stories.tags; let i = index">
        <li  *ngIf="i < 3">
     
    
        <a *ngIf="i < 3" (click)="searchTag(storiestag)">{{ storiestag }}</a>
      </li></template>
      <li *ngIf="stories.tags.length > 3" class="more_btns">
        <a [routerLink]="['/singlebook', stories._id]"
          >+ {{ stories.tags.length - 3 }} more</a
        >
      </li>
    </ul>
  </div>
  <div class="card_btn_list2">
    <a
      ><img src="assets/img/eye.svg" alt="" />{{ stories.views }}</a
    >
    <a
      ><img src="assets/img/favorite.svg" alt="" />{{
        stories.likes
      }}</a
    >
    <a
      ><img src="assets/img/share.svg" alt="" />{{
        stories.no_of_shares
      }}</a
    >
    <a
      ><img src="assets/img/open_book.svg" alt="" />{{
        stories.no_of_chapter
      }}</a
    >
  </div>
  
</div>
</div>


    </div>

</div>
    </div>

        <div class="container-fluid" *ngIf="!bookshelfdata">
                <div class="text-center">
                    <img src="assets/img/searchbook.svg" alt="">
                    <h2 class="mt-4">No bookself added!</h2>
                </div>
            </div>

        <div class="container">
            <!-- <div class="add add_index">
                <img src="assets/img/add.png" alt="">
            </div> -->
        </div>

        <div class="text-center" *ngIf="pagenumber">
            <ul class="pagnumber" *ngIf="pagenumber > 1">
                <li *ngFor='let in of counter(pagenumber) ;let i = index'>
                  <a class="item-list {{(i == activepage)? 'active' :'' }}" href="javascript:void(0);" (click)="pageChange(i)">{{i+1}}</a>
                </li>
            </ul>
          </div>

    </section>
</div>

