<div id="global-loader"></div>
<div class="dash_header">
  <div class="mobile_header">
    <div class="app-header header py-1 d-flex">
      <div class="container-fluid custom_fluid">
        <div class="mobile_show_logo">
          <a class="header-brand custom_header_brand" routerLink="/dashboard">
            <img src=assets/img/logo.png class="header-brand-img d-none d-sm-block" alt="" />
          </a>
        </div>
        <div class="d-flex flex_row_custom">
          <div class="">
            <div class="container-fluid container_fluid2">
              <div class="flex_header">
                <div class="header_icon_left">
                  <ul> 
                    <li class="">
                      <a class="" routerLink="/dashboard" routerLinkActive="active"> <img
                          src="assets/images/dashboard1.svg" alt="" style="height: 16px"> <span class="">Dashboard</span></a>
                    </li>
                    <li class="">
                      <a class="" routerLink="/users" routerLinkActive="active"><img src="assets/images/users.svg"
                          alt="" style="height: 17px"><span class="">Users</span></a>
                    </li>
                    <li class="">
                      <a class="" routerLink="/manage-books" routerLinkActive="active"><img
                          src="assets/images/books.svg" alt="" style="height: 17px"><span class="">Books</span></a>
                    </li>
                    <li class="">
                      <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                          <img src="assets/images/payments.svg" alt="">Payments <i class="arrow down"></i>
                        </button>
                        <ul class="dropdown-menu mt-2">
                          <li>
                            <a routerLink="/chapter-payments" routerLinkActive="active"><i
                              class="dropdown-icon mdi mdi-account-outline "></i>Chapters</a>
                          </li>
                          <li>
                            <a routerLink="/subscription-payments" routerLinkActive="active"><i
                              class="dropdown-icon mdi mdi-account-outline "></i>Subscriptions</a>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <!-- <li class="">
                      <a
                        class=""
                        routerLink="/message-board"
                        routerLinkActive="active"
                        ><span class="">Messages</span></a
                      >
                    </li> -->
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="dash_logo">
            <a class="" routerLink="/dashboard">
              <img src="assets/img/librum_logo_dashborad.png" class="" alt="" />
            </a>
          </div>
          <div class="">
            <div class="container-fluid container_fluid2">
              <div class="flex_header">
                <div class="header_icon_left">
                  <ul>
                    <li class="">
                      <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                          <img src="assets/images/messages.svg" alt="">Messages <i class="arrow down"></i>
                        </button>
                        <ul class="dropdown-menu mt-2">
                         
                          <li>
                            <a class="" routerLink="/reported-issues" routerLinkActive="active"><i
                              class="dropdown-icon mdi mdi-account-outline "></i>Reported 
                                Issues</a>
                          </li>
                          <li>
                            <a class="pr-6" routerLink="/feedbacks-and-suggestions" routerLinkActive="active"
                              ><i
                              class="dropdown-icon mdi mdi-account-outline "></i>Feedback and Suggestions
                              </a
                            >
                          </li>
                          <!-- <li class="">
                            <a class="" routerLink="/book-report" routerLinkActive="active"><span class="">Book
                                Reports</span></a>
                          </li> -->
                          <li class="">
                            <a class="" routerLink="/manage-notifications" routerLinkActive="active"><i
                              class="dropdown-icon mdi mdi-account-outline "></i>Manage Notifications</a>
                          </li>
                          <li>
                            <a class="" routerLink="/manage-contact-us" routerLinkActive="active"><i
                              class="dropdown-icon mdi mdi-account-outline "></i>Contact Us 
                                </a>
                          </li>

                          <!-- <li>
                            <a routerLink="/announcement" routerLinkActive="active"><span>Announcements</span></a>
                          </li> -->
                        </ul>
                      </div>
                    </li>
                    <li class="">
                      <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                          <img src="assets/images/manage.svg" style="top: -6px;" alt=""> Manage <i
                            class="arrow down"></i>
                        </button>
                        <ul class="dropdown-menu mt-2">
                          <li>
                            <a routerLink="/manage-slider" routerLinkActive="active"><i
                              class="dropdown-icon mdi mdi-account-outline "></i>Homepage Sliders</a>
                          </li>
                          <li>
                            <a routerLink="/manage-content-type" routerLinkActive="active"><i
                              class="dropdown-icon mdi mdi-account-outline "></i>Content Types</a>
                          </li>
                          <li>
                            <a routerLink="/manage-copyright" routerLinkActive="active"><i
                              class="dropdown-icon mdi mdi-account-outline "></i>Copyrights</a>
                          </li>
                          <li>
                            <a routerLink="/manage-genre" routerLinkActive="active"><i
                              class="dropdown-icon mdi mdi-account-outline "></i>Genres</a>
                          </li>
                          <li>
                            <a routerLink="/manage-pages" routerLinkActive="active"><i
                              class="dropdown-icon mdi mdi-account-outline "></i>Pages</a>
                          </li>
                          <li>
                            <a routerLink="/manage-subscription" routerLinkActive="active"><i
                              class="dropdown-icon mdi mdi-account-outline "></i>Subscriptions</a>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li class="">
                      <div class="dropdown">
                        <button routerLinkActive="active" class="btn btn-primary dropdown-toggle" type="button"
                          data-toggle="dropdown">
                          <img src="assets/images/profile.svg" style="top: -6px;" alt=""> <i
                            class="arrow down"></i>
                        </button>
                        <ul class="dropdown-menu mt-2">
                          <li>
                            <span class="dropdown-item"><i
                                class="dropdown-icon mdi mdi-account-outline "></i>Welcome {{fullname}},</span>
                          </li>
                          <li>
                            <a class="dropdown-item" [routerLink]="['/profile', admin_id]"><i
                                class="dropdown-icon mdi mdi-account-outline "></i>Profile</a>
                          </li>
                          <li>
                            <a class="dropdown-item" routerLink="/change-password"><i
                                class=" dropdown-icon mdi mdi-account-outline "></i>Change Password</a>
                          </li>
                          <div class="dropdown-divider "></div>
                          <li>
                            <a class="dropdown-item " routerLink="/logout">
                              <i class="dropdown-icon mdi mdi-logout-variant "></i>Logout</a>
                          </li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="dash_header_mobile_menu">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="header-brand custom_header_brand" routerLink="/dashboard">
      <img style="width: 200px;" src="assets/img/logo.png" class="" alt="" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="">
          <a class="" routerLink="/dashboard" routerLinkActive="active"><span class="">Dashboard</span></a>
        </li>
        <li class="">
          <a class="" routerLink="/users"><span class="">Users</span></a>
        </li>
        <li class="">
          <a class="" routerLink="/manage-books"><span class="">Books</span></a>
        </li>
        <li class="">
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
              Payments <span class="caret"></span>
            </button>
            <ul class="dropdown-menu mt-2">
              <li>
                <a routerLink="/chapter-payments">Chapters</a>
              </li>
              <li>
                <a routerLink="/subscription-payments">Subscriptions</a>
              </li>
            </ul>
          </div>
        </li>

        <li class="">
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
              Messages<span class="caret"></span>
            </button>
            <ul class="dropdown-menu mt-2">
             
              <li>
                <a class="" routerLink="/reported-issues" routerLinkActive="active">Reported
                    Issues</a>
              </li>

              <li class="">
                <a class="" routerLink="/book-report" routerLinkActive="active">Book
                    Reports</a>
              </li>
              <li class="">
                <a class="" routerLink="/manage-notifications" routerLinkActive="active">Manage
                    Notifications</a>
              </li>

              <li>
                <a routerLink="/announcement" routerLinkActive="active"><span>Announcements</span></a>
              </li>
              <li>
                <a class="" routerLink="/manage-contact-us" routerLinkActive="active">
                    Contact Us</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="">
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
              Manage<span class="caret"></span>
            </button>
            <ul class="dropdown-menu mt-2">
              <li>
                <a routerLink="/manage-content-type">Content Type</a>
              </li>
              <li>
                <a routerLink="/manage-copyright">Copyrights</a>
              </li>
              <li><a routerLink="/manage-genre">Genre</a></li>
              <li><a routerLink="/manage-pages">Pages</a></li>
              <li>
                <a routerLink="/manage-subscription">Subscription</a>
              </li>
              <li>
                <a routerLink="/manage-slider">HomePage Sliders</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="">
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
              Profile <span class="caret"></span>
            </button>
            <ul class="dropdown-menu mt-2">
              <li>
                <a class="dropdown-item" [routerLink]="['/profile', admin_id]"><i
                    class="dropdown-icon mdi mdi-account-outline "></i>Edit</a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="/change-password"><i
                    class=" dropdown-icon mdi mdi-account-outline "></i>Change
                  Password</a>
              </li>
              <div class="dropdown-divider "></div>
              <li>
                <a class="dropdown-item " routerLink="/logout">
                  <i class="dropdown-icon mdi mdi-logout-variant "></i>Sign
                  out</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>