@media only screen and (max-width: 767px) {
    .mobile_header a.header-brand.custom_header_brand img.header-brand-img.d-none.d-sm-block {
        display: block !important;
    }
    .mobile_header .dropdown.d-none.d-md-flex.mobile_pic_header{
        display: block !important;
    }
    .mobile_header .dropdown .mobile_dropdown{
        height: 100%;
    }
    .mobile_header img.header-brand-img.d-none.d-sm-block{
        width: 140px;
    }
}

ul.dropdown-menu {
    display: none;
}
ul.dropdown-menu.show {
    display: block;
}
button.btn.btn-primary.dropdown-toggle {
    background: none;
    border: none;
    box-shadow: none;
    color: #1F2F34;
    font-family: 'baskervillenormal';
    letter-spacing: 0.8px;
    font-size: 18px;
}
.dash_header .dropdown ul.dropdown-menu li span {
    font-size: 20px;
    font-weight: 400;
    color: #222;
    font-family: "baskervillenormal";
    letter-spacing: 0.8px;
    display: flex;
    -webkit-box-align: baseline;
    align-items: baseline;
    padding: 8px 8px;
    background: #e1e1e1;
    border-bottom: 2px solid #c1c1c1;
}