share-buttons {
    text-align: center;
}
#forgot .modal-dialog{
    margin: 8.75rem auto;
}
#forgot button.close{
    outline: none;
}
.form-control:focus{
    box-shadow: none;
    border-color: #222;
}
.label_input input{
    border-radius: inherit !important;
}
#forgot button.site_btn2{
border-bottom: none;
}
.modal.fade.custom_forgot_popup.show.share_icons_popup .modal-dialog{
    margin-top: 200px !important;
}


i.fa.fa-whatsapp {
    color: #25c825 !important;
}
.site_btn{
    font-family: 'baskervillebold';
    font-size: 16px;
    margin-top: 30px;
}
.about_heading {
    min-height: 600px;
}
