<div class="wraper">
    <section class="hero_section_craousel_mr pt_row">
        <div class="container-fluid container_fluid2">
            <div class="about_heading">
                <h2>Share App</h2>
                <p>
                    On a mobile device, sharing should be as simple as clicking the Share button, choosing an app, and choosing who to share with. For example, you may want to share an interesting article, either by emailing it to friends or tweeting it to the world.
                </p>
                <div class="text-center">
                    <a href="#" data-toggle="modal" data-target="#forgot" class="site_btn">Share?</a>
                </div>
               </div>
               
        </div>
        
        <div class="modal fade custom_forgot_popup show share_icons_popup" id="forgot">
            <div class="modal-dialog">
                <div class="modal-content">
                       <!-- Modal Header -->
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                               <img src="assets/img/close.svg" alt="" />
                            </button>
                        </div>
                        <!-- Modal body -->
                        <div class="modal-body">
                                <h2>Share Apps</h2>
                                <p>
                                    On a mobile device, sharing should be as simple as clicking the Share button, choosing an app, and choosing who to share with. For example, you may want to share an interesting article, either by emailing it to friends or tweeting it to the world.
                                </p>
                                <div class="share_icons_flex">
                                        <div class="share_icons_flex">
                                                <a href="https://www.facebook.com/sharer/sharer.php?u=https://testing.librums.com&quote=If you have a family of avid readers, good news: librums makes it pretty easy to share books with every member of your family, So here it is please check my latest book." target="_blank" rel="noopener">
                                                    <i class="fa fa-facebook-official" aria-hidden="true"></i>
                                                </a>
                                                <a href="https://twitter.com/share?url=https://testing.librums.com&text=If you have a family of avid readers, good news: librums makes it pretty easy to share books with every member of your family, So here it is please check my latest book." onclick="window.open(this.href);return false;">
                                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                                </a>
                                                <a href="https://www.linkedin.com/shareArticle?mini=true&url=https://testing.librums.com&title=Librums&summary=If you have a family of avid readers, good news: librums makes it pretty easy to share books with every member of your family, So here it is please check my latest book.&source=LinkedIn" onclick="window.open(this.href);return false;">
                                                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                                                </a>
                                                <a href="mailto:?Subject=Share Book With your Family&amp;Body=If you have a family of avid readers, good news: librums makes it pretty easy to share books with every member of your family, So here it is please check my latest book. https://testing.librums.com" onclick="window.open(this.href);return false;">
                                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                                </a>
                                                <a href="https://web.whatsapp.com/send?text=https://testing.librums.com&quote=If you have a family of avid readers, good news: librums makes it pretty easy to share books with every member of your family, So here it is please check my latest book." data-action="share/whatsapp/share"><i class="fa fa-whatsapp" aria-hidden="true" onclick="window.open(this.href);return false;"></i></a>
                                        </div>
                                </div>
                        </div>
                        <!-- Modal footer -->
                        <!-- <button type="button" class="site_btn2" data-dismiss="modal">
            CANCEL
          </button> -->
                       
                 </div>
            </div>
        </div>
    </section>
</div>
