.form_edit_book {
  padding-top: 30px;
  padding-bottom: 5px;
}
.promocode_txt p {
  font-size: 16px;
  color: #222;
  margin: 0;
  font-weight: 500;
}
.promocode_txt span {
  font-size: 16px;
  color: #414141;
  display: block;
  margin-top: 10px;
}
.app-content .side-app {
  padding-bottom: 50px;
}
