<div class="page">
  <div *ngIf="showLoader" class="loader">
    <img src="/assets/img/loader.svg" />
  </div>
  <div class="page-main">
    <!-- Sidebar menu-->
    <div class="app-content  my-3 my-md-5" *ngIf="getReport">
      <div class="side-app">
        <div class="page-header">
          <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item">
              <a [routerLink]="['/dashboard']">Dashboard</a>
            </li>
            <li class="breadcrumb-item">
              <a [routerLink]="['/book-report']"> Book Reports</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              View Report
            </li>
          </ol>
        </div>
        <div class="form_edit_book pl-5 pr-5">
          <div class="row">
            <div class="col-md-12">
              <div class="promocode_txt">
                <p>Name</p>
                <span style="text-transform: capitalize;">{{ getReport.user_name }}</span>
              </div>
            </div>
            <div class="col-md-12">
              <div class="promocode_txt">
                <p>Issue Type</p>
                <span style="text-transform: capitalize;">{{ getReport.type }}</span>
              </div>
            </div>
            <div class="col-md-12">
              <div class="promocode_txt">
                <p>Message</p>
                <span>{{ getReport.content }}.</span>
              </div>
            </div>
            <!-- </form> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
