<div class="page">
        <div *ngIf="showLoader" class="loader"><img src="/assets/img/loader.svg"></div>
    <div class="page-main">
        <!-- sidebar area -->
        <div class="app-content  my-3 my-md-5">
            <div class="side-app">
                <div class="page-header">
                    <!-- <h4 class="page-title">View Manage Content</h4> -->
                    <ol class="breadcrumb">
                            <li class="breadcrumb-item ">
                                    <a [routerLink]="['/dashboard']">Dashboard</a>
                                </li>
                                <li class="breadcrumb-item ">
                                        <a [routerLink]="['/users']"> Users</a>
                                    </li>
                                <li class="breadcrumb-item  active" aria-current="page ">
                                        User Contents
                                </li>

                          
                        </ol>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">User Contents</div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <div id="example_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer view_user_table_component">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <table datatable class="table row-border hover" *ngIf="temp" class="table-bordered" role="grid" aria-describedby="example_info">
                                                    <thead>
                                                        <tr role="row">
                                                            <th class="wd-15p sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-sort="ascending" aria-label="First name: activate to sort column descending" style="width: 100px;">
                                                                #
                                                            </th>
                                                            <th class="wd-15p sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Last name: activate to sort column ascending" style="width: 172px;">
                                                                Author Name
                                                            </th>
                                                            <th class="wd-20p sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width:178px;">
                                                                Title
                                                            </th>
                                                            <th class="wd-15p sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width:321px;">
                                                                Description
                                                            </th>
                                                            <th class="wd-10p sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 200px;">
                                                                Cover Image
                                                            </th>
                                                            <th class="wd-10p unsort" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 100px;">
                                                                
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr role="row" class="odd" *ngFor="let manage of viewdata; let i = index">
                                                            <td class="sorting_1">{{ i + 1 }}</td>
                                                            <td>{{ manage.author_name }}</td>
                                                            <td>{{ manage.title }}</td>
                                                            <!-- <td>{{ manage.description | slice: 0:50 }}...</td> -->
                                                            <td class="view_elips">{{ manage.description }}</td>
                                                            <td>
                                                                <template *ngIf="manage.cover_image; else other_content">
                                  <img
                                    src="{{ baseimage }}{{
                                      manage.cover_image
                                    }}"
                                    alt=""
                                    style="height: 134px; width:100px;"
                                  />
                                </template>
                                                                <ng-template #other_content>
                                                                    <div class="blank_dp">
                                                                        <p>Lorems</p>
                                                                    </div>
                                                                </ng-template>
                                                            </td>
                                                            <td>
                                                                <div class="flex_fa_icons ">
                                                                    <a [routerLink]="[
                                      '/view-manage-content',
                                      manage._id
                                    ]"><img src="assets/images/view.png " alt=" " /></a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- table-wrapper -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
