table.dataTable tbody td .blank_dp{
    background-image: linear-gradient(481deg, #E65124, #9C9400, #27953E, #53479E);
    width: 100px;
    height: 134px;
    position: relative;
    
}
table.dataTable tbody td .blank_dp p{
    position: absolute;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    top: 40%;
    margin-bottom: 0px;
    left: 0;
    right: 0;
    text-align: center;
}
table.dataTable tbody td.view_elips{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 60px;
}
