<div class="wraper">
  <section class="hero_section_craousel_mr pt_row">
    <div class="container">

      <div class="about_heading follower change_password feedback">
        <h2>Report an Issue</h2>
        <form [formGroup]="reportForm" class="issue_report all_custom_placeholders" (ngSubmit)="onSubmit()">
          <div class="label_input">
            <div class="dropdown reports_drops">
              <button type="button" id="text_change" class="dropdown-toggle custom_drops_down" data-toggle="dropdown">
                Select your issue
              </button>
              <div class="dropdown-menu">
                <ul *ngIf="getreportissue">
                  <li *ngFor="let issue of getreportissue; let i = index" class="dropdown-item">
                    <div class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input" formControlName="type"
                        [attr.data-text]="issue.value.name" id="customRadio{{i}}" value="{{issue.value.slug}}"
                        [ngClass]="{ 'is-invalid': submitted && f.type.errors }" />
                      <label class="custom-control-label" for="customRadio{{i}}">{{issue.value.name}}</label>

                    </div>
                  </li>
                </ul>
              </div>

            </div>
            <div *ngIf="submitted && f.type.errors" class="invalid-feedback" style="display: block">
              <div *ngIf="f.type.errors.required">
                Report issue type is required.
              </div>
            </div>
          </div>
          <div class="label_input">
            <textarea maxlength="1000" [ngClass]="{ 'is-invalid': submitted && f.content.errors }" cols="30" rows="5"
              placeholder="Enter your issue" formControlName="content"></textarea>
            <div *ngIf="submitted && f.content.errors" class="invalid-feedback">
              <div *ngIf="f.content.errors.required">
                Report content is required.
              </div>
            </div>
          </div>

          <div class="login_btn">
            <button [disabled]="loading" class="site_btn">Submit</button>

          </div>
        </form>
      </div>
    </div>
  </section>
</div>