.issue_report .label_input .dropdown .dropdown-menu ul li .custom-control.custom-radio .custom-control-label {
    width: 100%;
    color:black;
}

.login_btn button.site_btn {
    
    font-family: 'baskervillebold';
   
}

.dropdown-item:hover,
.dropdown-item:focus {
    -webkit-text-fill-color: #222;
}
.about_heading.follower.change_password{
    min-height: 600px;
}
textarea {
    width: 100%;
    border: none;
}