<div class="modal-dialog">
    <div class="modal-content">
        <form [formGroup]="ForgetForm" (ngSubmit)="onSubmitForget()">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                   <img src="assets/img/close.svg" alt="" />
                </button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                
                <div class="forgot_txt">
                    <h3>Forgot Password?</h3>
                    <p>
                        Type your username or email below and we’ll send you instructions on how to reset it.
                    </p>
                    <div class="label_input">
                        <input type="text" formControlName="email" placeholder="Username or email" />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Filed is required</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal footer -->
            <button type="button" class="site_btn2" data-dismiss="modal">
<span>CANCEL</span>
</button>
            <button [disabled]="loading" class="site_btn2">
<span>SEND INSTRUCTIONS</span> 
</button>
        </form>
    </div>
    </div>