button.site_btn2{
    outline: none ;
    border-bottom: none;
}
.modal-dialog .modal-content .site_btn2:nth-of-type(1){
    border-bottom-left-radius: 4px;
    border-right: none ;
}
.modal-dialog .modal-content .site_btn2:nth-of-type(2){
    border-bottom-right-radius: 4px;
}
.modal-dialog .site_btn2{
    border: 1px solid rgba(0, 0, 0, 0.11);
    font-family: 'baskervillebold';
}
.modal-dialog .site_btn2:nth-of-type(1){
    border-right: none;
}
.modal-dialog .site_btn2:hover{
    background: #f6f5f6;
    box-shadow: unset;
    border: 1px solid rgba(0, 0, 0, 0.11) !important;
    border-bottom: none;
}
.modal-dialog .site_btn2:hover span{
    background-image: linear-gradient(481deg, #E65124, #9C9400, #27953E, #53479E);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.modal-dialog{
    margin-top: 150px !important;
}
.label_input input{
    color: #222;
}