<div class="wraper">
    <section class="hero_section_craousel_mr pt_row">

        <div class="container-fluid container_fluid2" *ngIf="subscriptiondata">
            <div class="container">
                <h1 class="subscription_txt">Subscriptions</h1>
                <div class="alert alert-success" *ngIf="msg">{{msg}}</div>
                <div class="ssubscirption_section">
                    <div class="col-md-10 m-auto">
                        <div class="row justify-content-center">
                            <!--========new subsription============ -->
                            <div *ngFor="let sub of subscriptiondata; let i = index"
                                class="col-md-12 col-lg-6 col-xl-4">
                                <div class="subscirption_box">
                                    <div *ngIf="i == 0" class="heading_box">
                                        <img src="" alt="">
                                        <h2>{{ sub.title }}</h2>
                                    </div>
                                    <div *ngIf="i !== 0" class="heading_box heading_box{{i + 1}}">
                                        <img src="" alt="">
                                        <h2>{{ sub.title }}</h2>
                                    </div>
                                    <div *ngIf="i == 0" class="price_txt">
                                        <div class="d-flex justify-content-center">
                                            <h4>${{ sub.price }}</h4>
                                            <h5>Per<br>{{ sub.type }}</h5>
                                        </div>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia numquam
                                            fugiat quibusdam aut animi soluta quasi id porro labore dolorem!</p>
                                        <button *ngIf="!sub.is_subscribe"
                                            (click)="onPayment(sub.type, sub.price, sub.paypal_plan_id, sub.paypal_product_id);"
                                            class="site_btn gradient_btn">Buy</button>
                                        <button data-toggle="modal" data-target="#save_box" *ngIf="sub.is_subscribe"
                                            (click)="onCancel(sub.type, sub.price, sub.paypal_plan_id, sub.paypal_product_id);"
                                            class="site_btn gradient_btn">Cancel</button>
                                    </div>
                                    <div *ngIf="i !== 0" class="price_txt price_txt{{i + 1}}">
                                        <div class="d-flex justify-content-center">
                                            <h4>${{ sub.price }}</h4>
                                            <h5>Per<br>{{ sub.type }}</h5>
                                        </div>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia numquam
                                            fugiat quibusdam aut animi soluta quasi id porro labore dolorem!</p>
                                        <button *ngIf="!sub.is_subscribe"
                                            (click)="onPayment(sub.type, sub.price, sub.paypal_plan_id, sub.paypal_product_id);"
                                            class="site_btn gradient_btn{{i + 1}}">Buy</button>
                                        <button data-toggle="modal" data-target="#save_box" *ngIf="sub.is_subscribe"
                                            (click)="onCancel(sub.type, sub.price, sub.paypal_plan_id, sub.paypal_product_id);"
                                            class="site_btn gradient_btn{{i + 1}}">Cancel</button>
                                    </div>
                                    <div *ngIf="sub.is_subscribe" class="subsription_check">
                                        <img src="assets/img/subsription_check.svg" alt="">
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-md-12 col-lg-6 col-xl-4">
                            <div class="subscirption_box">
                                <div class="heading_box heading_box2">
                                    <img src="" alt="">
                                    <h2>Monthly Plan</h2>
                                </div>
                                <div class="price_txt price_txt2">
                                    <h4>20$ <span>Monthly Plan</span></h4>
                                    <button class="site_btn gradient_btn2">Buy</button>
                                </div>
                                <div class="subsription_check">
                                    <img src="assets/img/subsription_check.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 col-xl-4">
                            <div class="subscirption_box">
                                <div class="heading_box heading_box3">
                                    <img src="" alt="">
                                    <h2>Monthly Plan</h2>
                                </div>
                                <div class="price_txt price_txt3">
                                    <h4>20$ <span>Monthly Plan</span></h4>
                                    <button class="site_btn gradient_btn3">Buy</button>
                                </div>
                                <div class="subsription_check">
                                    <img src="assets/img/subsription_check.svg" alt="">
                                </div>
                            </div>
                        </div> -->
                            <!--========new subsription============ -->
                            <!-- <div class="col-md-6 col-lg-6 col-xl-4" *ngFor="let sub of subscriptiondata">
                            <label class="btn btn-opt btn-block">
                                <input type="radio" name="selectPlan" id="planFree" checked />
                                <p class="title">{{ sub.title }}</p>
                                <p class="price">${{ sub.price }} Per {{ sub.type }}</p>
                                <div class="alert_p" *ngIf="sub.is_subscribe">
                                    Start on: {{sub.started_at | date }}
                                    (Renews until you cancel)
                                </div>
                                <div class="buy_outside_btn">
                                    <a *ngIf="!sub.is_subscribe" class="site_btn2"
                                        (click)="onPayment(sub.type, sub.price, sub.paypal_plan_id, sub.paypal_product_id);">Buy</a>
                                </div>
                                <div class="check_img mt-1 mb-2" *ngIf="sub.is_subscribe">
                                    <img src="assets/img/buy_check.svg" alt="">
                                </div>
                                <a *ngIf="sub.is_subscribe" class="site_btn2" data-toggle="modal"
                                    data-target="#save_box"
                                    (click)="onCancel(sub.type, sub.price, sub.paypal_plan_id, sub.paypal_product_id);">Cancel</a>
                            </label>
                        </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid container_fluid2" *ngIf="!subscriptiondata"></div>
    </section>
</div>

<div class="container block_user_popup add_story_popup">
    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-lg" style="top:30%">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>LIBRUMS</h2>
                </div>
                <div class="modal-body">
                    <div class="block_user">
                        <p>Are you sure you want to cancel?</p>
                        <p>Change your current plan will be effective at the end of your current billing period.</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="back_btn add_content"
                        (click)="startPayment(type_new, price_new, paypal_plan_new, paypal_product_new);">
                        Yes
                    </a>
                    <a class="back_btn add_content" data-dismiss="modal">
                        No
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="container block_user_popup add_story_popup">
    <div class="modal fade" id="save_box">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>LIBRUMS</h2>
                </div>
                <div class="modal-body">
                    <div class="block_user">
                        <p>Are you sure you want to cancel?</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <a id="save" class="back_btn add_content" data-dismiss="modal">
                        Yes
                    </a>
                    <a class="back_btn add_content" data-dismiss="modal">
                        No
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>