  small {
    display: block;
    opacity: .7;
  }
  .subscription {
    margin-top: 2em;
  }
  .subscription .title {
    font-size: 27px;
    font-family: 'baskervillebold';
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #222;
  }
  .subscription .price {
    margin: 10px 0;
    font-size: 18px;
    color: #222;
    font-family: 'baskervillenormal';
  }
  .subscription .inclusions {
    text-transform: uppercase;
  }
  .btn-opt-group {
    display: block;
    margin-left: 0;
    margin-right: 0;
  }
  .btn-opt-group .btn {
    border-radius: 0.2em;
    padding: 2em;
    text-transform: none;
    white-space: normal;
    transition: all .4s ease;
  }
  .btn-opt-group .btn input[type="radio"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
  }
  .btn-opt-group .btn-opt {
    background-color: #fff;
    border-color: #222;
    color: #78909C;
    font-size: 1em;
    height: 20em;
    margin-top: 4em;
  }
  .btn-opt-group .btn-opt:focus, .btn-opt-group .btn-opt.focus {
    transition: all .2s ease;
  }
  .btn-opt-group .btn-opt:focus .title, .btn-opt-group .btn-opt.focus .title {
    background-image: linear-gradient(481deg, #E65124, #9C9400, #27953E, #53479E);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .btn-opt-group .btn-opt:hover {
    transition: all .2s ease;
  }
  .btn-opt-group .btn-opt:hover .title {
    background-image: linear-gradient(481deg, #E65124, #9C9400, #27953E, #53479E);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .btn-opt-group .btn-opt:active, .btn-opt-group .btn-opt.active, .open > .btn-opt-group .btn-opt.dropdown-toggle {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    border: 0;
  }
  .btn-opt-group .btn-opt:active .title, .btn-opt-group .btn-opt:active .price, .btn-opt-group .btn-opt.active .title, .btn-opt-group .btn-opt.active .price, .open > .btn-opt-group .btn-opt.dropdown-toggle .title, .open > .btn-opt-group .btn-opt.dropdown-toggle .price {
    background-image: linear-gradient(481deg, #E65124, #9C9400, #27953E, #53479E);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .btn-opt-group .btn-opt:active, .btn-opt-group .btn-opt.active, .open > .btn-opt-group .btn-opt.dropdown-toggle {
    background-image: none;
  }
  h1.subscription_txt{
    margin-top: 36px;
    font-size: 28px;
    color: #222;
    font-family: 'baskervillebold';
    text-align: center;
  }
  .row.btn-opt-group.subscription.radio.d-flex {
    margin-bottom: 70px;
    min-height: 600px;
  }
 a.site_btn2{ 
    color: #222;
    border: none;
    box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.12);
    font-family: 'baskervillebold';
  }

  a.site_btn2:hover{
    color: #fff;
  }
 