<div class="wraper">
  <section class="withdrawal_section">
    <div class="container">
      <div class="crasoule_heading_txt">
        <div class="crasoule_heading_txt_left">
          <h2>Withdrawal</h2>
          <p>Keep track of the earning from your writings</p>
        </div>
        <div class="crasoule_heading_txt_right">
          <div class="user_box ammount_box">
            <h2 class="d-flex align-items-center justify-content-between" *ngIf="total != 0">
              Wallet Amount: ${{ total }}
              <template *ngIf="total < 10">
                <button class="site_btn" disabled data-toggle="modal" data-target="#withdrawal_payment">
                  Withdrawal
                </button>
              </template>
              <template *ngIf="total > 10">
                <button class="site_btn" data-toggle="modal" data-target="#withdrawal_payment">
                  Withdrawal
                </button>
              </template>
            </h2>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- <div class="col-md-6 col-lg-4 col-xl-4">
          <div class="user_box">
            <h2>
              <img
                *ngIf="userdata.data.image != ''"
                class="profile_pis"
                src="{{ _baseURL }}{{ userdata.data.image }}"
              />
              <img
                *ngIf="userdata.data.image == ''"
                src="assets/img/user_box_icon.svg"
                alt=""
              />{{ userdata.data.fullname }}
            </h2>
            <p *ngIf="userdata.data.last_login_at">Last Updated On: {{ userdata.data.last_login_at | date }}</p>
          </div>
          <div class="user_box ammount_box">
            <h2
              class="d-flex align-items-center justify-content-between"
              *ngIf="total != 0"
            >
              Wallet Amount: ${{ total }}
              <template *ngIf="total < 10">
                <button
                  class="site_btn"
                  disabled
                  data-toggle="modal"
                  data-target="#withdrawal_payment"
                >
                  Withdrawal
                </button></template
              >
              <template *ngIf="total > 10">
                <button
                  class="site_btn"
                  data-toggle="modal"
                  data-target="#withdrawal_payment"
                >
                  Withdrawal
                </button></template
              >
            </h2>
            <p>
              Note: User must have paypal account.<br />Withdrawal option is
              available when wallet amount is greater then $10.
            </p>
          </div>
        </div> -->
        <div class="col-md-12 col-lg-12 col-xl-12">
          <div class="table-responsive mb-5">
            <div class="">
              <div class="row">
                <div class="col-sm-12">
                  <table class="withdrawal_table" *ngIf="temp" role="grid" aria-describedby="example_info">
                    <thead>
                      <tr role="row">
                        <th class="wd-15p sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                          aria-sort="ascending" aria-label="First name: activate to sort column descending"
                          style="width: 100px;">
                          SR.NO
                        </th>
                        <th class="wd-15p sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                          aria-label="Last name: activate to sort column ascending" style="width: 372px;">
                          Message
                        </th>
                        <th class="wd-20p sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                          aria-label="Position: activate to sort column ascending" style="width:178px;">
                          Action
                        </th>
                        <th class="wd-15p sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                          aria-label="Start date: activate to sort column ascending" style="width:121px;">
                          Status
                        </th>
                        <th class="wd-10p sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                          aria-label="Salary: activate to sort column ascending" style="width: 200px;">
                          Date
                        </th>
                      </tr>
                    </thead>
                    <tbody>

                      <tr role="row" class="odd" *ngFor="let history of paymenthistory; let i = index">
                        <th scope="row">{{ i + 1 }}</th>
                        <td class="purpose_txt">
                          {{ history.purpose | slice: 0:70 }}{{ history.purpose.length > 70 ? "..." : "" }}</td>
                        <td>
                          <template *ngIf="history.type === 'Debit'">
                            + ${{ history.amount }} Credit
                          </template>
                          <template *ngIf="history.type === 'Credit'">
                            - ${{ history.amount }} Debit
                          </template>
                        </td>
                        <td class="green_tb" *ngIf="history.status == 'COMPLETED'">
                          Success
                        </td>
                        <td class="green_tb" *ngIf="history.status == 'SUCCESS'">
                          Success
                        </td>
                        <td class="red_tb" *ngIf="history.status == 'PENDING'">
                          Pending
                        </td>
                        <td class="red_tb" *ngIf="history.status == 'UNCLAIMED'">
                          Cancel
                        </td>
                        <td>
                          {{ history.updated_at | date: "dd MMM, y H:mm" }}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <div class="table_data_date" *ngIf="paymenthistory === ''">
            <div class="text-center">
              <img src="assets/img/Withdrawal_empty.svg" alt="" />
              <div class="norecord_txt">
                <h2 class="mt-4">No earning yet!</h2>
              </div>
              <a class="btn btn-success mb-3 add_chapter pr-6" href="/addstories">Start Writing and Earn</a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- withdrawal payment -->
<div class="container block_user_popup add_story_popup withdrawal_popup">
  <div class="modal fade" id="withdrawal_payment" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h2>Withdrawal</h2>
          <div class="close" data-dismiss="modal"><i class="fa fa-close"></i></div>
        </div>
        <form [formGroup]="paymentForm" class="" (ngSubmit)="onSubmit()">
          <div class="modal-body">
            <!-- <div class="block_user">
                            <p>Are you sure you want to save?</p>
                        </div> -->

            <div class="flex_radio">
              <div class="radio ">
                <input id="radio-1" formControlName="type" type="radio" value="EMAIL" checked
                  (change)="onItemChange($event.target.value)"
                  [ngClass]="{ 'is-invalid': submitted && f.type.errors }" />
                <label for="radio-1" class="radio-label">Email</label>
              </div>
              <div class="radio">
                <input id="radio-2" formControlName="type" type="radio" value="PHONE"
                  (change)="onItemChange($event.target.value)"
                  [ngClass]="{ 'is-invalid': submitted && f.type.errors }" />
                <label for="radio-2" class="radio-label">Phone</label>
              </div>
              <div class="radio">
                <input id="radio-3" formControlName="type" type="radio" value="PAYPAL_ID"
                  (change)="onItemChange($event.target.value)"
                  [ngClass]="{ 'is-invalid': submitted && f.type.errors }" />
                <label for="radio-3" class="radio-label">Paypal Id</label>
              </div>
            </div>
            <div *ngIf="submitted && f.type.errors" class="alert alert-danger">
              <div *ngIf="f.type.errors.required">
                Check payment method type.
              </div>
            </div>
            <div class="from_inside2" *ngIf="emailCheck">
              <div class="label_input2">
                <input type="email" formControlName="value" placeholder="Enter Email"
                  [ngClass]="{ 'is-invalid': submitted && f.value.errors }" />
              </div>
            </div>
            <div class="from_inside2" *ngIf="phoneCheck">
              <div class="label_input2">
                <input type="tel" formControlName="value" placeholder="Enter Phone"
                  [ngClass]="{ 'is-invalid': submitted && f.value.errors }" />
              </div>
            </div>
            <div class="from_inside2" *ngIf="paypalCheck">
              <div class="label_input2">
                <input type="text" formControlName="value" placeholder="Enter Paypal Id"
                  [ngClass]="{ 'is-invalid': submitted && f.value.errors }" />
              </div>
            </div>
            <div *ngIf="submitted && f.value.errors" class="alert alert-danger">
              <div *ngIf="f.value.errors.required">Sender ID is required.</div>
            </div>
            <div class="from_inside2">
              <div class="label_input2">
                <input min="10" max="{{total}}" type="number" formControlName="amount" placeholder="Enter Amount"
                  [ngClass]="{ 'is-invalid': submitted && f.amount.errors }" />
              </div>
            </div>
            <div *ngIf="submitted && f.amount.errors" class="alert alert-danger">
              <div *ngIf="f.amount.errors.required">Amount is required.</div>
              <div *ngIf="f.amount.errors.min">Amount should be greater than $10</div>
              <div *ngIf="f.amount.errors.max">Amount should be less than ${{total}}</div>
            </div>

            <div class="note_p_txt">
              <p>
                Note: User must have paypal account.<br />Withdrawal option is
                available when wallet amount is greater then $10.<br />Don't
                close the popup until the withdrawal process is runing.
              </p>
            </div>
          </div>
          <div class="modal-footer">
            <button [disabled]="loading" class="mb-4 mr-4 site_btn">
              <img *ngIf="loading"
                src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
              Send
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- withdrawal payment -->