.crasoule_heading_txt_left {
  padding-top: 50px;
  padding-bottom: 40px;
}
.crasoule_heading_txt_left h2 {
  font-size: 30px;
}

.radio {
  margin: 0.5rem;
}
.radio input[type="radio"] {
  position: absolute;
  opacity: 0;
}
.radio input[type="radio"] + .radio-label:before {
  content: "";
  background: #f4f4f4;
  border-radius: 100%;
  border: 1px solid #b4b4b4;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  position: relative;
  top: -0.2em;
  margin-right: 1em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}
.radio input[type="radio"]:checked + .radio-label:before {
  background-image: linear-gradient(481deg, #e65124, #9c9400, #27953e, #53479e);
  box-shadow: inset 0 0 0 4px #f4f4f4;
}
.radio input[type="radio"]:focus + .radio-label:before {
  outline: none;
  border-color: #b4b4b4;
}
.radio input[type="radio"]:disabled + .radio-label:before {
  box-shadow: inset 0 0 0 4px #f4f4f4;
  border-color: #b4b4b4;
  background: #b4b4b4;
}
.radio input[type="radio"] + .radio-label:empty:before {
  margin-right: 0;
}

.profile_pis {
  height: 60px;
  width: 60px;
  border-radius: 56px;
}
section.withdrawal_section {
  min-height: 600px;
}
.text-center img {
  width: 800px;
}
.norecord_txt h2{font-size: 40px;}
.btn.btn-success.mb-3.add_chapter{font-size: 25px; margin-top: 20px;}