<div class="wraper">
    <div *ngIf="showLoader" class="loader"><img src="/assets/img/loader.svg"></div>
    <section class="hero_section_craousel_mr half_slider half_slider2 ">
        <div class="main_carousel slider_top">
            <owl-carousel *ngIf="NewStoriesSlider" [options]="SlideOptions" [carouselClasses]="['owl-carousel','owl-theme','custom_owl_carousel', 'sliding']">
                <div class="item">
                    <div class="carousel_slides over_flow">
                        <div class="carousel_slides_img">
                            <img *ngIf="NewStoriesSlider.cover_image !== '';"src="{{baseurl}}{{NewStoriesSlider.cover_image}}" alt="" />
                            <div *ngIf="NewStoriesSlider.cover_image == '';"class="patahani-cover">
                                <h2 class="patahani-h2">{{NewStoriesSlider.title}}</h2>
                            </div>
                            <div *ngIf="NewStoriesSlider.not_for_below_eighteen" class="plus_18">
                                <h4 class="eighteen_plus">18+</h4>
                            </div>
                        </div>
                        <div class="carousel_slides_txt">
                            <h2>{{NewStoriesSlider.title}}</h2>
                            <div class="carousel_slides_txt_profile">
                                <div class="carousel_slides_txt_profile_img">                           
                                    <img  *ngIf="NewStoriesSlider.author_image !== '';" src="{{baseurl}}{{NewStoriesSlider.author_image}}" alt="" />
                                    <img *ngIf="NewStoriesSlider.author_image == '';" src="assets/images/img_user1.svg" alt="" />
                                </div>
                                <div class="txt_silde_profile txt_silde_profile_top" *ngIf="NewStoriesSlider.author_id">
                                    <a [routerLink]="['/authorprofile', NewStoriesSlider.author_id]">{{NewStoriesSlider.author_name}}</a>
                                    <p>Last Updated On : {{NewStoriesSlider.updated_at | date }}</p>
                                </div>
                            </div>
                            <div class="card_btn_list2">
                                <a><img src="assets/img/eye.svg" alt="">{{NewStoriesSlider.views}}</a>
                                <a><img src="assets/img/favorite.svg" alt="">{{NewStoriesSlider.likes}}</a>
                                <a><img src="assets/img/share.svg" alt="">{{NewStoriesSlider.no_of_shares}}</a>
                                <a><img src="assets/img/open_book.svg" alt="">{{NewStoriesSlider.no_of_chapter}}</a>
                            </div>
                            <div class="start_reading">
                                <ul>
                                    <li>
                                        <a [routerLink]="['/singlebook', NewStoriesSlider._id]" class="site_btn">Start Reading</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="owl-nav">
                            <button type="button" role="presentation" class=" owl-prev"><span class="custom-owl-prev"
                            aria-label="Previous">‹</span></button>
                            <button type="button" role="presentation" class=" owl-next"><span class="custom-owl-next"
                            aria-label="Next">›</span></button>
                            </div>
                    </div>
                    <section>
                        <div class="container">
                            <div class="slide_botton_txt">
                                <p>{{NewStoriesSlider.description}}</p>
                            </div>
                        </div>
                    </section>
                </div>
            </owl-carousel>
        </div>
    </section>
</div>