@media only screen and (max-width: 1700px){
	.header_icon_left ul li, .header_icon_right ul li{
		margin-right: 8px;
	}
	.header_icon_left ul li a, .header_icon_right ul li a{
		font-size: 14px;
	}
	.header_icon_left ul li a span, .header_icon_right ul li a span{
		padding-left: 5px;
	}
}
/*@media only screen and (max-width: 1700px){
	.ch_header .header_icon_right2 ul li>a .site_btn,.ch_header .header_icon_right2 ul li>a .site_btn2{
		min-width: 100px;
	}
}*/
@media only screen and (max-width: 1500px){
	.dropdown-menu.drop.first_drop_down{
		left: -114px !important;
	}
	.col-md-4.left_side_bg::before{
		content: none !important;
	}
}
@media only screen and (max-width: 1400px){
	.hero_txt{
		margin-left: unset;
	}
	.container-fluid.container_fluid2{
		padding: 0px 42px !important;
	}
}

@media only screen and (max-width: 1250px){
	.owl-carousel.owl-theme.custom_owl_carousel .owl-item .item .top_heading_txt h2{
		font-size: 18px;
	}
	.carousel_slides_txt h2{
		font-size: 20px;
	}
}
@media only screen and (max-width: 1200px){
	.container-fluid.container_fluid2{
		padding: 0px 20px !important;
	}
}
@media only screen and (max-width: 1500px){
	.container-fluid.container_fluid2{
		padding: 0px 20px;
	}
	.header_icon_left ul li a, .header_icon_right ul li a{
		font-size: 18px;
	}
	.header_icon_left ul li, .header_icon_right ul li{
		margin-right: 20px;
	}
	header.ch_header .header_icon_right2 ul li .site_btn2{
		min-width: 120px;
    	line-height: 32px;
	}
	.hero_txt{
		margin-left: 0px;
	}
}
@media only screen and (max-width: 1300px){
	.header_icon_left ul li a, .header_icon_right ul li a{
		font-size: 16px;
	}
	.header_icon_left ul li, .header_icon_right ul li{
		margin-right: 10px;
	}
	header.ch_header .header_icon_right2 ul li .site_btn2{
		min-width: 108px;
    	line-height: 31px;
	}
	header.ch_header .header_icon_right2 ul li .site_btn2{
		font-size: 14px;
	}
}
@media only screen and (max-width: 1200px){
	header.ch_header .header_icon_right2 ul li .site_btn2 {
		min-width: 93px;
		line-height: 30px;
	}

}
@media only screen and (max-width: 1100px){
	.flex_header .logo img {
		left: -200px;
	}
}
@media only screen and (max-width: 1024px){
	header.ch_header .header_pic_details {
		display: none;
	}
	.ch_header .main_header{
		padding: 9px 0px !important;
	}
}
@media only screen and (max-width: 992px){
	.main_header{
		padding: 36px 0;
	}
	.toggle{
		display: block;
		position: absolute;
		right: 0;
		top: -11px;
	}

	.toggle span{
		display: block;
		width: 30px;
		height: 2px;
		border-radius: 4px;
		margin: 6px 0px;
		background-image: linear-gradient(481deg ,#E65124,#9C9400,#27953E,#53479E);
	}
	.flex_header .logo img{
		left: 0px;
		margin: unset;
	}
	.logo{
		display: none;
	}
	.logo2{
		display: block;
		position: absolute;
		top: 11px;
	}
	.flex_header>.header_icon_left,.flex_header>.header_icon_right{
		display: none;
	}
	.flex_header{
		justify-content: unset;
	}

	.mobile_menu{
		display: none;
		position: relative;
		top: 56px;
		left: 0;
		width: 100%;
		background: #fff;
		z-index: 999;
		box-shadow: 0px 8px 6px rgba(0, 0, 0, 0.10);
	}
	.mobile_menu ul{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	.mobile_menu ul li a{
		padding: 11px 20px;
	}
	.logo2 img {
		width: 122px;
	}
	.notifi:before{
		top: 4px;
		left: 25px;
	}
	.mobile_menu .header_icon_left ul li, .header_icon_right ul li{
		margin-right: 0;
	}
	.header_icon_left ul li a, .header_icon_right ul li a{
		position: relative;
	}
	.header_icon_left ul li a span, .header_icon_right ul li a span {
		position: absolute;
		left: 60px;
	}
	.hero_section_craousel.hero_section_craousel_mr{
		margin-top: 73px;
	}
	.wraper{
		margin-top: 70px;
	}
	.header_icon_left ul li a, .header_icon_right ul li a,.header_icon_left ul li,.header_icon_right ul li{
		width: 100%;
	}
	header.ch_header .header_icon_left{
		display: block;
	}
	header.ch_header .header_icon_right2{
		display: none;
	}
	.toggle5{
		display: block;
	}
	.ch_header .main_header{
		padding: 0;
	  }
	  .ch_header .header_icon_right2 ul{
		position: absolute;
	  display: flex;
	  right: 0;
	  flex-direction: column;
	  line-height: 41px;
	  background: #fff;
	  align-items: flex-end;
	  padding: 20px;
	  top: 102px;
	  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
	  border-radius: 6px;

	}
	.ch_header .header_icon_right2 ul li{
		padding-left: 0;
	}
	header.top_header_mr .main_header.main_header_login {
        padding: 10px 0px;
	}
	#list_view_setting{
		display: none;
		position: absolute;
    left: 0;
    width: 100%;
    top: 59px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
	}
	ul#list_view_setting li {
		display: block;
		margin-left: 0;
	}
	ul#list_view_setting li a{
		display: block;
		padding: 14px 14px;
	}
	.toggle2.comment_setting{
		right: 0;
	}
	section.hero_section_craousel_mr.half_slider.half_slider2{
		margin-top: 73px;
	  }
	  header.ch_header .header_icon_right2 {
		position: absolute !important;
		right: 0px;
	}
	.ch_header .header_icon_right2 ul {
		top: 50px !important;
	}
	.toggle111{
		display:block;
	}
}
@media only screen and (max-width: 767px) {
	
	.main_header.login_header .flex_header .logo img{
		margin: unset;
		/*position: inherit;*/
	}
	.login_btn a.site_btn{
		min-width: unset;
		max-width: 364px;
		width: 100%;
	}
	.col-md-7.pr-0 {
		padding-left: 0;
	}
	.flex_fb{
		margin-bottom: 30px;
	}
	.footer_link ul{
		flex-wrap:wrap; 
	}
	.footer_link ul li{
		margin-right: 0;
	}
	.footer_link ul li a{
		padding: 9px 20px;
		display: block;
	}
	.copy_right{
		padding: 30px 15px;
	}
	.login_form{
		margin-top: 30px;
	}
	.login_txt h3{
		font-size: 26px;
		margin-bottom: 22px;
	}
	.login_form .label_input label{
		margin-bottom: 5px;
	}
	.login_form .label_input .user_icon{
		top: 28px;
	}
	.forgot{
		top: 30px;
	}
	.login_btn{
		margin-top: 50px;
	}
	.footer_link ul{
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.hero_txt{
		max-width: unset;
		margin: unset;
		padding: 50px 20px;
		text-align: center;
	}
	.hero_txt h2,.hero_txt p{
		margin: auto;
	}
	.hero_section_craousel .container-fluid{
		padding: 0px 0px;

	}
	.toggle2{
		display: block;
	}
	#list_view_setting{
		display: none;
		position: absolute;
		top: 60px;
		background: #fff;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.14);
		right: 0;
	}
	#list_view_setting li{
		margin-left: 0;
		display: block;
	}
	#list_view_setting li a{
		display: block;
		padding: 12px 10px;
	}
	.collapse_setting{
		min-width: 320px;
	}
	.collapse_setting .fliter_font ul>li{
		margin-right: 30px;
	}
	.collapse_setting .fliter_font ul>li:last-child{
		margin-right: 0;
	}
	.select_font_size{
		padding: 10px 44px;
	}
	.fliter_font ul{
		padding: 20px 44px 20px 44px;
	}
	.chapter_layout.chapter_layout2{
		flex-direction: column;
		align-items: flex-start;
	}
	.upload_img_video{
		margin-bottom: 20px;
	}
	.setting>ul>li{
		margin-left: 16px;
	}
	.setting>ul>li:first-child{
		margin-left: 0;
	}
	.chapter_layout.chapter_layout2 .collapse_setting{
		left: 0;
		top: 40px;
	}
	.chapter_layout.chapter_layout2 .collapse_setting .fliter_font ul>li {
    	margin-right: -21px;
	}
	#show_chapter{
		width: 300px;
	}
	section.hero_section_craousel .col-lg-5.col-md-6{
		padding-right: 0;
	}
	ul#list_view_setting {
		width: 100%;
		z-index: 99;
	}

	ul#list_view_setting a {
		font-size: 0px;
	}
	.fliter_font.fliter_font_hover ul>li>a {
		padding: 0px 10px;
	}
	li.box_txt a {
		font-size: 24px !important;
		padding-top: 0px !important;
		padding-bottom: 0px !important;
	}
	.crasoule_heading_txt_left h2{
		font-size: 18px;
		margin-bottom: 6px;
	}
	.crasoule_heading_txt_right a img{
		width: 16px;
	}
	.crasoule_heading_txt_left p,.crasoule_heading_txt_right a {
		font-size: 16px;
	}
	.owl-carousel.owl-theme.custom_owl_carousel .owl-item .item .top_heading_txt h2{
		font-size: 16px;
		padding: 6px 20px;
	}
	.crasoule_heading_txt{
		margin-bottom: 26px;
	}
	.custom_owl_carousel .carousel_slides_img{
		width: 150px;
    	height: 184px;
	}
	.carousel_slides_txt{
		margin-left: 30px;
	}
	.carousel_slides {
		padding-top: 40px;
		padding-bottom: 30px;
	}
	.txt_silde_profile a{
		font-size: 16px !important;
	}
	.txt_silde_profile p{
		font-size: 14px;
	}
	.genric_btn{
		margin-bottom: 20px;
	}
	.owl-carousel.owl-theme.custom_owl_carousel .owl-stage-outer{
		margin-bottom: 30px;
	}
	.hero_txt{
		padding: 30px 0 !important;
	}
	.slider_img{
		height: 300px !important;
	}
	.hero_txt h2{
		font-size: 16px;
	}
	.toggle2.comment_setting{
		right: 0;
	}
}
/* @media only screen and (max-width: 520px){
	ul#list_view_setting>li>a {
		font-size: 0px;
	}
} */
@media (max-width: 480px) {
    .subscription .title {
      font-size: 1em;
	}
	.subscription .price span {
		font-size: 3em;
	  }
  }
@media only screen and (max-width: 420px){
	.login_header .flex_header .logo img {
		width: 140px;

	}
	.login_header .flex_header .logo{
		top: 30px;
	}
	.modal.fade.custom_forgot_popup .modal-footer{
		flex-direction: column;
	}
	.modal.fade.custom_forgot_popup button.site_btn2{
		width: 100%;
	}
}