.site_btn {
    min-width: 140px;
    background: #28a745;
    border: none;
}

.form-group.input_txt input{
    font-size: 16px;
    color: #222;
    background: #fff;
    border: 1px solid #ababab;
}
.input_txt input {
    width: 100%;
    padding: 14px 18px;
    background: #f1f3f6;
    border: none;
    border-radius: 6px;
    outline: none;
}