label.custom-control-label {
    width: 100%;
}

.login_btn button.site_btn {
   
    font-family: 'baskervillebold';
   
}

.dropdown-item:hover,
.dropdown-item:focus {
    -webkit-text-fill-color: #222;
}

textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(90, 90, 90, 0.44);
    font-size: 16px;
    color: #222;
    outline: none;
    font-family: "baskerville";
}
 input:focus{
    color: #222;
  }