<div class="wraper">
  <section class="hero_section_craousel_mr pt_row">
    <div class="container">

      <div class="about_heading follower change_password feedback">
        <h2>Feedback and Suggestions</h2>
        <form [formGroup]="reportForm" class="issue_report all_custom_placeholders" (ngSubmit)="onSubmit()">
          <!-- <div class="label_input">
            <div class="dropdown reports_drops">
              <button type="button" id="text_change" class="dropdown-toggle custom_drops_down" data-toggle="dropdown">
                Select your subject
              </button>
              <div class="dropdown-menu">
                <ul *ngIf="getreportissue">
                  <li *ngFor="let issue of getreportissue; let i = index" class="dropdown-item">
                    <div class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input" formControlName="type"
                        [attr.data-text]="issue.value.name" id="customRadio{{ i }}" value="{{ issue.value.slug }}" />
                      <label class="custom-control-label" for="customRadio{{ i }}">{{ issue.value.name }}</label>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div *ngIf="submitted && f.type.errors" class="invalid-feedback" style="display: block">
              <div *ngIf="f.type.errors.required">
                Issue type is required.
              </div>
            </div>
          </div> -->
          <div class="label_input">
              <!-- <label  for="">Subject</label> -->
              <input type="text" placeholder="Enter the subject(max 100 characters)" maxlength="100" formControlName="type" [ngClass]="{ 'is-invalid': submitted && f.type.errors }"
             />
             <div *ngIf="submitted && f.type.errors" class="invalid-feedback" style="display: block">
                <div *ngIf="f.type.errors.required">
                  Subject field is required.
                </div>
              </div>
          </div>
          <div class="label_input">
              <!-- <label  for="">Feedback and Suggestions</label> -->
            <textarea [ngClass]="{ 'is-invalid': submitted && f.content.errors }" cols="30" rows="5"
              placeholder="Enter your feedback and suggestions" formControlName="content" maxlength="1000"></textarea>
            <div *ngIf="submitted && f.content.errors" class="invalid-feedback">
              <div *ngIf="f.content.errors.required">
                Feedback and suggestions content is required.
              </div>
            </div>
          </div>

          <div class="login_btn">
            <button class="site_btn">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>