.over_flow_tab ul.nav.nav-tabs {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  overflow-x: scroll;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
/* width */
.over_flow_tab ul.nav.nav-tabs::-webkit-scrollbar {
  width: 10px;
  height: 1px;
}
/* Track */
.over_flow_tab ul.nav.nav-tabs::-webkit-scrollbar-track {
  background: #fff;
}
/* Handle */

.over_flow_tab ul.nav.nav-tabs::-webkit-scrollbar-thumb {
  background: #fff;
}

.over_flow_tab ul.nav.nav-tabs .nav-item {
  width: 20%;
  margin-bottom: 10px;
}

.over_flow_tab.nav-item a {
  padding: 10px 20px;
}

.over_flow_tab .nav-tabs .nav-link {
  min-width: 143px;
  text-align: center;
  margin: 0 20px;
  border-radius: 30px;
}
ul.nav.nav-tabs.custom_tabs_pills {
  padding-bottom: 30px;
  border: none !important;
}
ul.nav.nav-tabs.custom_tabs_pills li.nav-item a.nav-link.active {
  background-image: linear-gradient(481deg, #e65124, #9c9400, #27953e, #53479e);
  color: #fff;
  border: transparent;
}
ul.nav.nav-tabs.custom_tabs_pills li.nav-item a.nav-link {
  background: #f6f6f6;
  border: 1px solid rgba(0, 0, 0, 0.11);
  transition: 0.3s;
  font-size: 14px;
  font-family: "baskervillebold";
  max-width: 130px;
  width: 100%;
  text-align: center;
  padding: 0;
  line-height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  cursor: pointer;
  color: #222;
}

ul.nav.nav-tabs.custom_tabs_pills li.nav-item a.nav-link:hover {
  background-image: linear-gradient(481deg, #e65124, #9c9400, #27953e, #53479e);
  color: #fff;
  border: transparent;
}
ul.nav.nav-tabs.custom_tabs_pills li.nav-item {
  width: unset !important;
}
.txt_silde_profile a {
  font-size: 18px;
  color: #414141;
  font-family: "baskervillebold";
  margin-bottom: 4px;
}
.read_more a {
  background-image: linear-gradient(481deg, #e65124, #9c9400, #27953e, #53479e);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 15px;
  padding-left: 10px;
  font-family: "baskervillebold";
}
.read_more p {
  color: #222;
    font-family: "baskerville";
    margin-bottom: 10px;
    font-size: 18px;
    text-align: justify;
    line-height: 24px;
    word-break: unset;
}
.owl-item {
  position: relative;
}
.owl-item.active {
  position: relative;
}
.owl-item.active .owl-nav {
  position: absolute;
}
.owl-nav {
  position: absolute;
  top: 46%;
  z-index: 9999;
  width: 100%;
  margin: 0;
}
.owl-nav button {
  outline: none;
}
.owl-nav button.owl-prev {
  position: absolute;
  left: 7px;
}
.owl-nav button.owl-prev span {
  content: url(/assets/img/slider_arrow_left.svg);
  position: absolute;
  left: -30px;
  z-index: 999;
  top: calc(100% - 55%);
  background: transparent;
  margin: 0;
  padding: 0;
}
.owl-nav button.owl-next {
  position: absolute;
  right: 21px;
}
.owl-nav button.owl-next span {
  content: url(/assets/img/slider_arrow_right.svg);
  position: absolute;
  right: -43px;
  z-index: 999;
  top: calc(100% - 55%);
  background: transparent;
  margin: 0;
  padding: 0;
  outline: none;
}
.genric_btn ul li a.site_btn2 {
  cursor: pointer;
}
.genric_btn ul li a.site_btn2:hover {
  color: #fff;
}
.read_more p {
  /* max-width: 300px; */
    white-space: normal;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-bottom: 6px;

}
.read_more a {
  background-image: linear-gradient(481deg, #e65124, #9c9400, #27953e, #53479e);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 15px;
  padding-left: 10px;
  font-family: "baskervillebold";
}
.top_heading_txt h2 {
  color: #222;
}
.txt_silde_profile p {
  font-family: "baskervillebold";
}
.read_more {
  margin-top: 8px;
}
.txt_silde_profile a {
  font-size: 18px;
  color: #414141;
  font-family: "baskervillebold";
  margin-bottom: 4px;
}
.txt_silde_profile a:hover{
  text-decoration: underline !important;
}
.txt_silde_profile a span{
  font-family: "baskerville";
}
.search_stories {
  max-width: 1250px;
  margin: auto;
  width: 100%;
  padding: 56px 0px;
  position: relative;
}
.search_stories img.search_icon {
  position: absolute;
  right: 15px;
  top: 10px;
  cursor: pointer;
}
.search_stories .label_input input::placeholder{
  color: rgba(0, 0, 0, 0.5);
}
li.more_btns a {
  margin: 0;
  padding: 0 !important;
}
li.more_btns {
margin-top: 3px;
}
a.nav-link {
  padding: 0 !important;
  border: 1px solid rgba(0, 0, 0, 0.11) !important;
}
a.nav-link:hover {
  border: 1px solid rgba(0, 0, 0, 0) !important;
}
.card_btn_list2 a {
  color: #222;
  font-size: 15px;
  font-weight: 600;
  font-family: "baskervillebold";
}
.card_btn_list ul li a {
  color: #fff;
  padding: 2px 12px;
  margin-bottom: 4px;
}
.carousel_slides.carousel_slides_card .carousel_slides_img {
  position: relative;
  /* overflow: hidden; */
}

h4.eighteen_plus::before {
  position: absolute;
    content: "";
    right: -3px;
    bottom: -8px;
    z-index: -1;
    width: 0;
    height: 0;
    border-bottom: 55px solid #bf1b1b;
    border-left: 70px solid transparent;
}
h4.eighteen_plus {
  position: absolute;
    z-index: 9999;
    top: -32px;
    right: 4px;
    background: none;
    -webkit-transform: unset !important;
    transform: unset !important;
    padding: 0 !important;
}
.arrows_lt_rt.over_flow_tab.custom_overflow_tab {
  margin-bottom: 0px;
  padding-bottom: 10px;
  position: relative;
  overflow-y: hidden;
}
ul.nav.nav-tabs.custom_tabs_pills.br-0 li.nav-item {
  display: inline-block;
  margin-bottom: 0;
}
ul.nav.nav-tabs.custom_tabs_pills.br-0 li.nav-item a.nav-link {
  display: inline-block;
  min-width: 130px;
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.11);
  border: none !important;
}
.layout-1 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.23);
  padding-bottom: 23px;
}
button#right-button {
  margin-left: 7px;
}

.carousel_slides.carousel_slides_card .carousel_slides_txt h2 {
  font-size: 24px;
}
.carousel_slides.carousel_slides_card .carousel_slides_img:hover img.arrow_hover {
  opacity: 1;
  transform: scale(1.1);
  transition: all 850ms ease-in-out;
}
.carousel_slides_img a{
  display: block;
}
/* .carousel_slides_img a{
  transform: scale(1);
  transition: all 850ms ease-in-out;
}  */
.carousel_slides_img:hover{
  transform: scale(0.94);
  transition: all 850ms ease-in-out;
}
img.arrow_hover{
  position: absolute;
  opacity: 0;
  transform: scale(1);
  transition: all 850ms ease-in-out;
}
.nav.nav-tabs.custom_tabs_pills.br-0,
.arrows_lt_rt .genric_btn {
  scrollbar-width: none;
}
/* .carousel_slides.carousel_slides_card .carousel_slides_img:hover div {
  transform: scale(1.2);
  transition: 0.3s;
} */
.read_more a {
  color: #222;
  font-size: 18px;
  font-family: 'baskerville';
  font-weight: 600;
}

.txt_silde_profile p {
  font-size: 15px;
}
.paddle {
	position: absolute;
	top: -10px;
	bottom: 0;
  width: 3em;
  height: 55px;
}
.left-paddle {
	left: 0;
}
.right-paddle {
	right: 0;
}
.arrows_lt_rt.over_flow_tab.custom_overflow_tab ul.nav.nav-tabs.custom_tabs_pills.br-0{
  width: 94%;
  margin: 0px 40px;
}
.show_lists button{
  max-width: 116px;
}