ul.nav.nav-tabs li a{
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-family: 'baskervillenormal';
    display: flex;
    align-items: center;
    justify-content: center;
}


.publish_book, .publish_tab{
    padding-top: 0;
    margin-top: 60px;
}
.edit_imgicon {
    position: absolute;
    top: 6px;
    right: 8px;
}
.see_comment_txt {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.see_comment_txt span a{
    margin-left: 10px;
}
ul.nav.nav-tabs li a {
    color: #222;
    font-family: 'baskervillebold';
    /* border-color: #148e82 !important; */
}
/* a.nav-link.active, a.nav-link:hover {
    border-bottom: 2px solid !important;
} */
.publish_book {
    width: 240px;
    height: 340px;
}
.nav-tabs{
    border-top: none !important;
}
.see_comment {
    flex-direction: column;
}
.see_comment .see_comment_txt{
    padding-bottom: 12px;
    border-bottom: 1px solid #D1D1D1;
    margin-bottom: 12px;
}
.see_comment .see_comment_txt:last-child{
    border-bottom: none;
}
.txt_silde_profile h3{
    color: #222;
    font-size: 22px;
    text-decoration: underline;
    font-family: 'baskervillebold';
}
.card_btn_list2 a {
    color: #222 !important;
}
.see_comment_txt h2 {
    font-size: 16px;
    margin-bottom: 0;
    flex: 0 0 80%;
    width: 183px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 0;
}

.carousel_slides_txt h2 {
    font-size: 24px;
    color: #222;
    font-family: "baskervillebold";
    margin-bottom: 7px;
    white-space: break-spaces;
   
}

.nav-tabs .nav-link.active, .nav-tabs .nav-link{
    background: transparent
}