<div class="wraper">
  <div class="container-fluid container_fluid2">
    <div class="prev_back_arrow_btns">
        <a routerLink="{{previousUrl}}">
            <img src="assets/img/back_arrow_btn.svg" alt="">Back</a>
    </div>
</div>
  <section class="hero_section_craousel_mr publish_draft" *ngIf="bookData">
    <div class="container pt-4">
      <div class="row">
        <div class="col-lg-4">
          <div class="publish_book">
            <img *ngIf="bookData.cover_image !== ''" src="{{ _baseURL }}{{ bookData.cover_image }}" alt="" />

            <div *ngIf="bookData.cover_image == ''" class="patahani-cover">
              <h2 class="patahani-h2">{{ bookData.title }}</h2>
            </div>
            <div class="edit_imgicon">
              <a href="/editstories/{{ bookData._id }}">
                <img _ngcontent-pdy-c7="" alt="" src="assets/img/pen.svg " style="width: 26px;" />
              </a>
            </div>
          </div>
          <div class="carousel_slides_txt">
            <h2>{{ bookData.title }}</h2>
            <div class="card_btn_list2">
              <a><img src="assets/img/eye.svg" alt="" />{{ bookData.views }}</a>
              <a><img src="assets/img/favorite.svg" alt="" />{{ bookData.likes }}</a>
              <a><img src="assets/img/share.svg" alt="" />{{
                bookData.no_of_shares
              }}
              </a>
              <a><img src="assets/img/open_book.svg" alt="" />{{
                bookData.no_of_chapter
              }}
              </a>
            </div>
            <a [routerLink]="['/add-new-chapter', bookData._id]" class="btn btn-success mb-3 add_chapter">Add
              Chapter</a>
          </div>
        </div>

        <div class="col-lg-8">
          <div class="publish_tab">
            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#home">Published</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#menu111">Drafts</a>
              </li>
            </ul>

            <!-- Tab panes -->

            <div class="tab-content tab_publish" ng-init="variable">
              <div id="home" class="container tab-pane active">
                <br />
                <div class="see_comment pb-0 border-bottom-0 w-100 m-auto"
                  *ngIf="bookData?.published_chapters?.length > 0">
                  <div class="see_comment_txt" *ngFor="let publish of bookData.published_chapters; index as i">
                    <h2>Chapter {{ i + 1 }} : {{ publish.chapter_name }}</h2>
                    <span>
                      <a routerLink="/readchapter/{{ bookData._id }}/{{
                      publish._id
                    }}"><img alt="" src="assets/img/Edit-pencil1_eye.svg" /></a>
                      <a routerLink="/editchapter/{{ bookData._id }}/{{
                      publish._id
                    }}"><img alt="" src="assets/img/Edit-pencil1.svg" /></a>
                    </span>
                  </div>
                </div>
                <div class="see_comment" *ngIf="
                bookData.published_chapters &&
                !(bookData.published_chapters.length > 0)
              ">
                  <div class="no_content ">
                    <h2>No content available!</h2>
                  </div>
                </div>
              </div>
              <div id="menu111" class="container tab-pane fade">
                <br />
                <div class="see_comment" *ngIf="bookData.draft_chapters.length > 0">
                  <div class="see_comment_txt see_comment_txt_flex"
                    *ngFor="let drafts of bookData.draft_chapters; index as i">
                    <h2>
                      Chapter {{ i + 1 + bookData.published_chapters.length }} :
                      {{ drafts.chapter_name }}
                    </h2>
                    <div class="view_edit">
                      <a routerLink="/readchapter/{{ bookData._id }}/{{
                      drafts._id
                    }}"><img alt="" src="assets/img/Edit-pencil1_eye.svg" style="margin-right: 10px;" /></a>
                      <a routerLink="/editchapter/{{ bookData._id }}/{{
                      drafts._id
                    }}"><img alt="" src="assets/img/Edit-pencil1.svg " /></a>
                    </div>
                  </div>
                </div>
                <div class="see_comment" *ngIf="
                bookData.draft_chapters && !(bookData.draft_chapters.length > 0)
              ">
                  <div class="no_content">
                    <h2>No content available!</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="add add_index">
        <img src="assets/img/add.png" alt="" />
      </div> -->
    </div>
  </section>
</div>