<footer>
    <div class="container">
        <div class="footer_link">
            <ul>
                <!-- <li><a routerlink="/">Subscribe</a></li> -->
                <li><a target="_blank" routerLink="/terms-conditions">Terms and Conditions</a></li>
                <li><a target="_blank" routerLink="/privacy-policy">Privacy Policy</a></li>
                <li><a target="_blank" routerLink="/report-an-issue">Report</a></li>
                <li><a target="_blank" routerLink="/contact-us">Contact Us</a></li>
                <li><a target="_blank" routerLink="/about-us">About Us</a></li>
            </ul>
        </div>
    </div>
    <div class="copy_right">
        <p>Copyright © 2020 Librums™. All Rights Reserved.</p>
    </div>
</footer>