<!--Avtar-->
<div class="wraper">
  <div *ngIf="showLoader" class="loader"><img src="/assets/img/loader.svg"></div>
  <!-- <section>
            <div *ngFor="let NewStories of gethomedata; let i = index" class="container">
                <div *ngIf="NewStories.type == 'type'" class="crasoule_heading_txt">
                    <div class="crasoule_heading_txt_left">
                        <h2 class="pt-5">{{NewStories.value}}</h2>
                        <p>A fresh set of stories, just for you</p>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
             
                <div *ngFor="let NewStories of gethomedata; let i = index" class="row2">
                        <div class="container">
                        <div class="arrows_lt_rt over_flow_tab custom_overflow_tab">
                            <template *ngIf="NewStories.type == 'tags'" ><button *ngIf="NewStories.value.length>=4" class="left" id="left-button"><img src="assets/img/arrow.svg" alt=""></button></template>
                                <div class="genric_btn">
                                        <ul *ngIf="NewStories.type == 'tags'" class="nav nav-tabs custom_tabs_pills br-0" role="tablist">
                                            <li *ngFor="let tabs of NewStories.value; let i = index" class="nav-item exploer-slider" (click)="onExploreHome(i)">
                                            <a class="nav-link {{(i ==0)? 'active' :'' }} " data-toggle="tab" href="#drama_{{i}}">{{tabs.name}}</a>
                                            </li>
                                            <li *ngFor="let tabs of NewStories.value; let i = index" class="nav-item exploer-slider" (click)="onExploreHome(i)">
                                                <a class="nav-link {{(i ==0)? 'active' :'' }} " data-toggle="tab" href="#drama_{{i}}">{{tabs.name}}</a>
                                            </li>
                                            <li *ngFor="let tabs of NewStories.value; let i = index" class="nav-item exploer-slider" (click)="onExploreHome(i)">
                                                    <a class="nav-link {{(i ==0)? 'active' :'' }} " data-toggle="tab" href="#drama_{{i}}">{{tabs.name}}</a>
                                            </li>
                                        </ul>
                                </div>
                                <template *ngIf="NewStories.type == 'tags'" ><button *ngIf="NewStories.value.length>=4" class="right" id="right-button"><img src="assets/img/arrow_right.svg" alt=""></button></template>
                            </div> 
                        </div>

                 
                    <div *ngIf="NewStories.type == 'data'" class="tab-content flipster">
                        <div *ngFor="let data of NewStories.value; let i = index" id="drama_{{i}}" class="exp_crsl tab-pane {{(i ==0)? 'active' :'' }}">
                            <div id="coverflow{{i}}">
                                    <ul class="flip-items">
                                            <li data-flip-title="slide" *ngFor="let NewStoriesSlider of data.data; let i = index">
                                                <div class="item">
                                                    <div class="carousel_slides">
                                                        <div class="carousel_slides_img" *ngIf="NewStoriesSlider.cover_image == ''">
                                                           <a  [routerLink]="['/bookdetail', type, NewStoriesSlider._id]">
                                                            <div class="patahani-cover">
                                                                <h2  class="patahani-h2">{{NewStoriesSlider.title}}</h2>
                                                            </div>
                                                            </a>
                                                        </div>
                                                        <div class="carousel_slides_img" *ngIf="NewStoriesSlider.cover_image != ''">
                                                                <a  [routerLink]="['/bookdetail', type, NewStoriesSlider._id]">
                                                            <img src="{{baseURL}}{{NewStoriesSlider.cover_image}}" alt="">
                                                            </a>
                                                        </div>
                                                        <div class="carousel_slides_txt">
                                                            <h2>{{NewStoriesSlider.title}}</h2>
                                                            <div class="carousel_slides_txt_profile">
                                                                <div class="carousel_slides_txt_profile_img"  *ngIf="NewStoriesSlider.author_image == ''">
                                                                    <img src="assets/img/profile pic copy.png" alt="">
                                                                </div>
                                                                <div class="carousel_slides_txt_profile_img"  *ngIf="NewStoriesSlider.author_image != ''">
                                                                        <img src="{{baseURL}}{{NewStoriesSlider.author_image}}" alt="">
                                                                    </div>
                                                                <div class="txt_silde_profile">
                                                                    <h4>{{NewStoriesSlider.author_name}}</h4>
                                                                    <p>Last Updated On :{{NewStoriesSlider.updated_at | date }}</p>
                                                                </div>
                                                            </div>
                                                            <div class="read_more">
                                                                <p>{{NewStoriesSlider.description | slice: 0:100}}...<span><a [routerLink]="['/bookdetail', type, NewStoriesSlider._id]">Read More</a></span></p>
                                                            </div>
                                                            <div class="card_btn_list flipster_cra" *ngIf="NewStoriesSlider.tags">
                                                                <template *ngFor="let NewStoriesTags of NewStoriesSlider.tags; let i = index">
                                                                    <a *ngIf="i < 3"  (click)="searchTag(NewStoriesTags)">{{NewStoriesTags}}</a>
                                                                </template>
                                                            </div>
                                                         
                                                            <div class="card_btn_list2">
                                                                    <a><img src="assets/img/eye.svg" alt="">{{NewStoriesSlider.views}}</a>
                                                                    <a><img src="assets/img/favorite.svg" alt="">{{NewStoriesSlider.likes}}</a>
                                                                    <a><img src="assets/img/share.svg" alt="">{{NewStoriesSlider.no_of_shares}}</a>
                                                                    <a><img src="assets/img/open_book.svg" alt="">{{NewStoriesSlider.no_of_chapter}}</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div> 
                                            </li>
                                    </ul>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>  -->



  <section>
    <div *ngFor="let NewStories of gethomedata; let i = index" class="container">
      <div *ngIf="NewStories.type == 'type'"
        class="crasoule_heading_txt d-flex align-items-end justify-content-between py-7">
        <div class="crasoule_heading_txt_left p-0">
          <h2>{{NewStories.value}}</h2>
          <p>A fresh set of stories, just for you</p>
        </div>
        <div class="show_lists d-flex align-items-center">
          <button (click)="onGrid()" id="grid_view" class="mr-3 active">

            <svg width="18px" height="18px" viewBox="0 0 18 18" version="1.1" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink">
              <defs>
                <linearGradient x1="-7.85599879%" y1="-10.6740953%" x2="78.7497223%" y2="96.2339186%"
                  id="linearGradient-1">
                  <stop stop-color="#E65124" offset="0%"></stop>
                  <stop stop-color="#9C9400" offset="39.1200864%"></stop>
                  <stop stop-color="#27953E" offset="64.1025473%"></stop>
                  <stop stop-color="#53479E" offset="100%"></stop>
                </linearGradient>
              </defs>
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="d2" transform="translate(-932.000000, -220.000000)" fill="url(#linearGradient-1)"
                  fill-rule="nonzero">
                  <g id="visualization" transform="translate(932.000000, 220.000000)">
                    <path
                      d="M6.59629688,-3.55271368e-14 C7.4435625,-3.55271368e-14 8.13287109,0.689308594 8.13287109,1.53657422 L8.13287109,6.59629687 C8.13287109,7.4435625 7.4435625,8.13287109 6.59629688,8.13287109 L1.53657422,8.13287109 C0.689308594,8.13287109 8.73967565e-13,7.4435625 8.73967565e-13,6.59629687 L8.73967565e-13,1.53657422 C8.73967565e-13,0.689308594 0.689308594,-3.55271368e-14 1.53657422,-3.55271368e-14 L6.59629688,-3.55271368e-14 Z M16.4634258,-3.55271368e-14 C17.3106914,-3.55271368e-14 18,0.689308594 18,1.53657422 L18,6.59629687 C18,7.4435625 17.3106914,8.13287109 16.4634258,8.13287109 L11.4037031,8.13287109 C10.5564375,8.13287109 9.86712891,7.4435625 9.86712891,6.59629687 L9.86712891,1.53657422 C9.86712891,0.689308594 10.5564375,-3.55271368e-14 11.4037031,-3.55271368e-14 L16.4634258,-3.55271368e-14 Z M6.59629688,9.86712891 C7.4435625,9.86712891 8.13287109,10.5564375 8.13287109,11.4037031 L8.13287109,16.4634258 C8.13287109,17.3106914 7.4435625,18 6.59629688,18 L1.53657422,18 C0.689308594,18 8.73967565e-13,17.3106914 8.73967565e-13,16.4634258 L8.73967565e-13,11.4037031 C8.73967565e-13,10.5564375 0.689308594,9.86712891 1.53657422,9.86712891 L6.59629688,9.86712891 Z M16.4634258,9.86712891 C17.3106914,9.86712891 18,10.5564375 18,11.4037031 L18,16.4634258 C18,17.3106914 17.3106914,18 16.4634258,18 L11.4037031,18 C10.5564375,18 9.86712891,17.3106914 9.86712891,16.4634258 L9.86712891,11.4037031 C9.86712891,10.5564375 10.5564375,9.86712891 11.4037031,9.86712891 L16.4634258,9.86712891 Z"
                      id="Combined-Shape"></path>
                  </g>
                </g>
              </g>
            </svg>
            <span class="pl-2">Grid</span></button>
          <button class="" (click)="onList()" id="list_view">

            <svg width="24px" height="18px" viewBox="0 0 24 18" version="1.1" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink">
              <defs>
                <linearGradient x1="-7.85599879%" y1="15.9863955%" x2="78.7497223%" y2="75.9185112%"
                  id="linearGradient-1">
                  <stop stop-color="#E65124" offset="0%"></stop>
                  <stop stop-color="#9C9400" offset="39.1200864%"></stop>
                  <stop stop-color="#27953E" offset="64.1025473%"></stop>
                  <stop stop-color="#53479E" offset="100%"></stop>
                </linearGradient>
              </defs>
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="d2" transform="translate(-968.000000, -220.000000)" fill="url(#linearGradient-1)"
                  fill-rule="nonzero">
                  <g id="list" transform="translate(968.000000, 220.000000)">
                    <path
                      d="M1.38461538,-9.50350909e-14 L3.92599254,-9.50350909e-14 C4.6906945,-9.51755644e-14 5.31060792,0.619913423 5.31060792,1.38461538 L5.31060792,3.61360384 C5.31060792,4.3783058 4.6906945,4.99821922 3.92599254,4.99821922 L1.38461538,4.99821922 C0.619913423,4.99821922 1.0865579e-12,4.3783058 1.08646425e-12,3.61360384 L1.08646425e-12,1.38461538 C1.0863706e-12,0.619913423 0.619913423,-9.48946174e-14 1.38461538,-9.50350909e-14 Z M8.3829064,-9.50350909e-14 L22.6153846,-9.50350909e-14 C23.3800866,-9.38171808e-14 24,0.619913423 24,1.38461538 L24,3.61360384 C24,4.3783058 23.3800866,4.99821922 22.6153846,4.99821922 L8.3829064,4.99821922 C7.61820444,4.99821922 6.99829102,4.3783058 6.99829102,3.61360384 L6.99829102,1.38461538 C6.99829102,0.619913423 7.61820444,-9.48946174e-14 8.3829064,-9.50350909e-14 Z M1.38461538,6.48563876 L3.92599254,6.48563876 C4.6906945,6.48563876 5.31060792,7.10555219 5.31060792,7.87025415 L5.31060792,10.0992426 C5.31060792,10.8639446 4.6906945,11.483858 3.92599254,11.483858 L1.38461538,11.483858 C0.619913423,11.483858 1.08633586e-12,10.8639446 1.08624221e-12,10.0992426 L1.08624221e-12,7.87025415 C1.08614856e-12,7.10555219 0.619913423,6.48563876 1.38461538,6.48563876 Z M8.3829064,6.48563876 L22.6153846,6.48563876 C23.3800866,6.48563876 24,7.10555219 24,7.87025415 L24,10.0992426 C24,10.8639446 23.3800866,11.483858 22.6153846,11.483858 L8.3829064,11.483858 C7.61820444,11.483858 6.99829102,10.8639446 6.99829102,10.0992426 L6.99829102,7.87025415 C6.99829102,7.10555219 7.61820444,6.48563876 8.3829064,6.48563876 Z M1.38461538,12.9711052 L3.92599254,12.9711052 C4.6906945,12.9711052 5.31060792,13.5910187 5.31060792,14.3557206 L5.31060792,16.5848814 C5.31060792,17.3495834 4.6906945,17.9694968 3.92599254,17.9694968 L1.38461538,17.9694968 C0.619913423,17.9694968 1.0865579e-12,17.3495834 1.08646425e-12,16.5848814 L1.08646425e-12,14.3557206 C1.0863706e-12,13.5910187 0.619913423,12.9711052 1.38461538,12.9711052 Z M8.3829064,12.9711052 L22.6153846,12.9711052 C23.3800866,12.9711052 24,13.5910187 24,14.3557206 L24,16.5848814 C24,17.3495834 23.3800866,17.9694968 22.6153846,17.9694968 L8.3829064,17.9694968 C7.61820444,17.9694968 6.99829102,17.3495834 6.99829102,16.5848814 L6.99829102,14.3557206 C6.99829102,13.5910187 7.61820444,12.9711052 8.3829064,12.9711052 Z"
                      id="Combined-Shape"></path>
                  </g>
                </g>
              </g>
            </svg>
            <span class="pl-2">List</span></button>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <!-- Nav tabs -->
      <div *ngFor="let NewStories of gethomedata; let i = index" class="row2">
        <div class="container">
          <!-- <template *ngIf="type != 'explore'">
                    <div class="arrows_lt_rt over_flow_tab custom_overflow_tab">
                        <template *ngIf="NewStories.type == 'tags'" ><button *ngIf="NewStories.value.length>=4" class="left" id="left-button"><img src="assets/img/arrow.svg" alt=""></button></template>
                            <div class="over_flow_tab over_flow_tab2">
                                    <ul *ngIf="NewStories.type == 'tags'" class="nav nav-tabs custom_tabs_pills br-0" role="tablist">
                                        <li *ngFor="let tabs of NewStories.value; let i = index" class="nav-item" (click)="onExploreHome(i)">
                                        <a class="nav-link {{(i ==0)? 'active' :'' }} " data-toggle="tab" attr.data-sectionvalue="{{tabs._id}}" attr.data-tabename="{{tabs.name}}" href="#list_{{i}}">{{tabs.name}}</a>
                                        </li>
                                        
                                    </ul>
                            </div>
                            <template *ngIf="NewStories.type == 'tags'" ><button *ngIf="NewStories.value.length>=4" class="right" id="right-button"><img src="assets/img/arrow_right.svg" alt=""></button></template>
                        </div> 
                      </template> -->
          <!-- wrap -->
          <!-- <template *ngIf="type == 'explore'"> -->
          <div *ngIf="NewStories.type == 'tags'" class="over_flow_tab over_flow_tab2">
            <ul *ngIf="NewStories.type == 'tags'" class="nav nav-tabs custom_tabs_pills br-0" role="tablist">
              <li *ngFor="let tabs of NewStories.value; let i = index" class="nav-item" (click)="onExploreHome(i)">
                <a class="nav-link {{(i ==0)? 'active' :'' }} " data-toggle="tab" attr.data-sectionvalue="{{tabs._id}}"
                  attr.data-tabename="{{tabs.name}}" href="#list_{{i}}">{{tabs.name}}</a>
              </li>

            </ul>
            <div class="paddles">
              <button *ngIf="NewStories.type == 'tags'" class="left-paddle paddle hidden">
                <img src="assets/img/arrow.svg">
              </button>

              <button *ngIf="NewStories.type == 'tags'" class="right-paddle paddle">
                <img src="assets/img/arrow_right.svg">

              </button>
            </div>
          </div>
          <!-- </template> -->
          <!-- wrap -->
        </div>


        <!-- Tab panes -->
        <div *ngIf="NewStories.type == 'data'" class=" tab-content ">
          <div *ngFor="let data of NewStories.value; let i = index" id="list_{{i}}"
            class="row exp_crsl tab-pane {{(i ==0)? 'active' :'' }}">

            <div class="container">
              <div class="row">
                <div class="layout-1 col-sm-12 col-md-12 {{classes}} mb-5"
                  *ngFor="let stories of data.data; let i = index">
                  <!-- <div class=""
                                infinite-scroll
                                [infiniteScrollDistance]="scrollDistance"
                                [infiniteScrollUpDistance]="scrollUpDistance"
                                (scrolled)="onScrollDown(stories.genre)"
                                (scrolledUp)="onUp()"> -->
                  <div class="carousel_slides carousel_slides_card">
                    <div class="carousel_slides_img_outside over_flow">
                      <div *ngIf="stories.is_blocked;" class="carousel_slides_img block_img_txt">
                        <a *ngIf="stories.cover_image !== '';" data-toggle="modal" data-target="#forgot"><img
                            src="{{baseURL}}{{stories.cover_image}}" alt="" />
                          <div class="block_txt">
                            <h3>Blocked</h3>
                          </div>
                        </a>
                        <a *ngIf="stories.cover_image == '';" data-toggle="modal" data-target="#forgot">
                          <div class="patahani-cover">
                            <h2 class="patahani-h2">{{stories.title}}</h2>

                          </div>
                        </a>
                        <div class="block_txt">
                          <h3>Blocked</h3>
                        </div>


                      </div>
                      <div *ngIf="!stories.is_blocked;" class="carousel_slides_img ">
                        <a *ngIf="stories.cover_image !== '';"
                          [routerLink]="['/bookdetail',type,  stories._id, stories.genre]">
                          <img src="{{baseURL}}{{stories.cover_image}}" alt="" /></a>
                        <a *ngIf="stories.cover_image == '';"
                          [routerLink]="['/bookdetail',type,  stories._id, stories.genre]">
                          <div class="patahani-cover">
                            <h2 class="patahani-h2">{{stories.title}}</h2>
                          </div>

                        </a>

                        <div class="plus_18" *ngIf="stories.not_for_below_eighteen">
                          <h4 class="eighteen_plus">18+</h4>
                        </div>
                      </div>

                    </div>

                    <div class="carousel_slides_txt">
                      <!-- <div class="carousel_slides_txt_profile_img">
                                <img  *ngIf="stories.author_image !== '';" src="{{baseURL}}{{stories.author_image}}" alt="" />
                                <img *ngIf="stories.author_image == '';" src="assets/images/img_user1.svg" alt="" />
                                </div>
                                <div class="txt_silde_profile">
                                <a
                                [routerLink]="['/authorprofile', stories.author_id]">{{stories.author_name}}</a>
                                </div> -->


                      <h2>{{ stories.title }} </h2>
                      <div class="carousel_slides_txt_profile">
                        <div class="carousel_slides_txt_profile_img">
                          <img *ngIf="stories.author_image !== '';" src="{{baseURL}}{{stories.author_image}}" alt="" />
                          <img *ngIf="stories.author_image == '';" src="assets/images/img_user1.svg" alt="" />
                        </div>
                        <div class="txt_silde_profile">
                          <a [routerLink]="['/authorprofile', stories.author_id]">{{stories.author_name}}</a>

                          <p *ngIf="stories.is_chapter_drafted">Last Drafted On :
                            {{ stories.chapter_updated_at | date }}</p>
                          <p *ngIf="!stories.is_chapter_drafted">Last Published On :
                            {{ stories.chapter_updated_at | date }}</p>
                        </div>
                      </div>
                      <div class="read_more">
                        <p>
                          {{ stories.description }}<span>
                          <!-- {{ stories.description | slice: 0:400 }}{{(stories.description.length > 400)?'...':''}}<span> -->

                            <a *ngIf="stories.is_blocked;" data-toggle="modal" data-target="#forgot">Read
                              More</a></span>
                        </p>
                        <a class="mb-2 pl-0 d-inline-block" *ngIf="!stories.is_blocked;"
                          [routerLink]="['/bookdetail',type,  stories._id, stories.genre]">Read More</a>
                      </div>
                      <div class="card_btn_list">
                        <ul *ngIf="stories.tags">
                          <template *ngFor="let storiestag of stories.tags; let i = index">
                            <li *ngIf="i < 3">


                              <a *ngIf="i < 3" (click)="searchTag(storiestag)">{{ storiestag }}</a>
                            </li>
                          </template>
                          <li *ngIf="stories.tags.length > 3" class="more_btns">
                            <a [routerLink]="['/bookdetail',type,  stories._id, stories.genre]">+
                              {{ stories.tags.length - 3 }} More</a>
                          </li>
                        </ul>
                      </div>
                      <div class="card_btn_list2">
                        <a><img src="assets/img/eye.svg" alt="" />{{ stories.views }}</a>
                        <a><img src="assets/img/favorite.svg" alt="" />{{
                    stories.likes
                  }}</a>
                        <a><img src="assets/img/share.svg" alt="" />{{
                    stories.no_of_shares
                  }}</a>
                        <a><img src="assets/img/open_book.svg" alt="" />{{
                    stories.no_of_chapter
                  }}</a>
                      </div>

                    </div>
                  </div>


                </div>

              </div>
            </div>
            <div class="paganumber mt-4 text-center"
              *ngIf="data.data.length>pageNumber || data.data.length==pageNumber">
              <a href="javascript:void(0);" (click)="onScrollDown()" class="site_btn load_more">Load More</a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- <div class="add add_index"><img alt="" src="assets/img/add.png"></div> -->
</div>
<!--Avtar-->