<div class="wraper">
    <section class="hero_section_craousel_mr pt_row">
        <div class="container-fluid container_fluid2">
                <div class="row">
                        <div class="col-md-9 m-auto">
            <div class="about_heading">
                <h2 *ngIf="privacy"> {{privacy.data.title}}</h2>
                <p *ngIf="privacy"  [innerHTML]="privacy.data.content | safeHtml">
                </p>
            </div>
        </div>
    </div>
</div>
    </section>
</div>