<div class="page">
    <div class="page-main">
        <!-- Sidebar menu-->
        <div class="app-content  my-3 my-md-5" *ngIf="getBook">
            <div class="side-app">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/dashboard']" >Dashboard</a></li>
                    <li class="breadcrumb-item"><a [routerLink]="['/manage-content']">Manage Content</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                        Edit Manage Content
                    </li>
                </ol>
                <div class="mt_mb">
                    <div class="form_edit_book">
                        <form [formGroup]="updateForm" class="issue_report" (ngSubmit)="onSubmit()">
                            <div class="heading_form">
                                <!-- <h2 class="text-center">Edit Manage Content</h2> -->
                                <div *ngIf="showMsg">
                                    <p class="alert alert-success">
                                        <strong>{{ showMsg }}</strong>
                                    </p>
                                </div>
                                <div *ngIf="errorMsg">
                                    <p class="alert alert-danger">
                                        <strong>{{ errorMsg }}</strong>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group input_txt text-center">
                                <label for="cover_image">
                                  <template *ngIf="getBook.cover_image; else other_content">
                                  <img src="{{ baseimage }}{{ getBook.cover_image }}" alt="" />
                                  </template>
                                  <ng-template #other_content><img src="assets/images/cover1.png" alt="" /></ng-template>
                                  <input class="d-none"
                                    #file
                                    type="file"
                                    id="cover_image"
                                    (change)="onSelectCoverImage($event)"
                                  />
                                </label>
                                <!-- <h4>Upload Image</h4> -->
                            </div>
                            <div class="form-group input_txt">
                                <input type="hidden" [ngModel]="getBook._id" placeholder="Book Id" formControlName="book_id" class="form-control" id="book_id" />
                            </div>
                            <input type="hidden" [ngModel]="getBook.cover_image" formControlName="cover_image" />
                            <div class="form-group input_txt">
                                <input type="hidden" [ngModel]="getBook.is_published" placeholder="is_published" formControlName="is_published" class="form-control" id="is_published" />
                            </div>
                            <div class="form-group input_txt">
                                <label for="title">Title</label>
                                <input type="text" [ngModel]="getBook.title" maxlength="200" placeholder="Title" formControlName="title" class="form-control" id="title" [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
                                <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                                    <div *ngIf="f.title.errors.required">Title is required</div>
                                </div>
                            </div>
                            <div class="form-group input_txt edit_form">
                                <label for="description">Description</label>
                                <textarea name="" id="" cols="30" rows="10" [ngModel]="getBook.description" maxlength="2000" placeholder="Description" formControlName="description" class="form-control" id="description" [ngClass]="{
                    'is-invalid': submitted && f.description.errors
                  }"></textarea>

                                <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                                    <div *ngIf="f.description.errors.required">
                                        Description is required
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="tags">Add Tags</label>
                                <div class="tag_border">
                                    <tag-input formControlName="{{tags}}tags" [ngModel]="getBook.tags" placeholder="Hit Enter to create tag" class="form-control" style="display:table;" id="tags"></tag-input>
                                </div>
                            </div>
                            <!-- <div class="form-group input_txt">
                              <input type="hidden" [ngModel]="getBook.tags" placeholder="tags" formControlName="tags" class="form-control"
                                id="tags" />
                            </div> -->
                            <div class="form-group input_txt">
                                <template>
                  <label for="not_for_below_eighteen">Below 18</label>
                  <select
                    formControlName="not_for_below_eighteen"
                    [ngModel]="getBook.not_for_below_eighteen"
                    id="not_for_below_eighteen"
                    name="not_for_below_eighteen"
                    [ngClass]="{
                      'is-invalid': submitted && f.not_for_below_eighteen.errors
                    }"
                  >
                    <option value="" selected disabled>Select</option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                  </select>
                  <div
                    *ngIf="submitted && f.not_for_below_eighteen.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.not_for_below_eighteen.errors.required">
                      not for below 18 is required
                    </div>
                  </div>
                </template>
                            </div>
                            <div *ngFor="let type of contanttype" class="form-group input_txt">
                                <template *ngIf="type.type === 'content'">
                  <label for="">Select Content</label>
                  <select
                    formControlName="content_type"
                    [ngModel]="type.type"
                    [ngModel]="type.value"
                    [ngClass]="{
                      'is-invalid': submitted && f.content_type.errors
                    }"
                  >
                    <option value="">Select {{ type.type }}</option>
                    <option
                      value="{{ type.type }}"
                      *ngFor="let val of type.value"
                      >{{ val.name }}</option
                    >
                  </select>
                  <div
                    *ngIf="submitted && f.content_type.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.content_type.errors.required">
                      Content Type is required
                    </div>
                  </div>
                </template>
                            </div>
                            <div *ngFor="let type of contanttype" class="form-group input_txt">
                                <template *ngIf="type.type === 'genre'">
                  <label for="">Select Genre</label>
                  <select
                    formControlName="genre"
                    [ngModel]="type.type"
                    [ngClass]="{ 'is-invalid': submitted && f.genre.errors }"
                  >
                    <option value="">Select {{ type.type }}</option>
                    <option
                      value="{{ type.type }}"
                      *ngFor="let val of type.value"
                      >{{ val.name }}</option
                    >
                  </select>
                  <div
                    *ngIf="submitted && f.genre.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.genre.errors.required">
                      Genre is required
                    </div>
                  </div>
                </template>
                            </div>
                            <div *ngFor="let type of contanttype" class="form-group input_txt">
                                <template *ngIf="type.type === 'copyright'">
                  <label for="">Select Copyright</label>
                  <select
                    formControlName="copyright"
                    [ngModel]="type.type"
                    [ngClass]="{
                      'is-invalid': submitted && f.copyright.errors
                    }"
                  >
                    <option value="">Select {{ type.type }}</option>
                    <option
                      value="{{ type.type }}"
                      *ngFor="let val of type.value"
                      >{{ val.name }}</option
                    >
                  </select>
                  <div
                    *ngIf="submitted && f.copyright.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.copyright.errors.required">
                      Copyright is required
                    </div>
                  </div>
                </template>
                            </div>
                            <div class="container">
                                <div class="">
                                    <div class="">
                                        <div class="save text-center">
                                            <button [disabled]="loading" class="site_btn">
                        Update
                      </button>
                                        </div>
                                    </div>
                                    <!-- <div class="col-md-6">
                                        <div class="save text-right">
                                            <a routerLink="/manage-content" class="save_btn">Back</a>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>