.form-group.input_txt.text-center label {
    width: 100%;
    height: 300px;
}

.form-group.input_txt.text-center label img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

button {
    outline: none;
}
