<div *ngIf="chapterData" class="wraper">
  <div class="container-fluid container_fluid2">
    <div class="prev_back_arrow_btns">
        <a routerLink="{{previousUrl}}">
            <img src="assets/img/back_arrow_btn.svg" alt="">Back</a>
    </div>
</div> 
  <div *ngIf="showLoader" class="loader">
    <img src="/assets/img/loader.svg" />
  </div>
  <section>
    <div class="light_gradient_bg">
      <div class="container-fluid container_fluid2">
        <div class="chapter_layout">
          <div class="chapter_icon">
            <div class="dropdown chapter_icon_drop">
              <a href="#" class="drop_it collapsed" data-toggle="collapse" data-target="#show_chapter"><img
                  src="assets/img/book.svg" alt="" /><span class="pl-3"><img class="img_transform"
                    src="assets/img/ar.svg" alt="" /></span></a>

              <div class="header_pic">
                <img *ngIf="bookData.cover_image !== '';" src="{{baseURL}}{{bookData.cover_image}}" alt="" />
                <div class="patahani-cover" *ngIf="bookData.cover_image === ''">
                  <h2 class="patahani-h2">{{bookData.title}}</h2>
                </div>
              </div>

              <div class="header_pic_details">
                <h3>{{bookData.title}}</h3>
                <h2>by {{ bookData.author_name }}</h2>
                <!-- <p>Draft (0 Words)</p> -->
              </div>

              <div id="show_chapter" class="collapse listing_chapter">
                <div class="about_heading follower all_chapter {{ is_white }}">
                  <h2>Chapters</h2>
                  <div *ngFor="let chapter of chapterData.chapters; let i = index" class="follower_list">
                    <div class="follower_pic">
                      <div class="follower_pic_name">
                        <a href="/readchapter/{{ chapterData._id }}/{{
                            chapter._id
                          }}">
                          <h2 class="{{(chapter_id == chapter._id) ? 'active' : '' }}">
                            Chapter {{ i + 1 }} :
                            <span>{{ chapter.chapter_name }}</span>
                          </h2>
                        </a>
                        <img *ngIf="chapter.is_paid" src="assets/img/lock1.svg" alt=""
                          style="width: 14px;margin-right: 30px;" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="setting black_chapter2">
            <div class="toggle2 comment_setting">
              <span></span>
              <span></span>
              <span></span>
            </div>
            <ul id="list_view_setting">
              <li class="setting_drop_down">
                <a href="#" class="drop_it collapsed" data-toggle="collapse" data-target="#setting_filter"><img
                    src="assets/img/font.svg" alt="" />Settings
                  <img src="assets/img/setting_drop.svg" alt="" class="img_transform pr-0 pl-2" />
                </a>
                <div id="setting_filter" class="collapse collapse_setting">
                  <div class="fliter_font fliter_font_hover">
                    <ul>
                      <li class="box_txt">
                        <a (click)="changeLayout('color_white')"
                          [ngClass]="{ active: activeClass === 'color_white' }">A</a>White
                      </li>
                      <li class="box_txt">
                        <a (click)="changeLayout('color_wheat')"
                          [ngClass]="{ active: activeClass === 'color_wheat' }">A</a>Eggshell
                      </li>
                      <li class="box_txt">
                        <a (click)="changeLayout('color_black')"
                          [ngClass]="{ active: activeClass === 'color_black' }">A</a>Nightowl
                      </li>
                    </ul>
                  </div>
                  <div class="select_font_size">
                    <div class="label_input">
                      <label for="">Select Font Type</label>
                      <select name="" id="" (change)="onFontChange($event.target.value)">
                        <option value="robotobold" style="font-family: robotobold">Robo To Bold</option>
                        <option value="aileronlight">
                          <p style="font-family: aileronlight">
                            Aileronlight
                          </p>
                        </option>
                        <option value="inconsolatamedium">Inconsolata Medium</option>
                        <option value="comic_reliefregular">Comic Reliefregular</option>
                        <option value="haloregular">Halo Regular</option>
                        <option value="droid_serifregular">Droid Serifregular</option>
                        <option value="noname_nocontrast_serif_v1Rg">Noname Nocontrast Serif V1Rg</option>
                        <option value="ucu_charles_scriptregular">UCU Charles Script Regular</option>
                        <option value="geometric_sans_serif_v1Rg">Geometric Sans Serif V1Rg</option>
                        <option value="press_start_2pregular">Press Start 2Pregular</option>
                        <option value="the_godfatherregular">The God Father Regular</option>
                      </select>
                    </div>
                  </div>
                  <div class="range_fonts">
                    <div class="fonts_inrs"><span>Font Size</span></div>
                    <div class="input_range">
                      <input type="range" step="2" min="10" max="40" id="slide" class="slider1"
                        (change)="onFontSize($event.target.value)" />
                      <div class="lines lines_hover">
                        <ul>
                          <li><span></span></li>
                          <li><span></span></li>
                          <li><span></span></li>
                          <li><span></span></li>
                          <li><span></span></li>
                          <li><span></span></li>
                          <li><span></span></li>
                          <li><span></span></li>
                          <li><span></span></li>
                          <li><span></span></li>
                          <li><span></span></li>
                          <li><span></span></li>
                          <li><span></span></li>
                          <li><span></span></li>
                          <li><span></span></li>
                          <li><span></span></li>
                          <li><span></span></li>
                          <li><span></span></li>
                          <li><span></span></li>
                          <li><span></span></li>
                          <li><span></span></li>
                          <li><span></span></li>
                          <li><span></span></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="pagging">
                                        <h2>Paging</h2>
                                        <label class="switch">
                                        <input type="checkbox" checked>
                                        <span class="slider round"></span>
                                    </label>
                                    </div> -->
                </div>
              </li>
              <li>
                <a [ngx-scroll-to]="'#comment-form'"><img src="assets/img/comment.svg" alt="" />Comments</a>
              </li>
              <li *ngIf="!chapterData.isLiked">
                <a (click)="like({ book_id: chapterData._id, status: 1 })" class="like_heart"><img
                    src="assets/img/heart.svg" alt="" />Like</a>
              </li>
              <li *ngIf="chapterData.isLiked">
                <a (click)="like({ book_id: chapterData._id, status: 2 })" class="like_heart"><img
                    src="assets/img/like_filled.svg" alt="" />Unlike</a>
              </li>
              <li>
                <a data-toggle="modal" data-target="#forgot"><img src="assets/img/share2.svg" alt="" />Share</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="">
      <div class="change_chapter_color_black {{ is_white }}">
        <div class="">
          <div class="col-md-9 m-auto">
            <div class="editor_heading">
              <template *ngFor="let chapter of chapterData.chapters; let i = index">
                <h3 *ngIf="chapter_id === chapter._id">Chapter {{i+1}}: {{ chapterData.currentChapter.chapter_name }}
                </h3>
              </template>
              <!-- <h4>
                Last Updated On :
                {{ chapterData.currentChapter.updated_at | date }}
              </h4> -->
              <!-- <div class="card_btn_list2">
                <a *ngIf="is_white == 'color_black'"><img src="assets/img/white_eye.svg" alt="" />{{
                    chapterData.views
                  }}</a>
                <a *ngIf="is_white !== 'color_black'"><img src="assets/img/eye.svg" alt="" />{{
                    chapterData.views
                  }}</a>
                <a *ngIf="is_white == 'color_black'"><img src="assets/img/white_heart.svg" alt="" />{{
                    chapterData.likes
                  }}</a>
                <a *ngIf="is_white !== 'color_black'"><img src="assets/img/favorite.svg" alt="" />{{
                    chapterData.likes
                  }}</a>
                <a *ngIf="is_white == 'color_black'"><img src="assets/img/white_share.svg" alt="" />{{
                    chapterData.no_of_shares
                  }}</a>
                <a *ngIf="is_white !== 'color_black'"><img src="assets/img/share.svg" alt="" />{{
                    chapterData.no_of_shares
                  }}</a>
                <a *ngIf="is_white == 'color_black'"><img src="assets/img/white_open_book.svg" alt="" />{{
                    chapterData.no_of_chapter
                  }}</a>
                <a *ngIf="is_white !== 'color_black'"><img src="assets/img/open_book.svg" alt="" />{{
                    chapterData.no_of_chapter
                  }}</a>
              </div> -->
            </div>
            <div class="alert alert-success" *ngIf="like_msg">
              {{ like_msg }}
            </div>
            <div class="detail_editor">
              <div *ngIf="chapterData.currentChapter.image !== ''" class="editor_img">
                <img src="{{ baseURL }}{{ chapterData.currentChapter.image }}" alt="" />
              </div>
              <div *ngIf="chapterData.currentChapter.video !== ''" class="video-tag">
                <iframe id="add_frame" [src]="videoURL"></iframe>
              </div>
              <div class="alert alert-danger mt-4" *ngIf="showError">
                {{ showError }}
              </div>
              <div class="alert alert-success mt-4" *ngIf="showSuccess">
                {{ showSuccess }}
              </div>
              <template *ngIf="chapterData.currentChapter.is_paid">
                <template *ngIf="chapterData.currentChapter.payment_done">
                  <div class="sub_details" *ngIf="chapterData.currentChapter.content">
                    <p id="cc" [innerHTML]="
                        chapterData.currentChapter.content | safeHtml
                      "></p>
                    <div class="container">
                      <!-- <div class="add add_index" *ngIf="!is_subscribed">
                        <ng-adsense></ng-adsense>
                      </div> -->
                    </div>
                  </div>
                </template>
              </template>
              <template *ngIf="
                  chapterData.currentChapter.is_paid &&
                  userdata.data._id != chapterData.currentChapter.created_by
                ">
                <template *ngIf="!chapterData.currentChapter.payment_done">
                  <div class="payment-details mt-4">
                    <input type="hidden" id="hiddenamount" value="{{ chapterData.currentChapter.amount }}" />
                    <p class="mt-4">
                      This chapter is paid for continuous reading please pay ${{
                        chapterData.currentChapter.amount
                      }}
                    </p>
                    <ngx-paypal [config]="payPalConfig"></ngx-paypal>
                    <div class="container">
                      <!-- <div class="add add_index" *ngIf="!is_subscribed">
                        <ng-adsense></ng-adsense>
                      </div> -->
                    </div>
                  </div>
                </template>
              </template>
              <template *ngIf="
                  !chapterData.currentChapter.is_paid ||
                  userdata.data._id == chapterData.currentChapter.created_by
                ">
                <div class="sub_details" *ngIf="chapterData.currentChapter.content">
                  <p id="cc" [innerHTML]="chapterData.currentChapter.content | safeHtml"></p>
                  <div class="container">
                    <!-- <div class="add add_index" *ngIf="!is_subscribed">
                      <ng-adsense></ng-adsense>
                    </div> -->
                  </div>
                </div>
              </template>
            </div>
            <div class="paganumber mt-4 text-center" *ngIf="chapterData.currentChapter.next_chapter_id !== ''">
              <a href="/readchapter/{{ chapterData._id }}/{{
                chapterData.currentChapter.next_chapter_id}}" class="site_btn load_more">Next</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="make_comment mt-4 mb-4">
      <div class="light_gradient_bg2">
        <h3>
          Comments<span><img src="assets/img/comment2.svg" alt="" /></span>
        </h3>
      </div>

      <div class="alert alert-success mt-4" *ngIf="xchaptermsg">
        {{ xchaptermsg }}
      </div>

      <div class="leave_comment">
        <div class="comment_pic mr-5">
          <img *ngIf="userImage !== ''" src="{{ baseURL }}{{userImage}}" alt="" />
          <img *ngIf="userImage == ''" src="assets/images/img_user1.svg" alt="" />
        </div>

        <form [formGroup]="commentForm" class="commt_post_btn">
          <!-- (keyup.enter)="onSubmit()" -->
          <input type="text"  placeholder="Leave a comment" type="text"
            formControlName="comment" [ngClass]="{ 'is-invalid': submitted && f.comment.errors }" id="comment-form" maxlength="1000">
            
            <div *ngIf="submitted && f.comment.errors" class="invalid-feedback">
              <div *ngIf="f.comment.errors.required">
                Comment is required.
              </div>
            </div>
            <button (click)="onSubmit()" class="site_btn">Post</button>
        </form>
      </div>
      <div *ngFor="let comment of commentData; let i = index" class="see_comment">
        <div class="comment_pic_comm">
          <img *ngIf="comment.author_image !== ''" src="{{ baseURL }}{{ comment.author_image }}" alt="" />
          <img *ngIf="comment.author_image == ''" src="assets/images/img_user1.svg" alt="" />
        </div>
        <div class="see_comment_txt">
          <h2>
            {{ comment.author_name
            }}
            <!--
                  <span>{{
                  comment.created_at
                    | date: "dd MMM yyyy hh:mm aaa ":timeZoneOffset
                }}</span> --><span>{{
                  comment.created_at}}</span>
          </h2>
          <p style="white-space:break-spaces">{{ comment.comment }}</p>
        </div>
      </div>
    </div>
  </section>
  <div class="modal fade custom_forgot_popup show share_icons_popup" id="forgot">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <img src="assets/img/close.svg" alt="" />
          </button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
          <div class="share_icons_flex">
            <p>A great book should leave you with many experiences, and slightly exhausted at the end. You live several
              lives while reading. So, let's share your experience with your family or friends.</p>
            <a href="https://www.facebook.com/sharer/sharer.php?u=https://testing.librums.com&quote=If you have a family of avid readers, good news: librums makes it pretty easy to share books with every member of your family, So here it is please check my latest book. 
            https://testing.librums.com/shareBook.html?book_id={{chapterData.currentChapter.book_id}}&genre_id={{chapterData.genre}}&=https://testing.librums.com/"
              target="_blank" title="facebook" rel="noopener" (click)=shareBook(chapterData.currentChapter.book_id);>
              <i class="fa fa-facebook-official" aria-hidden="true"></i>
            </a>
            <a href="https://twitter.com/share?url=https://testing.librums.com/shareBook.html?book_id={{
                chapterData.currentChapter.book_id
              }}&genre_id={{
                chapterData.genre
              }}&text=If you have a family of avid readers, good news: librums makes it pretty easy to share books with every member of your family, So here it is please check my latest book."
              onclick="window.open(this.href);return false;" (click)=shareBook(chapterData.currentChapter.book_id);
              target="_blank">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="https://www.linkedin.com/shareArticle?mini=true&url=https://testing.librums.com&title=Librums&summary=If you have a family of avid readers, good news: librums makes it pretty easy to share books with every member of your family, So here it is please check my latest book."
              (click)=shareBook(chapterData.currentChapter.book_id); target="_blank">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
            <a href="http://pinterest.com/pin/create/button/?url=https://testing.librums.com/shareBook.html?book_id={{
              chapterData.currentChapter.book_id
            }}&genre_id={{
              chapterData.genre
            }}&media=&description=If you have a family of avid readers, good news: librums makes it pretty easy to share books with every member of your family, So here it is please check my latest book."
              (click)=shareBook(chapterData.currentChapter.book_id); target="_blank">
              <i class="fa fa-pinterest-p" aria-hidden="true"></i>
            </a>
            <a href="mailto:?Subject=Librums:: Share book with your family&amp;Body=If you have a family of avid readers, good news: librums makes it pretty easy to share books with every member of your family, So here it is please check my latest book. https://testing.librums.com/shareBook.html?book_id={{
                chapterData.currentChapter.book_id
              }}&genre_id={{ chapterData.genre }}" onclick="window.open(this.href);return false;"
              (click)=shareBook(chapterData.currentChapter.book_id); target="_blank">
              <i class="fa fa-envelope" aria-hidden="true"></i>
            </a>
            <a href="https://web.whatsapp.com/send?text=If you have a family of avid readers, good news: librums makes it pretty easy to share books with every member of your family, So here it is please check my latest book. https://testing.librums.com/shareBook.html?book_id={{
                chapterData.currentChapter.book_id
              }}&genre_id={{ chapterData.genre }}" data-action="share/whatsapp/share"
              onclick="window.open(this.href);return false;" (click)=shareBook(chapterData.currentChapter.book_id);
              target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>