a.drop_it img.img_transform {
  transform: rotateX(180deg);
  transition: 0.3s ease-in-out;
}
a.drop_it.collapsed img.img_transform {
  transform: rotateX(0deg);
  transition: 0.3s ease-in-out;
}
.fliter_font.fliter_font_hover ul:hover {
  display: flex;
}
.lines.lines_hover ul:hover {
  display: flex;
}
.leave_comment form,
.see_comment_txt {
  flex: 1 0 0;
}
.commt_post_btn{
  display: flex;
  align-items: center;
  position: relative;
}
.commt_post_btn input{
  border: 1px solid rgb(0 0 0 / 15%);
    border-right: none;
    width: calc(100% - 153px);
}
.prev_back_arrow_btns{top:-5px;}
.commt_post_btn button.site_btn {
  min-width: 153px;
  border-radius: 0px;
  line-height: 56px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  outline: none;
}
a.like_heart {
  color: #222;
  cursor: pointer;
}
a.like_heart:hover {
  color: #222;
}
#setting_filter {
  position: absolute;
  right: 0px;
  background: #fff;
  box-shadow: 0px 1px 29px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  z-index: 99;
  top: 58px;
}
iframe#abc_frame {
  width: 100%;
  height: 400px;
  margin-top: 20px;
  margin-bottom: -30px;
}
.invalid-feedback{
  position: absolute;
  left: 0;
  bottom: -27px;
}
@media only screen and (max-width: 767px) {
  #setting_filter {
    left: 0;
    top: 48px;
  }
  .fliter_font.fliter_font_hover ul li.box_txt a {
    font-size: 12px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

#forgot .modal-dialog {
  margin: 8.75rem auto;
}
#forgot button.close {
  outline: none;
}
.form-control:focus {
  box-shadow: none;
  border-color: #222;
}
.label_input input {
  border-radius: inherit !important;
}
#forgot button.site_btn2 {
  border-bottom: none;
}

.video-tag {
  text-align: center;
}
.video-tag iframe {
  width: 100%;
  height: 400px;
}
#forgot .modal-dialog {
  margin: 8.75rem auto;
}
#forgot button.close {
  outline: none;
}
.form-control:focus {
  box-shadow: none;
  border-color: #222;
}
.label_input input {
  border-radius: inherit !important;
}
#forgot button.site_btn2 {
  border-bottom: none;
}
.modal.fade.custom_forgot_popup.show.share_icons_popup .modal-dialog {
  margin-top: 200px !important;
}
.comment_pic,
.comment_pic img {
  border-radius: 50%;
}
@media only screen and (max-width: 992px) {
  .toggle2.comment_setting {
    top: 0%;
  }
  #setting_filter {
    right: 0px;
    background: #fff;
    box-shadow: 0px 1px 29px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    z-index: 99;
    top: 58px;
    left: 2px;
    max-width: 360px;
    width: 100%;
  }
  .fliter_font.fliter_font_hover ul li a {
    padding: 0px 14px !important;
  }
  .fliter_font ul {
    justify-content: space-between;
  }
}

.payment-details {
  text-align: center;
}
.editor_heading a span:hover {
  color: #222;
}
.follower_list .follower_pic,
.follower_list .follower_pic .follower_pic_name {
  width: 100%;
}
.follower_list .follower_pic .follower_pic_name {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
ul#list_view_setting li a,
ul#list_view_setting li a:hover {
  color: #222 !important;
}
.editor_heading h4 {
  font-family: "baskervillebold";
  color: #222;
  text-decoration: underline;
  font-size: 18px;
  margin-bottom: 12px;
}
div#setting_filter .fliter_font.fliter_font_hover ul li:nth-child(3) a {
  color: #fff !important;
}
.share_icons_flex p{
  font-family: "baskerville";
  color: #222;
  font-size: 18px;
  line-height: 24px;
  text-align: justify
}
.header_pic_details h3 {
  width: 250px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
h2.patahani-h2 {
  font-size: 16px;
  color: #fff;
  font-family: "baskervillebold";
  width: 43px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  left: 5px;
  top: 20px;
}

.follower_pic_name a h2.active {
  color: #3e3e3e6e;
}

.leave_comment input:focus{
  color: #222;
}