<app-header *ngIf="header"></app-header>
<app-backend-header *ngIf="backendHeader"></app-backend-header>
<!-- <app-sidebar *ngIf="sidebar"></app-sidebar> -->
<div *ngIf="showLoader" class="loader"><img src="/assets/img/loader.svg"></div>
<router-outlet></router-outlet>
<app-footer *ngIf="homeFooter"></app-footer>
<app-backend-footer *ngIf="backendFooter"></app-backend-footer>
<app-home-footer *ngIf="webFooter"></app-home-footer>


<!-- Modal -->
<div id="accountblock" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <p>You account is blocked by admin. Please contact admin.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
      </div>
    </div>

  </div>
</div>