.login_btn button.site_btn {
    color: #fff;
    font-family: 'baskervillebold';
    line-height: 44px;
    padding: 0;
}

form.issue_report.change_password_forms .label_input input{
    border: none;
    border-bottom: 1px solid rgba(90,90,90,.44);
    border-radius: unset !important;
    padding-left: 0 !important;
}