<div class="wraper">
    <section class="hero_section_craousel_mr pt_row">
        <div class="container">
            <div class="row">
                <div class="col-md-8 m-auto">

                    <div class="about_heading follower change_password">
                        <h2>Change Password</h2>
                        <div *ngIf="errorMsg">
                            <p class="alert alert-danger">
                                <strong>{{ errorMsg }}</strong>
                            </p>
                        </div>
                        <form [formGroup]="changepasswrodForm" class="issue_report change_password_forms"
                            (ngSubmit)="onSubmit()">
                            <div class="label_input">
                                <label for="">Old Password</label>
                                <input type="password" placeholder="Enter old password" formControlName="old_password"
                                    [ngClass]="{ 'is-invalid': submitted && f.old_password.errors }" />
                                <div *ngIf="submitted && f.old_password.errors" class="invalid-feedback">
                                    <div *ngIf="f.old_password.errors.required">
                                        Old password is required.
                                    </div>
                                </div>
                            </div>
                            <div class="label_input">
                                <label for="">New Password</label>
                                <input type="password" placeholder="Enter new password" formControlName="new_password"
                                    [ngClass]="{ 'is-invalid': submitted && f.new_password.errors }" />
                                <div *ngIf="submitted && f.new_password.errors" class="invalid-feedback">
                                    <div *ngIf="f.new_password.errors.required">
                                        New password is required.
                                    </div>
                                    <div *ngIf="f.new_password.errors.minlength">Password must be at least 6 characters.
                                    </div>
                                </div>
                            </div>
                            <div class="label_input">
                                <label for="">Confirm Password</label>
                                <input type="password" placeholder="Enter confirm password"
                                    formControlName="confirm_password"
                                    [ngClass]="{ 'is-invalid': submitted && f.confirm_password.errors }" />
                                <div *ngIf="submitted && f.confirm_password.errors" class="invalid-feedback">
                                    <div *ngIf="f.confirm_password.errors.required">
                                        Confirm password is required.
                                    </div>
                                    <div *ngIf="f.confirm_password.errors.mustMatch">Passwords must match.</div>
                                </div>
                            </div>
                            <div class="login_btn">
                                <button [disabled]="loading" class="site_btn">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>