td {
    padding: 8px 10px;
    /* border : 1px solid #e3ebf3 */
}
th {
    padding: 10px 8px;
    /* border : 1px solid #e3ebf3; */
    border-bottom: 1px solid #111111;
}
table.table-bordered {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

.table th{
    border-top: unset !important
}