.cover_img_upload2 label{width: 100%;
    height: 300px;
    }.cover_img_upload2 label img{    width: 100%;
    height: 100%;object-fit: cover;
    }.cover_img2{position: relative;padding-bottom: 120px;}.cover_img2 .user_pic_edit{    position: absolute;
    bottom: 24px;
    left: 0;
    right: 0;}.user_pic_edit label{width: 160px;
    height: 160px;
    margin: auto;
    border-radius: 50%;}.user_pic_edit label img{width: 100%;
    height: 100%;object-fit: cover;
    border-radius: 50%;border: 1px solid #fff;}.user_pic_edit,.user_pic_edit label,.user_pic_edit label template{    width: 120px;
    height: 120px;    margin: auto;}.cover_img_upload2,.cover_img_upload2 label,.cover_img_upload2 label template{height: 220px;}.cover_img2 .user_pic_edit {
    
    bottom: 60px;
    
}
.promocode_txt h2{
    font-size: 19px;
    color: #414141;
    margin: 0;
    font-weight: 500;
}
.promocode_txt p{
    font-size: 16px;
    font-weight: 400;
    color: #222;
    display: block;
    margin-top: 10px;
}

