<div class="page">
        <div *ngIf="showLoader" class="loader"><img src="/assets/img/loader.svg"></div>
    <div class="page-main">
        <!-- Sidebar menu-->
        <div class="app-content  my-3 my-md-5" *ngIf="usersUpdate">
            <div class="side-app">
                    <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a [routerLink]="['/dashboard']" >Dashboard</a></li>
                            <li class="breadcrumb-item"><a [routerLink]="['/users']" >User</a></li>
                            <li class="breadcrumb-item active" aria-current="page">
                                User Details
                            </li>
                        </ol>
                        <!-- {{ usersUpdate | json }} -->
                <div class="mt_mb">
                    <div class="form_edit_book">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="packages_detailing_txt">
                                    <!-- <h2>User Detail</h2> -->
                                </div>
                            </div>
                            <!-- <div class="col-md-6">
                                <div class="promocode_txt">
                                    <h2 class="mb-3">User Image</h2>
                                    <div class="service_image">
                                        <template *ngIf="usersUpdate.image; else note_img">
                                          <img src="{{ baseimage }}{{ usersUpdate.image }}" alt=""/>
                                        </template>
                                        <ng-template #note_img><img src="assets/img/camera.png" alt="" /></ng-template>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <div class="promocode_txt ">
                                    <h2 class="mb-3 ">Cover Image</h2>
                                    <div class="service_image ">
                                        <template *ngIf="usersUpdate.image; else note_img">
                                            <img src="{{ baseimage }}{{ usersUpdate.cover_image }}" alt=""/>
                                            <ng-template #note_img><img src="assets/img/camera.png" alt=""/></ng-template>
                                        </template>
                                    </div>
                                </div>
                            </div> -->
                            <div class="cover_img2 col-md-12">
                                <div class="cover_img_upload2">
                                    <label for="edit_cover_img_upload">
                    <template
                      *ngIf="usersUpdate.cover_image; else other_content"
                    >
                      <img
                        src="{{ baseimage }}{{ usersUpdate.cover_image }}"
                        alt=""
                      />
                    </template>
                    <ng-template #other_content
                      ><img src="assets/images/cover1.png" alt=""
                    /></ng-template>
                  </label>
                                </div>
                                <div class="user_pic_edit">
                                    <label for="upload_edit_pic">
                    <template *ngIf="usersUpdate.image; else other">
                      <img
                        src="{{ baseimage }}{{ usersUpdate.image }}"
                        alt=""
                      />
                    </template>
                    <ng-template #other
                      ><img src="assets/images/profile-placeholder.png" alt=""
                    /></ng-template>
                  </label>
                                    <!-- <h6>Upload Profile Image</h6> -->
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="promocode_txt">
                                    <h2>Name</h2>
                                    <p>{{ usersUpdate.fullname }}</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="promocode_txt">
                                    <h2>Username</h2>
                                    <p>{{ usersUpdate.username }}</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="promocode_txt">
                                    <h2>Email</h2>
                                    <p>{{ usersUpdate.email }}</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="promocode_txt">
                                    <h2>User Type</h2>
                                    <template *ngIf="usersUpdate.login_type != 2">
                    <p>Normal Login</p>
                  </template>
                                    <template *ngIf="usersUpdate.login_type === 2">
                    <p>Social Login</p>
                  </template>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="promocode_txt">
                                    <h2>Date Of Birth</h2>
                                    <!-- <p>{{ usersUpdate.dob | date: "MM/dd/yyyy" }}</p> -->
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="promocode_txt">
                                    <h2>Gender</h2>
                                    <p>{{ usersUpdate.gender }}</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="promocode_txt">
                                    <h2>Location</h2>
                                    <p>{{ usersUpdate.location }}</p>
                                </div>
                            </div>
                            <div class="col-md-4"></div>
                            <div class="col-md-4"></div>
                            <div class="col-md-12">
                                <div class="promocode_txt">
                                    <h2>Bio</h2>
                                    <p>{{ usersUpdate.bio }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="save_flex_btn">
                            <div class="back_btn_outside">
                                <!-- <a [routerLink]="['/users']" class="back_btn">BACK</a> -->
                            </div>
                        </div>
                        <!-- </form> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
