li.slide a.side-menu__item {
    cursor: pointer;
}

li.slide a.side-menu__item.active {
    background: rgb(251, 236, 234, 0.3) !important;
}

li.slide a.side-menu__item:hover {
    background: rgb(251, 236, 234, 0.3) !important;
}
.dropdown-menu{ background: #ffff}
a.dropdown-toggle.side-menu__item{ 
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}

.dropdown-menu a.side-menu__item span{ 
    color: #222;
    font-size: 14px;
    font-weight: 600;
}