<!-- Sidebar menu-->
<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
    <ul class="side-menu">
        <li class="slide">
            <a class="side-menu__item" routerLink="/dashboard"><img src="assets/images/dashboard1.png" alt="" /><span class="side-menu__label">Dashboard</span
        ></a
      >
    </li>
    <li class="slide">
      <a class="side-menu__item" routerLink="/users"
        ><img src="assets/images/user.svg" alt="" /><span
          class="side-menu__label"
          >User Listing</span
        ></a
      >
    </li>

    <li class="slide">
      <a class="side-menu__item" routerLink="/manage-books"
        ><img src="assets/images/book2.png" alt="" /><span
          class="side-menu__label"
          >Manage Books</span
        ></a
      >
    </li>

    <li class="dropdown slide">
        <a class="dropdown-toggle side-menu__item" data-toggle="dropdown" href="javascript:void(0)"><img src="assets/images/payment.svg" alt="" />Payments Dashboard
        <span class="caret"></span></a>
        <ul class="dropdown-menu chapter_subs_color">
            <li>   <a class="side-menu__item" routerLink="/chapter-payments"
              ><img src="assets/images/payment.svg" alt="" /><span
                class="side-menu__label"
                >Chapter Payments</span
              ></a></li>
          <li><a class="side-menu__item" routerLink="/subscription-payments"
            ><img src="assets/images/payment.svg" alt="" /><span
              class="side-menu__label"
              >Subscriptions Payments</span
            ></a></li>
         
        </ul>
      </li>
    <li class="slide">
      <a class="side-menu__item" routerLink="/message-board"
        ><img src="assets/images/message.svg" alt="" /><span
          class="side-menu__label"
          >Message Board</span
        ></a
      >
    </li>
    <li class="slide">
      <a class="side-menu__item" routerLink="/book-report"
        ><img src="assets/images/message.svg" alt="" /><span
          class="side-menu__label"
          >Book Reports</span
        ></a
      >
    </li>
    <li>
      <a class="side-menu__item" routerLink="/feedbacks-and-suggestions"
        ><img src="assets/images/Feedback.svg" alt="" /><span
          class="side-menu__label"
          >Feedback and Suggestions</span
        ></a
      >
    </li>
    <li class="slide">
      <a class="side-menu__item" routerLink="/backend-notifications"
        ><img src="assets/images/bell.svg" alt="" /><span
          class="side-menu__label"
          style="white-space: pre-line;"
          >Announcements and Notifications</span
        ></a
      >
    </li>
    <!-- <li class="slide">
      <a class="side-menu__item" routerLink="/advertisements"
        ><img src="assets/images/revenue.svg" alt="" /><span
          class="side-menu__label"
          >Advertisements Revenue</span
        ></a
      >
    </li> -->
    <li class="slide">
      <a class="side-menu__item" routerLink="/manage-pages"
        ><img src="assets/images/pages.svg" alt="" /><span
          class="side-menu__label"
          >Manage Pages</span
        ></a
      >
    </li>
    <li class="slide">
      <a class="side-menu__item" routerLink="/manage-genre"
        ><img src="assets/images/genre.svg" alt="" /><span
          class="side-menu__label"
          >Manage Genre</span
        ></a
      >
    </li>
    <li class="slide">
      <a class="side-menu__item" routerLink="/manage-content-type"
        ><img src="assets/images/content_type.svg" alt="" /><span
          class="side-menu__label"
          >Manage Content Type</span
        ></a
      >
    </li>
    <li class="slide">
      <a class="side-menu__item" routerLink="/manage-copyright"
        ><img src="assets/images/copyright.svg" alt="" /><span
          class="side-menu__label"
          >Manage Copyright</span
        ></a
      >
    </li>
    <li class="slide">
      <a class="side-menu__item" routerLink="/manage-subscription"><img src="assets/images/content_type.svg" alt="" /><span
          class="side-menu__label">Manage Subscription</span></a>
        </li>
    </ul>
</aside>