<div class="page">
    <div class="page-main">
        <!-- Sidebar menu-->
        <div class="app-content  my-3 my-md-5" *ngIf="getChapter">
            <div class="side-app">
                <ol class="breadcrumb mb-3">
                        <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Dashboard</a></li>
                        <li class="breadcrumb-item"><a [routerLink]="['/manage-books']" >Manage Content</a></li>
                        <li class="breadcrumb-item"><a [routerLink]="['/view-manage-content/', getChapter.book_id]" >View Content</a></li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Edit Content
                        </li>
                    </ol>
                <div class="mt_mb">
                    <div class="form_edit_book">
                        <div *ngIf="showMsg">
                            <p class="alert alert-success">
                                <strong>{{ showMsg }}</strong>
                            </p>
                        </div>
                        <div *ngIf="errorMsg">
                            <p class="alert alert-danger">
                                <strong>{{ errorMsg }}</strong>
                            </p>
                        </div>
                        <form [formGroup]="updateForm" class="issue_report" (ngSubmit)="onSubmit()">
                            <div class="heading_form">
                                <!-- <h2 class="text-center">Edit Chapter</h2> -->
                            </div>

                            <div class="cover_img2">
                                <div class="cover_img_upload2">
                                    <label for="edit_cover_img_upload">
                                    <input
                                    type="file"
                                    id="edit_cover_img_upload"
                                    (change)="onSelectCoverImage($event)"
                                    class="d-none"
                                    />
                                    <img src="{{ baseimage }}{{ getChapter.image }}" alt="" />
                                  </label>
                                </div>
                            </div>
                            <div class="form-group input_txt">
                                <label for="video">Add Youtube Search Video Link </label>
                                <input type="url" [ngModel]="getChapter.video" placeholder="Add Youtube Search Video Link" formControlName="video" class="form-control" id="video" [ngClass]="{ 'is-invalid': submitted && f.video.errors }" />
                                <div *ngIf="submitted && f.video.errors" class="invalid-feedback">
                                    <div *ngIf="f.video.errors.required">
                                        Description is required
                                    </div>
                                </div>
                            </div>
                            <div class="form-group input_txt">
                                <input type="hidden" [ngModel]="getChapter._id" placeholder="Chapter Id" formControlName="chapter_id" class="form-control" id="chapter_id" />
                            </div>
                            <input type="hidden" [ngModel]="getChapter.image" formControlName="image" />
                            <div class="form-group input_txt">
                                <input type="hidden" [ngModel]="getChapter.book_id" placeholder="Chapter Id" formControlName="book_id" class="form-control" id="book_id" />
                            </div>
                            <div class="form-group input_txt">
                                <input type="hidden" [ngModel]="getChapter.is_published" placeholder="Chapter Id" formControlName="is_published" class="form-control" id="is_published" />
                            </div>
                            <div class="form-group input_txt">
                                <label for="chapter_name">Title of Chapter:</label>
                                <input type="text" [ngModel]="getChapter.chapter_name" placeholder="Chapter Name" formControlName="chapter_name" class="form-control" id="chapter_name" [ngClass]="{
                                  'is-invalid': submitted && f.chapter_name.errors}" />
                                <div *ngIf="submitted && f.chapter_name.errors" class="invalid-feedback">
                                    <div *ngIf="f.chapter_name.errors.required">
                                        Chapter Name is required
                                    </div>
                                </div>
                            </div>
                            <div class="form-group input_txt">
                                <label for="content">Description</label>
                                <!-- <input type="text"  placeholder="Description" formControlName="content" class="form-control" id="content" [ngClass]="{ 'is-invalid': submitted && f.content.errors }" /> -->
                                <textarea [ngModel]="getChapter.content" formControlName="content" class="form-control" name="" id="" cols="30" rows="1" placeholder="Description" [ngClass]="{ 'is-invalid': submitted && f.content.errors }"></textarea>
                                <div *ngIf="submitted && f.content.errors" class="invalid-feedback">
                                    <div *ngIf="f.content.errors.required">
                                        Description is required
                                    </div>
                                </div>
                            </div>

                            <div class="form-group input_txt">
                                <template>
                                <label for="is_paid">Paid</label>
                                <select formControlName="is_paid" class="form-control" [ngModel]="getChapter.is_paid"
                                    id="is_paid" name="is_paid" [ngClass]="{ 'is-invalid': submitted && f.is_paid.errors }">
                                    <option value="" selected disabled>Select Paid</option>
                                    <option value="true">Paid</option>
                                    <option value="false">Unpaid</option>
                                </select>
                                <div *ngIf="submitted && f.is_paid.errors" class="invalid-feedback">
                                    <div *ngIf="f.is_paid.errors.required">
                                    Paid is required
                                    </div>
                                </div>
                                </template>
                            </div>
                            <div class="form-group input_txt">
                                <label for="amount">Amount Chapter ($)</label>
                                <input type="number" [ngModel]="getChapter.amount" placeholder="Amount $" formControlName="amount" class="form-control" id="amount" [ngClass]="{ 'is-invalid': submitted && f.amount.errors }" />
                                <div *ngIf="submitted && f.amount.errors" class="invalid-feedback">
                                    <div *ngIf="f.amount.errors.required">Amount is required</div>
                                </div>
                            </div>
                            <div class="container">
                                <div class="text-center">
                                    <div class="">
                                        <div class="save text-left">
                                            <button [disabled]="loading" class="site_btn">
                        Update
                      </button>
                                        </div>
                                    </div>
                      
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>