.cover_img_upload2 label {
    width: 100%;
    height: 300px;
}

.cover_img_upload2 label img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user_pic_edit label {
    width: 160px;
    height: 160px;
    margin: auto;
    border-radius: 50%;
}

.user_pic_edit label img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #fff;
}

.form-group.input_txt input {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 600;
}

.form-group.input_txt input::placeholder {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400;
}.form-group.input_txt textarea {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 600;
}
.form-group.input_txt textarea::placeholder{font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400;}
button:focus {
    outline: none;
}

button {
    border: none;
}
