<div class="wraper">

    <div class="mail_from" style="max-width: 600px;margin:214px auto;background: rgba(255, 255, 255, 0.42);box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);padding:20px 40px;border-radius: 10px;">
        <div class="txt_confermation" style="text-align: center;margin-top: 20px;">
            <h2 style="font-size: 20px; font-weight: 700; color: #381266;margin-bottom: 10px;">LIBRUMS</h2>
            <p style="font-size: 16px; font-weight: 400; color: rgba(0,0,0,0.50);margin-bottom: 20px;">Congratulations! Your Librums account has been verified.</p>
            <a routerLink = "/"style="border:none;max-width: 213px; width: 100%;display: inline-block;text-align: center;background-image: linear-gradient(481deg, #E65124, #9C9400, #27953E, #53479E);    border-radius: 30px;outline: none;color: #fff;font-size: 16px; font-weight: 500;line-height: 40px;">Go to website</a>
        </div>
    </div>
</div>