#videoModel{
    top: 30%
}
#videoModel .modal-footer {
    border: none;
    padding: 0;
    outline: none;
}
#videoModel .modal-footer button{
    position: absolute;
    top: 6px;
    outline: none;
}
.collapse_setting{
    position: inherit;
}
#setting_filter{
    position: absolute;
    z-index: 9999;
}
p.top_search{
    font-size: 14px;
    font-family: 'baskervillebold';
    color: rgba(0,0,0,0.5);
}
.video label, .video img {
    cursor: pointer;
}
.hello.text-center {
    max-width: 800px;
    height: 300px;
    margin: auto;
}
.hello.text-center img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-top: 28px;
}
iframe{
    border: none;
}
.tittle_chapter .label_input input,.tittle_chapter .label_input select{
    font-size: 16px;
    color:#222;
    font-family: 'baskervillebold';
    padding: 10px;
}
.tittle_chapter .label_input select{
    text-indent: 17px;
    border: 1px solid #D1D1D1;
    background-image: url(/assets/img/a3.svg);
    background-repeat: no-repeat;
    background-position: 50% 96%;
    background-position: 99% 50%;
    padding: 0;
    -webkit-appearance: none;
}
.tittle_chapter .label_input select:focus{
    border: 1px solid #D1D1D1;
}
.tittle_chapter .label_input input::placeholder{
    font-size: 16px;
    color: rgba(0,0,0,0.5);
    font-family: 'baskervillebold';
}
.fliter_font ul:hover{
    display: flex;
}

/* .main_header{
    height: 150px;
} */

.loader {
    position: fixed;
    /* top: 25%; */
    text-align: center;
    left: 0;
    right: 0;
    z-index: 999999999999;
    background: rgba(0, 0, 0, 0.22);
    width: 100%;
    height: 100%;
    top: 0;
}
.loader img {
    padding-top: 200px;
}
.ch_header .flex_header{
    top: 0px;
}

.e-dlg-content{
    display: none;
}

div#toolbar_Image {
    z-index: 9999999;
    top: 30%;
}

.label_input.switch2 .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .label_input.switch2 .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .label_input.switch2 .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e2e2e2;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .label_input.switch2 .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .label_input.switch2 input:checked + .slider {
    background-color: #222;
  }
  
  .label_input.switch2 input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  .label_input.switch2 input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .label_input.switch2 .slider.round {
    border-radius: 34px;
  }
  
  .label_input.switch2 .slider.round:before {
    border-radius: 50%;
  }
  .label_input.switch2 .switch{
      background: unset;
  }
  select#is_paid{
    border: 1px solid #D1D1D1;
    -webkit-appearance: none;
    background: #fff;
    background-image: url(/assets/img/a2.svg);
    background-repeat: no-repeat;
    background-position: 50% 96%;
    background-position: 98% 50%;
    padding: 0;
  }
  .newlogo {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    /* z-index: -1; */
}
.upload_img_video p {
    font-size: 14px;
    color: #222;
    font-family: 'baskervillebold';
}
.ch_header .main_header {
    line-height: 121px;
}
.header_icon_left ul li{
    padding-top: 0;
}
.wraper.wraper_edit {
    margin-top: -6px;
}
.lines ul:hover {
    display: flex;
}
.tittle_chapter.select_paid{
    margin-top: 67px;
}

iframe#abc_frame {
    width: 100%;
    height: 400px;
    margin-top: 20px;
    margin-bottom: -30px;
}
.toggle.btn.btn-xs {
    float: right;
}


header.ch_header .newlogo{
    z-index: unset;
}
.main_container .header_icon_left ul,.main_container .header_icon_right2{
    position: relative;
    z-index: 999999;
}
@media only screen and (max-width: 992px){
    .wraper.wraper_edit{
        margin-top: -55px;
    }
    .ch_header .flex_header{
        top: 0;
    }
    .ch_header .header_icon_right2 ul{
        top: 84px;
      }
}
.custom_toggle_button_cover .toggle-button-cover{
    top: -1px;
    left: 0;
}
.header_pic_details h2 {
    text-overflow: ellipsis;
    width: 400px;
    overflow: hidden;
    white-space: nowrap;
}
.patahani-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: unset;
}