.promocode_txt p{
    font-size: 16px;
    color: #414141;
    margin: 0;
    font-weight: 400;
    line-height: 23px;
}
#tester_class{
    font-size: 18px;
color: #414141;
margin: 0;
margin-top: 0px;
font-weight: 500;
font-family: baskervillenormal;
line-height: 28px;
max-height: calc(100vh - 300px);
overflow-y: scroll;
}
.side-app {
    padding-bottom: 50px !important;
}