.over_flow_tab ul.nav.nav-tabs {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    overflow-x: scroll;
    display: flex;
    align-items: center;
    scrollbar-width: none;
  }
  /* width */
  .over_flow_tab ul.nav.nav-tabs::-webkit-scrollbar {
    width: 10px;
    height: 1px;
  }
  /* Track */
  .over_flow_tab ul.nav.nav-tabs::-webkit-scrollbar-track {
    background: #fff;
  }
  /* Handle */
  .over_flow_tab ul.nav.nav-tabs::-webkit-scrollbar-thumb {
    background: #fff;
  }
  .over_flow_tab ul.nav.nav-tabs .nav-item {
    width: 20%;
    margin-bottom: 10px;
  }
  .over_flow_tab.nav-item a {
    padding: 10px 20px;
  }
  .over_flow_tab .nav-tabs .nav-link {
    min-width: 143px;
    text-align: center;
    margin: 0 20px;
    border-radius: 30px;
  }
  ul.nav.nav-tabs.custom_tabs_pills {
    padding-bottom: 30px;
    border: none !important;
  }
  ul.nav.nav-tabs.custom_tabs_pills li.nav-item a.nav-link.active {
    background-image: linear-gradient(481deg, #e65124, #9c9400, #27953e, #53479e);
    color: #fff;
  }
  ul.nav.nav-tabs.custom_tabs_pills li.nav-item a.nav-link {
    background: #f6f6f6;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.11);
    transition: 0.3s;
    font-size: 14px;
    font-family: "baskervillebold";
    max-width: 130px;
    width: 100%;
    text-align: center;
    padding: 0;
    line-height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #222;
    margin: 0px 10px;
  }
  ul.nav.nav-tabs.custom_tabs_pills li.nav-item a.nav-link:hover {
    background-image: linear-gradient(481deg, #e65124, #9c9400, #27953e, #53479e);
    color: #fff;
  }
  ul.nav.nav-tabs.custom_tabs_pills li.nav-item {
    width: unset !important;
  }
  .txt_silde_profile a {
    font-size: 18px;
    color: #414141;
    font-family: "baskervillebold";
    margin-bottom: 4px;
  }
  .txt_silde_profile a:hover{
    text-decoration: underline !important
  }
  .read_more a {
    color: #222;
    font-size: 18px;
    font-family: 'baskerville';
    font-weight: 600;
  }
  .read_more p {
    color: #222;
    font-family: "baskerville";
    margin-bottom: 6px;
    font-size: 18px;
    line-height: 24px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .txt_silde_profile a span{
    font-family: "baskerville";
  }
  .owl-item.active {
    position: relative;
  }
  .owl-item.active .owl-nav {
    position: absolute;
  }
  .owl-nav {
    position: absolute;
    top: 46%;
    z-index: 9999;
    width: 100%;
    margin: 0;
  }
  .owl-nav button {
    outline: none;
  }
  .owl-nav button.owl-prev {
    position: absolute;
    left: 7px;
  }
  .owl-nav button.owl-prev span {
    content: url(/assets/img/slider_arrow_left.svg);
    position: absolute;
    left: -30px;
    z-index: 999;
    top: calc(100% - 55%);
    background: transparent;
    margin: 0;
    padding: 0;
  }
  .owl-nav button.owl-next {
    position: absolute;
    right: 21px;
  }
  .owl-nav button.owl-next span {
    content: url(/assets/img/slider_arrow_right.svg);
    position: absolute;
    right: -43px;
    z-index: 999;
    top: calc(100% - 55%);
    background: transparent;
    margin: 0;
    padding: 0;
  }
  .over_flow_tab ul.nav.nav-tabs {
    /* flex-wrap: wrap; */
    overflow: auto;
    white-space: nowrap;
    width: 75%;
  }
  
  .loader {
    position: fixed;
    text-align: center;
    left: 0;
    right: 0;
    z-index: 999999999999;
    background: rgba(0, 0, 0, 0.22);
    width: 100%;
    height: 100%;
    top: 0;
  }
  .loader img {
    padding-top: 200px;
  }
  
  .exp_crsl .top_heading_txt h2,
  .exp_crsl .card_btn_list2 a {
    color: #222;
  }
  .card_btn_list2 a{
    font-size: 15px;
    font-weight: 600;
    font-family: "baskervillebold";
  }
  .exp_crsl .txt_silde_profile p {
    font-family: "baskervillebold";
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
  }
  .exp_crsl .read_more {
    margin-top: 8px;
  }
  h4.eighteen_plus::before {
    position: absolute;
    content: "";
    min-width: 130px;
    height: 119px;
    background: #bf1b1b;
    right: -14px;
    transform: rotateZ(-39deg);
    right: -52px;
    z-index: -1;
  }
  h4.eighteen_plus {
    position: absolute;
    z-index: 9999;
    top: -28px;
    right: 0px;
    background: none;
    transform: unset !important;
    padding: 0 !important;
    padding-right: 7px !important;
  }
  .exp_crsl.tab-pane .carousel_slides_txt .read_more p {
    word-break: unset;
  }
  .exp_crsl.tab-pane .carousel_slides_txt {
    white-space: unset;
  }
  .exp_crsl.tab-pane {
    position: relative;
    margin-bottom: 50px;
  }
  .exp_crsl.tab-pane .carousel_slides_img {
    /* width: 200px;
    height: 280px; */
    border-radius: 4px;
  }
  .carousel_slides{
    /* padding-top: 30px;
    padding: 30px 35px; */
  }
  .exp_crsl.tab-pane .carousel_slides_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
  }
  .exp_crsl.tab-pane .carousel_slides_img:hover img {
    transition: 0.3s;
    transform: scale(1.2);
  }
  ul.nav.nav-tabs.custom_tabs_pills.br-0 .nav-link,
  ul.nav.nav-tabs.custom_tabs_pills.br-0 .nav-item {
    min-width: unset;
  }
  .over_flow_tab.custom_overflow_tab
    ul.nav.nav-tabs.custom_tabs_pills.br-0
    .nav-item {
    min-width: 143px;
    margin: 0px;
  }
  .carousel_slides.carousel_slides_card .carousel_slides_img {
    position: relative;
    overflow: hidden;
  }
  
  .layout-1 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.23);
    padding-bottom: 23px;
  }
  
  .card_btn_list ul li a {
    padding: 4px 10px;
    background-image: linear-gradient(481deg, #e65124, #9c9400, #27953e, #53479e);
    color: #fff;
    border-radius: 51px;
    font-size: 14px;
    font-family: "baskervillenormal";
    display: inline-block;
  }
  .arrows_lt_rt {
    margin-bottom: 0;
    justify-content: center;
    margin-top: -16px;
  }
  .crasoule_heading_txt {
    margin-bottom: 0;
  }
  .crasoule_heading_txt_left {
    padding-top: 50px;
    padding-bottom: 40px;
  }
  .crasoule_heading_txt_left h2 {
    font-size: 30px;
    text-transform: capitalize;

  }
  .over_flow_tab.over_flow_tab2
    ul.nav.nav-tabs.custom_tabs_pills.br-0
    li.nav-item
    a.nav-link {
    min-width: 130px;
    width: 100%;
  }
  .carousel_slides.carousel_slides_card .carousel_slides_img:hover div {
    transform: scale(1.2);
    transition: 0.3s;
  }
  
  .read_more a{
    padding-left: 10px;
  }
  button#dropdownMenuButton {
    background: #fff;
    border: none;
    width: 36px;
    line-height: 30px;
    transition: 0.3s;
    outline: none;
  }
  button#dropdownMenuButton:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    transition: 0.3s;
  }
  .dropdown-toggle::after,
  .dropleft .dropdown-toggle::before {
    display: none;
  }
  .dropdown.dropleft .dropdown-menu {
    top: 39px !important;
    left: 27px !important;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 0px 10px hsla(0, 0%, 0%, 0.22);
  }
  .dropdown-menu a {
    font-size: 14px;
    font-family: "baskervillebold";
    padding: 5px 17px;
    color: #222;
  }.dots {
    position: absolute;
    top: 0px;
    right: 0px;
  }