<div id="global-loader">
</div>
<div class="page">
    <div class="page-main">
        <!-- sidebar area -->
        <div class="app-content  my-3 my-md-5">
            <div class="side-app">
                    <div class="page-header">
                            <!-- <h4 class="page-title">View Message Board</h4> -->
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Dashboard</a></li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Announcements
                                </li>
                            </ol>
                        </div>
           
                <div class="form_edit_book all_custom_input">
                    <form  class="issue_report" [formGroup]="updateForm"
                    (ngSubmit)="onSubmit()" >
                    <div class="heading_form">
                        <h2 class="text-center">Announcements</h2>
                    </div>
                    <div class="form-group input_txt">
                        <label for="message">Message</label>
                               
                        <textarea placeholder="Enter message" formControlName="message" class="form-control" id="message" required    [ngClass]="{ 'is-invalid': submitted && f.message.errors }"></textarea>
                        <div *ngIf="submitted && f.message.errors" class="invalid-feedback">
                        <div *ngIf="f.message.errors.required">Message is required</div> 
                        </div>
                        
                    </div>
                    <div class="container">
                        <div class="row mt-5">
                            <div class="col-md-12">
                                <div class="save ">
                                    <input type="submit" value="Send" name="Submit" class="site_btn">
                                </div>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
