<!-- header end-->
<div class="wraper" *ngIf="profileData">
    <div *ngIf="showLoader" class="loader"><img src="/assets/img/loader.svg"></div>

    <section class="hero_section_craousel_mr mb-0 pb-7">
        <div class="covered_img view_profile_img">
            <div class="covered_img_imside" [ngStyle]="{'background-image': 'url('+profileData.cover_image+')'}">
                <div class="author_wall_image">
                    <div class="user_name_txt_heading">
                        <div class="user_name_txt_heading_img profile">
                            <img *ngIf="profileData.image !== '' ;" src={{_baseURL}}{{profileData.image}} alt="">
                            <img *ngIf="profileData.image === '' ;" src="assets/images/img_user1.svg" alt="">
                            <div class="edit_pic">
                                <a [routerLink]="['/myprofile/editprofile']"><img src="assets/img/white_pen.svg "
                                        alt="">
                                </a>
                            </div>
                        </div>
                        <h2 *ngIf="profileData.fullname" class="pt-2">{{profileData.fullname }}</h2>
                        <p *ngIf="profileData.username">@{{profileData.username}}</p>
                        <div class="follow_clor_following mt-6">
                            <a class=" pr-4 mr-4" [routerLink]="['/followers']">
                                FOLLOWERS <span
                                    class="badge badge-pill badge-light">{{profileData.noOfFollower}}</span></a>
                            <a class=" pl-2" [routerLink]="['/following']">
                                FOLLOWINGS <span
                                    class="badge badge-pill badge-light">{{profileData.noOfFollowing}}</span></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 m-auto">
                    <div class="row">
                        <div class="col-md-4 ">

                            <div class="dp_detail input_form_filled white_border position-relative">
                                <div class="edit_pic position-absolute">
                                    <a [routerLink]="['/myprofile/editprofile']"><img src="assets/img/white_pen.svg "
                                            alt="">
                                    </a>
                                </div>
                                <div class="label_input">
                                    <label for="">Username</label>
                                    <p *ngIf="profileData.username">{{profileData.username}}</p>
                                </div>
                                <div class="label_input">
                                    <label for="">Name</label>
                                    <p *ngIf="profileData.fullname">{{profileData.fullname}}</p>
                                </div>
                                <div class="label_input">
                                    <label for="">Email</label>
                                    <p *ngIf="profileData.email">{{profileData.email}}</p>
                                </div>

                                <div *ngIf="profileData.gender" class="label_input">
                                    <label for="">Gender</label>
                                    <p style="text-transform: capitalize;" *ngIf="profileData.gender">
                                        {{profileData.gender}}</p>
                                </div>
                                <div class="label_input">
                                    <label for="">Date of Birth</label>
                                    <p *ngIf="profileData.dob">{{profileData.dob}}</p>
                                </div>
                                <div class="bio label_input" *ngIf="profileData.bio">
                                    <label for="">Bio</label>
                                    <p style="white-space:break-spaces">{{profileData.bio}}</p>
                                </div>
                                <div class="label_input" *ngIf="profileData.location">
                                    <label for="">Location</label>
                                    <p *ngIf="profileData.location">{{profileData.location}}</p>
                                </div>
                                <!-- <a  class="btn btn-success mb-3 add_chapter pr-6" [routerLink]="['/followers']">View Followers</a>
            <a  class="btn btn-success mb-3 add_chapter float-right" [routerLink]="['/following']">View Followings</a>-->
                            </div>
                        </div>
                        <div class="col-md-8 ">
                            <div class="outer-post  outer_post_box">
                                <form [formGroup]="updateForm" class="edit_profile_form white_border"
                                    (ngSubmit)="onSubmit()">
                                    <input type="hidden" [value]="userdata.data._id" id="user_id">

                                    <div class="post-textarea">
                                        <div class="post_img_user mr-5">
                                            <img *ngIf="userImage !== ''" src="{{_baseURL}}{{userImage}}" alt="">
                                            <img *ngIf="userImage == ''" src="assets/images/img_user1.svg" alt="">
                                        </div>
                                        <div class="text_area_box">
                                            <textarea formControlName="content" class="form-control" cols="20" rows="5"
                                                placeholder="Write a message" [ngClass]="{ 'is-invalid': showError }"
                                                maxlength="1000"></textarea>
                                            <div class="details_listing_txt_img1" style="display:none;">
                                                <span class="cross" (click)=CrossImage()>X</span>
                                                <img src="" alt="" id="post-image" style="display: none">
                                            </div>
                                            <div *ngIf="showError" class="invalid-feedback">
                                                <div *ngIf="showError">
                                                    Post message is required
                                                </div>

                                            </div>
                                            <div class="d-flex align-items-center justify-content-between mt-6">
                                                <label for="uploaded_pics">
                                                    <input type="file" id="uploaded_pics"
                                                        (change)="onSelectFile($event)" class="d-none">

                                                    <input type="file" id="uploaded_pics" class="d-none">
                                                    <img src="assets/img/upload1.svg" alt="">
                                                </label>
                                                <button [disabled]="loading" class="site_btn">Post</button>
                                            </div>
                                        </div>
                                    </div>

                                </form>

                                <div *ngFor="let post of wallData; let i = index;" class="post_name white_border"
                                    class="white_border listing_view_post">
                                    <div class="outer-cus-div details_listing">

                                        <div class="post_img_user mr-5">
                                            <img *ngIf="post.user_image !== ''" src="{{_baseURL}}{{post.user_image}}"
                                                alt="">
                                            <img *ngIf="post.user_image == ''" src="assets/images/img_user1.svg" alt="">
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between mb-3">
                                            <h2>{{post.fullname}}<span>@{{post.user_name}}</span></h2>
                                            <!-- <a
                            href="javascript:void(0)" data-toggle="modal" data-target="#save_box"
                            (click)="deletWallPost(post._id)"><img src="assets/images/trash2.svg"></a> -->
                                            <div class="dropdown dropleft">
                                                <button class="dropdown-toggle" type="button" id="dropdownMenuButton"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <img src="assets/img/dots.svg" alt="" />
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                                                    <a class="dropdown-item" href="javascript:void(0)"
                                                        data-toggle="modal" data-target="#save_box"
                                                        (click)="deletWallPost(post._id)">Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="time-div">
                                            <h3>{{post.created_at}}</h3>
                                        </div>
                                    </div>
                                    <div class="details_listing">
                                        <div style="margin-top:10px" class="details_listing_txt">
                                            <p style="white-space:break-spaces">{{post.content}}</p>


                                            <div *ngIf="post.image !== ''" class="details_listing_txt_img">
                                                <img style="cursor: pointer;" (click)="viewImage(post.image)"
                                                    src={{_baseURL}}{{post.image}} alt="">
                                            </div>

                                        </div>
                                    </div>

                                </div>



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>
<!-- footer -->
<div class="container block_user_popup">
    <div class="modal fade" id="save_box">
        <div class="modal-dialog modal-md modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-body text-center">
                    <div class="block_user">
                        <h2 style="text-align: center;">Are you sure you want to delete this record?</h2>
                        <p>After you delete this record you will not able to get this.</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <a id="save" class="btn btn-primary pl-6 pr-6" data-dismiss="modal" (click)="deleteConfirm()">
                        Yes
                    </a>
                    <a class="btn btn-light pl-6 pr-6" data-dismiss="modal">
                        No
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="view-image">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body" style="
                width: 100%;
                height: calc(100vh - 100px);padding:5px;">
                    <a id="save123456" class="" data-dismiss="modal">
                        <i class="fa fa-close"></i> </a>

                    <img style="width:100%;height:100%;object-fit: contain;" src="{{_baseURL}}{{imgSrc}}" />
                </div>
            </div>
        </div>
    </div>
</div>