.user_name_txt_heading_img.profile {
  position: relative;
}
.user_name_txt_heading_img.profile::before {
  content: "";
  position: absolute;
  width: 176px;
  height: 176px;
  display: block;
  margin: auto;
  bottom: -10px;
  left: -10px;
  border-radius: 50%;
  padding: 6px;
  background: transparent;
  border: 4px solid #fff;
}
.edit_pic {
  position: absolute;
  right: 0;
  bottom: -1px;
}
.dp_detail .label_input{
  margin-bottom: 10px;
}
.d-flex.align-items-center.justify-content-between.mb-3 {
  width: 85%;
}
.outer-cus-div.details_listing {
  display: flex;
} 
.time-div h3 {
  font-size: 12px;
}
.time-div {
  position: absolute;
  left: 116px;
  margin-top: 28px;
 
}
.container.block_user_popup.add_story_popup .modal-content {
  border: none;
  background: #222;
  padding: 0px;
}
.listing_view_post{display: block;}
.dropleft .dropdown-toggle::before{
  display: none;
}
.loader {
  position: fixed;
  /* top: 25%; */
  text-align: center;
  left: 0;
  right: 0;
  z-index: 999999999999;
  background: rgba(0, 0, 0, 0.22);
  width: 100%;
  height: 100%;
  top: 0;
}
.site_btn{
  min-width: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.loader img {
  padding-top: 200px;
}
.dp_detail p {
  font-family: "baskerville";
}
.post_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Wall*/
.post_img {
  width: auto;
  height: auto;
}
.post_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
a.post_txt {
  color: #222;
  color: #222;
  font-size: 15px;
  font-family: "baskervillebold";
}
.trash_btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid #e3ebf3;
  padding: 10px 0px;
}
.trash_btn:last-child {
  border-bottom: 1px solid #e3ebf3;
}
.trash_btn p {
  margin-bottom: 0;
}
.post_img {
  width: 225px;
  height: 150px;
}
.post_img img {
  widows: 100%;
  height: 100%;
  object-fit: cover;
}
a.btn.btn-success.mb-3.add_chapter {
  background: linear-gradient(481deg, #e65124, #9c9400, #27953e, #53479e);
  border: none;
  color: #fff;
  font-size: 16px;
  font-family: "baskervillebold";
}

h2.No_wal {
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
  font-family: "baskervillebold";
  margin-top: 40px;
  margin-bottom: 0;
}
.heading_cover.my_stories_txt {
  max-width: 674px;
  width: 100%;
  margin: 50px auto;
}
.heading_cover.my_stories_txt p {
  font-size: 18px;
  margin-bottom: 0px;
  font-family: "baskervillenormal";
  color: #222;
}

img#post-image {
    height: 300px;
}

img.post-image {
    cursor: pointer;
}
.details_listing_txt_img1{

  width: 100%;
  height: 300px;
  margin-bottom: 10px;
}
.details_listing_txt_img1 img{
width: 100%;
height: 100%;
object-fit: cover;
}
a#save123456:hover {
color: #222;
}
a#save123456 {
  position: absolute;
  right: 20px;
}
.hero_section_craousel_mr {
  margin-top: 0;
  background: #f1f3f6;
}
.crasoule_heading_txt_left {
  padding-top: 50px;
  padding-bottom: 23px;
}
/* Wall*/
.white_border {
    background: white;
    padding: 20px;
    border: 1px solid #ced2d8;
    border-radius: 10px;
}
.listing_view_post .post_img_user {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
form.edit_profile_form {
  margin-bottom: 20px;
}

span.cross {
  float: right;
  background: #4e5053;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  text-align: center;
  top: 12px;
  position: relative;
  left: 8px;
  color: #fff;
  cursor: pointer;
}

.block_user_popup .modal-footer {
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.edit_pic.position-absolute{
    top: -9px;
    right: -13px;
}