<div class="wraper">
  <section class="hero_section_craousel_mr pt_row">
    <div class="container">
      <div class="about_heading follower change_password">
        <h2>Contact Us</h2>
        <form [formGroup]="reportForm" class="issue_report all_custom_placeholders" (ngSubmit)="onSubmit()">
          <div class="label_input">
            <label for="">Name</label>
            <input type="text" placeholder="Enter your name" formControlName="name"
              [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
              <div *ngIf="f.name.errors.required">
                Name field is required.
              </div>
            </div>
          </div>
          <div class="label_input">
            <label for="">Email </label>
            <input type="text" placeholder="Enter your email address" formControlName="email"
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">
                Email field is required.
              </div>
            </div>
          </div>
          <div class="label_input">
            <label for="">Subject</label>
            <input type="text" placeholder="Enter the subject" formControlName="subject"
              [ngClass]="{ 'is-invalid': submitted && f.subject.errors }" />
            <div *ngIf="submitted && f.subject.errors" class="invalid-feedback">
              <div *ngIf="f.subject.errors.required">
                Subject field is required.
              </div>
            </div>
          </div>
          <div class="label_input">
            <label for="">How Can We Help</label>
            <textarea [ngClass]="{ 'is-invalid': submitted && f.message.errors }" cols="30" rows="5"
              placeholder="Type your message here" formControlName="message"></textarea>
            <div *ngIf="submitted && f.message.errors" class="invalid-feedback">
              <div *ngIf="f.name.errors.required">
                Message is required.
              </div>
            </div>
          </div>
          <div class="login_btn">
            <button [disabled]="loading" class="site_btn">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>