textarea{
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(90, 90, 90, 0.44);
    font-size: 16px;
    color: #222;
    outline: none;
    font-family: "baskervillenormal";
}
input:focus {
    color: #222;
}