<!-- header -->
<header>
  <!-- mobile menu -->
  <div class="mobile_menu ">
    <div class="header_icon_left ">
      <ul>
        <li>
          <a href="# "><img src="assets/img/home.svg " alt=" " /><span>Dashboard</span></a>
        </li>
        <li>
          <a href="# "><img src="assets/img/explore3.svg " alt=" " /><span>Explore</span></a>
        </li>
        <li>
          <a href="# "><img src="assets/img/bookshelf.svg " alt=" " /><span>Bookshelf</span></a>
        </li>
      </ul>
    </div>
    <div class="header_icon_right ">
      <ul>
        <li>
          <a href="# "><img src="assets/img/write.svg " alt=" " /><span>Write</span></a>
        </li>
        <li>
          <a href="/search"><img src="assets/img/search.svg " alt=" " /><span>Search</span></a>
        </li>
        <li>
          <a href="# " class="notifi "><img src="assets/img/notifications.svg " alt=" " /><span>Notifications</span></a>
        </li>
        <li class="">
          <a href="# ">
            <div class="profile_pic ">
              <img class="header-user-pic" src="assets/images/img_user1.svg" alt=" " />
            </div>
            <span>My Account</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!-- mobile menu end-->

</header>
<!-- header end-->