.save.text-center.back .save_btn:hover {
  color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0, 0.16);
}

.view_form {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 100px;
  padding-bottom: 100px;
}

.form_pic {
  width: 100%;
  height: 300px;
  margin: auto;
}

.form_pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.name_txt h2 {
  font-size: 20px;
  color: #222;
  font-weight: 600;
  margin: 20px 0px;
  text-align: center;
}

.img_row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 15px;
}

.img_user {
  max-width: 80px;
  width: 100%;
  height: 80px;
  border-radius: 50%;
}

.img_user img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.img_row p {
  font-size: 16px;
  color: #222;
  font-weight: 500;
  margin: 0;
  padding-left: 10px;
}

.icon_row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.icon_row .icons_img {
  padding-right: 10px;
}

.chapter_number {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.edit_publish_icons {
  display: flex;
  align-items: center;
}

.edit_publish_icons .edit_icon {
  display: flex;
  align-items: center;
}

.chapter_number h1 {
  font-size: 18px;
  font-weight: 600;
  color: #222;
  margin-bottom: 0px;
}

.edit_publish_icons .edit_icon a {
  font-size: 14px;
  font-weight: 600;
  color: #222;
  margin: 0;
}

.chapter_number_list {
  padding: 20px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

ul.nav.nav-tabs.custom_tabpills {
  border: none;
  border-top: none !important;
}

ul.nav.nav-tabs.custom_tabpills li.nav-item {
  width: 50%;
}

ul.nav.nav-tabs.custom_tabpills li.nav-item a {
  width: 100%;
}

ul.nav.nav-tabs.custom_tabpills .nav-link.active {
  background-image: linear-gradient(481deg, #e65124, #9c9400, #27953e, #53479e);
  color: #fff;
}

ul.nav.nav-tabs.custom_tabpills .nav-link {
  background: #f4f4f4;
  color: #222;
}

ul.nav.nav-tabs.custom_tabpills .nav-link:hover {
  background-image: linear-gradient(481deg, #e65124, #9c9400, #27953e, #53479e);
  color: #fff;
}

ul.nav.nav-tabs.custom_tabpills li.nav-item:first-child a {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
span.tooltiptext{
  display: inline-table;
}
ul.nav.nav-tabs.custom_tabpills li.nav-item:last-child a {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.mainTable {
  counter-reset: section;
}

.counter::before {
  counter-increment: section;
  content: counter(section) "";
}

.name_txt h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.txt_book_view {
  background: #fff;
  padding: 10px 15px;
  margin-bottom: 30px;
  border-radius: 10px;
}
.name_txt p {
  font-weight: 400;
}
.name_txt p span {
  font-weight: 700;
}

.flex_fa_icons {
  display: block !important;
}
span.tags_auth {
  text-align: right;
  font-size: 14px;
  font-weight: 400 !important;
}

a:hover, a:hover::after {
  color: #FF9800 !important;
}

.table th{
  border-top: unset !important;
  font-weight: bold;
}

.badge{ font-weight: 600}

a.panel-title::after {
  content: "\f107";
  color: #007bff;
  top: -2px;
  right: 0px;
  /* position: absolute; */
  font-family: "FontAwesome";
}

a.panel-title[aria-expanded="true"]::after {
	content: "\f106";
}