<div class="wraper" *ngIf="bookdata">
    <section class="hero_section_craousel hero_section_craousel_mr">
        <div class="container">
            <div class="book_details_section">
                <div class=" share_book">
                    <div class="singlebook-img mb-3 pull-left" *ngIf="bookdata.cover_image">
                        <img src="{{baseurl}}{{bookdata.cover_image}}" alt="">
                    </div>
                    <div *ngIf="bookdata.cover_image == ''" class="patahani-cover">
                            <h2 _ngcontent-njg-c8="" class="patahani-h2">{{bookdata.title}}</h2>
                          </div>
                    <div class="singlebook-text">
                    <div class="carousel_slides_txt">
                        <h2>{{bookdata.title}}</h2>
                        <div class="d-flex align-items-center">
                        <div class="carousel_slides_txt_profile">
                            <div class="carousel_slides_txt_profile_img" *ngIf="bookdata.author_image">
                                <img src="{{baseurl}}{{bookdata.author_image}}" alt="">
                            </div>
                        </div> 
                        <div class="carousel_slides_txt_profile_img" *ngIf="bookdata.author_image == ''">
                                <img src="assets/images/img_user1.svg" alt="">
                            </div>
                        <div class="txt_silde_profile">
                            <h4><span>By</span> {{bookdata.author_name}}</h4>
                            <p>Last Updated On : {{bookdata.chapter_updated_at | date}}</p>
                        </div>
                    </div>
                </div>
                 
                        <div class="card_btn_list2 mt-4">
                                <a><img src="assets/img/eye.svg" alt="">{{bookdata.views}}</a>
                                <a><img src="assets/img/favorite.svg" alt="">{{bookdata.likes}}</a>
                                <a><img src="assets/img/share.svg" alt="">{{bookdata.no_of_shares}}</a>
                                <a><img src="assets/img/open_book.svg" alt="">{{bookdata.no_of_chapter}}</a>
                        </div>
                        <div class="read_more mt-4">
                                <p>{{bookdata.description}}</p>
                                </div>
                    </div>
                  
                    <div class="start_read text-center">
                        <a class="site_btn" [routerLink]="['/singlebook', bookdata._id]">Start Reading</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>