.book_details_section{
    padding: 60px 0px;
}
.carousel_slides.share_book{
    max-width: 600px;
    margin: auto;
}
.carousel_slides.share_book .carousel_slides_txt{ 
    margin-left: 0;
   flex: auto;
}
.carousel_slides_img.mx-auto.mb-3{
    width: 180px;
    height: 240px;
}
.carousel_slides_img.mx-auto.mb-3 img{
    width: 100% !important;
    height: 100%;
    object-fit: cover;
}
.carousel_slides{
    display: unset;
    flex-wrap: unset;
    border: none;
    background: transparent;
}
.book_details_section {
    max-width: 750px;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.16);
    padding: 10px 15px;
    margin-top: 210px;
    border-radius: 10px;
    margin-bottom: 100px;
    padding: 30px;
}
.read_more p{
    word-break: unset;
    font-size: 20px;
    line-height: 27px;
}
.singlebook-text {
    left: 28px;
    position: relative;
}

.singlebook-img{
    width: 200px;
}

.singlebook-img.mb-3 img {
    width: 100%;
}
.card_btn_list2.mt-4 a:hover {
    color: #222;
}

.txt_silde_profile h4 span {
    font-family: "baskervillen";
}