<div class="wraper">
  <div class="container-fluid container_fluid2">
    <div class="prev_back_arrow_btns">
        <a routerLink="{{previousUrl}}">
            <img src="assets/img/back_arrow_btn.svg" alt="">Back</a>
    </div>
</div>
<!-- <div *ngIf="showLoader" class="loader"><img src="/assets/img/loader.svg"></div> -->
  <section class="hero_section_craousel_mr pt_row">
    <div class="container-fluid container_fluid2">
      <div class="row">
        <div class="col-md-9 m-auto">
          <div class="about_heading follower">
            <h2>Followers</h2>
            <template *ngIf="followers.length; else other">
              <div
                *ngFor="let Follower of followers; let i = index"
                class="follower_list"
              >
                <div class="follower_pic">
                  <a
                  [routerLink]="['/authorprofile', Follower.value.created_by]">
                  <div class="follower_pic_img">
                    <img  *ngIf="Follower.value.user_image !== '';" src="{{ baseimage }}{{ Follower.value.user_image }}" alt="" />
                    <img *ngIf="Follower.value.user_image == '';" src="assets/images/img_user1.svg" alt="" />
                  </div>
                  </a>
                  <div class="follower_pic_name">
                    <h2>{{ Follower.value.user_name }}</h2>
                  </div>
                </div>
                <div class="follower_btn">
                <button
                  (click)="followUser($event)"
                  *ngIf="Follower.value.isFollowed === 1"
                  class="site_btn following_btn user_{{Follower.value.created_by}}"
                  [attr.data-status]="2" [attr.data-user]="Follower.value.created_by"
                >
                  Following
                </button>
              <button
                (click)="followUser($event)"
                *ngIf="Follower.value.isFollowed === 0"
                class="site_btn user_{{Follower.value.created_by}}"
                [attr.data-status]="1" [attr.data-user]="Follower.value.created_by"
              >
                Follow
              </button>
            </div>
          </div>
        </template>
                <ng-template #other>
                    <div class="plholder text-center">
                        <img src="assets/img/follower_placeholder.svg" alt="" /><br />
                        <h2> No Followers Yet!</h2>
                    </div>
                </ng-template>
            </div>
        </div>
        </div>
      </div>
    </section>
</div>
