.input_txt input {
  padding: 8px 18px;
}
.site_btn {
  min-width: 140px;
  background: #28a745;
  border: none;
}

.form-group.input_txt input {
  font-size: 16px;
  color: #222;
  background: #fff;
  border: 1px solid #ababab;
}