.carousel_slides_txt{
  height: 360px;
}
.start_reading{
  display: flex;
}

.carousel_slides_txt_profile_img a {
  font-size: 22px;
  margin-left: 14px;
  color: #6b6f80;
}

.slide_botton_txt {
  overflow: scroll;
  height: 230px;
  margin-top: 0px;
  margin-bottom: 0px;
  border: 1px solid #b6b6af;
  padding: 10px;
  white-space: break-spaces;
}
p#tester_class, .slide_botton_txt p {
  line-height: 1.5 !important;
  white-space: break-spaces;
}
.slide_botton_txt p{
  font: 400 14px/20px  sans-serif;
  font-size: 16px;
  color: #414141;
}
.carousel_slides_txt_profile_img a:hover{
  color: inherit;
}

.carousel_slides_txt_profile_img a:hover{
  color: inherit;
  text-decoration: underline !important;
}