.label_input.post_message textarea{
    border: none;
    resize: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0;
    padding-bottom: 14px;
    outline: none;
    font-size: 14px;
    color: #222;
    font-family: 'baskervillebold';
}
.label_input.post_message textarea::placeholder{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.50);
    font-family: 'baskervillebold';
}
.login_btn.text-center a.site_btn{
    font-family: 'baskervillebold';
    max-width: 300px;
    width: 100%;
    line-height: 52px;
    min-width: unset;
}
.loader {
    position: fixed;
    text-align: center;
    left: 0;
    right: 0;
    z-index: 999999999999;
    background: rgba(0, 0, 0, 0.22);
    width: 100%;
    height: 100%;
    top: 0;
}
.loader img {
    padding-top: 200px;
}

.cover_img_upload img {
    width: 100%;
    /* height: 280px; */
    object-fit: contain;
}
.place_hlder img{
    width: 100%;
}

form.edit_profile_form {
    padding-top: 0px;
    margin-bottom: 0px;
}
.login_btn.text-center{
    margin-bottom: 0px;
    margin-top: 20px;
}
button.site_btn{
    font-family: 'baskervillebold';
    font-size: 16px;
}
.cover_img_upload label{
    cursor: pointer;
}
.alert-danger {
    color: #db2a28;
    background-color: transparent;
    border-color: transparent;
}

img#post-image {
    height: 300px;
}