<div *ngIf="showLoader" class="loader"><img src="/assets/img/loader.svg"></div>
            <form [formGroup]="updateForm" class="edit_profile_form" (ngSubmit)="onSubmit()">
                <h2 class="post_heading pt-5">Post A Message</h2>
                <!-- <form action="" class="edit_profile_form"> -->
                <div class="edit_profile_form">
                    <div class="user_pic_edit">
                        <div class="cover_img2">
                            <div class="cover_img_upload">
                                <label for="edit_cover_img_upload">
                                    <!-- <div class="place_hlder">
                                        <img src="assets/img/add_cover_imgs.svg" alt="">
                                    </div> -->
                                    <input type="file" id="edit_cover_img_upload" (change)="onSelectFile($event)" class="d-none">
                                    <img src="assets/img/add_cover_imgs.svg" alt="" id="post-image"><div *ngIf="submitted && f.post_image.errors" class="invalid-feedback">
                                        <div *ngIf="f.post_image.errors.required">
                                            Post Image is required
                                        </div>
                                    </div>
                                </label>   
                            </div>
                        </div>
                    </div>
                    <div class="form-group input_txt">
                        <input type="hidden" formControlName="user_id" value="{{user_id}}" placeholder="{{user_id}}" class="form-control" id="user_id" />
                    </div>
                    <div class="input_form_filled post_a_message">
                        <div class="label_input post_message">
                            <!-- <label for="">Old Password</label> -->
                            <textarea formControlName="content" class="form-control" cols="20" rows="5" placeholder="Write a message" [ngClass]="{ 'is-invalid': submitted && f.content.errors }"></textarea>
                            <div *ngIf="submitted && f.content.errors" class="invalid-feedback">
                                    <div *ngIf="f.content.errors.required">
                                        Post message is required
                                    </div>
                                </div>
                        </div>
                        <div class="alert-danger" *ngIf="errorMsg">{{errorMsg}}</div>
                        <div class="login_btn text-center">
                            <button [disabled]="loading" class="site_btn">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
    
 