.row.border_card.hover_ef {
  position: relative;
}
.row.border_card.hover_ef .rectangle {
  position: absolute;
  top: -17px;
  left: -27px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.row.border_card.hover_ef:hover .rectangle {
  opacity: 1;
  visibility: visible;
  transition: 0.3s;
}
.explore_txt h2 {
  padding-top: 32px;
}
.dots img {
  width: inherit;
}
.item.row.border_card.hover_ef .rectangle {
  width: 156px;
  top: -20px;
  left: -20px;
}
.dots {
  position: absolute;
  top: 0;
  right: 0;
}
.dots #show_dots {
  left: -188px !important;
  top: 2px !important;
}
#show_dots a.dropdown-item {
  color: #222;
  transition: 0.3s;
  font-size: 14px;
  padding: 4px 20px;
  font-family: "baskervillebold";
}
#show_dots a.dropdown-item:hover {
  background: linear-gradient(481deg, #e65124, #9c9400, #27953e, #53479e);
  color: #fff;
  transition: 0.3s;
}

.txt_silde_profile p {
  font-size: 15px;
  font-family: "baskervillebold";
}
.read_more p {
  color: #222;
    font-family: "baskerville";
    margin-bottom: 10px;
    font-size: 18px;
    text-align: justify;
}
.carousel_slides.carousel_slides_card {
  width: 100%;
}
.carousel_slides {
  background: none;
}

.read_more a {
  background-image: linear-gradient(481deg, #e65124, #9c9400, #27953e, #53479e);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 15px;
  padding-left: 10px;
  font-family: "baskervillebold";
}
li.more_btns a {
  margin: 0;
  padding: 0 !important;
}
li.more_btns {
margin-top: 3px;
}
button.owl-next.disabled,
button.owl-prev.disabled {
  display: none !important;
}

button.owl-prev span,
button.owl-next span {
  border: 1px solid;
  padding: 20px;
  border-radius: 50%;
  width: 52px;
}

.dots img {
  margin: auto;
}
.modal.fade.custom_forgot_popup.show.share_icons_popup .modal-dialog {
  margin-top: 200px;
}
.modal.fade.custom_forgot_popup button.close {
  outline: none;
}
.carousel_slides.carousel_slides_card .carousel_slides_img {
  position: relative;
}
.card_btn_list ul {
  margin-right: 50px;
}
.card_btn_list ul li a {
  color: #fff;
  margin-bottom: 4px;
}

button#dropdownMenuButton:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  transition: 0.3s;
}
.dropdown-toggle::after,
.dropleft .dropdown-toggle::before {
  display: none;
}
.dropdown.dropleft .dropdown-menu {
  top: 30px !important;
  left: 33px !important;
}
.dropdown-menu a {
  font-size: 14px;
  font-family: "baskervillebold";
  padding: 5px 17px;
  color: #222;
}
.card_btn_list2 a {
  display: flex;
  color: #222;
  font-size: 15px;
    font-weight: 600;
    font-family: "baskervillebold";
}
.carousel_slides_txt {
  white-space: inherit;
}
.carousel_slides_txt .read_more p {
  word-break: inherit;
  line-height: 24px;
  overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-bottom: 6px;
}
h4.eighteen_plus::before {
  position: absolute;
  content: "";
  min-width: 130px;
  height: 119px;
  background: #bf1b1b;
  right: -14px;
  transform: rotateZ(-39deg);
  right: -52px;
  z-index: -1;
}
h4.eighteen_plus {
  position: absolute;
  z-index: 9999;
  top: -24px;
  right: 0px;
  background: none;
  transform: unset !important;
  padding: 0;
  padding-right: 7px;
}
.carousel_slides_img {
  overflow: unset;
  transition: all 1s;
}
.read_more p {
  margin-right: 50px;
}
.dropdown-menu a {
  font-size: 14px;
  font-family: "baskervillebold";
  padding: 5px 17px;
  color: #222;
}
.dropdown.dropleft .dropdown-menu {
  top: 50px;
  left: 27px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 0px 10px hsla(0, 0%, 0%, 0.22);
}
.layout-1 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.23);
  padding-bottom: 23px;
}
.dots {
  position: absolute;
  top: 0;
  right: 20px;
}
button#dropdownMenuButton {
  background: #fff;
  border: none;
  line-height: 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none;
  padding: 0px 14px;
}
.txt_silde_profile a {
  font-size: 18px;
  color: #414141;
  font-family: "baskervillebold";
  margin-bottom: 4px;
}
.txt_silde_profile a:hover{
  text-decoration: underline !important;
}
.txt_silde_profile a span{
  font-family: "baskerville";
}

.crasoule_heading_txt_left {
  padding-top: 50px;
  padding-bottom: 40px;
}
.crasoule_heading_txt {
  margin-bottom: 0;
}
.hero_section_craousel_mr {
  margin-top: 0;
}
.rectangle {
  position: absolute;
}
img.hover_img {
  position: absolute;
  z-index: -1;
  left: -14px;
  top: 14px;
  opacity: 0;
  visibility: hidden;
  transition: all 1s;
}
/* .carousel_slides_img a img{
  transition: all 1s;
} */
/* .carousel_slides_img:hover a img {
  transform: translate(10px, -10px);
  transition: all 1s;
} */
/* .carousel_slides_img:hover img.hover_img{
  opacity: 1;
  visibility: visible;
  transition: all 1s;
} */
.carousel_slides_img_outside.over_flow {
  position: relative;
  transition: all 1s;
}
.carousel_slides_img:hover{
  transform: translate(10px, -10px);
  transition: all 1s;
}
.carousel_slides_img_outside.over_flow:hover img.hover_img{
  opacity: 1;
  visibility: visible;
  transition: all 1s;
}
.share_icons_flex p{
  font-family: "baskervillebold";
  color: #222;
  font-size: 16px;
  line-height: 24px;
}
a.btn.btn-success.mb-3.add_chapter.pr-6 {
  margin-top: 20px;
  margin-bottom: 20px !important;
}
.text-center img {
  width: 900px;
}
.norecord_txt h2 {
  font-size: 40px;
}
.btn.btn-success.mb-3.add_chapter{
  font-size: 25px;
}
.read_more a{
  color: #222;
  font-size: 18px;
  font-family: 'baskerville';
  font-weight: 600;
}
.read_more a:hover{
text-decoration: underline !important;
color: inherit;
}
h4.eighteen_plus::before{
  transform: unset;
  width: 282px;
  height: 244px;
  bottom: 0;
  right: 0;
  clip-path: polygon(100% 81%, 76% 100%, 100% 100%);
  background: #bf1b1b;
}