<div class="wraper">
  <section class="top_login">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5">
          <div class="login_form signup_form">
            <div *ngIf="msgSuccess">
              <p class="alert alert-success">
                <strong>{{ msgSuccess }}</strong>
              </p>
            </div>
            <div *ngIf="msgError">
              <p class="alert alert-danger">
                <strong>{{ msgError }}</strong>
              </p>
            </div>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
              <div class="login_txt">
                <h3>Sign Up</h3>
              </div>

              <div class="form-group label_input">
                <label for="fullname">Name</label>
                <input
                  type="text"
                  placeholder="Enter your name"
                  formControlName="fullname"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.fullname.errors }"
                />
                <div
                  *ngIf="submitted && f.fullname.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f.fullname.errors.required">
                    Name is required.
                  </div>
                </div>
                <div class="user_icon">
                  <img src="assets/img/user_img.svg" alt="" />
                </div>
              </div>
              <div class="form-group label_input">
                <label for="username">Username</label>
                <input
                  type="text"
                  id="username"
                  (keypress)="omit_special_char($event)"
                  placeholder="Enter your username"
                  pattern="^\S+$"
                  formControlName="username"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
                />
                <div
                  *ngIf="submitted && f.username.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f.username.errors.required">
                    Username is required.
                  </div>
                  <div *ngIf="f.username.errors.pattern">
                      Allowed characters are a-z (only lower case), 0-9, _ (underscore) and . (dot), minimum length is 4.
                  </div>
                </div>
                <div class="user_icon">
                  <img src="assets/img/user_img.svg" alt="" />
                </div>
                <div class="forgot">
                  <div class="tooltip-custom">
                    <img
                      alt=""
                      src="assets/img/exclamation.svg"
                      style="position: relative;top: 2px;float: right;right: 0px;"
                    />
                    <span class="tooltiptext"
                      >Allowed characters are a-z (only lower case), 0-9, _ (underscore) and . (dot).</span
                    >
                  </div>
                </div>
              </div>
              <div class="form-group label_input">
                <label for="email">Email</label>
                <input
                  type="email"
                  placeholder="Enter your email"
                  formControlName="email"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                />
                <div
                  *ngIf="submitted && f.email.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f.email.errors.required">Email is required.</div>
                  <div *ngIf="f.email.errors.email">
                    Email must be a valid email address.
                  </div>
                </div>
                <div class="user_icon ">
                  <img src="assets/img/email.svg" alt="" />
                </div>
              </div>
              <div class="form-group label_input dobirth cus-with">
                <label for="email">Date Of Birth</label>
                <my-date-picker
                  placeholder="Select your DOB"
                  formControlName="dob"
                  [options]="myDatePickerOptions"
                  [(ngModel)]="model"
                  required
                  disabled
                ></my-date-picker>
                <div
                  *ngIf="submitted && f.dob.errors"
                  class="invalid-feedback"
                  style="display: block"
                >
                  <div *ngIf="f.dob.errors.required">
                    Date of birth is required.
                  </div>
                </div>
                <!-- <input type="date" placeholder="Enter your date of birth" formControlName="dob" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.dob.errors }" /> -->
                <div class="user_icon">
                  <img
                    src="assets/img/calendar.svg"
                    alt=""
                    style="width: 14px; position: relative;top: -4px;"
                  />
                </div>
                <div class="forgot">
                  <div class="tooltip-date">
                    <img
                      src="assets/img/exclamation.svg"
                      alt=""
                      data-toggle="modal"
                      data-target="#dob"
                      style="position: relative; top: -8px;"
                    />
                    <span class="tooltiptext"
                      >We ask for your date of birth so you can have the right
                      Librums experience for your age.</span
                    >
                  </div>
                </div>
              </div>
              <div class="form-group label_input">
                <label for="password">Password</label>
                <input
                  type="password"
                  placeholder="Type your password"
                  formControlName="password"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                />
                <div
                  *ngIf="submitted && f.password.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f.password.errors.required">
                    Password is required.
                  </div>
                  <div *ngIf="f.password.errors.minlength">
                    Password must be at least 6 characters.
                  </div>
                </div>
                <div class="user_icon">
                  <img src="assets/img/lock.svg" alt="" />
                </div>
              </div>
              <div class="form-group label_input">
                <label>Confirm Password</label>
                <input
                  type="password"
                  placeholder="Type your confirm password"
                  formControlName="confirmPassword"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid': submitted && f.confirmPassword.errors
                  }"
                />
                <div
                  *ngIf="submitted && f.confirmPassword.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f.confirmPassword.errors.required">
                    Confirm password is required.
                  </div>
                  <div *ngIf="f.confirmPassword.errors.mustMatch">
                    Passwords must match.
                  </div>
                </div>
                <div class="user_icon">
                  <img src="assets/img/lock.svg" alt="" />
                </div>
              </div>
              <div class="form-group login_btn">
                <button [disabled]="loading" class="site_btn">
                  Start Reading
                  <img
                    *ngIf="loading"
                    src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                  />
                </button>
              </div>
              <div class="sign_up">
                <a [routerLink]="['/login']"
                  >You have an account already?<span>Login</span></a
                >
              </div>
              <div class="or">
                <h4>Or</h4>
              </div>
              <div class="flex_fb">
                <button class="loginBtn loginBtn--facebook" (click)="login()">
                  <img src="assets/img/fb.svg" alt="#" />
                </button>
                <button
                  class="loginBtn loginBtn--google"
                  (click)="prepareLoginButton()"
                >
                  <img src="assets/img/google.svg" alt="#" />
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-7 pr-0">
          <div class="loign_img_bg">
            <img src="assets/img/signup_bg.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
