body {
  background: #fff !important;
}
button.site_btn {
  width: 100%;
  line-height: 50px;
  font-size: 19px;
  font-family: "baskervillebold";
  outline: none;
}
.sign_up a:hover,
.sign_up a span:hover,
.forgot a:hover {
  background-image: linear-gradient(481deg, #e65124, #9c9400, #27953e, #53479e);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: 0.3s;
}
.form-control:focus {
  box-shadow: none;
  border-color: #222;
}
.label_input input {
  border-radius: inherit !important;
}
#dob .modal-dialog,
#usernamepop .modal-dialog {
  top: 130px;
  margin-top: 200px;
}
#dob .modal-header,
#usernamepop .modal-header {
  padding: 10px 14px 0px 0px;
}
#dob .modal-dialog p,
#usernamepop .modal-dialog p {
  font-size: 14px;
  color: #5a5a5a;
  font-family: "baskervillenormal";
  margin-bottom: 0;
  padding-bottom: 10px;
  line-height: 24px;
}
.sign_up a {
  color: #222;
}
button {
  padding: 0;
  outline: none;
}
.forgot {
  right: 0;
}
.wraper {
  margin-top: 107px;
}
.label_input input::placeholder {
  text-indent: -5px;
}
div#dob.modal.fade.custom_forgot_popup .modal-body {
  padding-bottom: 25px;
}
section.top_login {
  padding-top: 42px;
}
.flex_fb button {
  outline: none;
  background: unset;
}
.form-control.is-invalid,
.was-validated .form-control:invalid {
  background-image: none;
}
@media only screen and (max-width: 992px) {
  .main_header {
    padding: 0 !important;
  }
}
#dob .modal-dialog,
#usernamepop .modal-dialog {
  margin-top: 100px;
}

.tooltip-custom {
  position: relative;
  display: inline-block;
 
}

.tooltip-custom .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 3px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  width: 220px;
  bottom: 100%;
  left: 50%;
  margin-left: -100px;
}

.tooltip-custom:hover .tooltiptext {
  visibility: visible;
}
.form-group.label_input.dobirth my-date-picker button.btnpicker.btnpickerenabled {
  width: 351px;
}
