@charset "UTF-8";
@media (min-width: 768px) {
    .app.sidenav-toggled .app-content {
        margin-left: 0;
    }
    .app.sidenav-toggled .app-sidebar {
        left: -230px;
    }
    .app.sidenav-toggled .app-sidebar__overlay {
        visibility: hidden;
    }
}

@media (max-width: 767px) {
    .app {
        overflow-x: hidden;
    }
    .app .app-sidebar {
        left: -230px;
    }
    .app .app-sidebar__overlay {
        visibility: hidden;
    }
    .app.sidenav-toggled .app-content {
        margin-left: 0;
    }
    .app.sidenav-toggled .app-sidebar {
        left: 0;
    }
    .app.sidenav-toggled .app-sidebar__overlay {
        visibility: visible;
    }
}

.app-content {
    min-height: calc(100vh - 50px);
    margin-top: 50px;
    margin-bottom: 0 !important;
    -webkit-transition: margin-left 0.3s ease;
    -o-transition: margin-left 0.3s ease;
    transition: margin-left 0.3s ease;
}

.app-content .side-app {
    padding: 38px 10% 0 10%;
    /* padding: 38px 30px 0 30px; */
}

.footer .container {
    width: 100%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .app-content {
       
    }
}

@media (max-width: 767px) {
    .app-content {
        margin-top: 50px;
        min-width: 100%;
    }
}

@media (max-width: 480px) {
    .app-content {
        padding: 15px;
    }
}

@media print {
    .app-content {
        margin: 0;
        padding: 0;
        background-color: #fff;
    }
}

.light-text {
    font-weight: 300 !important;
}

.semibold-text {
    font-weight: 600 !important;
}

.line-head {
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}


/*----- Componant: Top Navigation Bar ----- */

.app-header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #ffffff;
    z-index: 999;
    box-shadow: 0 0 1.25rem rgba(108, 118, 134, .1);
    padding: 0px !important;
}

.app-header .input-icon.mt-1 {
    margin-top: 2px !important;
}

@media (min-width: 768px) {
    .app-header {
        padding-right: 30px;
    }
}

@media print {
    .app-header {
        display: none;
    }
}

.app-header__logo {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    color: #fff;
    text-align: center;
    padding: 0 15px;
    font-size: 26px;
    font-weight: 400;
    line-height: 50px;
}

@media (min-width: 768px) {
    .app-header__logo {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        display: block;
        width: 230px;
    }
}

.app-header__logo:focus,
.app-header__logo:hover {
    text-decoration: none;
}

.app-sidebar__toggle {
    padding: 0 15px;
    font-family: fontAwesome;
    color: #6b6f80;
    margin-top: 0px;
    line-height: 2.4;
    -webkit-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
    border-left: 1px solid rgba(0, 0, 0, 0.09);
}

@media (max-width: 767px) {
    .app-sidebar__toggle {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
    }
}


/*.app-sidebar__toggle:before {
  content: "\f0c9";
  font-size: 21px;
  }*/

.app-sidebar__toggle:focus,
.app-sidebar__toggle:hover {
    text-decoration: none;
    color: #ff695b;
}

.app-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

@media (min-width: 768px) {
    .app-nav {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
    }
}

.app-nav__item {
    display: block;
    padding: 15px;
    line-height: 20px;
    color: #3e4b5b;
    -webkit-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}

.app-nav__item:hover,
.app-nav__item:focus {
    background: rgba(0, 0, 0, 0.1);
    color: #f6f6f6;
}

.app-search {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
    align-self: center;
    margin-right: 15px;
    padding: 10px 0;
}

@media (max-width: 480px) {
    .app-search {
        display: none;
    }
}

.app-search__input {
    border: 0;
    padding: 5px 10px;
    padding-right: 30px;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}

.app-search__input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.4);
}

.app-search__input:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.4);
}

.app-search__input::-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.4);
}

.app-search__input::placeholder {
    color: rgba(0, 0, 0, 0.4);
}

.app-search__button {
    position: absolute;
    right: 0;
    top: 10px;
    bottom: 10px;
    padding: 0 10px;
    border: 0;
    color: rgba(0, 0, 0, 0.8);
    background: none;
    cursor: pointer;
}

.app-notification {
    min-width: 270px;
}

.app-notification__title {
    padding: 8px 20px;
    text-align: center;
    background-color: rgba(0, 150, 136, 0.4);
    color: #333;
}

.app-notification__footer {
    padding: 8px 20px;
    text-align: center;
    background-color: #eee;
}

.app-notification__content {
    max-height: 220px;
    overflow-y: auto;
}

.app-notification__content::-webkit-scrollbar {
    width: 6px;
}

.app-notification__content::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
}

.app-notification__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 8px 20px;
    color: inherit;
    border-bottom: 1px solid #ddd;
    -webkit-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}

.app-notification__item:focus,
.app-notification__item:hover {
    color: inherit;
    text-decoration: none;
    background-color: #e0e0e0;
}

.app-notification__message,
.app-notification__meta {
    margin-bottom: 0;
}

.app-notification__icon {
    padding-right: 10px;
}

.app-notification__message {
    line-height: 1.2;
}

.app-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    margin-top: 67px;
    width: 230px;
    overflow: auto;
    z-index: 10;
    background-image: linear-gradient(481deg, #E65124, #9C9400, #27953E, #53479E);
    -webkit-box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.2);
    -webkit-transition: left 0.3s ease, width 0.3s ease;
    -o-transition: left 0.3s ease, width 0.3s ease;
    transition: left 0.3s ease, width 0.3s ease;
}

.app-sidebar:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
}

.app-sidebar::-webkit-scrollbar {
    width: 6px;
}

.app-sidebar::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
}

@media print {
    .app-sidebar {
        display: none;
    }
}

@media (max-width: 767px) {
    /* .app-sidebar__overlay {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 9;
    } */
}

.app-sidebar__user .user-pro-body {
    display: block;
}

.app-sidebar__user .user-pro-body img {
    display: block;
    margin: 0 auto 10px;
    box-shadow: 0 13px 26px rgba(255, 91, 107, 0.09), 0 3px 6px rgba(255, 91, 107, 0.09);
}

.app-sidebar__user .user-pro-body .u-dropdown {
    color: #97999f;
}

.app-sidebar__user .user-pro-body .user-info span.text-gray {
    color: #969696!important;
}

.app-sidebar__user .user-pro-body .dropdown-menu {
    right: 0;
    width: 80%;
    left: 0;
    margin: 0 auto;
    -webkit-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
    top: 85px !important;
}

.app-sidebar__user .user-pro-body .dropdown-menu li a {
    padding-left: 5px !important;
    padding-right: 10px !important;
    padding-top: 10px !important;
    padding: 10px !important;
}

.app-sidebar__user {
    padding: 15px 0 15px;
    position: relative;
    text-align: center;
    background-repeat: no-repeat;
    border-top: 1px solid 1px solid rgb(255, 91, 107, 0.9);
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    background-image: linear-gradient(to right, #4ba657, #3d93bd);
}

.sidebar-mini.sidenav-toggled .app-sidebar .user-info {
    display: none;
}

.sidebar-mini.sidenav-toggled .app-sidebar .user-button {
    display: none;
}

.profile-img {
    position: absolute;
    top: -1px;
    right: 82px;
    display: block;
    border: 1px solid rgb(226, 212, 214, .7);
    border-radius: 50%;
    font-size: 10px;
    line-height: 22px;
    width: 22px;
    text-align: center;
    height: 24px;
    color: #474a56;
    background: rgba(225, 225, 225, .7);
}

.app-sidebar__user-avatar {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin-right: 15px;
}

.app-sidebar__user-name.text-sm {
    font-size: 13px;
}

.app-sidebar__user-name {
    font-size: 17px;
    line-height: 1.3;
}

.app-sidebar__user-name,
.app-sidebar__user-designation {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    margin-bottom: 0;
}

.side-menu {
    margin-bottom: 0;
    padding-bottom: 40px;
}

.side-menu__item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 30px 10px 15px;
    font-size: 14px;
    font-weight: 400;
    -webkit-transition: border-left-color 0.3s ease, background-color 0.3s ease;
    -o-transition: border-left-color 0.3s ease, background-color 0.3s ease;
    transition: border-left-color 0.3s ease, background-color 0.3s ease;
}

.app-sidebar .mCSB_draggerContainer {
    right: -11px;
}

.side-menu__icon {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 25px;
}

.side-menu__label {
    white-space: nowrap;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.slide.is-expanded [data-toggle='slide'],
.slide .side-menu__item.active {
    /* background: linear-gradient(to bottom right,) !important; */
    color: #ff685c;
    border-left: 0px
}

.app-sidebar .side-menu li a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.side-menu li ul {
    background: rgb(255, 255, 255, 0.04);
}

.app-sidebar .side-menu__item.active {
    color: #3f96af;
    font-weight: 500;
    background: rgb(251, 236, 234, 0.3);
}

.slide-menu li.active>a {
    color: #3f96af;
    font-weight: 500;
}

.slide-menu li a:hover {
    color: #3f96af;
}

.slide-menu li ul li a{
    font-size: 12px !important;
    font-weight: 300;
}

.slide-menu li.active>a:hover,
.app-sidebar .side-menu__item.active:hover {
    background: rgb(251, 236, 234, 0.3) !important;
    color: #3f96af;
}

.slide-menu li a {
    padding: 10px 10px 10px 45px;
}

.side-menu .slide-menu li a {
    font-size: 13px;
}

.slide ul li a {
    color: #756d6d;
    font-weight: 400;
}

.slide ul ul a {
    font-size: 0.9em !important;
    padding: 10px 10px 10px 45px !important;
}

.app-sidebar ul li a {
    color: #615d5d;
    font-weight: 400;
}

.side-menu li ul li a:before {
    content: "\f105";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 18px;
    padding-right: 0.5em;
    top: 10px;
    font-size: 12px;
    opacity: 0.4;
    margin-right: 8px;
}

.slide.is-expanded .slide-menu {
    max-height: 100vh;
}

.slide.is-expanded .angle {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.slide-menu {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.3s ease;
    -o-transition: max-height 0.3s ease;
    transition: max-height 0.3s ease;
}

.slide-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 7px 7px 7px 45px;
    font-size: 1em;
    color: #3e4b5b;
}

.slide-item .icon {
    margin-right: 5px;
}

.angle {
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

@media (min-width: 768px) {
    .sidebar-mini.sidenav-toggled .app-sidebar__user-name,
    .sidebar-mini.sidenav-toggled .app-sidebar__user-designation,
    .sidebar-mini.sidenav-toggled .angle {
        display: none;
    }
    .sidebar-mini.sidenav-toggled .app-sidebar__user-avatar {
        width: 30px;
        height: 30px;
    }
    .sidebar-mini.sidenav-toggled .app-content {
        margin-left: 50px;
    }
    .sidebar-mini.sidenav-toggled .app-sidebar__user {
        background-color: #fff;
    }
    .sidebar-mini.sidenav-toggled .app-sidebar__user .avatar-lg {
        width: 2rem;
        height: 2rem;
        margin-bottom: 0;
    }
    .sidebar-mini.sidenav-toggled .app-sidebar .side-menu__item.active {
        background: linear-gradient(to bottom right, #ff685c, #ff4f7a);
        color: #fff;
    }
    .sidebar-mini.sidenav-toggled .app-sidebar {
        left: 0;
        width: 50px;
        overflow: hidden;
    }
    .sidebar-mini.sidenav-toggled .app-sidebar:hover {
        overflow: visible;
    }
    .sidebar-mini.sidenav-toggled .side-menu__item {
        overflow: hidden;
    }
    .sidebar-mini.sidenav-toggled .side-menu__item:hover {
        overflow: visible;
    }
    .sidebar-mini.sidenav-toggled .side-menu__item:hover .side-menu__label {
        opacity: 1;
    }
    .sidebar-mini.sidenav-toggled .side-menu__item:hover+.slide-menu {
        visibility: visible;
    }
    .sidebar-mini.sidenav-toggled .side-menu__label {
        display: block;
        position: absolute;
        top: 0;
        left: 50px;
        min-width: 180px;
        padding: 12px 5px 12px 20px;
        line-height: 1;
        opacity: 0;
        background: #ffffff;
        color: #3e4b5b;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    .sidebar-mini.sidenav-toggled .slide:hover .side-menu__item {
        overflow: visible;
        border-left-color: #766cc5;
        background: #e0e2e8;
        color: #111;
    }
    .sidebar-mini.sidenav-toggled .slide:hover .side-menu__label {
        opacity: 1;
    }
    .sidebar-mini.sidenav-toggled .slide:hover .slide-menu {
        max-height: 100vh;
        opacity: 1;
        visibility: visible;
        z-index: 10;
    }
    .sidebar-mini.sidenav-toggled .slide .side-menu__label {
        border-bottom-right-radius: 0;
    }
    .sidebar-mini.sidenav-toggled .slide-menu {
        position: absolute;
        left: 50px;
        min-width: 180px;
        padding: 12px 0;
        opacity: 0;
        border-bottom-right-radius: 4px;
        z-index: 9;
        visibility: hidden;
        -webkit-transition: visibility 0.3s ease;
        -o-transition: visibility 0.3s ease;
        transition: visibility 0.3s ease;
    }
}

.dropdown-menu {
    border-radius: 0;
}

.dropdown-menu.dropdown-menu-right {
    left: auto;
}

.dropdown-item .fa,
.dropdown-item .icon {
    vertical-align: middle;
}

.btn {
    cursor: pointer;
}

.btn:not([disabled]):not(.disabled):not(.btn-link):hover,
.btn:not([disabled]):not(.disabled):not(.btn-link):focus {
    text-decoration: none;
}

.btn[disabled] {
    cursor: not-allowed;
}

.btn .icon,
.btn .fa {
    font-size: 14px;
    margin-right: 1px;
    vertical-align: initial;
}

.app-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    background-color: #FFF;
    margin: -30px -30px 30px;
    padding: 20px 30px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

@media print {
    .app-title {
        display: none;
    }
}

@media (max-width: 480px) {
    .app-title {
        margin: -15px -15px 15px;
        padding: 20px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
}

.app-title h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 400;
}

.app-title p {
    margin-bottom: 0;
    font-style: italic;
}

@media (max-width: 480px) {
    .app-title p {
        display: none;
    }
}

.app-breadcrumb {
    margin-bottom: 0;
    text-align: right;
    font-weight: 500;
    font-size: 13px;
    text-transform: capitalize;
    padding: 0;
    text-align: left;
    padding: 0;
    background-color: transparent;
}

@media (max-width: 480px) {
    .app-breadcrumb {
        margin-top: 10px;
    }
}

.tile {
    position: relative;
    background: #ffffff;
    border-radius: 3px;
    padding: 20px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

@media print {
    .tile {
        border: 1px solid #ddd;
    }
}

.sidenav-toggled .app-sidebar__user .avatar-xl {
    width: 1.8rem;
    height: 1.8rem;
    line-height: 2rem;
    font-size: 1rem;
    margin-bottom: 0;
}