<div class="wraper" *ngIf=chapterData>
    <section>
        <div class="light_gradient_bg">
            <div class="container-fluid container_fluid2">
                <div class="chapter_layout">
                    <div class="chapter_icon">
                        <div class="dropdown">
                            <a data-target="#show_chapter" data-toggle="collapse" href="#">
                                <!-- <img  alt="" src="assets/img/book.svg">
                                <span  class="pl-3"><img alt="" src="assets/img/ar.svg"></span> -->
                            </a>
                            <div class="collapse listing_chapter" id="show_chapter">
                                <div class="about_heading follower all_chapter color_white">
                                    <div class="follower_list">
                                        <div class="follower_pic">
                                            <div class="follower_pic_name">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="setting black_chapter2">
                        <div class="toggle2 comment_setting">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <ul id="list_view_setting">
                            <li class="setting_drop_down">
                                <a href="#" data-toggle="collapse" data-target="#setting_filter"
                                    class="drop_it collapsed"><img src="assets/img/font.svg" alt="">Setting <img
                                        src="assets/img/setting_drop.svg" alt="" class="img_transform pr-0 pl-2">
                                </a>
                                <div id="setting_filter" class="collapse collapse_setting">
                                    <div class="fliter_font fliter_font_hover">
                                        <ul>
                                            <li class="box_txt"><a (click)="changeLayout('color_white')">A</a>White</li>
                                            <li class="box_txt"><a (click)="changeLayout('color_wheat')">A</a>Eggshell
                                            </li>
                                            <li class="box_txt"><a (click)="changeLayout('color_black')">A</a>Nightowl
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="select_font_size">
                                        <div class="label_input">
                                            <label for="">Select Font Type</label>
                                            <select name="" id="" (change)="onFontChange($event.target.value)">
                                                <option value="robotobold" style="font-family: robotobold">Robo To Bold
                                                </option>
                                                <option value="aileronlight">
                                                    <p style="font-family: aileronlight">Aileronlight</p>
                                                </option>
                                                <option value="inconsolatamedium">Inconsolata Medium</option>
                                                <option value="comic_reliefregular">Comic Reliefregular</option>
                                                <option value="haloregular">Halo Regular</option>
                                                <option value="droid_serifregular">Droid Serifregular</option>
                                                <option value="noname_nocontrast_serif_v1Rg">Noname Nocontrast Serif
                                                    V1Rg</option>
                                                <option value="ucu_charles_scriptregular">UCU Charles Script Regular
                                                </option>
                                                <option value="geometric_sans_serif_v1Rg">Geometric Sans Serif V1Rg
                                                </option>
                                                <option value="press_start_2pregular">Press Start 2Pregular</option>
                                                <option value="the_godfatherregular">The God Father Regular</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="range_fonts">
                                        <div class="fonts_inrs"><span>Font Size</span></div>
                                        <div class="input_range">
                                            <input type="range" step="2" min="10" max="40" id="slide" class="slider1"
                                                (change)="onFontSize($event.target.value)">
                                            <div class="lines lines_hover">
                                                <ul>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="pagging">
                                        <h2>Paging</h2>
                                        <label class="switch">
                                        <input type="checkbox" checked>
                                        <span class="slider round"></span>
                                    </label>
                                    </div> -->
                                </div>
                            </li>
                            <!-- <li>
                                <a [ngx-scroll-to]="'#comment-form'"><img src="assets/img/comment.svg" alt="" >Comments</a>
                            </li>
                            <li >
                                <a  class="like_heart"><img src="assets/img/heart.svg" alt="">Like</a>
                            </li>
                            
                            <li>
                                <a data-toggle="modal" data-target="#forgot"><img src="assets/img/share2.svg" alt="">Share</a>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="">

            <div class="change_chapter_color_black {{ is_white }}">
                <div class="">
                    <div class="col-md-9 m-auto">
                        <div class="editor_heading">
                            <h3>{{chapterData.title}}</h3>
                            <a><span>Last Updated On : May 12, 2020</span></a>
                            <!-- <div class="card_btn_list2">
                               
                                <a ><img src="assets/img/eye.svg" alt="">0</a>

                                <a><img src="assets/img/favorite.svg" alt="">0</a>
                               <a><img src="assets/img/share.svg" alt="">0</a>
                                <a ><img src="assets/img/open_book.svg" alt="">0</a>
                            </div> -->
                        </div>

                        <div class="detail_editor">
                            <div class="editor_img" *ngIf="chapterData.image">
                                <img src="{{chapterData.image}}">
                            </div>
                            <div class="text-center mt-3 mb-3" *ngIf="safeurl != ''">
                                <iframe frameborder="0" width="850px" height="400px" id="abc_frame" name="abc_frame"
                                    scrolling="no" [src]="safeurl"></iframe>
                            </div>


                            <div class="sub_details">
                                <p id="cc" [innerHTML]="chapterData.html | safeHtml"></p>
                                <div class="container">
                                    <div class="add">
                                        <img src="assets/img/add.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="make_comment">
                            <div class="light_gradient_bg2">
                                <h3>Comments<span><img src="assets/img/comment2.svg" alt=""></span></h3>
                            </div>
                            <div class="leave_comment">
                                <div class="comment_pic mr-5">
                                    <img src="assets/img/comment_pic.png" alt="">
                                </div>
                                <input placeholder="Leave a comment" type="text" class="ml-0" id="comment-form" />
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>