a.drop_it img.img_transform {
    transform: rotateX(180deg);
    transition: 0.3s ease-in-out;
}
a.drop_it.collapsed img.img_transform {
    transform: rotateX(0deg);
    transition: 0.3s ease-in-out;
}
.fliter_font.fliter_font_hover ul:hover {
    display: flex;
}
.lines.lines_hover ul:hover{
    display: flex;
}
.leave_comment form,.see_comment_txt{
    flex: 1 0 0;
}
a.like_heart{
    color: #222;
    cursor: pointer;
}
a.like_heart:hover{
    color: #222;
}
.editor_img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#setting_filter {
    position: absolute;
    right: 0px;
    background: #fff;
    box-shadow: 0px 1px 29px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    z-index: 99;
    top: 58px;
}
@media only screen and (max-width: 767px){
    #setting_filter {
        left: 0;
        top: 48px;
    }
    .fliter_font.fliter_font_hover ul li.box_txt a{
        font-size: 12px;
        padding-top: 0;
        padding-bottom: 0;
    }

}

#forgot .modal-dialog{
    margin: 8.75rem auto;
}
#forgot button.close{
    outline: none;
}
.form-control:focus{
    box-shadow: none;
    border-color: #222;
}
.label_input input{
    border-radius: inherit !important;
}
#forgot button.site_btn2{
border-bottom: none;
}

.video-tag{
    text-align: center
}
.video-tag iframe{
    width: 500px;
    height: 300px;
}
#forgot .modal-dialog{
    margin: 8.75rem auto;
}
#forgot button.close{
    outline: none;
}
.form-control:focus{
    box-shadow: none;
    border-color: #222;
}
.label_input input{
    border-radius: inherit !important;
}
#forgot button.site_btn2{
border-bottom: none;
}
.modal.fade.custom_forgot_popup.show.share_icons_popup .modal-dialog{
    margin-top: 200px !important;
}
i.fa.fa-whatsapp {
    color: #25c825 !important;
}
.comment_pic,.comment_pic img{
    border-radius: 50%;
}
@media only screen and (max-width: 992px){
    .toggle2.comment_setting{
        top: 0%;
    }
    #setting_filter{
    right: 0px;
    background: #fff;
    box-shadow: 0px 1px 29px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    z-index: 99;
    top: 58px;
    left: 2px;
    max-width: 360px;
    width: 100%;
    }
    .fliter_font.fliter_font_hover ul li a{
        padding: 0px 14px !important;
    }
    .fliter_font ul{
        justify-content: space-between;
    }
}

.payment-details {
    text-align: center;
}
.editor_heading a span:hover {
    color: #222;
}
.follower_list .follower_pic,.follower_list .follower_pic .follower_pic_name{
    width: 100%;
}
.follower_list .follower_pic .follower_pic_name {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.editor_heading h3 {
    line-height: 36px;
}
