.label_input label span {
  font-size: 15px;
  font-family: "baskervillenormal";
}

#second {
  position: absolute !important;
  top: 0px;
  left: 0px;
  cursor: move;
  opacity: 0.2;
}

.plus_icon_img {
  margin-top: 20px;
}
.from_inside .label_input input,
select {
  font-size: 16px;
  color: #222;
  font-family: "baskervillenormal";
  padding: 10px;
}
select {
  text-indent: 12px;
  border: 1px solid #d1d1d1;
  -webkit-appearance: none;
  background: #fff;
  background-image: url(/assets/img/a2.svg);
  background-repeat: no-repeat;
  background-position: 50% 96%;
  background-position: 94% 50%;
  padding: 0;
}
select:focus {
  border: 1px solid #d1d1d1;
}
.from_inside .label_input input::placeholder {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
  font-family: "baskervillebold";
}
.custom-control.custom-checkbox.mb-3.custom_checkbox {
  padding-bottom: 34px;
}
label {
  font-size: 16px;
  color: #222;
  font-family: "baskervillebold";
  margin-bottom: 17px;
}
.cover_img {
  text-align: center;
}
.cover_img img#blah {
  object-fit: unset;
}
.heading_cover h2 {
  padding-top: 40px;
}
.from_inside .label_input textarea {
  font-size: 16px;
  color: #222;
  font-family: "baskervillebold";
  padding: 10px;
}
.from_inside .label_input textarea::placeholder {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
  font-family: "baskervillebold";
}
.add_another_img p {
  font-size: 16px;
  color: #222;
  font-family: "baskervillebold";
  margin-top: 16px;
  margin-bottom: 0px;
  text-align: center;
}
.site_btn {
  color: #fff !important;
}
label {
  cursor: pointer;
}
.select_font_size .label_input label {
  margin-bottom: 0;
}
.select_font_size {
  padding: 0;
  border-top: unset;
  margin-bottom: 18px;
  border-bottom: unset;
}
.select_font_size .label_input select {
  text-indent: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.13);
  height: 38px;
  border-radius: 0px;
}
.input_range {
  margin: 0;
}
.fonts_inrs {
  text-align: left;
  padding: 0;
}
.fonts_inrs span {
  font-size: 16px;
  color: #222;
  font-family: "baskervillebold";
  margin-bottom: 8px;
  display: block;
}
.text_poistion {
  margin-top: 30px;
}
select:focus {
  border: unset;
}
select:focus {
  border: 1px solid #d1d1d1;
}
.form.max_form {
  max-width: 700px;
  margin: auto;
}
.label_input.label_input_br input {
  border: none !important;
}
.label_input.label_input_br
  input.ng2-tag-input__text-input.ng-valid.ng-dirty.ng-touched {
  border: none !important;
}
.cover_img img#blah {
  object-fit: cover;
}
.cover_img img:nth-of-type(1) {
  width: unset;
  height: unset;
}
.btn_group_cover {
  margin-top: 30px;
}
.btn_group_cover ul li a.site_btn {
  line-height: 46px;
  font-size: 16px;
  font-family: "baskervillebold";
}
.select_font_size select {
  background-image: url(/assets/img/a2.svg);
}
.select_font_size select:focus {
  border: none;
}
.site_btn.mb-5.add {
  font-size: 16px;
  font-family: "baskervillebold";
  margin-top: 0px;
  margin-bottom: 60px !important;
}
select:invalid {
  color: green;
}
.cover_img1 {
  width: 500px;
  height: 500px;
  margin: auto;
  border-radius: 4px;
  overflow: scroll;
}
.modal-dialog.modal-sm {
  margin-top: 10%;
}

.croppr {
  min-height: 500px !important;
}

/* div#cancelall,
#cancel-next1,.site_btn.cancel_btn_grp{
  background: #f6f6f6 !important;
  font-family: "baskervillebold";
  color: #6a6f80 !important;
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.11);
} */
a.site_btn {
  min-width: 150px !important;
  font-family: "baskervillebold";
}
.image-placeholder {
  width: 256px;
  height: 400px;
  background-color: #eee;
    border: 1px solid #eee;
    margin: 0 auto;
    position: relative;
}

.upload_cover_img .cover {
  width: 256px;
  height: 400px;
}

.upload_cover_img .cover {
  background-size: cover;
  background-position: center;
  background-color: #eee;
  color: #eee;
}
textarea#description::placeholder {
  padding-left: 2px;
}
.toggle.btn.btn-primary {
  margin-left: 25px !important;
} 
select#font_family {
  height: 39px;
}
input#img_title {
  height: 39px;
}
.toggle.btn {
  height: 25px !important;
  min-height: 25px !important;
  max-height: 25px !important;
} 
li.active {
  background: #efefef;
}

.block_user_popup .modal-footer {
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.tooltip-date .tooltiptext.tag{
  left: 12%;
  width: 136px;
  padding-left: 10px;

}