.covered_img{
  margin-bottom: 0px;
}
.carousel_slides_txt {
  margin-left: 39px;
  flex: 1 0 0;
  margin-top: 0;
}
.publish_draft .carousel_slides_txt_profile,
.publish_draft .card_btn_list2 {
  justify-content: flex-start;
}
.read_more p {
  text-align: left;
}
.txt_silde_profile a {
  font-size: 18px;
  color: #414141;
  font-family: "baskervillebold";
  margin-bottom: 4px;
}
.txt_silde_profile a span{
  font-family: "baskerville";
}
.txt_silde_profile a:hover {
  text-decoration: underline !important;
}
.user_name_txt_heading_img {
  position: relative;
}
.user_name_txt_heading_img::before {
  content: "";
  position: absolute;
  width: 176px;
  height: 176px;
  display: block;
  margin: auto;
  bottom: -10px;
  left: -10px;
  border-radius: 50%;
  padding: 6px;
  background: transparent;
  border: 4px solid #fff;
}
.txt_silde_profile {
  text-align: left;
}
.post_heading a.post_txt {
  color: #222;
  font-size: 20px;
  font-family: "baskervillebold";
  margin-bottom: 0px;
}
.post_heading a.post_txt:hover {
  background-image: linear-gradient(481deg, #e65124, #9c9400, #27953e, #53479e);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: 0.3s;
}
.post_img {
  width: 225px;
  height: 150px;
}
.post_img img {
  widows: 100%;
  height: 100%;
  object-fit: cover;
}
.trash_btn {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid #e3ebf3;
  padding: 10px 0px;
}
.post_name p {
  color: #222;
  font-size: 15px;
  font-family: "baskervillebold";
  margin-bottom: 0px;
  line-height: 24px;
}

.owl-item.active .owl-nav {
  position: absolute;
}

.owl-nav {
  position: absolute;
  top: 46%;
  z-index: 9999;
  width: 100%;
  margin: 0;
}

.owl-nav button {
  outline: none;
}

.owl-nav button.owl-prev {
  position: absolute;
  left: 7px;
}

.owl-nav button.owl-prev span {
  content: url(/assets/img/slider_arrow_left.svg);
  position: absolute;
  left: -30px;
  z-index: 999;
  top: calc(100% - 55%);
  background: transparent;
  margin: 0;
  padding: 0;
}

.owl-nav button.owl-next {
  position: absolute;
  right: 21px;
}

.owl-nav button.owl-next span {
  content: url(/assets/img/slider_arrow_right.svg);
  position: absolute;
  right: -43px;
  z-index: 999;
  top: calc(100% - 55%);
  background: transparent;
  margin: 0;
  padding: 0;
  outline: none;
}
.crasoule_heading_txt_right a {
  font-size: 20px;
  color: #222;
  font-family: "baskerville";
  margin-bottom: 0;
  cursor: pointer;
}
.card_btn_list ul li a {
  color: #fff;
  font-size: 16px;
  padding: 4px 10px;
}

.carousel_slides_txt .card_btn_list2 a {
  /* color: #222; */
  font-size: 15px;
        font-weight: 600;
        font-family: "baskervillebold";
        color: #414141;
}
.carousel_slides_txt {
  white-space: inherit;
}
.carousel_slides_txt .read_more p {
  word-break: inherit;
    line-height: 27px;
    font-size: 20px;
    text-align: justify;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-bottom: 6px;
}
.top_heading_txt h2 {
  color: #222;
}
.follows_btns a.site_btn {
  color: #fff;
  background: #242526a3;
  border: 2px solid #fff;
}
.txt_silde_profile p {
  font-family: "baskervillebold";
}
.covered_img_imside::before {
  /* background-image: url("/assets/img/bg_place_holder.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
}
a.btn.btn-success.mb-3.add_chapter {
  background: linear-gradient(481deg, #e65124, #9c9400, #27953e, #53479e);
  border: none;
  color: #fff;
  font-size: 16px;
  font-family: "baskervillebold";
}
.follows_btns a.site_btn.follow {
  background-image: linear-gradient(
    481deg,
    #e65124,
    #9c9400,
    #27953e,
    #53479e
  ) !important;
  border: none !important;
  line-height: 40px;
}
.cover_img_upload img {
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
.label_input.post_message textarea {
  border: none;
  resize: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0;
  padding-bottom: 14px;
  outline: none;
  font-size: 14px;
  color: #222;
  font-family: "baskervillebold";
}
.label_input.post_message textarea::placeholder {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  font-family: "baskervillebold";
}
.login_btn.text-center a.site_btn {
  font-family: "baskervillebold";
  max-width: 300px;
  width: 100%;
  line-height: 52px;
  min-width: unset;
}
.dropleft .dropdown-toggle::before{display: none;}
.input_form_filled.post_a_message .login_btn {
  margin-top: 0;
  margin-bottom: 0;
}
.cover_img_upload label {
  cursor: pointer;
}
img#post-image {
  height: 300px;
}
h4.eighteen_plus::before {
  position: absolute;
  content: '';
  min-width: 130px;
  height: 119px;
  background: #bf1b1b;
  right: -14px;
  transform: rotateZ(-39deg);
  right: -52px;
  z-index: -1;
}
h4.eighteen_plus{
  position: absolute;
  z-index: 9999;
  top: -37px;
  right: 42px;
  background: none;
  transform: unset !important;
  padding: 0 !important;
  padding-right: 7px !important;
}
.details_listing_txt_img1{
  width: 100%;
  height: 300px;
  margin-bottom: 10px;
}
.details_listing_txt_img1 img{
width: 100%;
height: 100%;
object-fit: cover;
}
a#save123456 {
  position: absolute;
  right: 20px;
}
.white_border {
  background: white;
  padding: 20px;
  border: 1px solid #ced2d8;
  border-radius: 10px;
}
.listing_view_post .post_img_user {
width: 60px;
height: 60px;
border-radius: 50%;
}
form.edit_profile_form {
margin-bottom: 20px;
} 
.dp_detail .label_input{
  margin-bottom: 10px;
}
.d-flex.align-items-center.justify-content-between.mb-3 {
  width: 85%;
}
.outer-cus-div.details_listing {
  display: flex;
} 
.time-div h3 {
  font-size: 12px;
}
.time-div {
  position: absolute;
  left: 116px;
  margin-top: 28px;
}
div#menu2 {
  background: #f1f3f6;
  margin-top: 20px;
}
a.nav-link:hover {
  background-image: none !important;
}
.carousel_slides_txt {
  height: 240px;
}
.site_btn {
  min-width: 137px;
}

.read_more a {
  background-clip: text;
  -webkit-background-clip: text;
  color: #222;
  font-size: 18px;
  font-family: baskerville;
  font-weight: 600;
  
}
span.cross {
  float: right;
  background: #4e5053;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  text-align: center;
  top: 12px;
  position: relative;
  left: 8px;
  color: #fff;
  cursor: pointer;
}

.block_user_popup .modal-footer {
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.user_name_txt_heading_img img{
  object-fit: cover;
}