<div class="wraper">
  <div *ngIf="showLoader" class="loader"><img src="/assets/img/loader.svg"></div>
  <section class="hero_section_craousel_mr publish_draft mb-0" *ngIf="authordata">
    <input type="hidden" [value]="authordata._id" id="user_id">
    <div class="">
      <div class="covered_img">
        <div class="covered_img_imside" [ngStyle]="{'background-image': 'url(' + authordata.coverimage + ')'}">
          <div class="author_wall_image">

            <div class="user_name_txt_heading">
              <div class="user_name_txt_heading_img">
                <img *ngIf="authordata.image !== ''" src="{{baseimage}}{{authordata.image}}" alt="" />
                <img *ngIf="authordata.image == ''" src="assets/images/img_user1.svg" alt="" />

              </div>
              <h2 class="pt-2">{{authordata.fullname}}</h2>
              <p>@{{authordata.username}}</p>
              <div *ngIf="authordata._id !== loggedIn" class="follows_btns">
                <a *ngIf="authordata.isFollowed" (click)="follow($event)" [attr.data-status]="2"
                  [attr.data-user]="authordata._id" class="site_btn follow user_{{authordata._id}}">Following</a>
                <a *ngIf="!authordata.isFollowed" [attr.data-status]="1" [attr.data-user]="authordata._id"
                  (click)="follow($event)" class="site_btn user_{{authordata._id}}">Follow</a>
              </div>
            </div>

            <div class="follow_clor_following mt-5 mb-2">
              <a class=" pr-4 mr-4" href="javascript:void(0);"> FOLLOWERS <span
                  class="badge badge-pill badge-light total">{{authordata.noOfFollower | json}}</span></a>
              <a class=" pl-2" href="javascript:void(0);"> FOLLOWINGS <span
                  class="badge badge-pill badge-light">{{authordata.noOfFollowing | json}}</span></a>
            </div>

            <!-- <div class="user_name_txt_heading_down">
              <h2 class="total "><span class="badge  badge-pill badge-light"></span> </h2>
              <p>FOLLOWER(S)</p>
            </div> -->
          </div>
        </div>
      </div>

      <div class="publish_tab">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#home1">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu2">Wall</a>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content ">
          <div id="home1" class="tab-pane active"><br>
            <div *ngIf="authordata.bio !==''" class="bio">
              <h2>Bio</h2>
              <p> {{authordata.bio}}</p>
            </div>
            <div class="main_carousel">
              <div class="container-fluid container_fluid2">
                <div class="crasoule_heading_txt">
                  <div class="crasoule_heading_txt_left">
                    <h2>Stories by {{authordata.fullname}}</h2>
                    <p>{{storyCount}} Books Published</p>
                  </div>
                  <div class="crasoule_heading_txt_right" *ngIf="authordata.myStories.length  != 0">
                    <a routerLink="/author/stories/publish/{{authordata._id}}" class="d-flex align-items-center">View
                      All<svg _ngcontent-lws-c6="" aria-hidden="true" class="" fill="none" height="24" stroke="#222222"
                        stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24">
                        <g _ngcontent-lws-c6="">
                          <polyline _ngcontent-lws-c6="" points="9 18 15 12 9 6"></polyline>
                        </g>
                      </svg></a>
                  </div>
                </div>
              </div>
              <owl-carousel *ngIf="authordata.myStories" [options]="SlideOptions"
                [carouselClasses]="['owl-carousel','owl-theme','custom_owl_carousel', 'sliding']">

                <div class="item wow animate__animated animate__zoomIn"
                  *ngFor="let NewStoriesSlider of authordata.myStories; let i = index">
                  <div class="carousel_slides over_flow">
                    <div *ngIf="NewStoriesSlider.is_blocked;" class="carousel_slides_img block_img_txt">
                      <a *ngIf="NewStoriesSlider.cover_image !== '';"
                        routerLink="/singlebook/{{ NewStoriesSlider.author_id }}"><img
                          src="{{baseimage}}{{NewStoriesSlider.cover_image}}" alt="" />
                        <div class="block_txt">
                          <h3>Blocked</h3>
                        </div>
                      </a>
                      <a *ngIf="NewStoriesSlider.cover_image == '';"
                        routerLink="/singlebook/{{ NewStoriesSlider._id }}">
                        <div class="patahani-cover">
                          <h2 class="patahani-h2">{{NewStoriesSlider.title}}</h2>

                        </div>
                      </a>
                      <div *ngIf="NewStoriesSlider.not_for_below_eighteen" class="plus_18">
                        <h4 class="eighteen_plus">18+</h4>
                      </div>
                      <div class="block_txt">
                        <h3>Blocked</h3>
                      </div>
                    </div>
                    <div *ngIf="!NewStoriesSlider.is_blocked;" class="carousel_slides_img">
                      <a *ngIf="NewStoriesSlider.cover_image !== '';"
                        routerLink="/singlebook/{{ NewStoriesSlider._id }}"><img
                          src="{{baseimage}}{{NewStoriesSlider.cover_image}}" alt="" />

                      </a>
                      <a *ngIf="NewStoriesSlider.cover_image == '';"
                        routerLink="/singlebook/{{ NewStoriesSlider._id }}">
                        <div class="patahani-cover">
                          <h2 class="patahani-h2">{{NewStoriesSlider.title}}</h2>

                        </div>
                      </a>
                      <div *ngIf="NewStoriesSlider.not_for_below_eighteen" class="plus_18">
                        <h4 class="eighteen_plus">18+</h4>
                      </div>

                    </div>


                    <div class="carousel_slides_txt">
                      <!-- <h2>{{NewStoriesSlider.title}}</h2> -->
                      <div class="carousel_slides_txt_profile">
                        <!-- <div class="carousel_slides_txt_profile_img">
                          <a routerLink="/singlebook/{{ NewStoriesSlider._id }}">
                            <img *ngIf="NewStoriesSlider.author_image !== '';"
                              src="{{baseimage}}{{NewStoriesSlider.author_image}}" alt="" />
                            <img *ngIf="NewStoriesSlider.author_image == '';" src="assets/images/img_user1.svg"
                              alt="" /></a>
                        </div> -->
                        <div class="txt_silde_profile">
                          <!-- <a
                            routerLink="/authorProfile/{{ NewStoriesSlider.author_id }}">{{NewStoriesSlider.author_name}}</a> -->
                          <!-- <h4  (click)="authorProfile(NewStoriesSlider.author_id)">{{NewStoriesSlider.author_name}}</h4> -->
                          <p>Last Updated On : {{NewStoriesSlider.updated_at | date }}</p>
                        </div>
                      </div>
                      <div class="read_more mt-1 text-left">

                        <p>
                          {{ NewStoriesSlider.description | slice: 0:240 }}{{(NewStoriesSlider.description.length > 240)?'...':''}}
                        </p>
                        <a class="mb-2 pl-0 d-inline-block" routerLink="/singlebook/{{ NewStoriesSlider._id }}">Read
                          More
                          <!-- <svg _ngcontent-apc-c6="" aria-hidden="true" class="" fill="none" height="24" stroke="#222222" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24"><g _ngcontent-apc-c6=""><polyline _ngcontent-apc-c6="" points="9 18 15 12 9 6"></polyline></g></svg> -->
                        </a>
                        <!-- <p>{{NewStoriesSlider.description}}<span>Read More</span></p> -->
                      </div>
                      <div class="card_btn_list">
                        <ul *ngIf="NewStoriesSlider.tags">
                          <template *ngFor="let NewStoriesTags of NewStoriesSlider.tags; let i = index">

                            <li *ngIf="i < 3">
                              <a (click)="searchTag(NewStoriesTags)">{{NewStoriesTags}}</a>
                            </li>
                          </template>
                          <li class="more_btns" *ngIf=" NewStoriesSlider.tags.length > 3">
                            <a href="javascript:void(0);">+ {{NewStoriesSlider.tags.length - 3}} more</a>
                          </li>
                        </ul>
                      </div>
                      <div class="card_btn_list2">
                        <a><img src="assets/img/eye.svg" alt="">{{NewStoriesSlider.views}}</a>
                        <a><img src="assets/img/favorite.svg" alt="">{{NewStoriesSlider.likes}}</a>
                        <a><img src="assets/img/share.svg" alt="">{{NewStoriesSlider.no_of_shares}}</a>
                        <a><img src="assets/img/open_book.svg" alt="">{{NewStoriesSlider.no_of_chapter}}</a>
                      </div>
                    </div>
                  </div>
                  <div class="top_heading_txt">
                    <h2>{{NewStoriesSlider.title}}</h2>
                  </div>
                  <div class="owl-nav" *ngIf="authordata.myStories.length > 1">
                    <button type="button" *ngIf="i > 0" role="presentation" class=" owl-prev"><span
                        class="custom-owl-prev" aria-label="Previous">‹</span></button>
                    <button type="button" *ngIf="(i+1) < authordata.myStories.length" role="presentation"
                      class=" owl-next"><span class="custom-owl-next" aria-label="Next">›</span></button>
                  </div>
                </div>


              </owl-carousel>
            </div>

            <div class="main_carousel">
              <div class="container-fluid container_fluid2">
                <div class="crasoule_heading_txt">
                  <div class="crasoule_heading_txt_left">
                    <h2>Stories Liked by {{authordata.fullname}}</h2>
                    <p>{{likeCount}} Books Liked</p>
                  </div>
                  <div class="crasoule_heading_txt_right" *ngIf="authordata.myLikedStories.length != 0">
                    <a routerLink="/author/stories/like/{{authordata._id}}" class="d-flex align-items-center">View
                      All<svg _ngcontent-lws-c6="" aria-hidden="true" class="" fill="none" height="24" stroke="#222222"
                        stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24">
                        <g _ngcontent-lws-c6="">
                          <polyline _ngcontent-lws-c6="" points="9 18 15 12 9 6"></polyline>
                        </g>
                      </svg></a>
                  </div>
                </div>
              </div>
              <owl-carousel *ngIf="authordata.myLikedStories" [options]="SlideOptions"
                [carouselClasses]="['owl-carousel','owl-theme','custom_owl_carousel', 'sliding']">

                <div class="item wow animate__animated animate__zoomIn"
                  *ngFor="let NewStoriesSlider of authordata.myLikedStories; let i = index">
                  <div class="carousel_slides over_flow">
                    <div *ngIf="NewStoriesSlider.is_blocked;" class="carousel_slides_img block_img_txt">
                      <a *ngIf="NewStoriesSlider.cover_image !== '';"
                        routerLink="/singlebook/{{ NewStoriesSlider._id }}"><img
                          src="{{baseimage}}{{NewStoriesSlider.cover_image}}" alt="" />
                        <div class="block_txt">
                          <h3>Blocked</h3>
                        </div>
                      </a>
                      <a *ngIf="NewStoriesSlider.cover_image == '';"
                        routerLink="/singlebook/{{ NewStoriesSlider._id }}">
                        <div class="patahani-cover">
                          <h2 class="patahani-h2">{{NewStoriesSlider.title}}</h2>

                        </div>
                      </a>
                      <div *ngIf="NewStoriesSlider.not_for_below_eighteen" class="plus_18">
                        <h4 class="eighteen_plus">18+</h4>
                      </div>
                      <div class="block_txt">
                        <h3>Blocked</h3>
                      </div>
                    </div>
                    <div *ngIf="!NewStoriesSlider.is_blocked;" class="carousel_slides_img">
                      <a *ngIf="NewStoriesSlider.cover_image !== '';"
                        routerLink="/singlebook/{{ NewStoriesSlider._id }}"><img
                          src="{{baseimage}}{{NewStoriesSlider.cover_image}}" alt="" />

                      </a>
                      <a *ngIf="NewStoriesSlider.cover_image == '';"
                        routerLink="/singlebook/{{ NewStoriesSlider._id }}">
                        <div class="patahani-cover">
                          <h2 class="patahani-h2">{{NewStoriesSlider.title}}</h2>

                        </div>
                      </a>
                      <div *ngIf="NewStoriesSlider.not_for_below_eighteen" class="plus_18">
                        <h4 class="eighteen_plus">18+</h4>
                      </div>

                    </div>
                    <div class="carousel_slides_txt">
                      <!-- <h2>{{NewStoriesSlider.title}}</h2> -->
                      <div class="carousel_slides_txt_profile">
                        <div class="carousel_slides_txt_profile_img">
                          <a routerLink="/singlebook/{{ NewStoriesSlider._id }}">
                            <img *ngIf="NewStoriesSlider.author_image !== '';"
                              src="{{baseimage}}{{NewStoriesSlider.author_image}}" alt="" />
                            <img *ngIf="NewStoriesSlider.author_image == '';" src="assets/images/img_user1.svg"
                              alt="" /></a>
                        </div>
                        <div class="txt_silde_profile">
                          <a routerLink="/authorProfile/{{ NewStoriesSlider.author_id }}"><span>By</span>
                            {{NewStoriesSlider.author_name}}</a>
                          <!-- <h4  (click)="authorProfile(NewStoriesSlider.author_id)">{{NewStoriesSlider.author_name}}</h4> -->
                          <p>Last Updated On : {{NewStoriesSlider.updated_at | date }}</p>
                        </div>
                      </div>
                      <div class="read_more mt-1 text-left">
                        <p>
                          {{ NewStoriesSlider.description | slice: 0:230 }}{{(NewStoriesSlider.description.length > 230)?'...':''}}

                        </p>
                        <a class="mb-2 pl-0 d-inline-block" routerLink="/singlebook/{{ NewStoriesSlider._id }}"> Read
                          More
                          <!-- <svg _ngcontent-apc-c6="" aria-hidden="true" class="" fill="none" height="24" stroke="#222222" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24"><g _ngcontent-apc-c6=""><polyline _ngcontent-apc-c6="" points="9 18 15 12 9 6"></polyline></g></svg> -->
                        </a>

                        <!-- <p>{{NewStoriesSlider.description}}<span>Read More</span></p> -->
                      </div>
                      <div class="card_btn_list">
                        <ul *ngIf="NewStoriesSlider.tags">
                          <template *ngFor="let NewStoriesTags of NewStoriesSlider.tags; let i = index">

                            <li *ngIf="i < 3">
                              <a (click)="searchTag(NewStoriesTags)">{{NewStoriesTags}}</a>
                            </li>
                          </template>
                          <li class="more_btns" *ngIf=" NewStoriesSlider.tags.length > 3">
                            <a href="javascript:void(0)">+ {{NewStoriesSlider.tags.length - 3}} more</a>
                          </li>
                        </ul>
                      </div>
                      <div class="card_btn_list2">
                        <a><img src="assets/img/eye.svg" alt="">{{NewStoriesSlider.views}}</a>
                        <a><img src="assets/img/favorite.svg" alt="">{{NewStoriesSlider.likes}}</a>
                        <a><img src="assets/img/share.svg" alt="">{{NewStoriesSlider.no_of_shares}}</a>
                        <a><img src="assets/img/open_book.svg" alt="">{{NewStoriesSlider.no_of_chapter}}</a>
                      </div>
                    </div>
                  </div>
                  <div class="top_heading_txt">
                    <h2>{{NewStoriesSlider.title}}</h2>
                  </div>
                  <div class="owl-nav" *ngIf="authordata.myLikedStories.length > 1">
                    <button type="button" *ngIf="i > 0" role="presentation" class=" owl-prev"><span
                        class="custom-owl-prev" aria-label="Previous">‹</span></button>
                    <button type="button" *ngIf="(i+1) < authordata.myLikedStories.length" role="presentation"
                      class=" owl-next"><span class="custom-owl-next" aria-label="Next">›</span></button>
                  </div>
                </div>


              </owl-carousel>
            </div>
          </div>
          <div id="menu2" class=" tab-pane fade pb-7"><br>
            <div class="">
              <div class="container">
                <div class="row">
                  <div class="col-md-10 m-auto">
                    <div class="row">
                      <!-- <div class="col-md-4 ">
                
                  <div class="dp_detail input_form_filled white_border">
                                <div class="label_input">
                                    <label for="">Username</label>
                                    <p *ngIf="authordata.username">{{authordata.username}}</p>
                                </div>
                                <div class="label_input">
                                    <label for="">Name</label>
                                    <p *ngIf="authordata.fullname">{{authordata.fullname}}</p>
                                </div>
                                <div class="label_input">
                                    <label for="">Email</label>
                                    <p *ngIf="authordata.email">{{authordata.email}}</p>
                                </div>
                
                                <div *ngIf="authordata.gender" class="label_input">
                                    <label for="">Gender</label>
                                    <p style="text-transform: capitalize;"*ngIf="authordata.gender">{{authordata.gender}}</p>
                                </div>
                                <div class="label_input">
                                    <label for="">Date of Birth</label>
                                    <p *ngIf="authordata.dob">{{authordata.dob}}</p>
                                </div>
                                <div class="bio label_input" *ngIf="authordata.bio">
                                    <label for="">Bio</label>
                                    <p style="white-space:break-spaces">{{authordata.bio}}</p>
                                </div>
                                <div class="label_input" *ngIf="authordata.location">
                                    <label for="">Location</label>
                                    <p *ngIf="authordata.location">{{authordata.location}}</p>
                                </div>
                               </div>
                        </div> -->
                      <div class="col-md-12 ">
                        <div class="outer-post  outer_post_box">
                          <form [formGroup]="updateForm" class="edit_profile_form white_border" (ngSubmit)="onSubmit()">
                            <input type="hidden" formControlName="user_id" [ngModel]="authordata._id">

                            <div class="post-textarea">
                              <div class="post_img_user mr-5">
                                <img *ngIf="userdata.data.image !== ''" src="{{_baseURL}}{{userdata.data.image}}"
                                  alt="">
                                <img *ngIf="userdata.data.image == ''" src="assets/images/img_user1.svg" alt="">
                              </div>
                              <div class="text_area_box">
                                <textarea formControlName="content" class="form-control" cols="20" rows="5"
                                  placeholder="Write a message" [ngClass]="{ 'is-invalid': showError }"
                                  maxlength="1000"></textarea>
                                <div class="details_listing_txt_img1" style="display:none;">
                                  <span class="cross" (click)=CrossImage()>X</span>
                                  <img src="" alt="" id="post-image" style="display: none">
                                </div>

                                <div *ngIf="showError" class="invalid-feedback">
                                  <div *ngIf="showError">
                                    Post message is required
                                  </div>
                                </div>
                                <div class="d-flex align-items-center justify-content-between mt-6">
                                  <label for="uploaded_pics">
                                    <input type="file" id="uploaded_pics" (change)="onSelectFile($event)"
                                      class="d-none">

                                    <input type="file" id="uploaded_pics" class="d-none">
                                    <img src="assets/img/upload1.svg" alt="">
                                  </label>
                                  <button [disabled]="loading" class="site_btn">Post</button>
                                </div>
                              </div>
                            </div>

                          </form>

                          <div *ngFor="let post of authordata.myPosts; let i = index;" class="post_name white_border"
                            class="white_border listing_view_post">
                            <div class="outer-cus-div details_listing">

                              <div class="post_img_user mr-5">
                                <img *ngIf="post.user_image !== ''" src="{{_baseURL}}{{post.user_image}}" alt="">
                                <img *ngIf="post.user_image == ''" src="assets/images/img_user1.svg" alt="">
                              </div>
                              <div class="d-flex align-items-center justify-content-between mb-3">
                                <h2> {{post.fullname}}<span>@{{post.user_name}}</span></h2>
                                <!-- <a
                                            href="javascript:void(0)" data-toggle="modal" data-target="#save_box"
                                            (click)="deletWallPost(post._id)"><img src="assets/images/trash2.svg"></a> -->
                                <div class="dropdown dropleft">
                                  <button class="dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img src="assets/img/dots.svg" alt="" />
                                  </button>
                                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                                    <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal"
                                      data-target="#save_box" (click)="deletWallPost(post._id)">Delete</a>
                                  </div>
                                </div>
                              </div>
                              <div class="time-div">
                                <h3>{{post.created_at}}</h3>
                              </div>
                            </div>
                            <div class="details_listing">
                              <div style="margin-top:10px" class="details_listing_txt">
                                <p style="white-space:break-spaces">{{post.content}}</p>


                                <div *ngIf="post.image !== ''" class="details_listing_txt_img">
                                  <img style="cursor: pointer;" (click)="viewImage(post.image)"
                                    src={{_baseURL}}{{post.image}} alt="">
                                </div>

                              </div>
                            </div>

                          </div>



                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
</div>

<div class="container block_user_popup">
  <div class="modal fade" id="save_box">
    <div class="modal-dialog modal-md modal-dialog-centered">
      <div class="modal-content">

        <div class="modal-body text-center">
          <div class="block_user">
            <h2 style="text-align: center;">Are you sure you want to delete this record?</h2>
            <p>After you delete this record you will not able to get this.</p>
          </div>
        </div>
        <div class="modal-footer">
          <a id="save" class="btn btn-primary pl-6 pr-6" data-dismiss="modal" (click)="deleteConfirm()">
            Yes
          </a>
          <a class="btn btn-light pl-6 pr-6" data-dismiss="modal">
            No
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="view-image">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body" style="
              width: 100%;
              height: calc(100vh - 100px);padding:5px;">
          <a id="save123456" class="" data-dismiss="modal">
            <i class="fa fa-close"></i> </a>

          <img style="width:100%;height:100%;object-fit: contain;" src="{{_baseURL}}{{imgSrc}}" />
        </div>
      </div>
    </div>
  </div>
</div>