.post_img {
  width: auto;
  height: auto;
}
.post_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
a.post_txt {
  color: #222;
  color: #222;
  font-size: 15px;
  font-family: "baskervillebold";
}
.trash_btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid #e3ebf3;
  padding: 10px 0px;
}
.trash_btn:last-child {
  border-bottom: 1px solid #e3ebf3;
}
.trash_btn p {
  margin-bottom: 0;
}
.post_img {
  width: 225px;
  height: 150px;
}
.post_img img {
  widows: 100%;
  height: 100%;
  object-fit: cover;
}
a.btn.btn-success.mb-3.add_chapter {
  background: linear-gradient(481deg, #e65124, #9c9400, #27953e, #53479e);
  border: none;
  color: #fff;
  font-size: 16px;
  font-family: "baskervillebold";
}

h2.No_wal {
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
  font-family: "baskervillebold";
  margin-top: 40px;
  margin-bottom: 0;
}
.heading_cover.my_stories_txt {
  max-width: 674px;
  width: 100%;
  margin: 50px auto;
}
.heading_cover.my_stories_txt p {
  font-size: 18px;
  margin-bottom: 0px;
  font-family: "baskervillenormal";
  color: #222;
}

img#post-image {
    height: 300px;
}

img.post-image {
    cursor: pointer;
}
.details_listing_txt_img1{

  width: 100%;
  height: 300px;
  margin-bottom: 10px;
}
.details_listing_txt_img1 img{
width: 100%;
height: 100%;
object-fit: cover;
}
a#save123456:hover {
color: #222;
}
a#save123456 {
  position: absolute;
  right: 20px;
}
.hero_section_craousel_mr {
  margin-top: 0;
}
.crasoule_heading_txt_left {
  padding-top: 50px;
  padding-bottom: 23px;
}