<div class="wraper">
    <div *ngIf="showLoader" class="loader"><img src="/assets/img/loader.svg"></div>
    <section>
        <div class="container">
          <div class="crasoule_heading_txt">
            <div class="crasoule_heading_txt_left">
              <h2>My Wall</h2>
               <p>Put your thoughts here</p>
            </div>
          </div>
        </div>
      </section>
    <section class="hero_section_craousel_mr publish_draft">
        <div class="container">
            <!-- <div class="heading_cover my_stories_txt ">
                <h2 class="pb-0">My Wall</h2>
                <p class="d-flex align-items-center justify-content-between">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea, eius. <a  class="btn btn-success mb-3 add_chapter " data-toggle="modal" data-target="#myModal" >Post a message</a></p>
            </div> -->
            <div class="row">
                <div class="col-lg-8 m-auto col-md-12">

                    <div class="outer-post  outer_post_box">
                        <form [formGroup]="updateForm" class="edit_profile_form" (ngSubmit)="onSubmit()">

                            <div class="post-textarea">
                                <div class="post_img_user mr-5">
                                    <img *ngIf="userImage !== ''" src="{{_baseURL}}{{userImage}}" alt="">
                                    <img *ngIf="userImage == ''" src="assets/images/img_user1.svg" alt="">
                                </div>
                                <div class="text_area_box">
                                    <textarea formControlName="content" class="form-control" cols="20" rows="5"
                                        placeholder="Write a message"
                                        [ngClass]="{ 'is-invalid': submitted && f.content.errors }"></textarea>
                                        <div  class="details_listing_txt_img1" style="display:none;">
                                        <img src="" alt="" id="post-image" style="display: none">
                                        </div>
                                    <div *ngIf="submitted && f.content.errors" class="invalid-feedback">
                                        <div *ngIf="f.content.errors.required">
                                            Post message is required
                                        </div>
                                           
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between mt-3">
                                        <label for="uploaded_pics">
                                            <input type="file" id="uploaded_pics"
                                                (change)="onSelectFile($event)" class="d-none">
                                            
                                            <input type="file" id="uploaded_pics" class="d-none">
                                            <img src="assets/img/upload1.svg" alt="">
                                        </label>
                                        <button [disabled]="loading" class="site_btn">Submit</button>
                                    </div>
                                </div>
                            </div>

                        </form>
                        <hr />
                        <div  *ngFor="let post of wallData; let i = index;" class="post_name" class="listing_view_post">
                            <div class="post_img_user mr-5">
                                <img *ngIf="post.user_image !== ''" src="{{_baseURL}}{{post.user_image}}" alt="">
                                <img  *ngIf="post.user_image == ''"src="assets/images/img_user1.svg" alt="">
                            </div>
                            <div class="details_listing">
                                <div class="d-flex align-items-center justify-content-between mb-3">
                                    <h2>{{post.fullname}}<span>@{{post.user_name}}</span></h2>
                                    <a
                                    href="javascript:void(0)" data-toggle="modal" data-target="#save_box"
                                    (click)="deletWallPost(post._id)"><img src="assets/images/trash2.svg"></a>
                                </div>
                                <div class="details_listing_txt">
                                    <p>{{post.content}}</p>

                                
                                          <div *ngIf="post.image !== ''" class="details_listing_txt_img">
                        <img style="cursor: pointer;"  (click)="viewImage(post.image)" src={{_baseURL}}{{post.image}} alt="">
                    </div>
                                 
                                    <div class="show_time_date">
                                        <h3>{{post.created_at}}</h3>
                                    </div>
                                </div>
                            </div>

                        </div>



                    </div>
                </div>
            </div>
        </div>
        <div class="tab_publish">
            <div class="post_heading text-center">

            </div>

            <!-- <div *ngIf="wallData">
                <div *ngFor="let post of wallData; let i = index;" class="post_name">
                    <h2 class="d-flex align-items-center justify-content-between">@ {{post.user_name}} <a
                            href="javascript:void(0)" data-toggle="modal" data-target="#save_box"
                            (click)="deletWallPost(post._id)"><img src="assets/images/trash2.svg"></a></h2>
                    <h3>{{post.created_at}}</h3>
                    <div *ngIf="post.image !== ''" class="post_img">
                        <img src={{_baseURL}}{{post.image}} alt="">
                    </div>
                    <div class="trash_btn">
                        <p>{{post.content}}</p>

                    </div>
                </div>
            </div> -->
            <div class="container-fluid" *ngIf="!wallData">
                <!-- <div class="searching_book text-center">
                    <img src="assets/img/searchbook.svg" alt="">
                    <h2 class="No_wal">No Wall Post Found!</h2>
                </div> -->
            </div>
        </div>
    </section>
    <!-- Modal -->
    <div id="myModal" class="modal fade post_mess_popup" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><img alt=""
                            src="assets/img/close.svg"></button>
                </div>
                <input type="hidden" [value]="userdata.data._id" id="user_id">
                <div class="modal-body">
                    <div *ngIf="showLoader" class="loader"><img src="/assets/img/loader.svg"></div>
                    <form [formGroup]="updateForm" class="edit_profile_form" (ngSubmit)="onSubmit()">
                        <h2 class="post_heading pt-5">Post A Message</h2>
                        <!-- <form action="" class="edit_profile_form"> -->
                        <div class="edit_profile_form">
                            <div class="user_pic_edit">
                                <div class="cover_img2">
                                    <div class="cover_img_upload">
                                        <label for="edit_cover_img_upload">
                                            <!-- <div class="place_hlder">
                                        <img src="assets/img/add_cover_imgs.svg" alt="">
                                    </div> -->
                                            <input type="file" id="edit_cover_img_upload"
                                                (change)="onSelectFile($event)" class="d-none">
                                            <img src="assets/img/add_cover_imgs.svg" alt="" class="post-image">
                                            <img src="" alt="" id="post-image" style="display: none">
                                            <div *ngIf="submitted && f.post_image.errors" class="invalid-feedback">
                                                <div *ngIf="f.post_image.errors.required">
                                                    Post Image is required
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group input_txt">
                            </div>
                            <div class="input_form_filled post_a_message">
                                <div class="label_input post_message">
                                    <!-- <label for="">Old Password</label> -->
                                    <textarea formControlName="content" class="form-control" cols="20" rows="5"
                                        placeholder="Write a message"
                                        [ngClass]="{ 'is-invalid': submitted && f.content.errors }"></textarea>
                                    <div *ngIf="submitted && f.content.errors" class="invalid-feedback">
                                        <div *ngIf="f.content.errors.required">
                                            Post message is required
                                        </div>
                                    </div>
                                </div>
                                <div class="alert-danger" *ngIf="errorMsg">{{errorMsg}}</div>
                                <div class="login_btn text-center">
                                    <button [disabled]="loading" class="site_btn">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>

</div>

<div class="container block_user_popup add_story_popup">
    <div class="modal fade" id="save_box">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>LIBRUMS</h2>
                </div>
                <div class="modal-body">
                    <div class="block_user">
                        <p>Are you sure you want to delete?</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <a id="save" class="back_btn add_content" data-dismiss="modal" (click)="deleteConfirm()">
                        Yes
                    </a>
                    <a class="back_btn add_content" data-dismiss="modal">
                        No
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="view-image">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" >
                <div class="modal-body" style="
                width: 100%;
                height: calc(100vh - 100px);padding:5px;">
                  <a id="save123456" class="" data-dismiss="modal" >
                    <i class="fa fa-close"></i>                  </a>
                                    
                <img style="width:100%;height:100%;object-fit: contain;" src="{{_baseURL}}{{imgSrc}}" />     
                </div>
                </div>
        </div>
    </div>
</div>