.form-control:focus {
  background: #f1f3f6;
}
.input_txt {
  height: 130px;
}
.app-content .side-app {
  padding-bottom: 50px;
}
.input_txt textarea {
  color: #222;
}
.input_txt textarea:focus {
  border: 1px solid #ababab;
  background: #fff;
}
.input_txt textarea::placeholder {
  text-indent: 0;
}

.site_btn {
  min-width: 130px;
  background: #28a745;
  border: none;
}