a {
  cursor: pointer;
}

.back_btn.add_content {
  background-image: linear-gradient(481deg, #e65124, #9c9400, #27953e, #53479e);
  color: #fff;
  border: none;
  max-width: 120px;
  width: 100%;
  line-height: 30px;
  border-radius: 5px;
}

.block_user_popup .modal-footer {
  justify-content: space-between;
}

.block_user_popup .modal-header {
  padding: 0;
  position: absolute;
  right: 1px;
  top: 0;
  border: none;
  z-index: 99999;
}

.block_user p {
  font-size: 14px;
  color: #222;
  font-weight: 400;
  margin-bottom: 10px;
  text-align: center;
}

.block_user_popup .modal-header button {
  font-size: 22px;
  background-image: linear-gradient(481deg, #e65124, #9c9400, #27953e, #53479e);
  border-radius: 50%;
  width: 30px;
  line-height: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  color: #fff;
  outline: none;
}

.block_user_popup .modal-footer button {
  outline: none;
}
table.dataTable.no-footer {
  border-bottom: 1px solid #111111;
  min-width: 1180px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 38px;
  background: #8f8f8f3d;
  border-radius: 20px;
  padding: 8px;
}
.slider:before {
  bottom: 0px;
  height: 38px;
  width: 38px;
  right: 3px;
}
.slider {
  position: unset;
}

label.switch.yes {
  text-align: end;
}

