.about_heading.follower.notification_list {
    max-width: 1250px;
}
.follower_pic_img img{
    border-radius: 50%;
}
h3.date_txt {
    font-size: 16px;
    font-family: 'baskervillebold';
    color: #222;
}
.notification template{
    display: flex;
    width: 100%;
}
.notification template a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.follower_pic_img img{
    border-radius: 50%;
}