<!-- header end-->
<div class="wraper">
    <div *ngIf="showLoader" class="loader"><img src="/assets/img/loader.svg"></div>
    <section class="hero_section_craousel_mr pt_row">
        <div class="container-fluid container_fluid2">
            <div class="row">
                <div class="col-md-9 m-auto">
                    <div class="about_heading follower notification_list" *ngIf="getnotification != ''">
                        <h2>Annoucements</h2>
                        <!-- {{ getnotification | json}} -->
                        <div *ngFor="let Notification of getnotification; let i = index" class="notification">
                            <div class="txt_notifi">
                                <h2><img src="assets/img/clock2.svg"
                                        alt="">{{ Notification.created_at | date : "hh.ss.a" }}</h2>
                                <p>{{Notification.message}}</p>
                            </div>
                            <img class="" src="assets/img/Annoucements_logo.png">
                        </div>
                    </div>
                    <div class="container-fluid" *ngIf="getnotification == ''">
                        <div class="searching_book text-center">
                            <img src="assets/img/image_noti.png" alt="" />
                            <h2 class="mt-4">Still no annoucement found</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>