/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'robotobold';
    src: url('/assets/chapter_fonts/roboto_bold-webfont.woff2') format('woff2'), url('/assets/chapter_fonts/roboto_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'aileronlight';
    src: url('/assets/chapter_fonts/aileron-light-webfont.woff2') format('woff2'), url('/assets/chapter_fonts/aileron-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'inconsolatamedium';
    src: url('/assets/chapter_fonts/inconsolata-webfont.woff2') format('woff2'), url('/assets/chapter_fonts/inconsolata-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'comic_reliefregular';
    src: url('/assets/chapter_fonts/01_comicrelief-webfont.woff2') format('woff2'), url('/assets/chapter_fonts/01_comicrelief-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'haloregular';
    src: url('/assets/chapter_fonts/halo3-webfont.woff2') format('woff2'), url('/assets/chapter_fonts/halo3-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'droid_serifregular';
    src: url('/assets/chapter_fonts/droidserif-webfont.woff2') format('woff2'), url('/assets/chapter_fonts/droidserif-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'pressururegular';
    src: url('/assets/chapter_fonts/00_pressuru-webfont.woff2') format('woff2'), url('/assets/chapter_fonts/00_pressuru-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'noname_nocontrast_serif_v1Rg';
    src: url('/assets/chapter_fonts/nocontrast_serif-webfont.woff2') format('woff2'), url('/assets/chapter_fonts/nocontrast_serif-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'ucu_charles_scriptregular';
    src: url('/assets/chapter_fonts/ucu_charles_script-webfont.woff2') format('woff2'), url('/assets/chapter_fonts/ucu_charles_script-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'geometric_sans_serif_v1Rg';
    src: url('/assets/chapter_fonts/geometric_sans_serif-webfont.woff2') format('woff2'), url('/assets/chapter_fonts/geometric_sans_serif-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'press_start_2pregular';
    src: url('/assets/chapter_fonts/pressstart2p-webfont.woff2') format('woff2'), url('/assets/chapter_fonts/pressstart2p-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'the_godfatherregular';
    src: url('/assets/chapter_fonts/the_godfather-webfont.woff2') format('woff2'), url('/assets/chapter_fonts/the_godfather-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

html, body { height: 100%; }
body { margin: 0; font-family:  sans-serif; }
html, body { height: 100%; }
body { margin: 0; font-family:  sans-serif; }

.loader {
  position: fixed;
  /* top: 25%; */
  text-align: center;
  left: 0;
  right: 0;
  z-index: 999999999999;
  background: rgba(0, 0, 0, 0.22);
  width: 100%;
  height: 100%;
  top: 0;
}
.loader img {
  padding-top: 200px;
}


.medium-insert-images.medium-insert-images-grid.small-grid figure {
  width: 10%;
}

@media (max-width: 750px) {
  .medium-insert-images.medium-insert-images-grid.small-grid figure {
      width: 20%;
  }
}

@media (max-width: 450px) {
  .medium-insert-images.medium-insert-images-grid.small-grid figure {
      width: 25%;
  }
}
