<div class="wraper">
    <div class="container-fluid container_fluid2">
        <div class="prev_back_arrow_btns">
            <a routerLink="{{previousUrl}}">
                <img src="assets/img/back_arrow_btn.svg" alt="">Back</a>
        </div>
    </div>
    <div *ngIf="showLoader" class="loader"><img src="/assets/img/loader.svg"></div>
    <section class="hero_section_craousel_mr half_slider half_slider2 single_book_details">
        <div class="main_carousel slider_top">
            <!-- <owl-carousel *ngIf="NewStoriesSlider" [options]="SlideOptions" [carouselClasses]="['owl-carousel','owl-theme','custom_owl_carousel', 'sliding']"> -->
            <div class="container" *ngIf="NewStoriesSlider">
                <div class="row">
                    <div class="col-md-12 col-lg-9 col-xl-10 m-auto">
                        <div class="carousel_slides over_flow mrt">
                            <div class="carousel_slides_img">
                                <img *ngIf="NewStoriesSlider.cover_image !== '';"
                                    src="{{baseurl}}{{NewStoriesSlider.cover_image}}" alt="" />
                                <div *ngIf="NewStoriesSlider.cover_image == '';" class="patahani-cover">
                                    <h2 class="patahani-h2">{{NewStoriesSlider.title}}</h2>
                                </div>
                                <div *ngIf="NewStoriesSlider.not_for_below_eighteen" class="plus_18">
                                    <h4 class="eighteen_plus">18+</h4>
                                </div>
                            </div>
                            <div class="carousel_slides_txt">
                                <!-- <template *ngIf="!bookshelfActive">
                                    <a (click)="addBookShelf({book_id: NewStoriesSlider._id})" title="Add to bookshelf." class="bookshelf-btn">
                                        <svg fill="#414141" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24px" height="24px"><path d="M 6.0097656 2 C 4.9143111 2 4.0097656 2.9025988 4.0097656 3.9980469 L 4 22 L 12 19 L 20 22 L 20 20.556641 L 20 4 C 20 2.9069372 19.093063 2 18 2 L 6.0097656 2 z M 6.0097656 4 L 18 4 L 18 19.113281 L 12 16.863281 L 6.0019531 19.113281 L 6.0097656 4 z"/></svg>
                                    </a>
                                </template> -->
                                <!-- <template *ngIf="bookshelfActive">
                                    <a (click)="removeBookShelf({book_id: NewStoriesSlider._id})"
                                        title="Remove from bookshelf." class="bookshelf-btn">
                                        <svg fill="#bf1b1b" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                            width="24px" height="24px">
                                            <path
                                                d="M 6 2 C 5.861875 2 5.7278809 2.0143848 5.5976562 2.0410156 C 4.686084 2.2274316 4 3.033125 4 4 L 4 22 L 12 19 L 20 22 L 20 4 C 20 3.8625 19.985742 3.7275391 19.958984 3.5976562 C 19.799199 2.8163086 19.183691 2.2008008 18.402344 2.0410156 C 18.272119 2.0143848 18.138125 2 18 2 L 6 2 z" />
                                        </svg>
                                    </a>
                                </template> -->
                                <div class="start_reading">
                                    <h2>{{NewStoriesSlider.title}}</h2>
                                    <!-- <ul class="pull-right">
                                        <li></li>
                                        <li></li>
                                        <li *ngIf="NewStoriesSlider.chapters != ''">
                                            <a [routerLink]="['/readchapter', NewStoriesSlider._id, NewStoriesSlider.chapters[0]._id]"
                                                class="">Start Reading <svg _ngcontent-mbo-c8="" _ngcontent-lws-c6=""
                                                    aria-hidden="true" class="" fill="none" height="24" stroke="#673AB7"
                                                    stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                    viewBox="0 0 24 24" width="24">
                                                    <g _ngcontent-mbo-c8="" _ngcontent-lws-c6="">
                                                        <polyline _ngcontent-mbo-c8="" _ngcontent-lws-c6=""
                                                            points="9 18 15 12 9 6"></polyline>
                                                    </g>
                                                </svg></a>
                                        </li>
                                    </ul> -->
                                </div>
                                <div class="carousel_slides_txt ml-0">
                                    <div class="carousel_slides_txt_profile_img pull-left">
                                        <img *ngIf="NewStoriesSlider.author_image !== '';"
                                            src="{{baseurl}}{{NewStoriesSlider.author_image}}" alt="" />
                                        <img *ngIf="NewStoriesSlider.author_image == '';"
                                            src="assets/images/img_user1.svg" alt="" />
                                    </div>
                                    <div class="txt_silde_profile">
                                        <a [routerLink]="['/authorprofile', NewStoriesSlider.author_id]"><span>By
                                            </span>
                                            {{NewStoriesSlider.author_name}}</a>
                                        <p>Last Updated On : {{NewStoriesSlider.updated_at | date }}</p>
                                    </div>
                                </div>
                                <div class="card_btn_list2 mt-3 mb-3">
                                    <a><img src="assets/img/eye.svg" alt="">{{NewStoriesSlider.views}}</a>
                                    <a><img src="assets/img/favorite.svg" alt="">{{NewStoriesSlider.likes}}</a>
                                    <a><img src="assets/img/share.svg" alt="">{{NewStoriesSlider.no_of_shares}}</a>
                                    <a><img src="assets/img/open_book.svg" alt="">{{NewStoriesSlider.no_of_chapter}}</a>
                                </div>
                                <div class="start_reading">
                                    <ul>
                                        <li>
                                            <a [routerLink]="['/readchapter', NewStoriesSlider._id, NewStoriesSlider.chapters[0]._id]"
                                                class="site_btn text-decoration-none">Start Reading</a>
                                        </li>
                                        <template *ngIf="addbtn">
                                            <li >
                                                <a (click)="addBookShelf({book_id: NewStoriesSlider._id})"
                                                    class="addbtn"><img style="width: 66.8px;"
                                                        src="assets/img/add_plus1.svg" alt=""></a>
                                            </li>
                                            <!-- <li *ngIf="!NewStoriesSlider.is_in_bookshelf">
                                                <a (click)="removeBookShelf({book_id: NewStoriesSlider._id})"
                                                    class="rmbtn"><img style="width: 66.8px;"
                                                        src="assets/img/minus_btn.svg" alt=""></a>
                                            </li> -->
                                        </template>
                                        <template *ngIf="rmbtn">
                                            <li >
                                                <a (click)="removeBookShelf({book_id: NewStoriesSlider._id})"
                                                    class="rmbtn"><img style="width: 66.8px;"
                                                        src="assets/img/minus_btn.svg" alt=""></a>
                                            </li>
                                            <!-- <li *ngIf="!NewStoriesSlider.is_in_bookshelf">
                                                <a (click)="addBookShelf({book_id: NewStoriesSlider._id})"><img
                                                        style="width: 66.8px;" src="assets/img/add_plus1.svg"
                                                        alt=""></a>
                                            </li> -->
                                        </template>
                                        <template *ngIf="!addbtn && !rmbtn">
                                            <li *ngIf="NewStoriesSlider.is_in_bookshelf">
                                                <a (click)="removeBookShelf({book_id: NewStoriesSlider._id})"><img
                                                        style="width: 66.8px;" src="assets/img/minus_btn.svg"
                                                        alt=""></a>
                                            </li>
                                            <li *ngIf="!NewStoriesSlider.is_in_bookshelf">
                                                <a (click)="addBookShelf({book_id: NewStoriesSlider._id})"><img
                                                        style="width: 66.8px;" src="assets/img/add_plus1.svg"
                                                        alt=""></a>
                                            </li>
                                        </template>
                                    </ul>
                                </div>
                                <!-- <div class="slide_botton_txt mt-3">
                                    <p class="" [innerHTML]="NewStoriesSlider.description | safeHtml"></p>
                                </div> -->
                            </div>
                        </div>
                        <div class="container">
                            <div class="slide_botton_txt">
                                <p>{{NewStoriesSlider.description}}</p>
                            </div>
                        </div>
                        <div class="genric_btn transgressive_group_btn">
                            <ul *ngIf="NewStoriesSlider.tags">
                                <li *ngFor="let NewStoriesTags of NewStoriesSlider.tags; let i = index">
                                    <a class="site_btn" (click)="searchTag(NewStoriesTags)">{{NewStoriesTags}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <section>
                    <div class="">
                        <div class="listing_chapter collapse show open_chapter container">
                            <div class="about_heading follower all_chapter">
                                <h2 class="d-flex justify-content-between align-items-center">Chapters <img
                                        src="assets/img/book.svg" alt="" class="pr-4" style="width: 50px;"></h2>
                                <div *ngFor="let chapter of NewStoriesSlider.chapters; let i = index"
                                    class="follower_list">
                                    <div class="follower_pic">
                                        <div class="follower_pic_name">
                                            <h2>Chapter {{i +1}} : <a
                                                    [routerLink]="['/readchapter', NewStoriesSlider._id, chapter._id]"><span>{{chapter.chapter_name}}</span></a>
                                            </h2>
                                            <img *ngIf="chapter.is_paid" src="assets/img/lock1.svg" alt=""
                                                style="width: 14px;margin-right: 23px;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="you_may">
                    <h2 *ngIf="NewStoriesSlider.also_like.length > 0">You may Also like</h2>
                </div>
            </div>
            <!-- </owl-carousel> -->
        </div>
    </section>
    <section class="flip_crasoule flip_crasoule_custom" *ngIf="NewStoriesSlider">
        <div class="main_carousel slider_top also_like_slider" *ngIf="NewStoriesSlider.also_like">
            <div id="alsolike">
                <ul class="flip-items">
                    <li *ngFor="let alsoLike of NewStoriesSlider.also_like; let i = index">
                        <div class="item">
                            <div class="carousel_slides over_flow">
                                <div class="carousel_slides_img">
                                    <!-- {{alsoLike.cover_image}} -->
                                    <a *ngIf="alsoLike.cover_image !== '';"
                                        [routerLink]="['/single-book',  alsoLike._id]">
                                        <img *ngIf="alsoLike.cover_image !== '';"
                                            src="{{baseurl}}{{alsoLike.cover_image}}" alt="" />
                                    </a>
                                    <a *ngIf="alsoLike.cover_image !== '';"
                                        [routerLink]="['/single-book',  alsoLike._id]">
                                        <div *ngIf="alsoLike.cover_image == '';" class="patahani-cover">
                                            <h2 class="patahani-h2">{{alsoLike.title}}</h2>
                                        </div>
                                    </a>
                                    <a *ngIf="!alsoLike.cover_image" [routerLink]="['/single-book',  alsoLike._id]">
                                        <div *ngIf="alsoLike.cover_image == '';" class="patahani-cover">
                                            <h2 class="patahani-h2">{{alsoLike.title}}</h2>
                                        </div>
                                    </a>


                                    <div *ngIf="alsoLike.not_for_below_eighteen" class="plus_18">
                                        <h4 class="eighteen_plus">18+</h4>
                                    </div>
                                </div>
                                <div class="carousel_slides_txt">
                                    <h2>{{alsoLike.title}}</h2>
                                    <div class="carousel_slides_txt_profile">
                                        <div class="carousel_slides_txt_profile_img">
                                            <img *ngIf="alsoLike.author_image !== '';"
                                                src="{{baseurl}}{{alsoLike.author_image}}" alt="" />
                                            <img *ngIf="alsoLike.author_image == '';" src="assets/images/img_user1.svg"
                                                alt="" />
                                        </div>
                                        <div class="txt_silde_profile">
                                            <a [routerLink]="['/authorprofile', alsoLike.author_id]"><span>By</span>
                                                {{alsoLike.author_name}}</a>
                                            <p>Last Updated On : {{ alsoLike.chapter_updated_at | date }}</p>
                                        </div>
                                    </div>
                                    <div class="read_more">
                                        <p>{{alsoLike.description | slice: 0:100}}{{(alsoLike.description.length > 100)?'...':''}}
                                            <a [routerLink]="['/single-book',  alsoLike._id]"> Read <svg
                                                    _ngcontent-uku-c6="" aria-hidden="true" class="" fill="none"
                                                    height="24" stroke="#222222" stroke-linecap="round"
                                                    stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"
                                                    width="24">
                                                    <g _ngcontent-uku-c6="">
                                                        <polyline _ngcontent-uku-c6="" points="9 18 15 12 9 6">
                                                        </polyline>
                                                    </g>
                                                </svg></a></p>
                                    </div>

                                    <div class="card_btn_list2">
                                        <a><img src="assets/img/eye.svg" alt="">{{alsoLike.views}}</a>
                                        <a><img src="assets/img/favorite.svg" alt="">{{alsoLike.likes}}</a>
                                        <a><img src="assets/img/share.svg" alt="">{{alsoLike.no_of_shares}}</a>
                                        <a><img src="assets/img/open_book.svg" alt="">{{alsoLike.no_of_chapter}}</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- <div class="add add_index"><img alt="" src="assets/img/add.png"></div> -->

</div>