<div class="wraper">
  <div class="container-fluid container_fluid2">
    <div class="prev_back_arrow_btns">
        <a routerLink="{{previousUrl}}">
            <img src="assets/img/back_arrow_btn.svg" alt="">Back</a>
    </div>
</div>
    <div *ngIf="showLoader" class="loader"><img src="/assets/img/loader.svg"></div>

  <section class="hero_section_craousel_mr pt_row">
    <div class="container-fluid container_fluid2">
      <div class="row">
        <div class="col-md-9 m-auto">
          <div class="about_heading follower">
            <h2>Following</h2>
                <template *ngIf="following.length; else other">
             
          <div
            *ngFor="let Following of following; let i = index"
            class="follower_list"
          >
            <div class="follower_pic">
              <a
              [routerLink]="['/authorprofile', Following.value.user_id]">
              <div class="follower_pic_img">
             
                <img  *ngIf="Following.value.user_image !== '';" src="{{ baseimage }}{{ Following.value.user_image }}" alt="" />
                <img *ngIf="Following.value.user_image == '';" src="assets/images/img_user1.svg" alt="" />
              </div>
              </a>
              <div class="follower_pic_name">
                <h2>{{ Following.value.user_name }}</h2>
              </div>
            </div>
          
            <div class="follower_btn">
              <button  (click)="followUser($event)" [attr.data-status]="2" [attr.data-user]="Following.value.user_id" class="site_btn following_btn user_{{Following.value.user_id}}">{{followText}}</button>
            </div>
          </div>
        </template>
                <ng-template #other>
                    <div class="plholder text-center">
                        <img src="assets/img/follower_placeholder.svg" />
                        <h2> No Followings Yet!</h2>
                    </div>
                </ng-template>
            </div>
        </div>
      </div>
    </div>
  </section>
</div>
