.follower_pic_img {
    border-radius: 50%;
}

.follower_pic_img img {
    border-radius: 50%;
}

.follower_btn button.site_btn {
    border: none;
    outline: none;
}

.about_heading {
    max-width: 1250px;
}
.pholder {
    margin-left: 0;
}
.plholder img {
    width: 307px;
    margin: auto;
}
.plholder h2{
    margin-top: 50px;
    color: rgba(0,0,0,0.5);
}
.about_heading{
    min-height: 600px;

}
.follower_btn button.site_btn.following_btn {
    background: #fff;
    color: #222;
    border: 1px solid #222;
    line-height: 33px !important;
}
.follower_btn button.site_btn{
    padding: 0;
    font-family: 'baskervillebold';
    line-height: 35px;
    font-size: 14px;
}
