<div class="wraper wraper_edit">
    <div *ngIf="showLoader" class="loader"><img src="/assets/img/loader.svg"></div>
    <div id="videID"></div>
    <section class="mb-5 pb-5">
        <form [formGroup]="updateForm" class="issue_report" (ngSubmit)="onSubmitSave(1)" enctype="multipart/form-data">
            <header class="ch_header">
                <div class="main_header">
                    <div class="main_container">
                        <div class="flex_header">
                            <div class="newlogo">
                                <a routerLink="/"><img src="assets/img/logo.png" alt="" /></a>
                            </div>
                            <div class="header_icon_left">
                                <ul>
                                    <li>
                                        <a [routerLink]="['/mybookdetails', book_id]"><img
                                                src="assets/img/header_arrow.svg" alt="" /></a>
                                    </li>
                                    <li>
                                        <a [routerLink]="['/mybookdetails', book_id]">
                                            <div class="header_pic">
                                                <img *ngIf="bookData.cover_image !== '';"
                                                    src="{{baseURL}}{{bookData.cover_image}}" alt="" />
                                                <div *ngIf="bookData.cover_image == '';" class="patahani-cover">
                                                    <h2 class="patahani-h2">{{bookData.title}}</h2>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="header_pic_details">
                                                <h2>{{bookData.title}}</h2>
                                                <h3>Chapter {{ bookData.no_of_chapter }}</h3>
                                                <!-- <p>Draft (0 Words)</p> -->
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="toggle5"><span></span><span></span><span></span></div>
                            <div class="header_icon_right2">
                                <ul>
                                    <li><button type="button" (click)="onSubmitSave(1)"
                                            class="site_btn2">Publish</button></li>
                                    <li><a href="/chapter-preview" class="site_btn2" (click)="PreviewClick();"
                                            target="_blank">Preview</a></li>
                                    <li *ngIf="chapterData.is_published == 2"><button type="button"
                                            (click)="onSubmitSave(2)" class="site_btn2">Save as
                                            Draft</button></li>
                                    <li><a routerLink="/mystories" class="site_btn2">Cancel</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <section class="hero_section_craousel_mr chapter1">
                <div class="light_gradient_bg light_gradient_bg2">
                    <div class="main_container">
                        <div class="chapter_layout chapter_layout2">
                            <div class="upload_img_video">
                                <p>Upload Image or Video</p>
                                <input class="d-none" type="hidden" formControlName="video" id="videoid"
                                    [ngModel]="chapterData.video" />
                                <div class="video pr-0 mr-5">
                                    <label for="image">
                                        <img src="assets/img/img.svg" alt="" class="pr-5" />
                                        <input class="d-none" #file type="file" id="image"
                                            (change)="onSelectCoverImage($event)" />
                                    </label>
                                    <img class="" data-toggle="modal" data-target="#videoModel"
                                        src="assets/img/video.svg" alt="" />
                                </div>
                            </div>
                            <div class="setting">
                                <ul>
                                    <li class="setting_drop_down">
                                        <!-- <a href="#" data-toggle="collapse" data-target="#setting_filter"><img
                                                src="assets/img/font.svg" alt="" />Reading Setting
                                            <img src="assets/img/setting_drop.svg" alt="" class="pr-0 pl-2" />
                                        </a> -->
                                        <div id="setting_filter" class="collapse collapse_setting">
                                            <div class="fliter_font">
                                                <ul>
                                                    <li><a href="#">A</a>White</li>
                                                    <li><a href="#">A</a>Eggshell</li>
                                                    <li><a href="#">A</a>Nightowl</li>
                                                </ul>
                                            </div>
                                            <div class="select_font_size">
                                                <div class="label_input">
                                                    <label for="">Select Font Type</label>
                                                    <select name="" id="">
                                                        <option value="General">Bembo</option>
                                                        <option value="General">Lato</option>
                                                        <option value="General">Bembo</option>
                                                        <option value="General">Bembo</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="range_fonts">
                                                <div class="fonts_inrs"><span>Font Size</span></div>
                                                <div class="input_range">
                                                    <input type="range" min="10" max="40" class="slider1" />
                                                    <div class="lines">
                                                        <ul>
                                                            <li><span></span></li>
                                                            <li><span></span></li>
                                                            <li><span></span></li>
                                                            <li><span></span></li>
                                                            <li><span></span></li>
                                                            <li><span></span></li>
                                                            <li><span></span></li>
                                                            <li><span></span></li>
                                                            <li><span></span></li>
                                                            <li><span></span></li>
                                                            <li><span></span></li>
                                                            <li><span></span></li>
                                                            <li><span></span></li>
                                                            <li><span></span></li>
                                                            <li><span></span></li>
                                                            <li><span></span></li>
                                                            <li><span></span></li>
                                                            <li><span></span></li>
                                                            <li><span></span></li>
                                                            <li><span></span></li>
                                                            <li><span></span></li>
                                                            <li><span></span></li>
                                                            <li><span></span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="pagging">
                                                <h2>Paging</h2>
                                                <label class="switch">
                                                    <input type="checkbox" checked />
                                                    <span class="slider round"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 m-auto">

                            <div class="hello text-center" *ngIf="chapterData">
                                <template *ngIf="chapterimage">
                                    <img src="{{baseURL}}{{chapterimage}}">
                                </template>
                                <template *ngIf="!chapterimage">
                                    <img *ngIf="chapterData.image" class="chapterimage"
                                        src="{{baseURL}}{{chapterData.image}}">
                                    <input type="hidden" formControlName="image" [ngModel]="chapterData.image">
                                </template>
                            </div>

                            <div class="text-center mt-3 mb-3" *ngIf="videoURL">
                                <iframe name="abc_frame" id="abc_frame" [src]="videoURL" frameborder="0"
                                    scrolling="no"></iframe>
                            </div>

                            <div *ngIf="showMsg">
                                <p class="alert alert-success">
                                    <strong>{{ showMsg }}</strong>
                                </p>
                            </div>
                            <div *ngIf="errorMsg">
                                <p class="alert alert-danger">
                                    <strong>{{ errorMsg }}</strong>
                                </p>
                            </div>
                            <div class="row">
                                <div class="col-md-9 tittle_chapter">
                                    <div class="label_input">
                                        <label for="">Title of the Chapter</label>
                                        <input maxlength="80" type="text" placeholder="Chapter Name"
                                            formControlName="title" [ngModel]="chapterData.chapter_name"
                                            class="form-control" id="title" required
                                            [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
                                        <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                                            <div *ngIf="f.title.errors.required">Title of the Chapter</div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="col-md-2 tittle_chapter select_paid">
                                <div class="label_input">
                                    <label for="">Mark as Paid</label>
                                    
                                    
                                    <input id="toggle-event" class="ml-2 checkbox "    formControlName="is_paid"   type="checkbox" data-toggle="toggle"data-on="PAID" data-off="FREE" />
                                          

                                    <div *ngIf="submitted && f.is_paid.errors" class="invalid-feedback">
                                        <div *ngIf="f.is_paid.errors.required">
                                            Paid is required
                                        </div>
                                    </div>
                                </div>
                            </div> -->

                                <div class="col-md-3 tittle_chapter select_paid" id="amount-div">
                                    <div class="label_input">
                                        <label for="">Amount($) <input data-size="mini" id="toggle-event"
                                                class="ml-2 checkbox " formControlName="is_paid" type="checkbox"
                                                data-toggle="toggle" data-on="Paid" data-off="Free" />
                                        </label>
                                        <input id="amount" readonly type="number" min="0" formControlName="amount"
                                            step="0.1" class="form-control" [ngModel]="chapterData.amount"
                                            placeholder="Enter amount">
                                        <div *ngIf="submitted && f.amount.errors" class="invalid-feedback">
                                            <div *ngIf="f.amount.errors.required">Price of the Chapter</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <textarea id="containernew" formControlName="content" [ngModel]="chapterData.content"
                                placeholder="Click here to start writing"></textarea>

                            <div *ngIf="submitted && f.content.errors" class="invalid-feedback">
                                <div *ngIf="f.content.errors.required">Description of the Chapter</div>
                            </div>



                            <!-- <div class="tittle_chapter select_paid">
                                <div class="label_input switch2">
                                    <label for="">Mark as completed</label>
                                    <label class="switch">
                                        <label for=""></label>
                                        <input type="checkbox" value="true" formControlName="is_completed">
                                        <span class="slider round"></span>
                                    </label>
                                    <div *ngIf="submitted && f.amount.errors" class="invalid-feedback">
                                        <div *ngIf="f.amount.errors.required">Mark as completed</div>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </section>
        </form>
    </section>

    <!-- Modal -->
    <div id="videoModel" class="modal fade video_model_popups" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <div class="modal-footer">
                        <button data-dismiss="modal"><img _ngcontent-mho-c7="" alt=""
                                src="assets/img/close.svg"></button>
                    </div>
                    <div class="tittle_chapter">
                        <div class="label_input video_search">
                            <label for="">Youtube Search</label>
                            <app-search-box (results)="updateResults($event)"></app-search-box>
                        </div>
                    </div>
                    <div class="row" style="margin-top:20px">
                        <p>{{message}}</p>
                        <div class="container video_model_overflow">
                            <div class="row">

                                <app-search-result class="col-md-6 col-lg-4" *ngFor="let result of results"
                                    [result]="result"></app-search-result>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- upload image -->
<div id="toolbar_Image" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <!-- <h4 class="modal-title">Modal Header</h4> -->
            </div>
            <input type="hidden" id="rich-edit" value="false">
            <div class="modal-body">
                <div class="e-img-uploadwrap e-droparea" _ngcontent-jsb-c7="">
                    <span class="e-image" _ngcontent-jsb-c7="">
                        <span class="e-rte-upload-text" _ngcontent-jsb-c7="">browse to upload</span>
                        <input type="file" (change)="onSelectCoverImagePopup($event)" />
                    </span>
                    <strong>OR</strong>
                    <span class="e-video" _ngcontent-jsb-c7="">
                        <span class="e-rte-upload-text" _ngcontent-jsb-c7="">Search Youtube video</span>
                        <app-search-box (loading)="loading = $event" (results)="updateResults($event)"></app-search-box>
                    </span>
                </div>
                <div class="place_text">
                    <h2>No Video Yet!</h2>
                </div>
                <div class="container">
                    <p class="top_search">{{message}}</p>
                    <div class="row">
                        <app-search-result class="col-md-6 col-lg-4" *ngFor="let result of results" [result]="result">
                        </app-search-result>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>

    </div>
</div>