#videoModel {
  top: 30%;
}
#videoModel .modal-footer {
  border: none;
  padding: 0;
  outline: none;
}
#videoModel .modal-footer button {
  position: absolute;
  top: 6px;
  outline: none;
}
.loader {
  position: fixed;
  /* top: 25%; */
  text-align: center;
  left: 0;
  right: 0;
  z-index: 999999999999;
  background: rgba(0, 0, 0, 0.22);
  width: 100%;
  height: 100%;
  top: 0;
}
.loader img {
  padding-top: 200px;
}

.e-rte-img-dialog.e-lib.e-dialog.e-rte-elements.e-popup.e-control.e-popup-open {
  display: none;
}

.label_input.switch2 .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.label_input.switch2 .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.label_input.switch2 .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e2e2e2;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.label_input.switch2 .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.label_input.switch2 input:checked + .slider {
  background-color: #222;
}

.label_input.switch2 input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

.label_input.switch2 input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.label_input.switch2 .slider.round {
  border-radius: 34px;
}

.label_input.switch2 .slider.round:before {
  border-radius: 50%;
}
.label_input.switch2 .switch {
  background: unset;
}
.ch_header .main_header {
  line-height: 121px;
}
div#setting_filter {
  position: absolute;
  z-index: 999;
}
.upload_img_video p {
  font-size: 14px;
  color: #222;
  font-family: "baskervillebold";
}
.wraper.wraper_edit {
  margin-top: -6px;
}
.fliter_font ul {
  display: flex;
}
.lines ul:hover {
  display: flex;
}
.label_input input {
  font-size: 16px;
  color: #222;
  font-family: "baskervillebold";
  padding: 10px;
}
.label_input input::placeholder {
  color: #8a8a8a !important;
}
select {
  border: 1px solid #d1d1d1;
  -webkit-appearance: none;
  background: #fff;
  background-image: url(/assets/img/a2.svg);
  background-repeat: no-repeat;
  background-position: 50% 96%;
  background-position: 98% 50%;
  padding: 0;
  text-indent: 10px;
  font-size: 16px;
  color: #222;
  font-family: "baskervillebold";
  border-radius: 6px;
}
.tittle_chapter.select_paid {
  margin-top: 67px;
}
iframe#abc_frame {
  width: 100%;
  height: 400px;
  margin-top: 20px;
  margin-bottom: -30px;
}
.hello.text-center {
  margin-top: 26px;
}
header.ch_header .newlogo {
  z-index: unset;
}
.main_container .header_icon_left ul,
.main_container .header_icon_right2 {
  position: relative;
  z-index: 999999;
}
.editor_heading h4 {
  font-family: "baskervillebold";
  color: #222;
  text-decoration: underline;
  font-size: 18px;
  margin-bottom: 12px;
}
@media only screen and (max-width: 992px) {
  .wraper.wraper_edit {
    margin-top: -49px;
  }
  .ch_header .header_icon_right2 ul {
    top: 89px;
  }
}
.toggle.btn.btn-xs {
  float: right;
}
.header_pic_details h2 {
  text-overflow: ellipsis;
  width: 150px;
  overflow: hidden;
  white-space: nowrap;
}