<div class="wraper">
    <section class="hero_section_craousel_mr pt_row">
        <div class="container-fluid container_fluid2">
            <div class="error_img text-center mb-5">
                <div class="siting_img">
                    <img src="assets/img/error_img1.svg" alt="">
                </div>
            </div>
        </div>
    </section>
</div>