<div class="page">
        <div *ngIf="showLoader" class="loader"><img src="/assets/img/loader.svg"></div>
    <div class="page-main">
        <!-- sidebar area -->
        <div class="app-content  my-3 my-md-5">
            <div class="side-app">
                <div class="page-header">
                    <!-- <h4 class="page-title">View Message Board</h4> -->
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Book Reports
                        </li>
                    </ol>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">Book Reports</div>
                            </div>
                            <div class="card-body">
                                <div class="">
                                    <div id="example_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer no-width user_tabel_view">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <table datatable class="table row-border hover" *ngIf="temp" class="table-bordered" role="grid" aria-describedby="example_info">
                                                    <thead>
                                                        <tr role="row">
                                                            <th class="wd-15p sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-sort="ascending" aria-label="First name: activate to sort column descending" style="width: 30px;">
                                                                #
                                                            </th>
                                                            <th class="wd-15p sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Last name: activate to sort column ascending" style="width: 150px;">
                                                                 Name
                                                            </th>
                                                           
                                                            <th class="wd-15p sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-sort="ascending" aria-label="First name: activate to sort column descending" style="width: 200px;">
                                                                Book Name
                                                            </th>
                                                            <th class="wd-20p sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 301px;">
                                                                Issue Type
                                                            </th>
                                                            <th class="wd-20p sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 301px;">
                                                                Message
                                                            </th>
                                                            <th class="wd-15p unsort" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 200px;">
                                                                
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr role="row" class="odd" *ngFor="let message of getreports;let i = index">
                                                             <td class="sorting_1">{{ i + 1 }}</td>
                                                              <td>{{ message.user_name }}</td>
                                                          
                                                              <td>{{ message.book_name }}</td>
                                                              <td style="text-transform: capitalize;">{{ message.type }}</td>
                                                              <td>{{ message.content }}</td>
                                                            <td>
                                                            <div class="flex_fa_icons ">
                                                                <a [routerLink]="['/view-book-report',message._id]"><img src="assets/images/view.png " alt=" " /></a>
                                                                <a data-toggle="modal" data-target="#delete" (click)="onClick11({report_id: message._id})"><img src="assets/images/trash.png" alt="" title="Delete" /></a>
                                                            </div>
                                                              </td>
                                                            
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- table-wrapper -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container block_user_popup">
    <!-- The Modal -->
    <div class="modal fade" id="delete">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="block_user">
                        <p>Are you sure want to delete this report?</p>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <a (click)="onClick(delId)" class="back_btn add_content" data-dismiss="modal">
            Yes
          </a>
                    <a class="back_btn add_content" data-dismiss="modal">
            No
          </a>
                </div>
            </div>
        </div>
    </div>
</div>