.back_btn.add_content {
  background-image: linear-gradient(481deg, #e65124, #9c9400, #27953e, #53479e);
  color: #fff;
  border: none;
  max-width: 120px;
  width: 100%;
  line-height: 30px;
  border-radius: 5px;
}

.block_user_popup .modal-footer {
  justify-content: space-between;
}

.block_user_popup .modal-header {
  padding: 0;
  position: absolute;
  right: 1px;
  top: 0;
  border: none;
  z-index: 99999;
}

.block_user p {
  font-size: 14px;
  color: #222;
  font-weight: 400;
  margin-bottom: 10px;
  text-align: center;
}

.block_user_popup .modal-header button {
  font-size: 22px;
  background-image: linear-gradient(481deg, #e65124, #9c9400, #27953e, #53479e);
  border-radius: 50%;
  width: 30px;
  line-height: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  color: #fff;
  outline: none;
}

.block_user_popup .modal-footer button {
  outline: none;
}

table.dataTable.no-footer {
  border-bottom: 1px solid #111111;
}

table.dataTable tbody td .blank_dp {
  background-image: linear-gradient(481deg, #e65124, #9c9400, #27953e, #53479e);
  width: 120px;
  height: 160px;
  position: relative;
}
table.dataTable tbody td .blank_dp p {
  position: absolute;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  top: 40%;
  margin-bottom: 0px;
  left: 0;
  right: 0;
  text-align: center;
}
table.dataTable tbody td.view_elips {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 60px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 38px;
  background: #8f8f8f3d;
  border-radius: 20px;
  padding: 8px;
}
.slider:before {
  bottom: 0px;
  height: 38px;
  width: 38px;
  right: 3px;
}
.slider {
  position: unset;
}
label.switch.yes {
  text-align: end;
}
.outer-div{
  /* cursor: pointer; */
    display: flex;
    height: 163px;
    width: 406px;
}
.left-sec{
  flex: 0 0 auto;
    height: 160px;
    width: 120px;
    overflow: hidden;
    position: relative;

}
.right-sec{
  display: flex;
    flex-direction: column;
    /* width: 166px; */
    padding: 10px;
}
.book-title-sec{
  overflow: hidden;
  word-break: break-word;
  -webkit-box-orient: vertical;
    display: -webkit-inline-box;
    -webkit-line-clamp: 2;
    color: #222;
    font-size: 18px;
    line-height: 24px;
}
.book-author{
  display: flex;
    /* flex: 1 0 auto; */
    flex-wrap: wrap;
    align-items: center;
}
.book-author-inner{
  color: #757575;
    line-height: 0;
    overflow: hidden;
    word-break: break-word;
}
.book-author-name{
  font-size: 14px;
    line-height: 22px;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}