<div class="wraper" id="bt">
    <div class="follow_instruction">
        <div class="container-fluid container_fluid2">
            <div class="follow_info">
                <h2><img class="mr-2" src="assets/img/info-1.svg" alt="">Follow the instruction.</h2>
                <div class="all_instruction">
                    <p><span>1.</span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                        Ipsum
                        has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                        galley of type and scrambled.</p>
                    <p><span>2.</span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                        Ipsum
                        has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                        galley of type and scrambled.</p>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="showLoader" class="loader"><img src="/assets/img/loader.svg"></div>
    <form [formGroup]="updateForm" class="issue_report" (ngSubmit)="onSubmit()">
        <div class="container">
            <div class="heading_cover my_stories_txt ">
                <h2 class="pb-5 text-center">Edit Story </h2>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <section id="first_sec">
                        <div class="container">
                            <div class="cover_img_txt">
                                <div class="outside_img" id="before_create">
                                    <div class="cover_img2">
                                        <div class="upload_cover_img" *ngIf="!loadEditBook.cover_image">
                                            <img id="final" src="assets/img/rectangle1.svg" />
                                        </div>
                                        <div class="upload_cover_img" *ngIf="loadEditBook.cover_image">
                                            <input type="hidden" formControlName="cover_image"
                                                [ngModel]="loadEditBook.cover_image">
                                            <img id="final" src="{{baseURL}}{{loadEditBook.cover_image}}" />
                                        </div>
                                    </div>
                                    <a class="site_btn2 mt-3 create_cover_btn">Create Cover Image</a>
                                </div>
                                <div id="after_create" style="display:none;">
                                    <div class="heading_cover">
                                        <!-- <h2 class="pt-0 text-center">Add Cover Image</h2> -->
                                    </div>
                                    <div class="corss_no">
                                        <div class="txt_number">
                                            <p>
                                                <span id="remove_first" style="display:none;">1 <img
                                                        src="assets/img/cancel.svg" alt="" /></span>

                                                <span id="remove_second" style="display:none;">2 <img
                                                        src="assets/img/cancel.svg" alt="" /></span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="cover_img">
                                        <img id="dummy" src="assets/img/rectangle1.svg" />
                                        <img id="blah" style="display: none;" src="assets/img/rectangle1.svg" />
                                        <img src="" id="second" style="display:none;" />
                                        <canvas style="display:none;" id="canvas" width="270" height="360"></canvas>
                                        <div id="first_browse" class="plus_icon_img text-center">
                                            <label for="cover_image3" data-cropzee="cover_image3">
                                                <img src="assets/img/add1.svg" alt="">
                                            </label>
                                            <input type="file" class="d-none" id="cover_image3" name="cover_image3" />
                                        </div>

                                        <!-- <p>Love Story</p> -->
                                        <div id="first_browse1" class="text-center"> OR
                                            <div id="Dropbox3"></div>
                                        </div>
                                    </div>
                                    <div id="second_browse" style="display:none;" class="plus_icon_img text-center">
                                        <label for="cover_image4" data-cropzee="cover_image4">
                                            <img src="assets/img/add1.svg" alt="">
                                        </label>
                                        <input class="d-none" type="file" id="cover_image4" name="cover_image4" />
                                    </div>
                                    <div style="display:none;" id="second_browse1" class="text-center"> OR
                                        <div id="Dropbox4"></div>
                                    </div>
                                    <div class="add_another_img">
                                        <p class="add-img">Add Image</p>
                                        <!-- <div id="first_browse1" class="text-center">   OR
                                                <div id="dropbox-container"></div>
                                        </div> -->

                                        <p class="another-img" style="display: none">Add Another Image</p>
                                    </div>
                                    <div class="btn_group_cover">
                                        <a id="cancel-next1" data-toggle="modal" data-target="#cancel_box"
                                            class="site_btn grey_cancel">Cancel</a>
                                        <a class="site_btn" id="next1" class="site_btn" style="display: none">Next</a>
                                    </div>
                                </div>

                                <div style="display: none;" id="filters" class="txt_positioning filtes">
                                    <div class="range_fonts mb-5">
                                        <div class="fonts_inrs"><span>Brightness</span></div>
                                        <div class="input_range">
                                            <input type="range" step="0.1" min="0.1" max="1" id="brightness"
                                                class="slider1">
                                            <div class="lines lines_hover">
                                                <ul>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="range_fonts">
                                        <div class="fonts_inrs"><span>Transparency</span></div>
                                        <div class="input_range">
                                            <input type="range" step="0.1" min="0.1" max="1" id="transparency"
                                                class="slider1">
                                            <div class="lines lines_hover">
                                                <ul>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="btn_group_cover">


                                            <a data-toggle="modal" data-target="#cancel_box"
                                                class="site_btn grey_cancel">Cancel</a>
                                            <a class="site_btn" id="next2" style="display:none;">Next</a>

                                        </div>
                                    </div>
                                </div>
                                <div id="text_functionality" class="txt_positioning from_inside" style="display:none;">
                                    <label for="">Cover Photo Text</label>
                                    <div class="label_input">
                                        <input id="img_title" name="img_title" type="text"
                                            placeholder="Enter Text On Cover Photo">
                                    </div>

                                    <input type="text" id="color" value="" style="display: none;" />

                                    <div class="label_input color_box">
                                        <label for="">Select Color</label>
                                        <!-- <input [(colorPicker)]="color" [style.background]="color"/>
                                         -->
                                         <input onpaste="xyz();" [value]="color" id="text_color"
                                         (colorPickerChange)="xyz($event)"
    [style.background]="color"
   
    [(colorPicker)]="color"/>
                                        <!-- <div class="dropdown">
                                            <button type="button" id="color_text_change" class="dropdown-toggle"
                                                data-toggle="dropdown">
                                                Black <span class="colored_box"></span>
                                            </button>
                                            <div class="dropdown-menu">
                                                <ul>
                                                    <li class="dropdown-item">
                                                        <div class="custom-control custom-radio">
                                                            <label class="custom-control-label" for="color1">Black
                                                                <input type="radio" value="Black" name="radio_group"
                                                                    class=" color color_black" id="color1">
                                                                <span class="span1"></span>
                                                                <span class="span2"></span>
                                                            </label>
                                                        </div>
                                                    </li>
                                                    <li class="dropdown-item">
                                                        <div class="custom-control custom-radio">
                                                            <label class="custom-control-label" for="color2">Red
                                                                <input type="radio" value="Red" name="radio_group"
                                                                    class=" color" id="color2">
                                                                <span class="span1"></span>
                                                                <span class="span2"></span>
                                                            </label>
                                                        </div>
                                                    </li>
                                                    <li class="dropdown-item">
                                                        <div class="custom-control custom-radio">
                                                            <label class="custom-control-label" for="color3">Green
                                                                <input type="radio" value="Green" name="radio_group"
                                                                    class=" color" id="color3">
                                                                <span class="span1"></span>
                                                                <span class="span2"></span>
                                                            </label>
                                                        </div>
                                                    </li>
                                                    <li class="dropdown-item">
                                                        <div class="custom-control custom-radio">
                                                            <label class="custom-control-label" for="color4">Blue
                                                                <input type="radio" value="Blue" name="radio_group"
                                                                    class=" color" id="color4">
                                                                <span class="span1"></span>
                                                                <span class="span2"></span>
                                                            </label>
                                                        </div>
                                                    </li>
                                                    <li class="dropdown-item">
                                                        <div class="custom-control custom-radio">

                                                            <label class="custom-control-label" for="color5">Purple
                                                                <input type="radio" value="Purple" name="radio_group"
                                                                    class=" color" id="color5">
                                                                <span class="span1"></span>
                                                                <span class="span2"></span>
                                                            </label>
                                                        </div>
                                                    </li>
                                                    <li class="dropdown-item">
                                                        <div class="custom-control custom-radio">

                                                            <label class="custom-control-label" for="color6">White
                                                                <input type="radio" value="White" name="radio_group"
                                                                    class=" color" id="color6">
                                                                <span class="span1"></span>
                                                                <span class="span2"></span>
                                                            </label>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div> -->
                                    </div>


                                    <div class="from_inside custom_height">
                                        <div class="label_input">
                                            <label for="">Select Font Type</label>
                                            <select name="" id="font_family">
                                                <!-- <optgroup style="font-family:10px 'robotobold'"> -->
                                                <option value="robotobold">Robo To Bold</option>
                                                <!-- </optgroup> -->
                                                <!-- <optgroup style="font-family:10px 'aileronlight'"> -->
                                                <option value="aileronlight">Aileronlight</option>
                                                <!-- </optgroup> -->
                                                <!-- <optgroup style="font-family:10px 'inconsolatamedium'"> -->
                                                <option value="inconsolatamedium">Inconsolata Medium</option>
                                                <!-- </optgroup> -->
                                                <!-- <optgroup style="font-family:10px 'comic_reliefregular'"> -->
                                                <option value="comic_reliefregular">Comic Reliefregular</option>
                                                <!-- </optgroup> -->
                                                <!-- <optgroup style="font-family:10px 'haloregular'"> -->
                                                <option value="haloregular">Halo Regular</option>
                                                <!-- </optgroup> -->
                                                <!-- <optgroup style="font-family:10px 'droid_serifregular'"> -->
                                                <option value="droid_serifregular">Droid Serifregular</option>
                                                <!-- </optgroup> -->
                                                <!-- <optgroup style="font-family:10px 'noname_nocontrast_serif_v1Rg'"> -->
                                                <option value="noname_nocontrast_serif_v1Rg">Noname Nocontrast Serif
                                                    V1Rg</option>
                                                <!-- </optgroup> -->
                                                <!-- <optgroup style="font-family:10px 'ucu_charles_scriptregular'"> -->
                                                <option value="ucu_charles_scriptregular">UCU Charles Script Regular
                                                </option>
                                                <!-- </optgroup> -->
                                                <!-- <optgroup style="font-family:10px 'geometric_sans_serif_v1Rg'"> -->
                                                <option value="geometric_sans_serif_v1Rg">Geometric Sans Serif V1Rg
                                                </option>
                                                <!-- </optgroup> -->
                                                <!-- <optgroup style="font-family:10px 'press_start_2pregular'"> -->
                                                <option value="press_start_2pregular">Press Start 2Pregular</option>
                                                <!-- </optgroup> -->
                                                <!-- <optgroup style="font-family:10px 'the_godfatherregular'"> -->
                                                <option value="the_godfatherregular">The God Father Regular</option>
                                                <!-- </optgroup> -->
                                            </select>

                                        </div>
                                    </div>
                                    <div class="range_fonts">
                                        <div class="fonts_inrs"><span>Font Size</span></div>
                                        <div class="input_range">
                                            <input type="range" min="10" max="40" id="font" class="slider1">
                                            <div class="lines">
                                                <ul>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text_poistion">
                                        <h2 class="text-center">
                                            Text Position
                                        </h2>
                                        <div class="txt_tooltip">
                                            <ul>
                                                <li><a class='custom-style' data-func="bold"><img
                                                            src="assets/img/txt_icon1.svg" alt=""></a></li>
                                                <li><a class='custom-style' data-func="italic"><img
                                                            src="assets/img/txt_icon2.svg" alt=""></a></li>
                                                <li><a class='custom-style' data-func="underline"><img
                                                            src="assets/img/txt_icon3.svg" alt=""></a></li>
                                                <li data-func="left"><a class='custom-align' data-func="left"><img
                                                            src="assets/img/txt_icon4.svg" alt=""></a></li>
                                                <li data-func="center" class="active"><a class='custom-align'
                                                        data-func="center"><img src="assets/img/txt_icon5.svg"
                                                            alt=""></a></li>
                                                <li data-func="right"><a class='custom-align' data-func="right"><img
                                                            src="assets/img/txt_icon6.svg" alt=""></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="btn_group_cover">
                                        <a data-toggle="modal" data-target="#cancel_box"
                                            class="site_btn grey_cancel">Cancel</a>
                                        <a class="site_btn" id="next3" style="display:none;" class="site_btn">Next</a>
                                    </div>
                                </div>

                                <div id="save_image" style="display:none">
                                    <div class="btn_group_cover">
                                        <a data-toggle="modal" data-target="#cancel_box"
                                            class="site_btn grey_cancel">Cancel</a>
                                        <a data-toggle="modal" data-target="#save_box" class="site_btn"
                                            (click)="saveCoverImage()" class="site_btn">Save and Upload</a>

                                        <a data-toggle="modal" data-target="#edit_box" class="site_btn">Edit</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-lg-12">
                    <section id="main_forms">
                        <div class="container">
                            <!-- <div class="outside_img">
                        <div class="cover_img2">
                            <div class="upload_cover_img" *ngIf="!loadEditBook.cover_image">
                               <img id="final" src="assets/img/rectangle1.svg" />
                            </div>
                            <div class="upload_cover_img" *ngIf="loadEditBook.cover_image">
                                <input type="hidden" formControlName="cover_image" [ngModel]="loadEditBook.cover_image">
                                    <img id="final" src="{{baseURL}}{{loadEditBook.cover_image}}" />
                                 </div>
                        </div>
                        <a class="site_btn2 mt-3 create_cover_btn" >Create Cover Image</a>
                    </div>
                    -->
                            <div class="form max_form">
                                <div class="from_inside">
                                    <div class="label_input">
                                        <label for="">Story Title<span> (Max 150 Characters)</span></label>
                                        <input maxlength="150" type="text" autocomplete="off" placeholder="Enter title"
                                            formControlName="title" [ngModel]="loadEditBook.title" class="form-control"
                                            id="title" required
                                            [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
                                        <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                                            <div *ngIf="f.title.errors.required">Title is required</div>
                                        </div>
                                    </div>
                                    <div class="label_input">
                                        <label for="">Synopsis<span> (Max 2000 Characters)</span></label>
                                        <textarea maxlength="2000" name="description" id="description" cols="30"
                                            rows="10" [ngModel]="loadEditBook.description" placeholder="Enter synopsis"
                                            formControlName="description" class="form-control" required
                                            [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>
                                        <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                                            <div *ngIf="f.description.errors.required">Synopsis is required.</div>
                                        </div>
                                    </div>
                                    <div class="">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div *ngFor="let type of contanttypes" class="form-group input_txt">
                                                    <template *ngIf="type.type === 'content'">
                                                        <label for="">Content Type</label>

                                                        <select formControlName="content_type"
                                                            [ngClass]="{'is-invalid': submitted && f.content_type.errors}"
                                                            [(ngModel)]="loadEditBook.content_type">
                                                            <option selected disabled value="Select content type">Select
                                                                content type
                                                            </option>
                                                            <option *ngFor="let val of type.value"
                                                                value="{{ val._id }}">
                                                                {{val.name}}</option>
                                                        </select>
                                                        <div *ngIf="submitted && f.content_type.errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="f.content_type.errors.required">
                                                                Content Type is required
                                                            </div>
                                                        </div>
                                                    </template>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div *ngFor="let type of contanttypes">
                                                    <template *ngIf="type.type === 'genre'">
                                                        <div class="form-group input_txt">

                                                            <label for="">Genre</label>
                                                            <select formControlName="genre"
                                                                [ngClass]="{ 'is-invalid': submitted && f.genre.errors }"
                                                                [(ngModel)]="loadEditBook.genre">
                                                                <option selected disabled value="">Select genre</option>
                                                                <option *ngFor="let val of type.value"
                                                                    value="{{ val._id }}">
                                                                    {{val.name}}</option>
                                                            </select>
                                                            <div *ngIf="submitted && f.genre.errors"
                                                                class="invalid-feedback">
                                                                <div *ngIf="f.genre.errors.required">
                                                                    Genre is required
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </template>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div *ngFor="let type of contanttypes">
                                                    <template *ngIf="type.type === 'copyright'">
                                                        <div class="form-group input_txt">

                                                            <label for="">Copyright</label>
                                                            <select formControlName="copyright"
                                                                [ngClass]="{'is-invalid': submitted && f.copyright.errors}"
                                                                [(ngModel)]="loadEditBook.copyright">
                                                                <option selected disabled value="">Select copyright
                                                                </option>
                                                                <option *ngFor="let val of type.value"
                                                                    [value]="val._id">{{val.name}}
                                                                </option>
                                                            </select>
                                                            <div *ngIf="submitted && f.copyright.errors"
                                                                class="invalid-feedback">
                                                                <div *ngIf="f.copyright.errors.required">
                                                                    Copyright is required
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </template>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="label_input label_input_br">

                                        <div class="tooltip-date mr-5">
                                            <label for="">Add Tags</label>
                                            <img src="assets/img/exclamation.svg" alt="" data-toggle="modal"
                                                data-target="#dob" style="position: relative; top: -2px;right: -5px;" />
                                            <span class="tooltiptext tag">Hit enter to create tag.</span>
                                        </div>
                                        <tag-input formControlName="tags" [ngModel]="loadEditBook.tags"
                                            placeholder="Hit enter to create tag"
                                            [ngClass]="{ 'is-invalid': submitted && f.tags.errors }"></tag-input>
                                        <div *ngIf="submitted && f.tags.errors" class="invalid-feedback">
                                            <div *ngIf="f.tags.errors.required">
                                                Tags is required.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="label_input2 mb-4 mt-5 pt-3">
                                        <!-- <label for="">Please select this option, if the story is not fit for the readers below 18 Years old
                            <input type="checkbox">
                            <span class="mark_it"></span>
                        </label> -->
                                        <label for="">Mature Content</label>
                                        <div class="tooltip-date mr-5">
                                            <img src="assets/img/exclamation.svg" alt="" data-toggle="modal"
                                                data-target="#dob" style="position: relative; top: -2px;right: -5px;" />
                                            <span class="tooltiptext">Please select this
                                                option, if the story is not fit for the
                                                readers below 18 years old.</span>
                                        </div>
                                        <!-- <div class="custom_toggle_button_cover">
                                            <div class="toggle-button-cover ">
                                                <div class="button-cover">
                                                    <div class="button r" id="button-1">
                                                        <input type="checkbox" class="checkbox"
                                                            [(ngModel)]="loadEditBook.not_for_below_eighteen"
                                                            formControlName="not_for_below_eighteen" />
                                                            <div class="knobs"></div>
                                                            <div class="layer"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> -->
                                        <input data-size="mini" id="toggle-event" class="ml-2" type="checkbox"
                                            data-toggle="toggle" data-on="Yes" data-off="No"
                                            [(ngModel)]="loadEditBook.not_for_below_eighteen"
                                            formControlName="not_for_below_eighteen" />

                                        <!-- <div class="custom-control custom-checkbox mb-3 custom_checkbox pl-0">
                                            <input type="checkbox" class="custom-control-input"
                                                [(ngModel)]="loadEditBook.not_for_below_eighteen"
                                                formControlName="not_for_below_eighteen" id="customCheck"
                                                name="example1" />
                                            <label class="custom-control-label" for="customCheck">Please select this
                                                option, if the story is not fit for the
                                                readers below 18 Years old</label>
                                        </div> -->
                                    </div>
                                    <div>
                                        <button [disabled]="loading" id="final_save"
                                            class="site_btn mb-5 add">Update</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </form>

    <!-- add-stories1 end  -->
</div>


<div class="container block_user_popup">
    <div class="modal fade" id="cancel_box">
        <div class="modal-dialog modal-md modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <div class="block_user">
                        <h2 style="text-align: center;">Librums</h2>
                        <p>Are you sure you want to cancel?</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <a id="cancelall" class="btn btn-success pl-6 pr-6" data-dismiss="modal">
                        Yes
                    </a>
                    <a class="btn btn-primary pl-6 pr-6" data-dismiss="modal">
                        No
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container block_user_popup">
    <div class="modal fade" id="edit_box">
        <div class="modal-dialog modal-md modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <div class="block_user">
                        <h2 style="text-align: center;">Librums</h2>
                        <p>Are you sure you want to edit?</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <a id="edit-cover" class="btn btn-success pl-6 pr-6" data-dismiss="modal">
                        Yes
                    </a>
                    <a class="btn btn-primary pl-6 pr-6" data-dismiss="modal">
                        No
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container block_user_popup">
    <div class="modal fade" id="save_box">
        <div class="modal-dialog modal-md modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <div class="block_user">
                        <h2 style="text-align: center;">Librums</h2>
                        <p>Are you sure you want to save?</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <a id="save" class="btn btn-success pl-6 pr-6" data-dismiss="modal">
                        Yes
                    </a>
                    <a class="btn btn-primary pl-6 pr-6" data-dismiss="modal">
                        No
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>